* {
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
  background: #000;
  margin: 0;
  height: 100%;
  font-family: 'Avenir', 'Roboto', sans-serif;
  font-weight: 300;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
.content {
  flex: 1;
  -webkit-overflow-scrolling: touch;
}
.pointer {
  cursor: pointer;
}
a {
  color: #fff;
}

/*Flex*/
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex: 1
}

.text-center {
  text-align: center;
}

.text-end{
  text-align: end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.pointer{
  cursor : pointer;
}

.align-center {
  align-items: center;
}
