<template>
  <div>
    <b-modal id="radioModal" :hide-footer="true" :busy="true" size="md" v-model="modal">
      <div>
        <h1>
          RAPCHAT Radio
        </h1>
        <p>
          🌐 Undiscovered tracks hand picked for you!
        </p>
        <p>
          🔥 If you like a song, flame it up and we'll find more like it!
        </p>
        <p>
          ❌ Not Feeling it? Hit "skip" to listen to the next song.
        </p>
      </div>
    </b-modal>
    <div v-if="!rap || error">
      <span v-if="!rap">
        <rc-loader v-show="loading"/>
      </span>
      <span v-if="error">
        {{error}}
      </span>
    </div>
    <div class="radio-container d-flex justify-content-center" :style="{
          'background': `url(https://cdn.rapchat.me/images/${rap.img}) no-repeat center center`,
          }" v-else-if="isMobile && rap">
      <div class="overlay"></div>
      <div class="radio d-flex align-items-end justify-content-start">
        <div class="position-absolute" style="top: 40%; left: 50%; transform: translate(-50%, -50%)">
          <button @click="pauseAudio()" class="rate d-flex align-items-center justify-content-center">
            <icon :name="playing ? 'pause' : 'play'"></icon>
          </button>
        </div>
        <div class="my-4 mx-2 w-100">
          <h4 class="ml-2" v-if="rap.owner">
            <img :src="`https://cdn.rapchat.me/images/${rap.owner.profilephoto}`" height="30" width="30" class="rounded-circle mr-1">
            <router-link :to="`profile/${rap.owner._id}`" class="link-primary">
              {{rap.owner.username}}
            </router-link>
            <button class="btn btn-default btn-primary follow-btn-small" @click="showModal()">
              Follow
            </button>
          </h4>
          <div class="ml-2 rap-title lg">{{rap.name | formatTitle}}</div>
          <div class="d-flex justify-content-center py-4">
            <div class="d-flex justify-content-center align-items-center w-100">
              <button @click="nextRap()" class="rate d-flex align-items-center justify-content-center">Skip</button>
              <!-- <button @click="pauseAudio()" class="rate d-flex align-items-center justify-content-center sm"><icon name="play/pause"></button> -->
              <button @click="updateRadio()" class="rate ml-2 d-flex justify-content-center align-items-center flame">🔥</button>
            </div>
            <div v-if="updating" class="position-absolute" style="right: 2%; bottom: 0">
              <small-spinner :loading="updating"/>
            </div>
          </div>
        </div>
        <div>
          <audio ref="audio" :src="audioFile" autoplay>
          </audio>
        </div>
      </div>
    </div>
    <div v-else-if="rap" class="row desktop justify-content-center">
      <div class="col-3 d-flex justify-content-center">
        <div class="">
          <div class="rap-img d-flex justify-content-center" :style="{
                'background': `url(https://cdn.rapchat.me/images/${rap.img}) no-repeat center center`,
                }">
          </div>
          <div class="mt-3">
            <h4 class="ml-2" v-if="rap.owner">
              <img :src="`https://cdn.rapchat.me/images/${rap.owner.profilephoto}`" height="30" width="30" class="rounded-circle mr-1">
              <router-link :to="`profile/${rap.owner._id}`" class="link-primary artist">
                {{rap.owner.username}}
              </router-link>
              <button class="btn btn-default btn-primary follow-btn-small" @click="showModal()">
                Follow
              </button>
            </h4>
            <h2 class="ml-2 rap-title">
              <router-link :to="`/raps/${rap._id}`" class="link-primary">
                {{rap.name | formatTitle}}
              </router-link>
            </h2>
          </div>
        </div>
        <audio ref="audio" :src="audioFile" autoplay>
        </audio>
      </div>
      <div class="col-12 mt-3 d-flex justify-content-center">
        <button @click="nextRap()" class="rate d-flex align-items-center justify-content-center sm">Skip</button>
        <button @click="pauseAudio()" class="rate d-flex align-items-center justify-content-center sm ml-2">
          <icon :name="playing ? 'pause' : 'play'"></icon>
        </button>
        <button @click="updateRadio()" class="rate ml-2 d-flex justify-content-center align-items-center sm">🔥</button>
      </div>
      <div v-if="updating" class="position-absolute" style="right: 2%; bottom: 0">
        <small-spinner :loading="updating"/>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState} from 'vuex'
import _ from 'lodash'
import filters from '~/utils/filters'
import SmallSpinner from '~/components/elements/SmallSpinner'
import Loader from '~/components/layout/Loader'
import isMobile from '~/mixins/isMobile'

export default {
  mixins: [isMobile],
  components: {
    'small-spinner': SmallSpinner,
    'rc-loader': Loader
  },
  data () {
    return {
      audioFile: '',
      audio: {},
      arrayIndex: 0,
      didLike: false,
      error: '',
      userIdInput: '',
      userId:'',
      raps: [],
      rap: {},
      loading: true,
      modal: true,
      mixedFeatured: {},
      playIndex: {},
      playing: false,
      playDuration:0,
      playIndex:0,
      updating: false,
      featured: require('~/static/toprap.json')
    }
  },
  mounted () {
    console.log(this.$nuxt.$route.query)
    if (this.$nuxt.$route.query.rapId) {
      let userId
      if (this.currentUser) {
        userId = this.currentUser._id
      } else {
        userId = ''
      }
      this.getRadio(this.$nuxt.$route.query.rapId, userId)
    } else {
      this.getRecommendations()
    }
  },
  watch: {
    raps () {
      if (!this.rap._id) {
        this.getRap(this.raps[0])
      } else {
        console.log(this.rap._id)
      }
    },
    rap () {
      this.didLike = false
      let player = this.$refs.audio
      player.onended = () => {
          this.nextRap()
      };
    }
    // audioFile () {
    //   console.log(this.audioFile)
    //   this.audio.src = `https://cdn.rapchat.me/raps/${this.audioFile}`
    //   this.audio = this.audioFile
    // }
  },
  computed: {
    ...mapState(['currentUser'])
  },
  methods: {
    getRecommendations () {
      if (this.currentUser)  {
        fetch(`https://apidev.rapchat.me/recs/recommend?userId=${this.currentUser._id}`).then(response => {
          return response.json()
        }).then(json => {
          let featuredMix = _.shuffle(this.featured)
          let topraps = featuredMix.slice(0,8)
          let ids = []
          topraps.forEach(item => {
            ids.push(item._id)
          })
          this.mixedFeatured = ids
          let uniques = new Set([...json.items, ...ids]) //remove dupes
          let arr = Array.from(uniques)
          this.raps = _.shuffle(arr)
        }).catch(e => {
          let featuredMix = _.shuffle(this.featured)
          let topraps = featuredMix.slice(0,25)
          this.raps = topraps
          this.mixedFeatured = this.raps
          console.log(e)
        })
      } else {
        let ids = []
        let featuredMix = _.shuffle(this.featured)
        let topraps = featuredMix.slice(0,20)
        topraps.forEach(item => {
          ids.push(item._id)
        })
        this.raps = ids
        this.mixedFeatured = ids
      }
    },
    getRadio (rapId, userId) {
      let userQuery
      if (userId) {
        userQuery = `userId=${userId}&`
      } else {
        userQuery = ''
      } fetch(`https://apidev.rapchat.me/recs/radio?${userQuery}rapId=${rapId}`).then(res => {
        return res.json()
      }).then(json => {
        //mix in some more featured
        let featuredMix = _.shuffle(this.featured)
        let topraps = featuredMix.slice(0,8)
        let ids = []
        topraps.forEach(item => {
          ids.push(item._id)
        })
        let raps = _.shuffle([...json.items, ...this.raps, ...ids]) // merge & shuffle
        this.mixedFeatured = [...this.mixedFeatured, ...ids]
        let uniques = new Set(raps) //remove dupes
        let arr = Array.from(uniques)
        if (this.raps[0]) {
          arr[0] = this.raps[0]
        }
       // keep the head so we can pop it if the song changes
        this.raps = arr
        setTimeout(() => {
          this.updating = false
        }, 2050)
      }).catch(e => {
        console.log(e)
        this.error = "Hmm... We're having trouble getting recommendations for you at the moment. Check back later."
      })
    },
    getRap (id) {
      return fetch(`https://api.rapchat.me/api/raps/${id}`).then(res => {
        return res.json()
      }).then(json => {
        json.data.img = json.data.artworkUrl || json.data.beat.imagefile
        this.rap = json.data
        this.audioFile = `https://cdn.rapchat.me/raps/${json.data._id}`
        this.playing = true
        try {
          let fromFeatured = this.mixedFeatured.includes(this.rap._id)
          this.logEvent('rap played', {...this.currentUser, ...this.rap, view: 'Radio', fromFeatured: fromFeatured})
        } catch (e) {
          console.log(e)
        }
        return true
      }).catch(e => {
        this.error = "Hmm... We're having trouble getting recommendations for you at the moment. Check back later."
        console.log(e)
      })
    },
    nextRap () {
      try {
        let fromFeatured = this.mixedFeatured.includes(this.rap._id)
        this.logEvent('rap skipped', {...this.currentUser, ...this.rap, view: 'Radio', fromFeatured: fromFeatured})

      } catch (e) {
        console.log(e)
      }
      this.raps.shift(0)
      this.getRap(this.raps[0])
    },
    updateRadio () {
      if (!this.didLike) {
        let fromFeatured = this.mixedFeatured.includes(this.rap._id)
        this.logEvent('rap liked', {...this.currentUser, ...this.rap, view: 'Radio', fromFeatured: fromFeatured})
        this.updating = true
        this.didLike = true
        let userId
        if (this.currentUser) {
          userId = this.currentUser._id
        } else {
          userId = ''
        }
        this.getRadio(this.rap._id, userId)
      }
    },
    pauseAudio () {
      let player = this.$refs.audio
      if (!player.paused) {
        this.playing = false
        player.pause()
      } else {
        this.playing = true
        player.play()
      }
    },
    showModal () {
      this.$root.$emit('bv::show::modal', 'likeDownloadModal')
    },
    logEvent (event, data) {
      console.log(event)
      if (process.browser) {
        if (this.currentUser) {
          let id = new amplitude.Identify()
            .set('username', this.currentUser.username)
            .set('userid', this.currentUser._id)
            .set('email', this.currentUser.email)
            // .set('beats uploaded', this.user.beatCount)
            // .set('twitter url', this.user.twitter)
            // .set('website url', this.user.otherlink)
            // .set('soundcloud url', this.user.soundcloud)
            // .set('platinum', this.user.isPlatinumProducer)
            // .set('followers', this.user.followers.length)
            // .set('following', this.user.following.length) amplitude.getInstance().identify(id)
        }
        let ampl = amplitude.getInstance()
        ampl.init('e93869e9ffb55d729fa1eddcd851786f')
        ampl.logEvent(`${event}`, data)
      }
    }
  },
  filters: {
    formatTitle (title) {
      return filters.formatTitle(title)
    }
  }
}
</script>
<style lang="stylus">
.rad {
  height: 100vh
}
.rap-title {
  font-size = 20px
  line-height = 1.4
  lines-to-show = 2
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 70px
  margin: 0 auto;
  font-size: font-size;
  line-height: line-height;
  -webkit-line-clamp: lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &.lg {
    font-size: 30px
  }
}
.radio {
  z-index: 5;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0, black 16%, transparent);
  z-index: 1;
}
.radio-container {
  height: 100%;
  position: relative;
  width: 100%;
  padding-top: 100% !important;
  background: rgba(20,20,20, .3);
  border-radius: 12px;
  border: 2px solid #222;
  position: relative;
  background-size: cover !important;
  cursor: pointer;
  height: 100%;
}
.rate {
  height: 80px;
  width: 80px;
  border: 1px solid rgba(255,255,255,.7)
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .2)
  font-size: 20px;
  color: white;
  &:focus {
    outline: none !important
  }
  &.sm {
    height: 40px;
    width: 40px
    font-size: 16px;
  }
  &.flame {
    font-size: 30px;
  }
}
.follow-btn-small {
  background: transparent;
  border-radius: 45px;
  border: none;
  font-size: 12px;
  height: 25px
  color: #8c8046;
  &:hover {
    background: #8c8046
    color white;
    transition ease .5s
    cursor: pointer;
  }
  &:active {
    background: transparent !important
    border-radius: 45px;
    border: none;
    font-size: 12px;
    height: 25px
    color: #8c8046;
  }
  &:focus {
      background: transparent !important
      border-radius: 45px
      border: none;
      font-size: 12px;
      height: 25px
      color: #8c8046;
    }
}
.fa-play, fa-pause {
  color: white;
  font-size: 2em
}
.desktop {
  /* min-height: 75vh; */
  .rap-img {
    height: 280px
    width: 280px
    position: relative;
    background-size: cover !important;
    border 1px solid #333
    border-radius 12.5px
  }
  .song-info {
    width: 280px;
  }
  .artist {
    font-size: 18px
  }
}
</style>
