<template>
    <rc-container>
        <div slot="rc-content" class="flex row align-center justify-space-between mb-4  mt-2 mx-0 px-1 year-review no-gutters" v-if="!error">
          <div class="col-12 col-md-6 order-2 mt-5 mt-sm-0" v-if="profile">
            <h1 class="text-center">
              <span v-if="producer" v-show="!loading">You brought the heat this year,</span>
              <span v-else v-show="!loading">You killed it this year,</span>
              <div class="text-heavy">{{profile.username}}!</div>
            </h1>
            <div class="d-flex justify-content-center">
              <a :href="this.imageURL" :download="`${this.profile.username}-rc-review-2018.png`" @click.capture="saveImage" class="primary-button-link">
                <button class="btn btn-secondary button-primary d-none d-sm-block">
                  Share Image
                </button>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-6 mx-0 no-gutters d-flex justify-content-center">
            <div>
            <canvas id="canvas" :width="canvasSize" :height="canvasSize" crossorigin="anonymous" v-show="!loading">
            </canvas>
            <div class="d-flex justify-content-center" v-if="review.isProducer && !loading">
              <a class="link-primary" href="" @click.prevent="showProducerStats" v-if="!producer">
                See Producer Stats
              </a>
              <a class="link-primary" href="" @click.prevent="showRapperStats" v-else>
                See Rapper Stats
              </a>
            </div>
            <!-- <img :src="imageURL" crossorigin="anonymous" class="d-none"/> -->
              <Loader v-show="loading"/>
            </div>
          </div>
        </div>
        <div slot="rc-content" class="year-review" v-else-if="error">
          <div class="text-center col-12 col-">
            <h1>Hmm... We Couldn't Find Your Rap Up. Let's Try Again</h1>
            <router-link to="/rapup">
              <button class="btn btn-secondary button-primary">
                Get Your Rap Up
              </button>
            </router-link>
          </div>
        </div>
    </rc-container>
</template>

<script>
    import axios from '~/plugins/axios'
    import rcContainer from '~/components/layout/Container'
    import Loader from '~/components/layout/Loader'

    export default {
        components: {
            'rc-container': rcContainer,
            Icon,
            Loader
        },
        data () {
          return {
            imageURL: null,
            maxWidth: 275,
            maxFontSize: 90,
            error: false,
            loading: true,
            canvasSize: 350,
            createdCanvas: false,
            canvas: null,
            producer: false
          }
        },
        head () {
            return {
                title: `Rapchat | ${this.profile.username} 2018 Rap Up`,
                meta: [
                  { hid: 'description', name: 'description', content: 'You killed it this year! Get a rap up of your 2018 stats in the Rapchat App.'},
                  { hid: 'ogtitle', property: 'og:title', content: ` ${this.profile.username}'s 2018 Rapchat Rap Up`},
                  { hid: 'ogdescription', name: 'og:description', content: 'You killed it this year! Get a rap up of your 2018 stats in the Rapchat App.'},
                  { hid: 'ogtype', name: 'og:type', content: 'website'},
                  {hid: 'ogimage', name: 'og:image', content: `https://cdn.rapchat.me/images/rcLogo`},
                ]
            }
        },
        computed: {
          errorMessage () {
            if (this.error) {
              "Hmm... We Couldn't Find This User. Double check your link or username."
            }
          }
        },
        async asyncData ({params}) {
          let profile
          let review
          let error
          const reviewPromise = await axios.get(`/user/yearReview?userId=${params.id}`).then(res => {
            if (res.data.success) {
              review = res.data.data
              error = false
            } else {
              review = null
              error = true
            }
          }).catch(e => {
            console.log(e)
            return {
              return: loading,
              error: true
            }
          })
          const profilePromise = await axios.post('/userprofile', {userid:params.id, apiVersion: 2}, {headers: {'x-zumo-auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQ1MjAxMDQ0NTI2LCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.Kxq4rOa8dwWo-jMKi64SlHOO6C5_RJiaBILyKa2Adgg'}}).then(res => {

            if (res.data.success) {
                profile = res.data.data
                error = false
            } else {
              profile = null
              error = true
            }
          }).catch(e => {
            console.log(e)
            profile = null
            error = true
          })
          return {
            profile: profile,
            review: review,
            error: error
          }
        },
        beforeMount () {
          if (this.review.totalPlaysOverBeats > this.review.rapPlays >= 1 ) {
            this.producer = true
          }
        },
        mounted () {
          this.renderCanvas()
        },
        methods: {
          formatNumber (number) {
            if (number >= 1000000000) {
              return (number / 1000000000).toFixed(1).replace(/\.0$/, '') + 'B'
            }
            if (number >= 1000000) {
              return (number / 1000000).toFixed(1).replace(/\.0$/, '') + 'M'
            }
            if (number >= 1000) {
              return (number / 1000).toFixed(1).replace(/\.0$/, '') + 'K'
            }
            return number
          },
          renderCanvas () {
            if (process.browser && !this.error) {
                let textColor = this.producer ? '#8c8046' : 'white'
                let borderColor = this.producer ? 'white' : '#8c8046'
                let backgroundColor = 'black'
                let canvas = document.getElementById('canvas')
                let context = canvas.getContext('2d')
                this.canvas = canvas
                context.fillStyle = borderColor
                context.fillRect(0,0,canvas.width, canvas.height)
                context.fillStyle = backgroundColor
                context.fillRect(3, 3, canvas.width-6, canvas.height-6)
                context.font = `bold 24px Avenir`
                context.fillStyle = '#8c8046'
                context.fillText('Rapchat Rap Up 2018', 60, 330)
                let profileHeight = canvas.width*.55
                let profileWidth = canvas.width*.55
                let profileImage
                  // profileImage = new Image(profileWidth, profileHeight)
                profileImage = new Image()
                profileImage.onload = () => {
                  context.save()
                  context.beginPath();
                  context.arc(canvas.width-profileWidth*.35, (canvas.height*.10)+(profileHeight*.5), profileWidth/2, 95, 2*Math.PI, false); //draw the circle
                  context.clip(); //call the clip method so the next render is clipped in last path
                  context.lineWidth = 6
                  context.strokeStyle = borderColor
                  context.closePath();
                  const width = profileImage.width
                  const height = profileImage.height
                  const sX = width > height ? (width/2) - (height/2) : 0
                  const sY = width > height ? 0 : (height/2) - (width/2)
                  const sWidth = Math.min(width, height)
                  const sHeight = Math.min(width, height)
                  context.drawImage(profileImage, sX, sY, sWidth, sHeight,  canvas.width-profileWidth*.85, canvas.height*.10, profileWidth, profileHeight);
                    // context.drawImage(profileImage, canvas.width-profileWidth*.85, canvas.height*.10, profileWidth, profileHeight);
                  context.stroke();

                  //draw the gold border shape
                  // context.beginPath()
                  //
                  // context.stroke()
                  // context.closePath()
                  context.restore()

                  drawUsername()

                  // write the stats headers
                  context.fillStyle = 'white'
                  if (!this.producer) {
                    context.font = '18px Avenir'
                    context.fillText('Raps', 20, 250)
                    context.fillText('Plays', 100, 250)
                    context.fillText('Likes', 180, 250)
                    context.fillText('Followers', 260, 250)

                    //write the stats numbers
                    context.font = 'bold 24px Avenir'
                    context.fillText(this.formatNumber(this.review.rapsCreated), 20, 275)
                    context.fillText(this.formatNumber(this.review.rapPlays), 100, 275)
                    context.fillText(this.formatNumber(this.review.rapLikes), 180, 275)
                    context.fillText(this.formatNumber(this.review.followerCount), 260, 275)
                  } else {
                    context.font = '18px Avenir'
                    context.fillText('Beats', 20, 250)
                    context.fillText('Plays', 100, 250)
                    context.fillText('Raps Created', 200, 250)

                    //write the stats numbers
                    context.font = 'bold 24px Avenir'
                    context.fillText(this.formatNumber(this.review.beatsCreated), 20, 275)
                    context.fillText(this.formatNumber(this.review.totalPlaysOverBeats), 100, 275)
                    context.fillText(this.formatNumber(this.review.totalRapsOverBeats), 200, 275)
                  }

                }
                //set img src after
                profileImage.src = `https://cdn.rapchat.me/images/${this.profile.profilephoto}`
                profileImage.crossOrigin = "anonymous"

                const drawUsername = () => {
                  context.font = `bold ${this.maxFontSize}px Avenir`
                  context.fillStyle = 'white'
                  context.fontBaseline = 'ideographic'
                  context.lineWidth = 1.5
                  let text = context.measureText(this.profile.username)
                  if (text.width > this.maxWidth) {
                    let words = this.profile.username.split(' ')
                    if (words.length >= 2) {
                      let lineOne = {text: words.slice(0,(words.length/2)).join(' ') }
                      let lineTwo = {text: words.slice((words.length/2), words.length).join(' ')}
                      lineOne.metric = context.measureText(lineOne.text)
                      lineTwo.metric = context.measureText(lineTwo.text)
                      let longerLine = lineOne.metric.width > lineTwo.metric.width ? lineOne : lineTwo
                      let scale = longerLine.metric.width > this.maxWidth ? this.maxWidth / longerLine.metric.width : 1
                      let fontSize = scale * this.maxFontSize
                      context.font = `bold ${fontSize}px Avenir`
                      context.strokeText(lineOne.text, 20, (212-fontSize))
                      context.strokeText(lineTwo.text, 20, 210)
                      context.fillText(lineOne.text, 20, (212-fontSize))
                      context.fillText(lineTwo.text, 20, 210)
                    } else {
                      let scale = text.width > this.maxWidth ? this.maxWidth / text.width : 1
                      let fontSize = scale * this.maxFontSize
                      context.font = `bold ${fontSize}px Avenir`
                      context.strokeText(this.profile.username, 20, 200)
                      context.fillText(this.profile.username, 20, 200)
                    }
                  } else {
                    let scale = text.width > this.maxWidth ? this.maxWidth / text.width : 1
                    let fontSize = scale * this.maxFontSize
                    context.font = `bold ${fontSize}px Avenir`
                    context.strokeText(this.profile.username, 20, 200)
                    context.fillText(this.profile.username, 20, 200)
                  }
                  this.loading = false
                }

                //write the logo
                let rcLogo = new Image(30, 30)
                rcLogo.onload = () => {
                  context.drawImage(rcLogo, 20, 20, 30, 30);
                  //write the footer
                }
                rcLogo.src = require('~/static/logo.png')
                rcLogo.crossOrigin="anonymous"

                if (this.producer) {
                  let producerBadge = new Image()
                  producerBadge.onload = () => {
                    context.drawImage(producerBadge, 60, 21, 117.5, 27.5)
                  }
                  producerBadge.src = require('~/static/img/Producer.png')
                  producerBadge.crossOrigin='anonymous'
                }
            }
          },
          resetCanvas () {
            let canvas = document.getElementById('canvas')
            let context = canvas.getContext('2d')
            context.clearRect(0,0, canvas.width, canvas.height)
          },
          showProducerStats () {
            this.producer = true
            this.resetCanvas()
            this.renderCanvas()
          },
          showRapperStats () {
            this.producer = false
            this.resetCanvas()
            this.renderCanvas()
          },
          saveImage () {
            // let savedImage = new Image()
            // savedImage.crossOrigin = "Anonymous"
            // savedImage.src = canvas.toDataURL("image/png")
            // this.imageURL = savedImage
            this.imageURL =
            this.canvas.toDataURL("image/png").replace("image/png", "image/octet-stream")
          },

        }
    }
</script>

<style lang="stylus">
    .year-review {
      .primary-button-link {
        @media (max-width: 650px) {
          width: 100%;
        }
      }
      .button-primary {
        @media (max-width: 650px) {
          width: 100%;
        }
        height: 50px;
        border-radius: 95px;
        background-color: #8c8046;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        outline:none;
        border:none;
        cursor: pointer
        &:focus{
          border: none !important;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
        }
        &:active {
          border: none !important;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
        }
        &:hover {
           color: black;
           height: 50px;
           border-radius: 95px;
           background-color: #8c8046;
           box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
           outline:none;
           border:none;
         }
      }
        .share-icon {
          font-size: 2em;
          color: gray;
          &:hover {
            color: white;
          }
        }
        .text-heavy {
          font-weight: 600;
          font-size: 50px;
        }
    }
</style>
