<template>
    <rc-container width="1200px">
      <div slot="rc-content" class="row review align-center mx-0 mt-5">
        <div class="col-12">
          <h1 class="review-header text-center">Rapchat Rap Up 2018</h1>
          <p class="lead text-center">You killed it this year! See your 2018 Rapchat year in review.</p>
        </div>
        <div class="col-12 col-sm-4 offset-sm-4">
          <form class="form-group w-100" @keypress.13.prevent>
            <div class="form-row justify-content-center">
              <input type="text" class="form-control username-input" placeholder="username or email" v-model="usernameInput">
              <input type="password" class="form-control username-input mt-2" placeholder="password" v-model="passwordInput">
              <small class="text-center text-danger">{{error}}</small>
            </div>
            <div class="form-row d-flex justify-content-center">
              <button class="btn btn-secondary button-primary mt-2" @click.prevent="resolveUsername">
                Show Me My Stats
              </button>
            </div>
          </form>
        </div>
      </div>
    </rc-container>
</template>
<script>
import rcContainer from '~/components/layout/Container'
import axios from '~/plugins/axios'
export default {
  components: {
    'rc-container': rcContainer
  },
  data () {
    return {
      usernameInput: '',
      passwordInput: '',
      error: ''
    }
  },
  head() {
      return {
          title: `Rapchat | 2018 Rap Up`,
          meta: [
            {hid: 'description', name: 'description', content: 'You killed it this year! Get a rap up of your 2018 stats in the Rapchat App.'},
            {hid: 'og:title', property: 'og:title', content: ` Rapchat | 2018 Rap Up`},
            {hid: 'og:description', name: 'og:description', content: 'You killed it this year! Get a rap up of your 2018 stats in the Rapchat App.'},
            {hid: 'og:type', name: 'og:type', content: 'website'},
            {hid: 'og:image', name: 'og:image', content: 'https://cdn.rapchat.me/images/logo-white-2048.jpg'},
            {hid: 'robots',  name: 'robots', content: `no-index`}
          ]
      }
  },
  methods: {
    resolveUsername () {
      axios.post('login', {emailOrUsername: this.usernameInput, password: this.passwordInput}, {headers:{'x-zumo-auth':`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQ1MjAxMDQ0NTI2LCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.Kxq4rOa8dwWo-jMKi64SlHOO6C5_RJiaBILyKa2Adgg`}}).then(res => {
        if (res.data.success) {
          let user = res.data.data
          this.$nuxt.$router.push(`/rapup/${user._id}`)
        }
      }).catch(e => {
        console.log(e)
        this.error = e.response.data.message
      })
    }
  }
}
</script>
<style lang="stylus">
.review {
  .review-header {
    font-size: 48px;
    font-weight: 600;
    color: #8c8046;
  }
  .username-input {
    width: 100%;
    border-radius: 45px;
    height: 45px;
  }
  .button-primary {
    background-color: #8c8046;
    color: white;
    width: 60%;
    border-radius 45px;
    height: 45px;
    border: #8c8046
  }
  .username-input {
    font-size: 24px;
    text-align: center
    width: 100%;
    height: 60px;
    border:none;
    border-radius: 45px;
    background-color: #202123;
    color: white;
  }
  .username-input:focus {
    width: 100%;
    height: 60px;
    border:none !important;
    outline:none;
    border-radius: 45px;
    background-color: #202123;
    text-decoration: none;
    box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
    color: white;
  }
}
</style>
