<template>
  <rc-container width="1200px">
    <div class="row reset-password d-flex justify-content-center" slot="rc-content" v-if="!emailSent">
      <div class="col-12 col-sm-7 d-flex justify-content-center text-center">
        <h4>
          Please enter the email associated with the account you are trying to reset the password for.
        </h4>
      </div>
      <div class="col-12 col-sm-6 d-flex justify-content-center">
        <div class="form-group w-100">
          <div class="form-row d-flex justify-content-center my-3">
            <div class="col-8">
              <input type="text" placeholder="Email" class="form-control reset-form" v-model="emailInput" :class="emailInput.length < 6 ? '' : validated ? 'form-success' : 'form-error'"/>
              <div class="w-100 text-center">
                <small v-if="error" class="text-danger">{{error}}</small>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-3 d-flex justify-content-center">
              <button class="btn btn-secondary button-primary" @click="sendEmail">
                <loading-button initial="Send Email" :loading="sendingEmail"/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row reset-password d-flex justify-content-center" slot="rc-content" v-else>
      <div class="col-10 text-center">
        <h4>
          Reset password email sent!
        </h4>
        <div class="text-center mb-4">
          Make sure to check your junk or spam folder. If you don't receive an email, click here to resend.
        </div>
      </div>
        <div class="col-12 col-sm-3 d-flex justify-content-center">
          <button class="btn btn-secondary button-primary" @click="sendEmail">
            <loading-button initial="Resend Email" :loading="sendingEmail"/>
          </button>
        </div>
    </div>
  </rc-container>
</template>
<script>
import rcContainer from '~/components/layout/Container'
import LoadingButton from '~/components/elements/LoadingButton'
import axios from '~/plugins/axios.js'
import validators from '~/utils/validators.js'

export default {
  name: 'ForgotPassword',
  components: {'rc-container': rcContainer, 'loading-button': LoadingButton},
  data () {
    return {
      emailInput: '',
      emailSent: false,
      sendingEmail: false,
      error: ''
    }
  },
  computed: {
    validated () {
      if (validators.validateEmail(this.emailInput)) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    sendEmail () {
      if (this.validated) {
        this.sendingEmail = true
        // post to endpoint
        //TODO refactor to new axios instance
        let adminApi;
        if (process.env.NODE_ENV === "production") {
          adminApi = 'https://adminapi.rapchat.me/api/admin/forgetpassword'
        } else {
          adminApi = 'https://adminapidev.rapchat.me/api/admin/forgetpassword'
        }
        axios.post(adminApi, {email: this.emailInput}).then(res => {
          if (res.data.success) {
            this.sendingEmail = false
            this.emailSent = true
          } else {
            this.error = res.data.message
            this.sendingEmail = false
          }
        }).catch(e => {
          this.sendingEmail = false
          this.emailSent = false
          this.error = e.response.data.message
        })
      }
    }
  }
}
</script>
<style lang="stylus">
.reset-password {
  .button-primary {
    height: 50px;
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer
    &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
       color: black;
       height: 50px;
       border-radius: 95px;
       background-color: #8c8046;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
       outline:none;
       border:none;
     }
  }
  .button-muted{
    width: 240px;
    height: 60px;
    border-radius: 95px;
    background-color: #202323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer;
    &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      background-color: #171919 !important;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: #8c8046;
      border-radius: 95px;
      background-color: #202323;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
  }
  .reset-form {
    width: 100%;
    height: 60px;
    border:none;
    border-radius: 45px;
    background-color: #202123;
    padding-left: 25px;
    color: white;
  }
  .reset-form:focus {
    width: 100%;
    height: 60px;
    border:none !important;
    outline:none;
    border-radius: 45px;
    background-color: #202123;
    text-decoration: none;
    box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
    color: white;
  }
  .form-error:focus{
    box-shadow: 0 0 0 0.1rem rgba(173,0,2,.9);
  }
  .form-success:focus{
    box-shadow: 0 0 0 0.1rem rgba(53, 161, 95, .9)
  }
  .link-primary{
    color:#8c8046;
  }
}
</style>
