<template>
  <rc-container>
    <div class="row d-flex align-items-center" :class="isMobile ? 'pt-5 mt-5' : ''" slot="rc-content">
      <div class="col-12 mx-0">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-6 p-0">
            <Login/>
          </div>
        </div>
      </div>
    </div>
  </rc-container>
</template>
<script>
import Login from '~/components/elements/Login'
import rcContainer from '~/components/layout/Container'
import isMobile from '~/mixins/isMobile'
export default {
  mixins: [isMobile],
  components: {
    Login,
    'rc-container': rcContainer
  }
}
</script>
<style lang="stylus">

</style>
