.black {
  background-color: #000 !important;
  border-color: #000 !important
}

.black--text {
  color: #000 !important
}

.black--text input, .black--text textarea {
  caret-color: #000 !important
}

.black--after:after {
  background: #000 !important
}

.white {
  background-color: #fff !important;
  border-color: #fff !important
}

.white--text {
  color: #fff !important
}

.white--text input, .white--text textarea {
  caret-color: #fff !important
}

.white--after:after {
  background: #fff !important
}

.transparent {
  background-color: transparent !important;
  border-color: transparent !important
}

.transparent--text {
  color: transparent !important
}

.transparent--text input, .transparent--text textarea {
  caret-color: transparent !important
}

.transparent--after:after {
  background: transparent !important
}

.red {
  background-color: #f44336 !important;
  border-color: #f44336 !important
}

.red--text {
  color: #f44336 !important
}

.red--text input, .red--text textarea {
  caret-color: #f44336 !important
}

.red--after:after {
  background: #f44336 !important
}

.red.lighten-5 {
  border-color: #ffebee !important
}

.red.lighten-5, .red.lighten-5--after:after {
  background-color: #ffebee !important
}

.red--text.text--lighten-5 {
  color: #ffebee !important
}

.red--text.text--lighten-5 input, .red--text.text--lighten-5 textarea {
  caret-color: #ffebee !important
}

.red.lighten-4 {
  border-color: #ffcdd2 !important
}

.red.lighten-4, .red.lighten-4--after:after {
  background-color: #ffcdd2 !important
}

.red--text.text--lighten-4 {
  color: #ffcdd2 !important
}

.red--text.text--lighten-4 input, .red--text.text--lighten-4 textarea {
  caret-color: #ffcdd2 !important
}

.red.lighten-3 {
  border-color: #ef9a9a !important
}

.red.lighten-3, .red.lighten-3--after:after {
  background-color: #ef9a9a !important
}

.red--text.text--lighten-3 {
  color: #ef9a9a !important
}

.red--text.text--lighten-3 input, .red--text.text--lighten-3 textarea {
  caret-color: #ef9a9a !important
}

.red.lighten-2 {
  border-color: #e57373 !important
}

.red.lighten-2, .red.lighten-2--after:after {
  background-color: #e57373 !important
}

.red--text.text--lighten-2 {
  color: #e57373 !important
}

.red--text.text--lighten-2 input, .red--text.text--lighten-2 textarea {
  caret-color: #e57373 !important
}

.red.lighten-1 {
  border-color: #ef5350 !important
}

.red.lighten-1, .red.lighten-1--after:after {
  background-color: #ef5350 !important
}

.red--text.text--lighten-1 {
  color: #ef5350 !important
}

.red--text.text--lighten-1 input, .red--text.text--lighten-1 textarea {
  caret-color: #ef5350 !important
}

.red.darken-1 {
  border-color: #e53935 !important
}

.red.darken-1, .red.darken-1--after:after {
  background-color: #e53935 !important
}

.red--text.text--darken-1 {
  color: #e53935 !important
}

.red--text.text--darken-1 input, .red--text.text--darken-1 textarea {
  caret-color: #e53935 !important
}

.red.darken-2 {
  border-color: #d32f2f !important
}

.red.darken-2, .red.darken-2--after:after {
  background-color: #d32f2f !important
}

.red--text.text--darken-2 {
  color: #d32f2f !important
}

.red--text.text--darken-2 input, .red--text.text--darken-2 textarea {
  caret-color: #d32f2f !important
}

.red.darken-3 {
  border-color: #c62828 !important
}

.red.darken-3, .red.darken-3--after:after {
  background-color: #c62828 !important
}

.red--text.text--darken-3 {
  color: #c62828 !important
}

.red--text.text--darken-3 input, .red--text.text--darken-3 textarea {
  caret-color: #c62828 !important
}

.red.darken-4 {
  border-color: #b71c1c !important
}

.red.darken-4, .red.darken-4--after:after {
  background-color: #b71c1c !important
}

.red--text.text--darken-4 {
  color: #b71c1c !important
}

.red--text.text--darken-4 input, .red--text.text--darken-4 textarea {
  caret-color: #b71c1c !important
}

.red.accent-1 {
  border-color: #ff8a80 !important
}

.red.accent-1, .red.accent-1--after:after {
  background-color: #ff8a80 !important
}

.red--text.text--accent-1 {
  color: #ff8a80 !important
}

.red--text.text--accent-1 input, .red--text.text--accent-1 textarea {
  caret-color: #ff8a80 !important
}

.red.accent-2 {
  border-color: #ff5252 !important
}

.red.accent-2, .red.accent-2--after:after {
  background-color: #ff5252 !important
}

.red--text.text--accent-2 {
  color: #ff5252 !important
}

.red--text.text--accent-2 input, .red--text.text--accent-2 textarea {
  caret-color: #ff5252 !important
}

.red.accent-3 {
  border-color: #ff1744 !important
}

.red.accent-3, .red.accent-3--after:after {
  background-color: #ff1744 !important
}

.red--text.text--accent-3 {
  color: #ff1744 !important
}

.red--text.text--accent-3 input, .red--text.text--accent-3 textarea {
  caret-color: #ff1744 !important
}

.red.accent-4 {
  border-color: #d50000 !important
}

.red.accent-4, .red.accent-4--after:after {
  background-color: #d50000 !important
}

.red--text.text--accent-4 {
  color: #d50000 !important
}

.red--text.text--accent-4 input, .red--text.text--accent-4 textarea {
  caret-color: #d50000 !important
}

.pink {
  background-color: #e91e63 !important;
  border-color: #e91e63 !important
}

.pink--text {
  color: #e91e63 !important
}

.pink--text input, .pink--text textarea {
  caret-color: #e91e63 !important
}

.pink--after:after {
  background: #e91e63 !important
}

.pink.lighten-5 {
  border-color: #fce4ec !important
}

.pink.lighten-5, .pink.lighten-5--after:after {
  background-color: #fce4ec !important
}

.pink--text.text--lighten-5 {
  color: #fce4ec !important
}

.pink--text.text--lighten-5 input, .pink--text.text--lighten-5 textarea {
  caret-color: #fce4ec !important
}

.pink.lighten-4 {
  border-color: #f8bbd0 !important
}

.pink.lighten-4, .pink.lighten-4--after:after {
  background-color: #f8bbd0 !important
}

.pink--text.text--lighten-4 {
  color: #f8bbd0 !important
}

.pink--text.text--lighten-4 input, .pink--text.text--lighten-4 textarea {
  caret-color: #f8bbd0 !important
}

.pink.lighten-3 {
  border-color: #f48fb1 !important
}

.pink.lighten-3, .pink.lighten-3--after:after {
  background-color: #f48fb1 !important
}

.pink--text.text--lighten-3 {
  color: #f48fb1 !important
}

.pink--text.text--lighten-3 input, .pink--text.text--lighten-3 textarea {
  caret-color: #f48fb1 !important
}

.pink.lighten-2 {
  border-color: #f06292 !important
}

.pink.lighten-2, .pink.lighten-2--after:after {
  background-color: #f06292 !important
}

.pink--text.text--lighten-2 {
  color: #f06292 !important
}

.pink--text.text--lighten-2 input, .pink--text.text--lighten-2 textarea {
  caret-color: #f06292 !important
}

.pink.lighten-1 {
  border-color: #ec407a !important
}

.pink.lighten-1, .pink.lighten-1--after:after {
  background-color: #ec407a !important
}

.pink--text.text--lighten-1 {
  color: #ec407a !important
}

.pink--text.text--lighten-1 input, .pink--text.text--lighten-1 textarea {
  caret-color: #ec407a !important
}

.pink.darken-1 {
  border-color: #d81b60 !important
}

.pink.darken-1, .pink.darken-1--after:after {
  background-color: #d81b60 !important
}

.pink--text.text--darken-1 {
  color: #d81b60 !important
}

.pink--text.text--darken-1 input, .pink--text.text--darken-1 textarea {
  caret-color: #d81b60 !important
}

.pink.darken-2 {
  border-color: #c2185b !important
}

.pink.darken-2, .pink.darken-2--after:after {
  background-color: #c2185b !important
}

.pink--text.text--darken-2 {
  color: #c2185b !important
}

.pink--text.text--darken-2 input, .pink--text.text--darken-2 textarea {
  caret-color: #c2185b !important
}

.pink.darken-3 {
  border-color: #ad1457 !important
}

.pink.darken-3, .pink.darken-3--after:after {
  background-color: #ad1457 !important
}

.pink--text.text--darken-3 {
  color: #ad1457 !important
}

.pink--text.text--darken-3 input, .pink--text.text--darken-3 textarea {
  caret-color: #ad1457 !important
}

.pink.darken-4 {
  border-color: #880e4f !important
}

.pink.darken-4, .pink.darken-4--after:after {
  background-color: #880e4f !important
}

.pink--text.text--darken-4 {
  color: #880e4f !important
}

.pink--text.text--darken-4 input, .pink--text.text--darken-4 textarea {
  caret-color: #880e4f !important
}

.pink.accent-1 {
  border-color: #ff80ab !important
}

.pink.accent-1, .pink.accent-1--after:after {
  background-color: #ff80ab !important
}

.pink--text.text--accent-1 {
  color: #ff80ab !important
}

.pink--text.text--accent-1 input, .pink--text.text--accent-1 textarea {
  caret-color: #ff80ab !important
}

.pink.accent-2 {
  border-color: #ff4081 !important
}

.pink.accent-2, .pink.accent-2--after:after {
  background-color: #ff4081 !important
}

.pink--text.text--accent-2 {
  color: #ff4081 !important
}

.pink--text.text--accent-2 input, .pink--text.text--accent-2 textarea {
  caret-color: #ff4081 !important
}

.pink.accent-3 {
  border-color: #f50057 !important
}

.pink.accent-3, .pink.accent-3--after:after {
  background-color: #f50057 !important
}

.pink--text.text--accent-3 {
  color: #f50057 !important
}

.pink--text.text--accent-3 input, .pink--text.text--accent-3 textarea {
  caret-color: #f50057 !important
}

.pink.accent-4 {
  border-color: #c51162 !important
}

.pink.accent-4, .pink.accent-4--after:after {
  background-color: #c51162 !important
}

.pink--text.text--accent-4 {
  color: #c51162 !important
}

.pink--text.text--accent-4 input, .pink--text.text--accent-4 textarea {
  caret-color: #c51162 !important
}

.purple {
  background-color: #9c27b0 !important;
  border-color: #9c27b0 !important
}

.purple--text {
  color: #9c27b0 !important
}

.purple--text input, .purple--text textarea {
  caret-color: #9c27b0 !important
}

.purple--after:after {
  background: #9c27b0 !important
}

.purple.lighten-5 {
  border-color: #f3e5f5 !important
}

.purple.lighten-5, .purple.lighten-5--after:after {
  background-color: #f3e5f5 !important
}

.purple--text.text--lighten-5 {
  color: #f3e5f5 !important
}

.purple--text.text--lighten-5 input, .purple--text.text--lighten-5 textarea {
  caret-color: #f3e5f5 !important
}

.purple.lighten-4 {
  border-color: #e1bee7 !important
}

.purple.lighten-4, .purple.lighten-4--after:after {
  background-color: #e1bee7 !important
}

.purple--text.text--lighten-4 {
  color: #e1bee7 !important
}

.purple--text.text--lighten-4 input, .purple--text.text--lighten-4 textarea {
  caret-color: #e1bee7 !important
}

.purple.lighten-3 {
  border-color: #ce93d8 !important
}

.purple.lighten-3, .purple.lighten-3--after:after {
  background-color: #ce93d8 !important
}

.purple--text.text--lighten-3 {
  color: #ce93d8 !important
}

.purple--text.text--lighten-3 input, .purple--text.text--lighten-3 textarea {
  caret-color: #ce93d8 !important
}

.purple.lighten-2 {
  border-color: #ba68c8 !important
}

.purple.lighten-2, .purple.lighten-2--after:after {
  background-color: #ba68c8 !important
}

.purple--text.text--lighten-2 {
  color: #ba68c8 !important
}

.purple--text.text--lighten-2 input, .purple--text.text--lighten-2 textarea {
  caret-color: #ba68c8 !important
}

.purple.lighten-1 {
  border-color: #ab47bc !important
}

.purple.lighten-1, .purple.lighten-1--after:after {
  background-color: #ab47bc !important
}

.purple--text.text--lighten-1 {
  color: #ab47bc !important
}

.purple--text.text--lighten-1 input, .purple--text.text--lighten-1 textarea {
  caret-color: #ab47bc !important
}

.purple.darken-1 {
  border-color: #8e24aa !important
}

.purple.darken-1, .purple.darken-1--after:after {
  background-color: #8e24aa !important
}

.purple--text.text--darken-1 {
  color: #8e24aa !important
}

.purple--text.text--darken-1 input, .purple--text.text--darken-1 textarea {
  caret-color: #8e24aa !important
}

.purple.darken-2 {
  border-color: #7b1fa2 !important
}

.purple.darken-2, .purple.darken-2--after:after {
  background-color: #7b1fa2 !important
}

.purple--text.text--darken-2 {
  color: #7b1fa2 !important
}

.purple--text.text--darken-2 input, .purple--text.text--darken-2 textarea {
  caret-color: #7b1fa2 !important
}

.purple.darken-3 {
  border-color: #6a1b9a !important
}

.purple.darken-3, .purple.darken-3--after:after {
  background-color: #6a1b9a !important
}

.purple--text.text--darken-3 {
  color: #6a1b9a !important
}

.purple--text.text--darken-3 input, .purple--text.text--darken-3 textarea {
  caret-color: #6a1b9a !important
}

.purple.darken-4 {
  border-color: #4a148c !important
}

.purple.darken-4, .purple.darken-4--after:after {
  background-color: #4a148c !important
}

.purple--text.text--darken-4 {
  color: #4a148c !important
}

.purple--text.text--darken-4 input, .purple--text.text--darken-4 textarea {
  caret-color: #4a148c !important
}

.purple.accent-1 {
  border-color: #ea80fc !important
}

.purple.accent-1, .purple.accent-1--after:after {
  background-color: #ea80fc !important
}

.purple--text.text--accent-1 {
  color: #ea80fc !important
}

.purple--text.text--accent-1 input, .purple--text.text--accent-1 textarea {
  caret-color: #ea80fc !important
}

.purple.accent-2 {
  border-color: #e040fb !important
}

.purple.accent-2, .purple.accent-2--after:after {
  background-color: #e040fb !important
}

.purple--text.text--accent-2 {
  color: #e040fb !important
}

.purple--text.text--accent-2 input, .purple--text.text--accent-2 textarea {
  caret-color: #e040fb !important
}

.purple.accent-3 {
  border-color: #d500f9 !important
}

.purple.accent-3, .purple.accent-3--after:after {
  background-color: #d500f9 !important
}

.purple--text.text--accent-3 {
  color: #d500f9 !important
}

.purple--text.text--accent-3 input, .purple--text.text--accent-3 textarea {
  caret-color: #d500f9 !important
}

.purple.accent-4 {
  border-color: #a0f !important
}

.purple.accent-4, .purple.accent-4--after:after {
  background-color: #a0f !important
}

.purple--text.text--accent-4 {
  color: #a0f !important
}

.purple--text.text--accent-4 input, .purple--text.text--accent-4 textarea {
  caret-color: #a0f !important
}

.deep-purple {
  background-color: #673ab7 !important;
  border-color: #673ab7 !important
}

.deep-purple--text {
  color: #673ab7 !important
}

.deep-purple--text input, .deep-purple--text textarea {
  caret-color: #673ab7 !important
}

.deep-purple--after:after {
  background: #673ab7 !important
}

.deep-purple.lighten-5 {
  border-color: #ede7f6 !important
}

.deep-purple.lighten-5, .deep-purple.lighten-5--after:after {
  background-color: #ede7f6 !important
}

.deep-purple--text.text--lighten-5 {
  color: #ede7f6 !important
}

.deep-purple--text.text--lighten-5 input, .deep-purple--text.text--lighten-5 textarea {
  caret-color: #ede7f6 !important
}

.deep-purple.lighten-4 {
  border-color: #d1c4e9 !important
}

.deep-purple.lighten-4, .deep-purple.lighten-4--after:after {
  background-color: #d1c4e9 !important
}

.deep-purple--text.text--lighten-4 {
  color: #d1c4e9 !important
}

.deep-purple--text.text--lighten-4 input, .deep-purple--text.text--lighten-4 textarea {
  caret-color: #d1c4e9 !important
}

.deep-purple.lighten-3 {
  border-color: #b39ddb !important
}

.deep-purple.lighten-3, .deep-purple.lighten-3--after:after {
  background-color: #b39ddb !important
}

.deep-purple--text.text--lighten-3 {
  color: #b39ddb !important
}

.deep-purple--text.text--lighten-3 input, .deep-purple--text.text--lighten-3 textarea {
  caret-color: #b39ddb !important
}

.deep-purple.lighten-2 {
  border-color: #9575cd !important
}

.deep-purple.lighten-2, .deep-purple.lighten-2--after:after {
  background-color: #9575cd !important
}

.deep-purple--text.text--lighten-2 {
  color: #9575cd !important
}

.deep-purple--text.text--lighten-2 input, .deep-purple--text.text--lighten-2 textarea {
  caret-color: #9575cd !important
}

.deep-purple.lighten-1 {
  border-color: #7e57c2 !important
}

.deep-purple.lighten-1, .deep-purple.lighten-1--after:after {
  background-color: #7e57c2 !important
}

.deep-purple--text.text--lighten-1 {
  color: #7e57c2 !important
}

.deep-purple--text.text--lighten-1 input, .deep-purple--text.text--lighten-1 textarea {
  caret-color: #7e57c2 !important
}

.deep-purple.darken-1 {
  border-color: #5e35b1 !important
}

.deep-purple.darken-1, .deep-purple.darken-1--after:after {
  background-color: #5e35b1 !important
}

.deep-purple--text.text--darken-1 {
  color: #5e35b1 !important
}

.deep-purple--text.text--darken-1 input, .deep-purple--text.text--darken-1 textarea {
  caret-color: #5e35b1 !important
}

.deep-purple.darken-2 {
  border-color: #512da8 !important
}

.deep-purple.darken-2, .deep-purple.darken-2--after:after {
  background-color: #512da8 !important
}

.deep-purple--text.text--darken-2 {
  color: #512da8 !important
}

.deep-purple--text.text--darken-2 input, .deep-purple--text.text--darken-2 textarea {
  caret-color: #512da8 !important
}

.deep-purple.darken-3 {
  border-color: #4527a0 !important
}

.deep-purple.darken-3, .deep-purple.darken-3--after:after {
  background-color: #4527a0 !important
}

.deep-purple--text.text--darken-3 {
  color: #4527a0 !important
}

.deep-purple--text.text--darken-3 input, .deep-purple--text.text--darken-3 textarea {
  caret-color: #4527a0 !important
}

.deep-purple.darken-4 {
  border-color: #311b92 !important
}

.deep-purple.darken-4, .deep-purple.darken-4--after:after {
  background-color: #311b92 !important
}

.deep-purple--text.text--darken-4 {
  color: #311b92 !important
}

.deep-purple--text.text--darken-4 input, .deep-purple--text.text--darken-4 textarea {
  caret-color: #311b92 !important
}

.deep-purple.accent-1 {
  border-color: #b388ff !important
}

.deep-purple.accent-1, .deep-purple.accent-1--after:after {
  background-color: #b388ff !important
}

.deep-purple--text.text--accent-1 {
  color: #b388ff !important
}

.deep-purple--text.text--accent-1 input, .deep-purple--text.text--accent-1 textarea {
  caret-color: #b388ff !important
}

.deep-purple.accent-2 {
  border-color: #7c4dff !important
}

.deep-purple.accent-2, .deep-purple.accent-2--after:after {
  background-color: #7c4dff !important
}

.deep-purple--text.text--accent-2 {
  color: #7c4dff !important
}

.deep-purple--text.text--accent-2 input, .deep-purple--text.text--accent-2 textarea {
  caret-color: #7c4dff !important
}

.deep-purple.accent-3 {
  border-color: #651fff !important
}

.deep-purple.accent-3, .deep-purple.accent-3--after:after {
  background-color: #651fff !important
}

.deep-purple--text.text--accent-3 {
  color: #651fff !important
}

.deep-purple--text.text--accent-3 input, .deep-purple--text.text--accent-3 textarea {
  caret-color: #651fff !important
}

.deep-purple.accent-4 {
  border-color: #6200ea !important
}

.deep-purple.accent-4, .deep-purple.accent-4--after:after {
  background-color: #6200ea !important
}

.deep-purple--text.text--accent-4 {
  color: #6200ea !important
}

.deep-purple--text.text--accent-4 input, .deep-purple--text.text--accent-4 textarea {
  caret-color: #6200ea !important
}

.indigo {
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important
}

.indigo--text {
  color: #3f51b5 !important
}

.indigo--text input, .indigo--text textarea {
  caret-color: #3f51b5 !important
}

.indigo--after:after {
  background: #3f51b5 !important
}

.indigo.lighten-5 {
  border-color: #e8eaf6 !important
}

.indigo.lighten-5, .indigo.lighten-5--after:after {
  background-color: #e8eaf6 !important
}

.indigo--text.text--lighten-5 {
  color: #e8eaf6 !important
}

.indigo--text.text--lighten-5 input, .indigo--text.text--lighten-5 textarea {
  caret-color: #e8eaf6 !important
}

.indigo.lighten-4 {
  border-color: #c5cae9 !important
}

.indigo.lighten-4, .indigo.lighten-4--after:after {
  background-color: #c5cae9 !important
}

.indigo--text.text--lighten-4 {
  color: #c5cae9 !important
}

.indigo--text.text--lighten-4 input, .indigo--text.text--lighten-4 textarea {
  caret-color: #c5cae9 !important
}

.indigo.lighten-3 {
  border-color: #9fa8da !important
}

.indigo.lighten-3, .indigo.lighten-3--after:after {
  background-color: #9fa8da !important
}

.indigo--text.text--lighten-3 {
  color: #9fa8da !important
}

.indigo--text.text--lighten-3 input, .indigo--text.text--lighten-3 textarea {
  caret-color: #9fa8da !important
}

.indigo.lighten-2 {
  border-color: #7986cb !important
}

.indigo.lighten-2, .indigo.lighten-2--after:after {
  background-color: #7986cb !important
}

.indigo--text.text--lighten-2 {
  color: #7986cb !important
}

.indigo--text.text--lighten-2 input, .indigo--text.text--lighten-2 textarea {
  caret-color: #7986cb !important
}

.indigo.lighten-1 {
  border-color: #5c6bc0 !important
}

.indigo.lighten-1, .indigo.lighten-1--after:after {
  background-color: #5c6bc0 !important
}

.indigo--text.text--lighten-1 {
  color: #5c6bc0 !important
}

.indigo--text.text--lighten-1 input, .indigo--text.text--lighten-1 textarea {
  caret-color: #5c6bc0 !important
}

.indigo.darken-1 {
  border-color: #3949ab !important
}

.indigo.darken-1, .indigo.darken-1--after:after {
  background-color: #3949ab !important
}

.indigo--text.text--darken-1 {
  color: #3949ab !important
}

.indigo--text.text--darken-1 input, .indigo--text.text--darken-1 textarea {
  caret-color: #3949ab !important
}

.indigo.darken-2 {
  border-color: #303f9f !important
}

.indigo.darken-2, .indigo.darken-2--after:after {
  background-color: #303f9f !important
}

.indigo--text.text--darken-2 {
  color: #303f9f !important
}

.indigo--text.text--darken-2 input, .indigo--text.text--darken-2 textarea {
  caret-color: #303f9f !important
}

.indigo.darken-3 {
  border-color: #283593 !important
}

.indigo.darken-3, .indigo.darken-3--after:after {
  background-color: #283593 !important
}

.indigo--text.text--darken-3 {
  color: #283593 !important
}

.indigo--text.text--darken-3 input, .indigo--text.text--darken-3 textarea {
  caret-color: #283593 !important
}

.indigo.darken-4 {
  border-color: #1a237e !important
}

.indigo.darken-4, .indigo.darken-4--after:after {
  background-color: #1a237e !important
}

.indigo--text.text--darken-4 {
  color: #1a237e !important
}

.indigo--text.text--darken-4 input, .indigo--text.text--darken-4 textarea {
  caret-color: #1a237e !important
}

.indigo.accent-1 {
  border-color: #8c9eff !important
}

.indigo.accent-1, .indigo.accent-1--after:after {
  background-color: #8c9eff !important
}

.indigo--text.text--accent-1 {
  color: #8c9eff !important
}

.indigo--text.text--accent-1 input, .indigo--text.text--accent-1 textarea {
  caret-color: #8c9eff !important
}

.indigo.accent-2 {
  border-color: #536dfe !important
}

.indigo.accent-2, .indigo.accent-2--after:after {
  background-color: #536dfe !important
}

.indigo--text.text--accent-2 {
  color: #536dfe !important
}

.indigo--text.text--accent-2 input, .indigo--text.text--accent-2 textarea {
  caret-color: #536dfe !important
}

.indigo.accent-3 {
  border-color: #3d5afe !important
}

.indigo.accent-3, .indigo.accent-3--after:after {
  background-color: #3d5afe !important
}

.indigo--text.text--accent-3 {
  color: #3d5afe !important
}

.indigo--text.text--accent-3 input, .indigo--text.text--accent-3 textarea {
  caret-color: #3d5afe !important
}

.indigo.accent-4 {
  border-color: #304ffe !important
}

.indigo.accent-4, .indigo.accent-4--after:after {
  background-color: #304ffe !important
}

.indigo--text.text--accent-4 {
  color: #304ffe !important
}

.indigo--text.text--accent-4 input, .indigo--text.text--accent-4 textarea {
  caret-color: #304ffe !important
}

.blue {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important
}

.blue--text {
  color: #2196f3 !important
}

.blue--text input, .blue--text textarea {
  caret-color: #2196f3 !important
}

.blue--after:after {
  background: #2196f3 !important
}

.blue.lighten-5 {
  border-color: #e3f2fd !important
}

.blue.lighten-5, .blue.lighten-5--after:after {
  background-color: #e3f2fd !important
}

.blue--text.text--lighten-5 {
  color: #e3f2fd !important
}

.blue--text.text--lighten-5 input, .blue--text.text--lighten-5 textarea {
  caret-color: #e3f2fd !important
}

.blue.lighten-4 {
  border-color: #bbdefb !important
}

.blue.lighten-4, .blue.lighten-4--after:after {
  background-color: #bbdefb !important
}

.blue--text.text--lighten-4 {
  color: #bbdefb !important
}

.blue--text.text--lighten-4 input, .blue--text.text--lighten-4 textarea {
  caret-color: #bbdefb !important
}

.blue.lighten-3 {
  border-color: #90caf9 !important
}

.blue.lighten-3, .blue.lighten-3--after:after {
  background-color: #90caf9 !important
}

.blue--text.text--lighten-3 {
  color: #90caf9 !important
}

.blue--text.text--lighten-3 input, .blue--text.text--lighten-3 textarea {
  caret-color: #90caf9 !important
}

.blue.lighten-2 {
  border-color: #64b5f6 !important
}

.blue.lighten-2, .blue.lighten-2--after:after {
  background-color: #64b5f6 !important
}

.blue--text.text--lighten-2 {
  color: #64b5f6 !important
}

.blue--text.text--lighten-2 input, .blue--text.text--lighten-2 textarea {
  caret-color: #64b5f6 !important
}

.blue.lighten-1 {
  border-color: #42a5f5 !important
}

.blue.lighten-1, .blue.lighten-1--after:after {
  background-color: #42a5f5 !important
}

.blue--text.text--lighten-1 {
  color: #42a5f5 !important
}

.blue--text.text--lighten-1 input, .blue--text.text--lighten-1 textarea {
  caret-color: #42a5f5 !important
}

.blue.darken-1 {
  border-color: #1e88e5 !important
}

.blue.darken-1, .blue.darken-1--after:after {
  background-color: #1e88e5 !important
}

.blue--text.text--darken-1 {
  color: #1e88e5 !important
}

.blue--text.text--darken-1 input, .blue--text.text--darken-1 textarea {
  caret-color: #1e88e5 !important
}

.blue.darken-2 {
  border-color: #1976d2 !important
}

.blue.darken-2, .blue.darken-2--after:after {
  background-color: #1976d2 !important
}

.blue--text.text--darken-2 {
  color: #1976d2 !important
}

.blue--text.text--darken-2 input, .blue--text.text--darken-2 textarea {
  caret-color: #1976d2 !important
}

.blue.darken-3 {
  border-color: #1565c0 !important
}

.blue.darken-3, .blue.darken-3--after:after {
  background-color: #1565c0 !important
}

.blue--text.text--darken-3 {
  color: #1565c0 !important
}

.blue--text.text--darken-3 input, .blue--text.text--darken-3 textarea {
  caret-color: #1565c0 !important
}

.blue.darken-4 {
  border-color: #0d47a1 !important
}

.blue.darken-4, .blue.darken-4--after:after {
  background-color: #0d47a1 !important
}

.blue--text.text--darken-4 {
  color: #0d47a1 !important
}

.blue--text.text--darken-4 input, .blue--text.text--darken-4 textarea {
  caret-color: #0d47a1 !important
}

.blue.accent-1 {
  border-color: #82b1ff !important
}

.blue.accent-1, .blue.accent-1--after:after {
  background-color: #82b1ff !important
}

.blue--text.text--accent-1 {
  color: #82b1ff !important
}

.blue--text.text--accent-1 input, .blue--text.text--accent-1 textarea {
  caret-color: #82b1ff !important
}

.blue.accent-2 {
  border-color: #448aff !important
}

.blue.accent-2, .blue.accent-2--after:after {
  background-color: #448aff !important
}

.blue--text.text--accent-2 {
  color: #448aff !important
}

.blue--text.text--accent-2 input, .blue--text.text--accent-2 textarea {
  caret-color: #448aff !important
}

.blue.accent-3 {
  border-color: #2979ff !important
}

.blue.accent-3, .blue.accent-3--after:after {
  background-color: #2979ff !important
}

.blue--text.text--accent-3 {
  color: #2979ff !important
}

.blue--text.text--accent-3 input, .blue--text.text--accent-3 textarea {
  caret-color: #2979ff !important
}

.blue.accent-4 {
  border-color: #2962ff !important
}

.blue.accent-4, .blue.accent-4--after:after {
  background-color: #2962ff !important
}

.blue--text.text--accent-4 {
  color: #2962ff !important
}

.blue--text.text--accent-4 input, .blue--text.text--accent-4 textarea {
  caret-color: #2962ff !important
}

.light-blue {
  background-color: #03a9f4 !important;
  border-color: #03a9f4 !important
}

.light-blue--text {
  color: #03a9f4 !important
}

.light-blue--text input, .light-blue--text textarea {
  caret-color: #03a9f4 !important
}

.light-blue--after:after {
  background: #03a9f4 !important
}

.light-blue.lighten-5 {
  border-color: #e1f5fe !important
}

.light-blue.lighten-5, .light-blue.lighten-5--after:after {
  background-color: #e1f5fe !important
}

.light-blue--text.text--lighten-5 {
  color: #e1f5fe !important
}

.light-blue--text.text--lighten-5 input, .light-blue--text.text--lighten-5 textarea {
  caret-color: #e1f5fe !important
}

.light-blue.lighten-4 {
  border-color: #b3e5fc !important
}

.light-blue.lighten-4, .light-blue.lighten-4--after:after {
  background-color: #b3e5fc !important
}

.light-blue--text.text--lighten-4 {
  color: #b3e5fc !important
}

.light-blue--text.text--lighten-4 input, .light-blue--text.text--lighten-4 textarea {
  caret-color: #b3e5fc !important
}

.light-blue.lighten-3 {
  border-color: #81d4fa !important
}

.light-blue.lighten-3, .light-blue.lighten-3--after:after {
  background-color: #81d4fa !important
}

.light-blue--text.text--lighten-3 {
  color: #81d4fa !important
}

.light-blue--text.text--lighten-3 input, .light-blue--text.text--lighten-3 textarea {
  caret-color: #81d4fa !important
}

.light-blue.lighten-2 {
  border-color: #4fc3f7 !important
}

.light-blue.lighten-2, .light-blue.lighten-2--after:after {
  background-color: #4fc3f7 !important
}

.light-blue--text.text--lighten-2 {
  color: #4fc3f7 !important
}

.light-blue--text.text--lighten-2 input, .light-blue--text.text--lighten-2 textarea {
  caret-color: #4fc3f7 !important
}

.light-blue.lighten-1 {
  border-color: #29b6f6 !important
}

.light-blue.lighten-1, .light-blue.lighten-1--after:after {
  background-color: #29b6f6 !important
}

.light-blue--text.text--lighten-1 {
  color: #29b6f6 !important
}

.light-blue--text.text--lighten-1 input, .light-blue--text.text--lighten-1 textarea {
  caret-color: #29b6f6 !important
}

.light-blue.darken-1 {
  border-color: #039be5 !important
}

.light-blue.darken-1, .light-blue.darken-1--after:after {
  background-color: #039be5 !important
}

.light-blue--text.text--darken-1 {
  color: #039be5 !important
}

.light-blue--text.text--darken-1 input, .light-blue--text.text--darken-1 textarea {
  caret-color: #039be5 !important
}

.light-blue.darken-2 {
  border-color: #0288d1 !important
}

.light-blue.darken-2, .light-blue.darken-2--after:after {
  background-color: #0288d1 !important
}

.light-blue--text.text--darken-2 {
  color: #0288d1 !important
}

.light-blue--text.text--darken-2 input, .light-blue--text.text--darken-2 textarea {
  caret-color: #0288d1 !important
}

.light-blue.darken-3 {
  border-color: #0277bd !important
}

.light-blue.darken-3, .light-blue.darken-3--after:after {
  background-color: #0277bd !important
}

.light-blue--text.text--darken-3 {
  color: #0277bd !important
}

.light-blue--text.text--darken-3 input, .light-blue--text.text--darken-3 textarea {
  caret-color: #0277bd !important
}

.light-blue.darken-4 {
  border-color: #01579b !important
}

.light-blue.darken-4, .light-blue.darken-4--after:after {
  background-color: #01579b !important
}

.light-blue--text.text--darken-4 {
  color: #01579b !important
}

.light-blue--text.text--darken-4 input, .light-blue--text.text--darken-4 textarea {
  caret-color: #01579b !important
}

.light-blue.accent-1 {
  border-color: #80d8ff !important
}

.light-blue.accent-1, .light-blue.accent-1--after:after {
  background-color: #80d8ff !important
}

.light-blue--text.text--accent-1 {
  color: #80d8ff !important
}

.light-blue--text.text--accent-1 input, .light-blue--text.text--accent-1 textarea {
  caret-color: #80d8ff !important
}

.light-blue.accent-2 {
  border-color: #40c4ff !important
}

.light-blue.accent-2, .light-blue.accent-2--after:after {
  background-color: #40c4ff !important
}

.light-blue--text.text--accent-2 {
  color: #40c4ff !important
}

.light-blue--text.text--accent-2 input, .light-blue--text.text--accent-2 textarea {
  caret-color: #40c4ff !important
}

.light-blue.accent-3 {
  border-color: #00b0ff !important
}

.light-blue.accent-3, .light-blue.accent-3--after:after {
  background-color: #00b0ff !important
}

.light-blue--text.text--accent-3 {
  color: #00b0ff !important
}

.light-blue--text.text--accent-3 input, .light-blue--text.text--accent-3 textarea {
  caret-color: #00b0ff !important
}

.light-blue.accent-4 {
  border-color: #0091ea !important
}

.light-blue.accent-4, .light-blue.accent-4--after:after {
  background-color: #0091ea !important
}

.light-blue--text.text--accent-4 {
  color: #0091ea !important
}

.light-blue--text.text--accent-4 input, .light-blue--text.text--accent-4 textarea {
  caret-color: #0091ea !important
}

.cyan {
  background-color: #00bcd4 !important;
  border-color: #00bcd4 !important
}

.cyan--text {
  color: #00bcd4 !important
}

.cyan--text input, .cyan--text textarea {
  caret-color: #00bcd4 !important
}

.cyan--after:after {
  background: #00bcd4 !important
}

.cyan.lighten-5 {
  border-color: #e0f7fa !important
}

.cyan.lighten-5, .cyan.lighten-5--after:after {
  background-color: #e0f7fa !important
}

.cyan--text.text--lighten-5 {
  color: #e0f7fa !important
}

.cyan--text.text--lighten-5 input, .cyan--text.text--lighten-5 textarea {
  caret-color: #e0f7fa !important
}

.cyan.lighten-4 {
  border-color: #b2ebf2 !important
}

.cyan.lighten-4, .cyan.lighten-4--after:after {
  background-color: #b2ebf2 !important
}

.cyan--text.text--lighten-4 {
  color: #b2ebf2 !important
}

.cyan--text.text--lighten-4 input, .cyan--text.text--lighten-4 textarea {
  caret-color: #b2ebf2 !important
}

.cyan.lighten-3 {
  border-color: #80deea !important
}

.cyan.lighten-3, .cyan.lighten-3--after:after {
  background-color: #80deea !important
}

.cyan--text.text--lighten-3 {
  color: #80deea !important
}

.cyan--text.text--lighten-3 input, .cyan--text.text--lighten-3 textarea {
  caret-color: #80deea !important
}

.cyan.lighten-2 {
  border-color: #4dd0e1 !important
}

.cyan.lighten-2, .cyan.lighten-2--after:after {
  background-color: #4dd0e1 !important
}

.cyan--text.text--lighten-2 {
  color: #4dd0e1 !important
}

.cyan--text.text--lighten-2 input, .cyan--text.text--lighten-2 textarea {
  caret-color: #4dd0e1 !important
}

.cyan.lighten-1 {
  border-color: #26c6da !important
}

.cyan.lighten-1, .cyan.lighten-1--after:after {
  background-color: #26c6da !important
}

.cyan--text.text--lighten-1 {
  color: #26c6da !important
}

.cyan--text.text--lighten-1 input, .cyan--text.text--lighten-1 textarea {
  caret-color: #26c6da !important
}

.cyan.darken-1 {
  border-color: #00acc1 !important
}

.cyan.darken-1, .cyan.darken-1--after:after {
  background-color: #00acc1 !important
}

.cyan--text.text--darken-1 {
  color: #00acc1 !important
}

.cyan--text.text--darken-1 input, .cyan--text.text--darken-1 textarea {
  caret-color: #00acc1 !important
}

.cyan.darken-2 {
  border-color: #0097a7 !important
}

.cyan.darken-2, .cyan.darken-2--after:after {
  background-color: #0097a7 !important
}

.cyan--text.text--darken-2 {
  color: #0097a7 !important
}

.cyan--text.text--darken-2 input, .cyan--text.text--darken-2 textarea {
  caret-color: #0097a7 !important
}

.cyan.darken-3 {
  border-color: #00838f !important
}

.cyan.darken-3, .cyan.darken-3--after:after {
  background-color: #00838f !important
}

.cyan--text.text--darken-3 {
  color: #00838f !important
}

.cyan--text.text--darken-3 input, .cyan--text.text--darken-3 textarea {
  caret-color: #00838f !important
}

.cyan.darken-4 {
  border-color: #006064 !important
}

.cyan.darken-4, .cyan.darken-4--after:after {
  background-color: #006064 !important
}

.cyan--text.text--darken-4 {
  color: #006064 !important
}

.cyan--text.text--darken-4 input, .cyan--text.text--darken-4 textarea {
  caret-color: #006064 !important
}

.cyan.accent-1 {
  border-color: #84ffff !important
}

.cyan.accent-1, .cyan.accent-1--after:after {
  background-color: #84ffff !important
}

.cyan--text.text--accent-1 {
  color: #84ffff !important
}

.cyan--text.text--accent-1 input, .cyan--text.text--accent-1 textarea {
  caret-color: #84ffff !important
}

.cyan.accent-2 {
  border-color: #18ffff !important
}

.cyan.accent-2, .cyan.accent-2--after:after {
  background-color: #18ffff !important
}

.cyan--text.text--accent-2 {
  color: #18ffff !important
}

.cyan--text.text--accent-2 input, .cyan--text.text--accent-2 textarea {
  caret-color: #18ffff !important
}

.cyan.accent-3 {
  border-color: #00e5ff !important
}

.cyan.accent-3, .cyan.accent-3--after:after {
  background-color: #00e5ff !important
}

.cyan--text.text--accent-3 {
  color: #00e5ff !important
}

.cyan--text.text--accent-3 input, .cyan--text.text--accent-3 textarea {
  caret-color: #00e5ff !important
}

.cyan.accent-4 {
  border-color: #00b8d4 !important
}

.cyan.accent-4, .cyan.accent-4--after:after {
  background-color: #00b8d4 !important
}

.cyan--text.text--accent-4 {
  color: #00b8d4 !important
}

.cyan--text.text--accent-4 input, .cyan--text.text--accent-4 textarea {
  caret-color: #00b8d4 !important
}

.teal {
  background-color: #009688 !important;
  border-color: #009688 !important
}

.teal--text {
  color: #009688 !important
}

.teal--text input, .teal--text textarea {
  caret-color: #009688 !important
}

.teal--after:after {
  background: #009688 !important
}

.teal.lighten-5 {
  border-color: #e0f2f1 !important
}

.teal.lighten-5, .teal.lighten-5--after:after {
  background-color: #e0f2f1 !important
}

.teal--text.text--lighten-5 {
  color: #e0f2f1 !important
}

.teal--text.text--lighten-5 input, .teal--text.text--lighten-5 textarea {
  caret-color: #e0f2f1 !important
}

.teal.lighten-4 {
  border-color: #b2dfdb !important
}

.teal.lighten-4, .teal.lighten-4--after:after {
  background-color: #b2dfdb !important
}

.teal--text.text--lighten-4 {
  color: #b2dfdb !important
}

.teal--text.text--lighten-4 input, .teal--text.text--lighten-4 textarea {
  caret-color: #b2dfdb !important
}

.teal.lighten-3 {
  border-color: #80cbc4 !important
}

.teal.lighten-3, .teal.lighten-3--after:after {
  background-color: #80cbc4 !important
}

.teal--text.text--lighten-3 {
  color: #80cbc4 !important
}

.teal--text.text--lighten-3 input, .teal--text.text--lighten-3 textarea {
  caret-color: #80cbc4 !important
}

.teal.lighten-2 {
  border-color: #4db6ac !important
}

.teal.lighten-2, .teal.lighten-2--after:after {
  background-color: #4db6ac !important
}

.teal--text.text--lighten-2 {
  color: #4db6ac !important
}

.teal--text.text--lighten-2 input, .teal--text.text--lighten-2 textarea {
  caret-color: #4db6ac !important
}

.teal.lighten-1 {
  border-color: #26a69a !important
}

.teal.lighten-1, .teal.lighten-1--after:after {
  background-color: #26a69a !important
}

.teal--text.text--lighten-1 {
  color: #26a69a !important
}

.teal--text.text--lighten-1 input, .teal--text.text--lighten-1 textarea {
  caret-color: #26a69a !important
}

.teal.darken-1 {
  border-color: #00897b !important
}

.teal.darken-1, .teal.darken-1--after:after {
  background-color: #00897b !important
}

.teal--text.text--darken-1 {
  color: #00897b !important
}

.teal--text.text--darken-1 input, .teal--text.text--darken-1 textarea {
  caret-color: #00897b !important
}

.teal.darken-2 {
  border-color: #00796b !important
}

.teal.darken-2, .teal.darken-2--after:after {
  background-color: #00796b !important
}

.teal--text.text--darken-2 {
  color: #00796b !important
}

.teal--text.text--darken-2 input, .teal--text.text--darken-2 textarea {
  caret-color: #00796b !important
}

.teal.darken-3 {
  border-color: #00695c !important
}

.teal.darken-3, .teal.darken-3--after:after {
  background-color: #00695c !important
}

.teal--text.text--darken-3 {
  color: #00695c !important
}

.teal--text.text--darken-3 input, .teal--text.text--darken-3 textarea {
  caret-color: #00695c !important
}

.teal.darken-4 {
  border-color: #004d40 !important
}

.teal.darken-4, .teal.darken-4--after:after {
  background-color: #004d40 !important
}

.teal--text.text--darken-4 {
  color: #004d40 !important
}

.teal--text.text--darken-4 input, .teal--text.text--darken-4 textarea {
  caret-color: #004d40 !important
}

.teal.accent-1 {
  border-color: #a7ffeb !important
}

.teal.accent-1, .teal.accent-1--after:after {
  background-color: #a7ffeb !important
}

.teal--text.text--accent-1 {
  color: #a7ffeb !important
}

.teal--text.text--accent-1 input, .teal--text.text--accent-1 textarea {
  caret-color: #a7ffeb !important
}

.teal.accent-2 {
  border-color: #64ffda !important
}

.teal.accent-2, .teal.accent-2--after:after {
  background-color: #64ffda !important
}

.teal--text.text--accent-2 {
  color: #64ffda !important
}

.teal--text.text--accent-2 input, .teal--text.text--accent-2 textarea {
  caret-color: #64ffda !important
}

.teal.accent-3 {
  border-color: #1de9b6 !important
}

.teal.accent-3, .teal.accent-3--after:after {
  background-color: #1de9b6 !important
}

.teal--text.text--accent-3 {
  color: #1de9b6 !important
}

.teal--text.text--accent-3 input, .teal--text.text--accent-3 textarea {
  caret-color: #1de9b6 !important
}

.teal.accent-4 {
  border-color: #00bfa5 !important
}

.teal.accent-4, .teal.accent-4--after:after {
  background-color: #00bfa5 !important
}

.teal--text.text--accent-4 {
  color: #00bfa5 !important
}

.teal--text.text--accent-4 input, .teal--text.text--accent-4 textarea {
  caret-color: #00bfa5 !important
}

.green {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important
}

.green--text {
  color: #4caf50 !important
}

.green--text input, .green--text textarea {
  caret-color: #4caf50 !important
}

.green--after:after {
  background: #4caf50 !important
}

.green.lighten-5 {
  border-color: #e8f5e9 !important
}

.green.lighten-5, .green.lighten-5--after:after {
  background-color: #e8f5e9 !important
}

.green--text.text--lighten-5 {
  color: #e8f5e9 !important
}

.green--text.text--lighten-5 input, .green--text.text--lighten-5 textarea {
  caret-color: #e8f5e9 !important
}

.green.lighten-4 {
  border-color: #c8e6c9 !important
}

.green.lighten-4, .green.lighten-4--after:after {
  background-color: #c8e6c9 !important
}

.green--text.text--lighten-4 {
  color: #c8e6c9 !important
}

.green--text.text--lighten-4 input, .green--text.text--lighten-4 textarea {
  caret-color: #c8e6c9 !important
}

.green.lighten-3 {
  border-color: #a5d6a7 !important
}

.green.lighten-3, .green.lighten-3--after:after {
  background-color: #a5d6a7 !important
}

.green--text.text--lighten-3 {
  color: #a5d6a7 !important
}

.green--text.text--lighten-3 input, .green--text.text--lighten-3 textarea {
  caret-color: #a5d6a7 !important
}

.green.lighten-2 {
  border-color: #81c784 !important
}

.green.lighten-2, .green.lighten-2--after:after {
  background-color: #81c784 !important
}

.green--text.text--lighten-2 {
  color: #81c784 !important
}

.green--text.text--lighten-2 input, .green--text.text--lighten-2 textarea {
  caret-color: #81c784 !important
}

.green.lighten-1 {
  border-color: #66bb6a !important
}

.green.lighten-1, .green.lighten-1--after:after {
  background-color: #66bb6a !important
}

.green--text.text--lighten-1 {
  color: #66bb6a !important
}

.green--text.text--lighten-1 input, .green--text.text--lighten-1 textarea {
  caret-color: #66bb6a !important
}

.green.darken-1 {
  border-color: #43a047 !important
}

.green.darken-1, .green.darken-1--after:after {
  background-color: #43a047 !important
}

.green--text.text--darken-1 {
  color: #43a047 !important
}

.green--text.text--darken-1 input, .green--text.text--darken-1 textarea {
  caret-color: #43a047 !important
}

.green.darken-2 {
  border-color: #388e3c !important
}

.green.darken-2, .green.darken-2--after:after {
  background-color: #388e3c !important
}

.green--text.text--darken-2 {
  color: #388e3c !important
}

.green--text.text--darken-2 input, .green--text.text--darken-2 textarea {
  caret-color: #388e3c !important
}

.green.darken-3 {
  border-color: #2e7d32 !important
}

.green.darken-3, .green.darken-3--after:after {
  background-color: #2e7d32 !important
}

.green--text.text--darken-3 {
  color: #2e7d32 !important
}

.green--text.text--darken-3 input, .green--text.text--darken-3 textarea {
  caret-color: #2e7d32 !important
}

.green.darken-4 {
  border-color: #1b5e20 !important
}

.green.darken-4, .green.darken-4--after:after {
  background-color: #1b5e20 !important
}

.green--text.text--darken-4 {
  color: #1b5e20 !important
}

.green--text.text--darken-4 input, .green--text.text--darken-4 textarea {
  caret-color: #1b5e20 !important
}

.green.accent-1 {
  border-color: #b9f6ca !important
}

.green.accent-1, .green.accent-1--after:after {
  background-color: #b9f6ca !important
}

.green--text.text--accent-1 {
  color: #b9f6ca !important
}

.green--text.text--accent-1 input, .green--text.text--accent-1 textarea {
  caret-color: #b9f6ca !important
}

.green.accent-2 {
  border-color: #69f0ae !important
}

.green.accent-2, .green.accent-2--after:after {
  background-color: #69f0ae !important
}

.green--text.text--accent-2 {
  color: #69f0ae !important
}

.green--text.text--accent-2 input, .green--text.text--accent-2 textarea {
  caret-color: #69f0ae !important
}

.green.accent-3 {
  border-color: #00e676 !important
}

.green.accent-3, .green.accent-3--after:after {
  background-color: #00e676 !important
}

.green--text.text--accent-3 {
  color: #00e676 !important
}

.green--text.text--accent-3 input, .green--text.text--accent-3 textarea {
  caret-color: #00e676 !important
}

.green.accent-4 {
  border-color: #00c853 !important
}

.green.accent-4, .green.accent-4--after:after {
  background-color: #00c853 !important
}

.green--text.text--accent-4 {
  color: #00c853 !important
}

.green--text.text--accent-4 input, .green--text.text--accent-4 textarea {
  caret-color: #00c853 !important
}

.light-green {
  background-color: #8bc34a !important;
  border-color: #8bc34a !important
}

.light-green--text {
  color: #8bc34a !important
}

.light-green--text input, .light-green--text textarea {
  caret-color: #8bc34a !important
}

.light-green--after:after {
  background: #8bc34a !important
}

.light-green.lighten-5 {
  border-color: #f1f8e9 !important
}

.light-green.lighten-5, .light-green.lighten-5--after:after {
  background-color: #f1f8e9 !important
}

.light-green--text.text--lighten-5 {
  color: #f1f8e9 !important
}

.light-green--text.text--lighten-5 input, .light-green--text.text--lighten-5 textarea {
  caret-color: #f1f8e9 !important
}

.light-green.lighten-4 {
  border-color: #dcedc8 !important
}

.light-green.lighten-4, .light-green.lighten-4--after:after {
  background-color: #dcedc8 !important
}

.light-green--text.text--lighten-4 {
  color: #dcedc8 !important
}

.light-green--text.text--lighten-4 input, .light-green--text.text--lighten-4 textarea {
  caret-color: #dcedc8 !important
}

.light-green.lighten-3 {
  border-color: #c5e1a5 !important
}

.light-green.lighten-3, .light-green.lighten-3--after:after {
  background-color: #c5e1a5 !important
}

.light-green--text.text--lighten-3 {
  color: #c5e1a5 !important
}

.light-green--text.text--lighten-3 input, .light-green--text.text--lighten-3 textarea {
  caret-color: #c5e1a5 !important
}

.light-green.lighten-2 {
  border-color: #aed581 !important
}

.light-green.lighten-2, .light-green.lighten-2--after:after {
  background-color: #aed581 !important
}

.light-green--text.text--lighten-2 {
  color: #aed581 !important
}

.light-green--text.text--lighten-2 input, .light-green--text.text--lighten-2 textarea {
  caret-color: #aed581 !important
}

.light-green.lighten-1 {
  border-color: #9ccc65 !important
}

.light-green.lighten-1, .light-green.lighten-1--after:after {
  background-color: #9ccc65 !important
}

.light-green--text.text--lighten-1 {
  color: #9ccc65 !important
}

.light-green--text.text--lighten-1 input, .light-green--text.text--lighten-1 textarea {
  caret-color: #9ccc65 !important
}

.light-green.darken-1 {
  border-color: #7cb342 !important
}

.light-green.darken-1, .light-green.darken-1--after:after {
  background-color: #7cb342 !important
}

.light-green--text.text--darken-1 {
  color: #7cb342 !important
}

.light-green--text.text--darken-1 input, .light-green--text.text--darken-1 textarea {
  caret-color: #7cb342 !important
}

.light-green.darken-2 {
  border-color: #689f38 !important
}

.light-green.darken-2, .light-green.darken-2--after:after {
  background-color: #689f38 !important
}

.light-green--text.text--darken-2 {
  color: #689f38 !important
}

.light-green--text.text--darken-2 input, .light-green--text.text--darken-2 textarea {
  caret-color: #689f38 !important
}

.light-green.darken-3 {
  border-color: #558b2f !important
}

.light-green.darken-3, .light-green.darken-3--after:after {
  background-color: #558b2f !important
}

.light-green--text.text--darken-3 {
  color: #558b2f !important
}

.light-green--text.text--darken-3 input, .light-green--text.text--darken-3 textarea {
  caret-color: #558b2f !important
}

.light-green.darken-4 {
  border-color: #33691e !important
}

.light-green.darken-4, .light-green.darken-4--after:after {
  background-color: #33691e !important
}

.light-green--text.text--darken-4 {
  color: #33691e !important
}

.light-green--text.text--darken-4 input, .light-green--text.text--darken-4 textarea {
  caret-color: #33691e !important
}

.light-green.accent-1 {
  border-color: #ccff90 !important
}

.light-green.accent-1, .light-green.accent-1--after:after {
  background-color: #ccff90 !important
}

.light-green--text.text--accent-1 {
  color: #ccff90 !important
}

.light-green--text.text--accent-1 input, .light-green--text.text--accent-1 textarea {
  caret-color: #ccff90 !important
}

.light-green.accent-2 {
  border-color: #b2ff59 !important
}

.light-green.accent-2, .light-green.accent-2--after:after {
  background-color: #b2ff59 !important
}

.light-green--text.text--accent-2 {
  color: #b2ff59 !important
}

.light-green--text.text--accent-2 input, .light-green--text.text--accent-2 textarea {
  caret-color: #b2ff59 !important
}

.light-green.accent-3 {
  border-color: #76ff03 !important
}

.light-green.accent-3, .light-green.accent-3--after:after {
  background-color: #76ff03 !important
}

.light-green--text.text--accent-3 {
  color: #76ff03 !important
}

.light-green--text.text--accent-3 input, .light-green--text.text--accent-3 textarea {
  caret-color: #76ff03 !important
}

.light-green.accent-4 {
  border-color: #64dd17 !important
}

.light-green.accent-4, .light-green.accent-4--after:after {
  background-color: #64dd17 !important
}

.light-green--text.text--accent-4 {
  color: #64dd17 !important
}

.light-green--text.text--accent-4 input, .light-green--text.text--accent-4 textarea {
  caret-color: #64dd17 !important
}

.lime {
  background-color: #cddc39 !important;
  border-color: #cddc39 !important
}

.lime--text {
  color: #cddc39 !important
}

.lime--text input, .lime--text textarea {
  caret-color: #cddc39 !important
}

.lime--after:after {
  background: #cddc39 !important
}

.lime.lighten-5 {
  border-color: #f9fbe7 !important
}

.lime.lighten-5, .lime.lighten-5--after:after {
  background-color: #f9fbe7 !important
}

.lime--text.text--lighten-5 {
  color: #f9fbe7 !important
}

.lime--text.text--lighten-5 input, .lime--text.text--lighten-5 textarea {
  caret-color: #f9fbe7 !important
}

.lime.lighten-4 {
  border-color: #f0f4c3 !important
}

.lime.lighten-4, .lime.lighten-4--after:after {
  background-color: #f0f4c3 !important
}

.lime--text.text--lighten-4 {
  color: #f0f4c3 !important
}

.lime--text.text--lighten-4 input, .lime--text.text--lighten-4 textarea {
  caret-color: #f0f4c3 !important
}

.lime.lighten-3 {
  border-color: #e6ee9c !important
}

.lime.lighten-3, .lime.lighten-3--after:after {
  background-color: #e6ee9c !important
}

.lime--text.text--lighten-3 {
  color: #e6ee9c !important
}

.lime--text.text--lighten-3 input, .lime--text.text--lighten-3 textarea {
  caret-color: #e6ee9c !important
}

.lime.lighten-2 {
  border-color: #dce775 !important
}

.lime.lighten-2, .lime.lighten-2--after:after {
  background-color: #dce775 !important
}

.lime--text.text--lighten-2 {
  color: #dce775 !important
}

.lime--text.text--lighten-2 input, .lime--text.text--lighten-2 textarea {
  caret-color: #dce775 !important
}

.lime.lighten-1 {
  border-color: #d4e157 !important
}

.lime.lighten-1, .lime.lighten-1--after:after {
  background-color: #d4e157 !important
}

.lime--text.text--lighten-1 {
  color: #d4e157 !important
}

.lime--text.text--lighten-1 input, .lime--text.text--lighten-1 textarea {
  caret-color: #d4e157 !important
}

.lime.darken-1 {
  border-color: #c0ca33 !important
}

.lime.darken-1, .lime.darken-1--after:after {
  background-color: #c0ca33 !important
}

.lime--text.text--darken-1 {
  color: #c0ca33 !important
}

.lime--text.text--darken-1 input, .lime--text.text--darken-1 textarea {
  caret-color: #c0ca33 !important
}

.lime.darken-2 {
  border-color: #afb42b !important
}

.lime.darken-2, .lime.darken-2--after:after {
  background-color: #afb42b !important
}

.lime--text.text--darken-2 {
  color: #afb42b !important
}

.lime--text.text--darken-2 input, .lime--text.text--darken-2 textarea {
  caret-color: #afb42b !important
}

.lime.darken-3 {
  border-color: #9e9d24 !important
}

.lime.darken-3, .lime.darken-3--after:after {
  background-color: #9e9d24 !important
}

.lime--text.text--darken-3 {
  color: #9e9d24 !important
}

.lime--text.text--darken-3 input, .lime--text.text--darken-3 textarea {
  caret-color: #9e9d24 !important
}

.lime.darken-4 {
  border-color: #827717 !important
}

.lime.darken-4, .lime.darken-4--after:after {
  background-color: #827717 !important
}

.lime--text.text--darken-4 {
  color: #827717 !important
}

.lime--text.text--darken-4 input, .lime--text.text--darken-4 textarea {
  caret-color: #827717 !important
}

.lime.accent-1 {
  border-color: #f4ff81 !important
}

.lime.accent-1, .lime.accent-1--after:after {
  background-color: #f4ff81 !important
}

.lime--text.text--accent-1 {
  color: #f4ff81 !important
}

.lime--text.text--accent-1 input, .lime--text.text--accent-1 textarea {
  caret-color: #f4ff81 !important
}

.lime.accent-2 {
  border-color: #eeff41 !important
}

.lime.accent-2, .lime.accent-2--after:after {
  background-color: #eeff41 !important
}

.lime--text.text--accent-2 {
  color: #eeff41 !important
}

.lime--text.text--accent-2 input, .lime--text.text--accent-2 textarea {
  caret-color: #eeff41 !important
}

.lime.accent-3 {
  border-color: #c6ff00 !important
}

.lime.accent-3, .lime.accent-3--after:after {
  background-color: #c6ff00 !important
}

.lime--text.text--accent-3 {
  color: #c6ff00 !important
}

.lime--text.text--accent-3 input, .lime--text.text--accent-3 textarea {
  caret-color: #c6ff00 !important
}

.lime.accent-4 {
  border-color: #aeea00 !important
}

.lime.accent-4, .lime.accent-4--after:after {
  background-color: #aeea00 !important
}

.lime--text.text--accent-4 {
  color: #aeea00 !important
}

.lime--text.text--accent-4 input, .lime--text.text--accent-4 textarea {
  caret-color: #aeea00 !important
}

.yellow {
  background-color: #ffeb3b !important;
  border-color: #ffeb3b !important
}

.yellow--text {
  color: #ffeb3b !important
}

.yellow--text input, .yellow--text textarea {
  caret-color: #ffeb3b !important
}

.yellow--after:after {
  background: #ffeb3b !important
}

.yellow.lighten-5 {
  border-color: #fffde7 !important
}

.yellow.lighten-5, .yellow.lighten-5--after:after {
  background-color: #fffde7 !important
}

.yellow--text.text--lighten-5 {
  color: #fffde7 !important
}

.yellow--text.text--lighten-5 input, .yellow--text.text--lighten-5 textarea {
  caret-color: #fffde7 !important
}

.yellow.lighten-4 {
  border-color: #fff9c4 !important
}

.yellow.lighten-4, .yellow.lighten-4--after:after {
  background-color: #fff9c4 !important
}

.yellow--text.text--lighten-4 {
  color: #fff9c4 !important
}

.yellow--text.text--lighten-4 input, .yellow--text.text--lighten-4 textarea {
  caret-color: #fff9c4 !important
}

.yellow.lighten-3 {
  border-color: #fff59d !important
}

.yellow.lighten-3, .yellow.lighten-3--after:after {
  background-color: #fff59d !important
}

.yellow--text.text--lighten-3 {
  color: #fff59d !important
}

.yellow--text.text--lighten-3 input, .yellow--text.text--lighten-3 textarea {
  caret-color: #fff59d !important
}

.yellow.lighten-2 {
  border-color: #fff176 !important
}

.yellow.lighten-2, .yellow.lighten-2--after:after {
  background-color: #fff176 !important
}

.yellow--text.text--lighten-2 {
  color: #fff176 !important
}

.yellow--text.text--lighten-2 input, .yellow--text.text--lighten-2 textarea {
  caret-color: #fff176 !important
}

.yellow.lighten-1 {
  border-color: #ffee58 !important
}

.yellow.lighten-1, .yellow.lighten-1--after:after {
  background-color: #ffee58 !important
}

.yellow--text.text--lighten-1 {
  color: #ffee58 !important
}

.yellow--text.text--lighten-1 input, .yellow--text.text--lighten-1 textarea {
  caret-color: #ffee58 !important
}

.yellow.darken-1 {
  border-color: #fdd835 !important
}

.yellow.darken-1, .yellow.darken-1--after:after {
  background-color: #fdd835 !important
}

.yellow--text.text--darken-1 {
  color: #fdd835 !important
}

.yellow--text.text--darken-1 input, .yellow--text.text--darken-1 textarea {
  caret-color: #fdd835 !important
}

.yellow.darken-2 {
  border-color: #fbc02d !important
}

.yellow.darken-2, .yellow.darken-2--after:after {
  background-color: #fbc02d !important
}

.yellow--text.text--darken-2 {
  color: #fbc02d !important
}

.yellow--text.text--darken-2 input, .yellow--text.text--darken-2 textarea {
  caret-color: #fbc02d !important
}

.yellow.darken-3 {
  border-color: #f9a825 !important
}

.yellow.darken-3, .yellow.darken-3--after:after {
  background-color: #f9a825 !important
}

.yellow--text.text--darken-3 {
  color: #f9a825 !important
}

.yellow--text.text--darken-3 input, .yellow--text.text--darken-3 textarea {
  caret-color: #f9a825 !important
}

.yellow.darken-4 {
  border-color: #f57f17 !important
}

.yellow.darken-4, .yellow.darken-4--after:after {
  background-color: #f57f17 !important
}

.yellow--text.text--darken-4 {
  color: #f57f17 !important
}

.yellow--text.text--darken-4 input, .yellow--text.text--darken-4 textarea {
  caret-color: #f57f17 !important
}

.yellow.accent-1 {
  border-color: #ffff8d !important
}

.yellow.accent-1, .yellow.accent-1--after:after {
  background-color: #ffff8d !important
}

.yellow--text.text--accent-1 {
  color: #ffff8d !important
}

.yellow--text.text--accent-1 input, .yellow--text.text--accent-1 textarea {
  caret-color: #ffff8d !important
}

.yellow.accent-2 {
  border-color: #ff0 !important
}

.yellow.accent-2, .yellow.accent-2--after:after {
  background-color: #ff0 !important
}

.yellow--text.text--accent-2 {
  color: #ff0 !important
}

.yellow--text.text--accent-2 input, .yellow--text.text--accent-2 textarea {
  caret-color: #ff0 !important
}

.yellow.accent-3 {
  border-color: #ffea00 !important
}

.yellow.accent-3, .yellow.accent-3--after:after {
  background-color: #ffea00 !important
}

.yellow--text.text--accent-3 {
  color: #ffea00 !important
}

.yellow--text.text--accent-3 input, .yellow--text.text--accent-3 textarea {
  caret-color: #ffea00 !important
}

.yellow.accent-4 {
  border-color: #ffd600 !important
}

.yellow.accent-4, .yellow.accent-4--after:after {
  background-color: #ffd600 !important
}

.yellow--text.text--accent-4 {
  color: #ffd600 !important
}

.yellow--text.text--accent-4 input, .yellow--text.text--accent-4 textarea {
  caret-color: #ffd600 !important
}

.amber {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important
}

.amber--text {
  color: #ffc107 !important
}

.amber--text input, .amber--text textarea {
  caret-color: #ffc107 !important
}

.amber--after:after {
  background: #ffc107 !important
}

.amber.lighten-5 {
  border-color: #fff8e1 !important
}

.amber.lighten-5, .amber.lighten-5--after:after {
  background-color: #fff8e1 !important
}

.amber--text.text--lighten-5 {
  color: #fff8e1 !important
}

.amber--text.text--lighten-5 input, .amber--text.text--lighten-5 textarea {
  caret-color: #fff8e1 !important
}

.amber.lighten-4 {
  border-color: #ffecb3 !important
}

.amber.lighten-4, .amber.lighten-4--after:after {
  background-color: #ffecb3 !important
}

.amber--text.text--lighten-4 {
  color: #ffecb3 !important
}

.amber--text.text--lighten-4 input, .amber--text.text--lighten-4 textarea {
  caret-color: #ffecb3 !important
}

.amber.lighten-3 {
  border-color: #ffe082 !important
}

.amber.lighten-3, .amber.lighten-3--after:after {
  background-color: #ffe082 !important
}

.amber--text.text--lighten-3 {
  color: #ffe082 !important
}

.amber--text.text--lighten-3 input, .amber--text.text--lighten-3 textarea {
  caret-color: #ffe082 !important
}

.amber.lighten-2 {
  border-color: #ffd54f !important
}

.amber.lighten-2, .amber.lighten-2--after:after {
  background-color: #ffd54f !important
}

.amber--text.text--lighten-2 {
  color: #ffd54f !important
}

.amber--text.text--lighten-2 input, .amber--text.text--lighten-2 textarea {
  caret-color: #ffd54f !important
}

.amber.lighten-1 {
  border-color: #ffca28 !important
}

.amber.lighten-1, .amber.lighten-1--after:after {
  background-color: #ffca28 !important
}

.amber--text.text--lighten-1 {
  color: #ffca28 !important
}

.amber--text.text--lighten-1 input, .amber--text.text--lighten-1 textarea {
  caret-color: #ffca28 !important
}

.amber.darken-1 {
  border-color: #ffb300 !important
}

.amber.darken-1, .amber.darken-1--after:after {
  background-color: #ffb300 !important
}

.amber--text.text--darken-1 {
  color: #ffb300 !important
}

.amber--text.text--darken-1 input, .amber--text.text--darken-1 textarea {
  caret-color: #ffb300 !important
}

.amber.darken-2 {
  border-color: #ffa000 !important
}

.amber.darken-2, .amber.darken-2--after:after {
  background-color: #ffa000 !important
}

.amber--text.text--darken-2 {
  color: #ffa000 !important
}

.amber--text.text--darken-2 input, .amber--text.text--darken-2 textarea {
  caret-color: #ffa000 !important
}

.amber.darken-3 {
  border-color: #ff8f00 !important
}

.amber.darken-3, .amber.darken-3--after:after {
  background-color: #ff8f00 !important
}

.amber--text.text--darken-3 {
  color: #ff8f00 !important
}

.amber--text.text--darken-3 input, .amber--text.text--darken-3 textarea {
  caret-color: #ff8f00 !important
}

.amber.darken-4 {
  border-color: #ff6f00 !important
}

.amber.darken-4, .amber.darken-4--after:after {
  background-color: #ff6f00 !important
}

.amber--text.text--darken-4 {
  color: #ff6f00 !important
}

.amber--text.text--darken-4 input, .amber--text.text--darken-4 textarea {
  caret-color: #ff6f00 !important
}

.amber.accent-1 {
  border-color: #ffe57f !important
}

.amber.accent-1, .amber.accent-1--after:after {
  background-color: #ffe57f !important
}

.amber--text.text--accent-1 {
  color: #ffe57f !important
}

.amber--text.text--accent-1 input, .amber--text.text--accent-1 textarea {
  caret-color: #ffe57f !important
}

.amber.accent-2 {
  border-color: #ffd740 !important
}

.amber.accent-2, .amber.accent-2--after:after {
  background-color: #ffd740 !important
}

.amber--text.text--accent-2 {
  color: #ffd740 !important
}

.amber--text.text--accent-2 input, .amber--text.text--accent-2 textarea {
  caret-color: #ffd740 !important
}

.amber.accent-3 {
  border-color: #ffc400 !important
}

.amber.accent-3, .amber.accent-3--after:after {
  background-color: #ffc400 !important
}

.amber--text.text--accent-3 {
  color: #ffc400 !important
}

.amber--text.text--accent-3 input, .amber--text.text--accent-3 textarea {
  caret-color: #ffc400 !important
}

.amber.accent-4 {
  border-color: #ffab00 !important
}

.amber.accent-4, .amber.accent-4--after:after {
  background-color: #ffab00 !important
}

.amber--text.text--accent-4 {
  color: #ffab00 !important
}

.amber--text.text--accent-4 input, .amber--text.text--accent-4 textarea {
  caret-color: #ffab00 !important
}

.orange {
  background-color: #ff9800 !important;
  border-color: #ff9800 !important
}

.orange--text {
  color: #ff9800 !important
}

.orange--text input, .orange--text textarea {
  caret-color: #ff9800 !important
}

.orange--after:after {
  background: #ff9800 !important
}

.orange.lighten-5 {
  border-color: #fff3e0 !important
}

.orange.lighten-5, .orange.lighten-5--after:after {
  background-color: #fff3e0 !important
}

.orange--text.text--lighten-5 {
  color: #fff3e0 !important
}

.orange--text.text--lighten-5 input, .orange--text.text--lighten-5 textarea {
  caret-color: #fff3e0 !important
}

.orange.lighten-4 {
  border-color: #ffe0b2 !important
}

.orange.lighten-4, .orange.lighten-4--after:after {
  background-color: #ffe0b2 !important
}

.orange--text.text--lighten-4 {
  color: #ffe0b2 !important
}

.orange--text.text--lighten-4 input, .orange--text.text--lighten-4 textarea {
  caret-color: #ffe0b2 !important
}

.orange.lighten-3 {
  border-color: #ffcc80 !important
}

.orange.lighten-3, .orange.lighten-3--after:after {
  background-color: #ffcc80 !important
}

.orange--text.text--lighten-3 {
  color: #ffcc80 !important
}

.orange--text.text--lighten-3 input, .orange--text.text--lighten-3 textarea {
  caret-color: #ffcc80 !important
}

.orange.lighten-2 {
  border-color: #ffb74d !important
}

.orange.lighten-2, .orange.lighten-2--after:after {
  background-color: #ffb74d !important
}

.orange--text.text--lighten-2 {
  color: #ffb74d !important
}

.orange--text.text--lighten-2 input, .orange--text.text--lighten-2 textarea {
  caret-color: #ffb74d !important
}

.orange.lighten-1 {
  border-color: #ffa726 !important
}

.orange.lighten-1, .orange.lighten-1--after:after {
  background-color: #ffa726 !important
}

.orange--text.text--lighten-1 {
  color: #ffa726 !important
}

.orange--text.text--lighten-1 input, .orange--text.text--lighten-1 textarea {
  caret-color: #ffa726 !important
}

.orange.darken-1 {
  border-color: #fb8c00 !important
}

.orange.darken-1, .orange.darken-1--after:after {
  background-color: #fb8c00 !important
}

.orange--text.text--darken-1 {
  color: #fb8c00 !important
}

.orange--text.text--darken-1 input, .orange--text.text--darken-1 textarea {
  caret-color: #fb8c00 !important
}

.orange.darken-2 {
  border-color: #f57c00 !important
}

.orange.darken-2, .orange.darken-2--after:after {
  background-color: #f57c00 !important
}

.orange--text.text--darken-2 {
  color: #f57c00 !important
}

.orange--text.text--darken-2 input, .orange--text.text--darken-2 textarea {
  caret-color: #f57c00 !important
}

.orange.darken-3 {
  border-color: #ef6c00 !important
}

.orange.darken-3, .orange.darken-3--after:after {
  background-color: #ef6c00 !important
}

.orange--text.text--darken-3 {
  color: #ef6c00 !important
}

.orange--text.text--darken-3 input, .orange--text.text--darken-3 textarea {
  caret-color: #ef6c00 !important
}

.orange.darken-4 {
  border-color: #e65100 !important
}

.orange.darken-4, .orange.darken-4--after:after {
  background-color: #e65100 !important
}

.orange--text.text--darken-4 {
  color: #e65100 !important
}

.orange--text.text--darken-4 input, .orange--text.text--darken-4 textarea {
  caret-color: #e65100 !important
}

.orange.accent-1 {
  border-color: #ffd180 !important
}

.orange.accent-1, .orange.accent-1--after:after {
  background-color: #ffd180 !important
}

.orange--text.text--accent-1 {
  color: #ffd180 !important
}

.orange--text.text--accent-1 input, .orange--text.text--accent-1 textarea {
  caret-color: #ffd180 !important
}

.orange.accent-2 {
  border-color: #ffab40 !important
}

.orange.accent-2, .orange.accent-2--after:after {
  background-color: #ffab40 !important
}

.orange--text.text--accent-2 {
  color: #ffab40 !important
}

.orange--text.text--accent-2 input, .orange--text.text--accent-2 textarea {
  caret-color: #ffab40 !important
}

.orange.accent-3 {
  border-color: #ff9100 !important
}

.orange.accent-3, .orange.accent-3--after:after {
  background-color: #ff9100 !important
}

.orange--text.text--accent-3 {
  color: #ff9100 !important
}

.orange--text.text--accent-3 input, .orange--text.text--accent-3 textarea {
  caret-color: #ff9100 !important
}

.orange.accent-4 {
  border-color: #ff6d00 !important
}

.orange.accent-4, .orange.accent-4--after:after {
  background-color: #ff6d00 !important
}

.orange--text.text--accent-4 {
  color: #ff6d00 !important
}

.orange--text.text--accent-4 input, .orange--text.text--accent-4 textarea {
  caret-color: #ff6d00 !important
}

.deep-orange {
  background-color: #ff5722 !important;
  border-color: #ff5722 !important
}

.deep-orange--text {
  color: #ff5722 !important
}

.deep-orange--text input, .deep-orange--text textarea {
  caret-color: #ff5722 !important
}

.deep-orange--after:after {
  background: #ff5722 !important
}

.deep-orange.lighten-5 {
  border-color: #fbe9e7 !important
}

.deep-orange.lighten-5, .deep-orange.lighten-5--after:after {
  background-color: #fbe9e7 !important
}

.deep-orange--text.text--lighten-5 {
  color: #fbe9e7 !important
}

.deep-orange--text.text--lighten-5 input, .deep-orange--text.text--lighten-5 textarea {
  caret-color: #fbe9e7 !important
}

.deep-orange.lighten-4 {
  border-color: #ffccbc !important
}

.deep-orange.lighten-4, .deep-orange.lighten-4--after:after {
  background-color: #ffccbc !important
}

.deep-orange--text.text--lighten-4 {
  color: #ffccbc !important
}

.deep-orange--text.text--lighten-4 input, .deep-orange--text.text--lighten-4 textarea {
  caret-color: #ffccbc !important
}

.deep-orange.lighten-3 {
  border-color: #ffab91 !important
}

.deep-orange.lighten-3, .deep-orange.lighten-3--after:after {
  background-color: #ffab91 !important
}

.deep-orange--text.text--lighten-3 {
  color: #ffab91 !important
}

.deep-orange--text.text--lighten-3 input, .deep-orange--text.text--lighten-3 textarea {
  caret-color: #ffab91 !important
}

.deep-orange.lighten-2 {
  border-color: #ff8a65 !important
}

.deep-orange.lighten-2, .deep-orange.lighten-2--after:after {
  background-color: #ff8a65 !important
}

.deep-orange--text.text--lighten-2 {
  color: #ff8a65 !important
}

.deep-orange--text.text--lighten-2 input, .deep-orange--text.text--lighten-2 textarea {
  caret-color: #ff8a65 !important
}

.deep-orange.lighten-1 {
  border-color: #ff7043 !important
}

.deep-orange.lighten-1, .deep-orange.lighten-1--after:after {
  background-color: #ff7043 !important
}

.deep-orange--text.text--lighten-1 {
  color: #ff7043 !important
}

.deep-orange--text.text--lighten-1 input, .deep-orange--text.text--lighten-1 textarea {
  caret-color: #ff7043 !important
}

.deep-orange.darken-1 {
  border-color: #f4511e !important
}

.deep-orange.darken-1, .deep-orange.darken-1--after:after {
  background-color: #f4511e !important
}

.deep-orange--text.text--darken-1 {
  color: #f4511e !important
}

.deep-orange--text.text--darken-1 input, .deep-orange--text.text--darken-1 textarea {
  caret-color: #f4511e !important
}

.deep-orange.darken-2 {
  border-color: #e64a19 !important
}

.deep-orange.darken-2, .deep-orange.darken-2--after:after {
  background-color: #e64a19 !important
}

.deep-orange--text.text--darken-2 {
  color: #e64a19 !important
}

.deep-orange--text.text--darken-2 input, .deep-orange--text.text--darken-2 textarea {
  caret-color: #e64a19 !important
}

.deep-orange.darken-3 {
  border-color: #d84315 !important
}

.deep-orange.darken-3, .deep-orange.darken-3--after:after {
  background-color: #d84315 !important
}

.deep-orange--text.text--darken-3 {
  color: #d84315 !important
}

.deep-orange--text.text--darken-3 input, .deep-orange--text.text--darken-3 textarea {
  caret-color: #d84315 !important
}

.deep-orange.darken-4 {
  border-color: #bf360c !important
}

.deep-orange.darken-4, .deep-orange.darken-4--after:after {
  background-color: #bf360c !important
}

.deep-orange--text.text--darken-4 {
  color: #bf360c !important
}

.deep-orange--text.text--darken-4 input, .deep-orange--text.text--darken-4 textarea {
  caret-color: #bf360c !important
}

.deep-orange.accent-1 {
  border-color: #ff9e80 !important
}

.deep-orange.accent-1, .deep-orange.accent-1--after:after {
  background-color: #ff9e80 !important
}

.deep-orange--text.text--accent-1 {
  color: #ff9e80 !important
}

.deep-orange--text.text--accent-1 input, .deep-orange--text.text--accent-1 textarea {
  caret-color: #ff9e80 !important
}

.deep-orange.accent-2 {
  border-color: #ff6e40 !important
}

.deep-orange.accent-2, .deep-orange.accent-2--after:after {
  background-color: #ff6e40 !important
}

.deep-orange--text.text--accent-2 {
  color: #ff6e40 !important
}

.deep-orange--text.text--accent-2 input, .deep-orange--text.text--accent-2 textarea {
  caret-color: #ff6e40 !important
}

.deep-orange.accent-3 {
  border-color: #ff3d00 !important
}

.deep-orange.accent-3, .deep-orange.accent-3--after:after {
  background-color: #ff3d00 !important
}

.deep-orange--text.text--accent-3 {
  color: #ff3d00 !important
}

.deep-orange--text.text--accent-3 input, .deep-orange--text.text--accent-3 textarea {
  caret-color: #ff3d00 !important
}

.deep-orange.accent-4 {
  border-color: #dd2c00 !important
}

.deep-orange.accent-4, .deep-orange.accent-4--after:after {
  background-color: #dd2c00 !important
}

.deep-orange--text.text--accent-4 {
  color: #dd2c00 !important
}

.deep-orange--text.text--accent-4 input, .deep-orange--text.text--accent-4 textarea {
  caret-color: #dd2c00 !important
}

.brown {
  background-color: #795548 !important;
  border-color: #795548 !important
}

.brown--text {
  color: #795548 !important
}

.brown--text input, .brown--text textarea {
  caret-color: #795548 !important
}

.brown--after:after {
  background: #795548 !important
}

.brown.lighten-5 {
  border-color: #efebe9 !important
}

.brown.lighten-5, .brown.lighten-5--after:after {
  background-color: #efebe9 !important
}

.brown--text.text--lighten-5 {
  color: #efebe9 !important
}

.brown--text.text--lighten-5 input, .brown--text.text--lighten-5 textarea {
  caret-color: #efebe9 !important
}

.brown.lighten-4 {
  border-color: #d7ccc8 !important
}

.brown.lighten-4, .brown.lighten-4--after:after {
  background-color: #d7ccc8 !important
}

.brown--text.text--lighten-4 {
  color: #d7ccc8 !important
}

.brown--text.text--lighten-4 input, .brown--text.text--lighten-4 textarea {
  caret-color: #d7ccc8 !important
}

.brown.lighten-3 {
  border-color: #bcaaa4 !important
}

.brown.lighten-3, .brown.lighten-3--after:after {
  background-color: #bcaaa4 !important
}

.brown--text.text--lighten-3 {
  color: #bcaaa4 !important
}

.brown--text.text--lighten-3 input, .brown--text.text--lighten-3 textarea {
  caret-color: #bcaaa4 !important
}

.brown.lighten-2 {
  border-color: #a1887f !important
}

.brown.lighten-2, .brown.lighten-2--after:after {
  background-color: #a1887f !important
}

.brown--text.text--lighten-2 {
  color: #a1887f !important
}

.brown--text.text--lighten-2 input, .brown--text.text--lighten-2 textarea {
  caret-color: #a1887f !important
}

.brown.lighten-1 {
  border-color: #8d6e63 !important
}

.brown.lighten-1, .brown.lighten-1--after:after {
  background-color: #8d6e63 !important
}

.brown--text.text--lighten-1 {
  color: #8d6e63 !important
}

.brown--text.text--lighten-1 input, .brown--text.text--lighten-1 textarea {
  caret-color: #8d6e63 !important
}

.brown.darken-1 {
  border-color: #6d4c41 !important
}

.brown.darken-1, .brown.darken-1--after:after {
  background-color: #6d4c41 !important
}

.brown--text.text--darken-1 {
  color: #6d4c41 !important
}

.brown--text.text--darken-1 input, .brown--text.text--darken-1 textarea {
  caret-color: #6d4c41 !important
}

.brown.darken-2 {
  border-color: #5d4037 !important
}

.brown.darken-2, .brown.darken-2--after:after {
  background-color: #5d4037 !important
}

.brown--text.text--darken-2 {
  color: #5d4037 !important
}

.brown--text.text--darken-2 input, .brown--text.text--darken-2 textarea {
  caret-color: #5d4037 !important
}

.brown.darken-3 {
  border-color: #4e342e !important
}

.brown.darken-3, .brown.darken-3--after:after {
  background-color: #4e342e !important
}

.brown--text.text--darken-3 {
  color: #4e342e !important
}

.brown--text.text--darken-3 input, .brown--text.text--darken-3 textarea {
  caret-color: #4e342e !important
}

.brown.darken-4 {
  border-color: #3e2723 !important
}

.brown.darken-4, .brown.darken-4--after:after {
  background-color: #3e2723 !important
}

.brown--text.text--darken-4 {
  color: #3e2723 !important
}

.brown--text.text--darken-4 input, .brown--text.text--darken-4 textarea {
  caret-color: #3e2723 !important
}

.blue-grey {
  background-color: #607d8b !important;
  border-color: #607d8b !important
}

.blue-grey--text {
  color: #607d8b !important
}

.blue-grey--text input, .blue-grey--text textarea {
  caret-color: #607d8b !important
}

.blue-grey--after:after {
  background: #607d8b !important
}

.blue-grey.lighten-5 {
  border-color: #eceff1 !important
}

.blue-grey.lighten-5, .blue-grey.lighten-5--after:after {
  background-color: #eceff1 !important
}

.blue-grey--text.text--lighten-5 {
  color: #eceff1 !important
}

.blue-grey--text.text--lighten-5 input, .blue-grey--text.text--lighten-5 textarea {
  caret-color: #eceff1 !important
}

.blue-grey.lighten-4 {
  border-color: #cfd8dc !important
}

.blue-grey.lighten-4, .blue-grey.lighten-4--after:after {
  background-color: #cfd8dc !important
}

.blue-grey--text.text--lighten-4 {
  color: #cfd8dc !important
}

.blue-grey--text.text--lighten-4 input, .blue-grey--text.text--lighten-4 textarea {
  caret-color: #cfd8dc !important
}

.blue-grey.lighten-3 {
  border-color: #b0bec5 !important
}

.blue-grey.lighten-3, .blue-grey.lighten-3--after:after {
  background-color: #b0bec5 !important
}

.blue-grey--text.text--lighten-3 {
  color: #b0bec5 !important
}

.blue-grey--text.text--lighten-3 input, .blue-grey--text.text--lighten-3 textarea {
  caret-color: #b0bec5 !important
}

.blue-grey.lighten-2 {
  border-color: #90a4ae !important
}

.blue-grey.lighten-2, .blue-grey.lighten-2--after:after {
  background-color: #90a4ae !important
}

.blue-grey--text.text--lighten-2 {
  color: #90a4ae !important
}

.blue-grey--text.text--lighten-2 input, .blue-grey--text.text--lighten-2 textarea {
  caret-color: #90a4ae !important
}

.blue-grey.lighten-1 {
  border-color: #78909c !important
}

.blue-grey.lighten-1, .blue-grey.lighten-1--after:after {
  background-color: #78909c !important
}

.blue-grey--text.text--lighten-1 {
  color: #78909c !important
}

.blue-grey--text.text--lighten-1 input, .blue-grey--text.text--lighten-1 textarea {
  caret-color: #78909c !important
}

.blue-grey.darken-1 {
  border-color: #546e7a !important
}

.blue-grey.darken-1, .blue-grey.darken-1--after:after {
  background-color: #546e7a !important
}

.blue-grey--text.text--darken-1 {
  color: #546e7a !important
}

.blue-grey--text.text--darken-1 input, .blue-grey--text.text--darken-1 textarea {
  caret-color: #546e7a !important
}

.blue-grey.darken-2 {
  border-color: #455a64 !important
}

.blue-grey.darken-2, .blue-grey.darken-2--after:after {
  background-color: #455a64 !important
}

.blue-grey--text.text--darken-2 {
  color: #455a64 !important
}

.blue-grey--text.text--darken-2 input, .blue-grey--text.text--darken-2 textarea {
  caret-color: #455a64 !important
}

.blue-grey.darken-3 {
  border-color: #37474f !important
}

.blue-grey.darken-3, .blue-grey.darken-3--after:after {
  background-color: #37474f !important
}

.blue-grey--text.text--darken-3 {
  color: #37474f !important
}

.blue-grey--text.text--darken-3 input, .blue-grey--text.text--darken-3 textarea {
  caret-color: #37474f !important
}

.blue-grey.darken-4 {
  border-color: #263238 !important
}

.blue-grey.darken-4, .blue-grey.darken-4--after:after {
  background-color: #263238 !important
}

.blue-grey--text.text--darken-4 {
  color: #263238 !important
}

.blue-grey--text.text--darken-4 input, .blue-grey--text.text--darken-4 textarea {
  caret-color: #263238 !important
}

.grey {
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important
}

.grey--text {
  color: #9e9e9e !important
}

.grey--text input, .grey--text textarea {
  caret-color: #9e9e9e !important
}

.grey--after:after {
  background: #9e9e9e !important
}

.grey.lighten-5 {
  border-color: #fafafa !important
}

.grey.lighten-5, .grey.lighten-5--after:after {
  background-color: #fafafa !important
}

.grey--text.text--lighten-5 {
  color: #fafafa !important
}

.grey--text.text--lighten-5 input, .grey--text.text--lighten-5 textarea {
  caret-color: #fafafa !important
}

.grey.lighten-4 {
  border-color: #f5f5f5 !important
}

.grey.lighten-4, .grey.lighten-4--after:after {
  background-color: #f5f5f5 !important
}

.grey--text.text--lighten-4 {
  color: #f5f5f5 !important
}

.grey--text.text--lighten-4 input, .grey--text.text--lighten-4 textarea {
  caret-color: #f5f5f5 !important
}

.grey.lighten-3 {
  border-color: #eee !important
}

.grey.lighten-3, .grey.lighten-3--after:after {
  background-color: #eee !important
}

.grey--text.text--lighten-3 {
  color: #eee !important
}

.grey--text.text--lighten-3 input, .grey--text.text--lighten-3 textarea {
  caret-color: #eee !important
}

.grey.lighten-2 {
  border-color: #e0e0e0 !important
}

.grey.lighten-2, .grey.lighten-2--after:after {
  background-color: #e0e0e0 !important
}

.grey--text.text--lighten-2 {
  color: #e0e0e0 !important
}

.grey--text.text--lighten-2 input, .grey--text.text--lighten-2 textarea {
  caret-color: #e0e0e0 !important
}

.grey.lighten-1 {
  border-color: #bdbdbd !important
}

.grey.lighten-1, .grey.lighten-1--after:after {
  background-color: #bdbdbd !important
}

.grey--text.text--lighten-1 {
  color: #bdbdbd !important
}

.grey--text.text--lighten-1 input, .grey--text.text--lighten-1 textarea {
  caret-color: #bdbdbd !important
}

.grey.darken-1 {
  border-color: #757575 !important
}

.grey.darken-1, .grey.darken-1--after:after {
  background-color: #757575 !important
}

.grey--text.text--darken-1 {
  color: #757575 !important
}

.grey--text.text--darken-1 input, .grey--text.text--darken-1 textarea {
  caret-color: #757575 !important
}

.grey.darken-2 {
  border-color: #000 !important
}

.grey.darken-2, .grey.darken-2--after:after {
  background-color: #000 !important
}

.grey--text.text--darken-2 {
  color: #616161 !important
}

.grey--text.text--darken-2 input, .grey--text.text--darken-2 textarea {
  caret-color: #616161 !important
}

.grey.darken-3 {
  border-color: #424242 !important
}

.grey.darken-3, .grey.darken-3--after:after {
  background-color: #424242 !important
}

.grey--text.text--darken-3 {
  color: #424242 !important
}

.grey--text.text--darken-3 input, .grey--text.text--darken-3 textarea {
  caret-color: #424242 !important
}

.grey.darken-4 {
  border-color: #212121 !important
}

.grey.darken-4, .grey.darken-4--after:after {
  background-color: #212121 !important
}

.grey--text.text--darken-4 {
  color: #212121 !important
}

.grey--text.text--darken-4 input, .grey--text.text--darken-4 textarea {
  caret-color: #212121 !important
}

.primary {
  background-color: #8C7F4A !important
  border-color: #8C7F4A !important
}

.primary--text {
  color: #8C7F4A !important
  caret-color: #8C7F4A !important
}