<template>
  <rc-container width="1200px">
    <div class="row reset-password d-flex justify-content-center" slot="rc-content">
      <div class="col-12 d-flex justify-content-center">
        <h1>Reset Password</h1>
      </div>
      <div class="col-12 col-sm-6 d-flex justify-content-center">
        <div class="form-group w-100">
          <div class="form-row d-flex justify-content-center my-3">
            <div class="col-8">
              <input type="password" placeholder="New Password (7 chars. min.)" class="form-control reset-form" v-model="passwordInput" :class=" passwordInput.length > 7 ? 'form-success' : passwordInput.length > 3 ? 'form-error' : ''"/>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center my-3">
            <div class="col-8">
              <input type="password" placeholder="Confirm Password" class="form-control reset-form" v-model="confirmPasswordInput" :class="confirmPasswordInput.length < 3 ? '' : passwordMatch ? 'form-success' : 'form-error'"/>
              <div class="text-danger w-100 text-center"><small>{{this.error}}</small></div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-3 d-flex justify-content-center">
              <button class="btn btn-secondary button-primary" :class="validated ? '' : 'disabled'" @click="submitPasswordReset">
                <loading-button initial="Update Password" :loading="loading"/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </rc-container>
</template>
<script>
import rcContainer from '~/components/layout/Container'
import LoadingButton from '~/components/elements/LoadingButton'
import axios from '~/plugins/axios'

export default {
  name: 'ForgotPassword',
  components: {'rc-container': rcContainer, 'loading-button': LoadingButton},
  data () {
    return {
      passwordInput: '',
      confirmPasswordInput: '',
      token: null,
      loading: false,
      error: ''
    }
  },
  beforeMount () {
    this.token = this.$nuxt.$router.currentRoute.params.id
    console.log(this.token)
  },
  computed: {
    passwordMatch () {
      if (this.passwordInput === this.confirmPasswordInput) {
        return true
      } else {
        return false
      }
    },
    validated () {
      if (this.passwordMatch && this.passwordInput.length > 6) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    submitPasswordReset () {
      if (this.validated) {
        this.loading = true
        let adminApi;
        if (process.env.NODE_ENV === "production") {
          adminApi = 'https://adminapi.rapchat.me/api/admin/resetpassword'
        } else {
          adminApi = 'https://adminapidev.rapchat.me/api/admin/resetpassword'
        }
        axios.post(adminApi, {password: this.passwordInput, resetPasswordToken: this.token}).then(res => {
          if (res.data.success) {
            this.loading = false
            this.$nuxt.$router.push({path: '/producers'})
          } else {
            this.loading = false
            this.error = res.data.message
          }
        }).catch(e => {
          this.error = e.response.data.message
          this.loading = false
        })
      }
    }
  }
}
</script>
<style lang="stylus">
.reset-password {
  .button-primary {
    height: 50px;
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer
    &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
       color: black;
       height: 50px;
       border-radius: 95px;
       background-color: #8c8046;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
       outline:none;
       border:none;
     }
  }
  .button-muted{
    width: 240px;
    height: 60px;
    border-radius: 95px;
    background-color: #202323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer;
    &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      background-color: #171919 !important;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: #8c8046;
      border-radius: 95px;
      background-color: #202323;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
  }
  .reset-form {
    width: 100%;
    height: 60px;
    border:none;
    border-radius: 45px;
    background-color: #202123;
    padding-left: 25px;
    color: white;
  }
  .reset-form:focus {
    width: 100%;
    height: 60px;
    border:none !important;
    outline:none;
    border-radius: 45px;
    background-color: #202123;
    text-decoration: none;
    box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
    color: white;
  }
  .form-error:focus{
    box-shadow: 0 0 0 0.1rem rgba(173,0,2,.9);
  }
  .form-success:focus{
    box-shadow: 0 0 0 0.1rem rgba(53, 161, 95, .9)
  }
  .link-primary{
    color:#8c8046;
  }
  .disabled {
    &:hover{
      color: white;
      cursor: not-allowed;
    }
  }
}
</style>
