<template>
    <div class="rc-container" :style="'width:'+width">
            <slot name="rc-header"></slot>
            <slot name="rc-content"></slot>
    </div>
</template>

<script>
    export default{
        props:{
            'width':{
                type : String,
                required : false,
                default : '920px'
            }
        }
    }
</script>

<style lang="stylus">
    .rc-container {
        max-width: 100%;
        margin: auto;
        padding: 30px 0px 60px;
        .rc-header {
            h1 {
                font-size: 1.4em;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
    @media (max-width: 750px) {
        .rc-container {
            margin-top: 40px;
            padding: 30px 10px 60px;
        }
    }
</style>
