<template>
  <div class="feed">
    <div class="snap-item" v-for="item in items" v-if="items.length > 0">
      <FeedCard :item="item"/>
      <!-- <span @click="scrollTop">back to top</span> -->
    </div>
    <div v-else>
      Loading...
    </div>
  </div>
</template>
<script>
import FeedCard from '~/components/cards/FeedCard'
import {mapState} from 'vuex'
import _ from 'lodash'
export default {
  components: {
    FeedCard
  },
  props: {
    'items': {type: Array, required: true, default: () => []}
  },
  data () {
    return {
      currentItem: 0
    }
  },
  beforeMount () {
  },
  methods: {
    // scrollSnap: _.throttle((e, ctx) => {
    //   console.log(event, e, ctx)
    //   e.stopPropagation()
    //   let el = document.getElementById(ctx.items[ctx.currentItem+1]._id)
    //   console.log('interceptor')
    //   el.scrollIntoView()
    //   ctx.currentItem += 1
    // }, 800)
  }
}
</script>
<style lang="stylus">
.feed
  
  scroll-snap-type y mandatory
  .snap
    scroll-snap-type always
  .snap-item
    @media (min-width: 450px)
      height 500px
  .feed-nav.active
    border-bottom 1px solid rgba(255,255,255,.6)

</style>
