<template>
    <div class="footer pb-0 text-center" :class="playerRunning ? 'paddingBottom' : ''">
        <!-- <div class="call-to-action">
            <div class="button">
                <a  target="_blank" href="https://rapch.at/twsPV5JCsP" class="text-link"></a>
            </div>
        </div> -->
        <b-container class="footer-bottom">
            <b-row>
                <b-col md="2" class="col-6">
                    <b-nav class="bottom-nav">
                        <b-nav-item target="_blank" href="https://angel.co/rapchat/jobs">Jobs</b-nav-item>
                        <b-nav-item target="_blank">
                            <router-link to="/blog" class="nav-link p-0" >
                                Blog
                            </router-link>
                        </b-nav-item>
                        <b-nav-item target="_blank" href="https://www.crunchbase.com/organization/rapchat#section-overview">Investors</b-nav-item>
                        <b-nav-item href="/privacy">Privacy</b-nav-item>
                        <b-nav-item href="/terms">Terms of Service</b-nav-item>
                    </b-nav>
                </b-col>
                <b-col md="3" class="col-6">
                    <b-nav class="bottom-nav">
                        <b-nav-item href="/producers">Producers</b-nav-item>
                        <b-nav-item href="/beats">Beats</b-nav-item>
                        <b-nav-item href="/contests">Contests</b-nav-item>
                        <b-nav-item target="_blank" href="mailto:support@rapchat.me">Support</b-nav-item>
                        <b-nav-item href="https://rapchat.zendesk.com/hc/en-us" target="_blank">FAQ</b-nav-item>
                    </b-nav>
                </b-col>
                <b-col md="7" class="pl-4 text-right" :class="isMobile ? 'pr-4' : 'pr-0'">
                    <div class="social flex justify-space-between">
                        <div class="social-link">
                            <a href="http://www.facebook.com/rapchat.me/">
                                <icon name='brands/facebook'></icon>
                            </a>
                        </div>
                        <div class="social-link">
                            <a href="http://www.twitter.com/rapchat_app">
                                <icon name='brands/twitter'></icon>
                            </a>
                        </div>
                        <div class="social-link">
                            <a href="http://www.instagram.com/rapchatapp/">
                                <icon name='brands/instagram'></icon>
                            </a>
                        </div>
                        <div class="social-link">
                            <a href="http://soundcloud.com/rapchat" class="soundcloud-icon">
                                <icon name='brands/soundcloud'></icon>
                            </a>
                        </div>
                        <div class="social-link">
                            <a href="mailto:support@rapchat.me">
                                <icon name='envelope'></icon>
                            </a>
                        </div>
                    </div>
                    <div class="call-to-action">
                        <div class="button">
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=me.rapchat.rapchat&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                   class="google-play"></a>
                        </div>
                        <div class="button">
                            <a target="_blank" href="http://rapch.at/stbg/hhtgeC3cyJ" class="app-store"></a>
                        </div>
                    </div>
                </b-col>
            </b-row>
            <b-row class="px-2">
                <b-col cols="12" class="copyright-outter">
                    <span class="copyright">© 2019 Rapchat</span>
                </b-col>
            </b-row>
        </b-container>
    </div>

</template>

<script>

    import isMobile from '~/mixins/isMobile'
    export default {
        mixins: [isMobile],
        props: ['playerRunning'],
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    /* FOOTER */
    .no-bg{
        background: none !important;
    }
    .footer {
        &.paddingBottom {
            padding-bottom: 130px !important;
        }
        min-height: 300px;
        padding-top: 60px;
        position: relative;
        .bottom-nav a:hover{
            color: $theme.primary;
        }
        .display-1{
            font-weight: 100
        }
        .call-to-action {
            max-width: 860px;
            margin-bottom: 100px;
        }
        .slogan {
            margin: 4em 0;
        }
        .button {
          background: #000;
        }
        .social {
            max-width: 700px;
            padding-right: 0 !important;
            padding-left: 3rem;
            a {
                font-size: 2.5rem;
                transition: 0.1s color;
                svg {
                    width: 35px !important;
                    height: 35px !important;
                }
                &.soundcloud-icon {
                    svg {
                        width: 70px !important;
                    }
                }
            }
            a:hover {
                color: $theme.primary;
            }
        }
        li.nav-item {
            width: 100%;
            text-align: left;
        }
        .copyright-outter {
            text-align: right;
            .copyright {
                /* background: url(../../static/img/copyright.png) no-repeat; */
                color: rgba(255,255,255,.4)
                width: 172px;
                height: 25px;
                display: inline-flex;
            }
        }
    }

    .footer * {
        position: relative;
        z-index: 1;
        .text-me {
            margin-top: 80px;
            a img {
            transition: 0.1s transform;
        }
        a:hover img {
            transform: scale(1.03);
        }
        img {
            max-height: 58px;
        }
        h1 {
            font-size: 44px;
            font-weight: 300;
        }
    }

    }

    .footer-nav {
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 60px;
        ul {
            list-style: none;
            margin: 60px 0 0;
            li {
                margin: 0 40px;
            }
        }
    }

    @media (max-width: 750px) {
        .footer {
            &.paddingBottom {
                padding-bottom: 220px !important;
            }
            li {
                &.nav-item {
                    font-size: 12px;
                }
            }
            min-height: 200px;
            padding-top: 0px;
            .call-to-action {
                margin-bottom: 0px;
                .button {
                    min-width: 40%;
                    height: 60px;
                    margin-bottom: 40px;
                }
            }
            .social {
                margin-top: 50px;
                padding-left: 0;
            }
            h1 {
                text-align: center;
                font-size: 1.6em;
                line-height: 1.8em;
            }
            .footer-bottom & button {
                margin: 20px auto;
                display: block;
                a {
                    margin: 0 auto;
                }
            }
        }

        .footer-nav ul li {
            margin: 0 20px;
        }

    }

    /* CALL TO ACTION */
    .call-to-action {
        display: flex;
        width: 100%;
        max-width: 600px;
        display: flex;
        margin: 10px auto;
        .footer-bottom & {
            margin: 20px auto 0 !important;
            display: block;
            text-align: right;
        }
        .button {
            flex: 1;
            margin: 0 30px;
            a.google-play {
                background: url(../../static/img/google_play.png) no-repeat center;
                background-size: contain;
            }
            a.app-store {
                background: url(../../static/img/app_store.png) no-repeat center;
                background-size: contain;
            }
            a.text-link {
                background: url(../../static/img/get_app.png) no-repeat center;
                background-size: contain;
            }
            a {
                display: block;
                width: 228px;
                height: 60px;
                text-indent: -999em;
                margin: 0 auto;
                overflow: hidden;
                transition: 0.1s transform;
            }
            a:hover {
                transform: scale(1.03);
            }
            .footer-bottom & a {
                width: 188px;
                margin: 0;
                &.google-play {
                    background: url(../../static/img/footer-google-play.png) no-repeat center;
                    background-size: contain;
                    height: 57px;
                }
                &.app-store {
                    background: url(../../static/img/footer-app-store.png) no-repeat center;
                    background-size: contain;
                    height: 56px;
                }
            }
        }
        .footer-bottom & .button {
            display: inline-block;
            margin: 0;
            &:first-child {
                padding: 0 48px;
            }
        }
    }

    @media (max-width: 1086px) {
        .call-to-action {
            flex-wrap: wrap;
            .button {
                margin: 0 4px;
                a {
                    width: 90%;
                    height: 62px;
                }
            }
        }
        .footer-bottom & .button {
            display: inline-block;
            margin: 0;
            &:first-child {
                padding: 0 20px !important;
            }
        }
    }

    @media (max-width: 992px) {
        .footer-bottom & .button {
            &:first-child {
                padding: 0 10px !important;
            }
        }
    }

     @media (max-width: 750px) {
        .footer-bottom {
            .call-to-action {
                display: none;
                .button {
                    margin: 20px auto;
                    display: block;
                    a {
                        margin: 0 auto;
                    }
                }
            }
            .copyright-outter {
                text-align: center;
            }
        }
    }
</style>
