<template>
    <div :style="style">
        <div class="header-mask" v-if="isMobile && navActive"></div>
        <div class="header-block" :class="navActive && 'nav-active'" >
            <div class="header px-3">
                <div class="contain flex justify-space-between" :class="isMobile ? 'column' : 'row'">
                    <div class="logo flex mr-0 justify-center">
                        <router-link :to="''"><img src="/img/transparent.png"></router-link>
                    </div>
                    <a href="#" id="toggle-menu" @click="navActive = !navActive">
                        <img src="/menu.svg" alt="Menu" class="closed" v-if="!navActive">
                        <img src="/close_menu.svg" alt="Menu" class="opened" v-else>
                    </a>
                    <div v-if="navActive || !isMobile">
                        <b-nav :vertical="isMobile" :justified="isMobile">
                            <li class="nav-item" v-if="user">
                              <div class="nav-link" :class="isMobile && 'py-2 title'"><UploadStatus/>
                              </div>
                            </li>
                            <li class="nav-item" @click="redirectToShop()">
                                <router-link to="/#" class="nav-link" :class="isMobile && 'py-2 title'">Shop
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/trending" class="nav-link" :class="isMobile && 'py-2 title'">Trending
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/beats" class="nav-link" :class="isMobile && 'py-2 title'">Beats
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/producers" class="nav-link" :class="isMobile && 'py-2 title'">
                                  <span v-if="!this.user">
                                  Producers
                                  </span>
                                  <span v-else>
                                    All Producers
                                  </span>
                                </router-link>
                            </li>
                            <li class="nav-item" v-if="!user">
                                <router-link to="/rapnamegenerator" class="nav-link" :class="isMobile && 'py-2 title'">Rap Name Generator
                                </router-link>
                            </li>
                            <li class="nav-item" v-if=!user>
                                <router-link to="/login" class="nav-link" :class="isMobile && 'py-2 title'">Sign Up / Sign In
                                </router-link>
                            </li>
                            <b-nav-item-dropdown v-else-if="user" class="nav-dropdown-control" right>
                              <template slot="button-content">
                                <div class="media position-relative justify-content-center">
                                  <div class="user-nav-img-container rounded-circle mr-2">
                                    <img class="user-nav-img" :src="getUserProfileImg(user.profilephoto)" v-if="user.profilephoto" style="min-height: 100%; min-width: 100%;">
                                    <img class="user-nav-img" src="~/static/img/group-4@3x.png" v-else>
                                  </div>
                                  <div :class="isMobile ? '': 'media-body'">
                                    {{user.username}}
                                  </div>
                                </div>
                              </template>
                              <!-- <b-dropdown-item :to="`/feed`" class="text-right">
                                <div>Feed</div>
                              </b-dropdown-item> -->
                              <!-- <b-dropdown-item :to="`/producers/${user._id}`" class="text-right">
                                <div>My Beats</div>
                              </b-dropdown-item> -->
                              <!-- <b-dropdown-item :to="`/profile/${user._id}`" class="text-right">
                                <div>My Raps</div>
                              </b-dropdown-item> -->
                              <b-dropdown-item :to="`/profile/${user._id}`" class="text-right">
                                <div>Profile</div>
                              </b-dropdown-item>
                              <b-dropdown-item href="#" class="text-right" @click="logEvent('Upload Beat Dropdown Clicked ', {'userId':user._id})">
                                <template v-if="user.isProducer || user.producer">
                                  <div v-b-modal.submitBeats>
                                    <span v-if="user.isPlatinumProducer">
                                      Upload
                                    </span>
                                    <span v-else>Upload </span>
                                      Beat
                                  </div>
                                </template>
                                <template v-else>
                                  <div v-b-modal.activeUserModal>Upload Beat</div>
                                </template>
                              </b-dropdown-item>
                               <div class="dropdown-divider"></div>
                               <!-- <b-dropdown-item :to="`/producers/${user._id}`" class="text-right" >
                                 <div v-b-modal.editInfo @click="logEvent('Edit Profile Dropdown Clicked', {'userId':user._id})">
                                   Edit Profile
                                 </div>
                               </b-dropdown-item> -->
                               <b-dropdown-item href="#" class="text-right text-signout" @click.prevent="signoutUser">
                                 <div>Sign Out</div>
                               </b-dropdown-item>
                            </b-nav-item-dropdown>
                        </b-nav>
                    </div>
                </div>
            </div>
        </div>
      <b-modal id="editInfo"
        ref="editInfoModal"
        :hide-footer="true"
        :busy="true"
        size="lg"
        >
         <EditProfileModal/>
         <div slot="modal-footer"></div>
       </b-modal>
       <b-modal id="editUser"
        ref="editUserModal"
        :hide-footer="true"
        :busy="true"
        size="lg"
        >
         <EditUserModal />
         <div slot="modal-footer"></div>
       </b-modal>
       <b-modal id="submitBeats"
         :hide-footer="true"
         :busy="true"
         size="lg"
         >
          <SubmitModal/>
        </b-modal>
        <b-modal id="continueBeats"
         :hide-footer="true"
         :busy="true" size="sm">
          <ContinueModal/>
        </b-modal>
        <b-modal id="downloadModal" :hide-footer="true" :busy="true" size="md">
          <DownloadModal/>
        </b-modal>
        <b-modal id="likeDownloadModal" :hide-footer="true" :busy="true" size="md">
          <DownloadModal
            headerCopy="Like this Rap?"
            bodyCopy="Check out more raps and videos on the app!"
            buttonCopy="Get the App"
          />
        </b-modal>
        <b-modal id="recordDownloadModal" :hide-footer="true" :busy="true" size="md">
          <DownloadModal
            headerCopy="Ready to record a rap?"
            bodyCopy="Rap on this beat and 5000+ more on the Rapchat app!"
            buttonCopy="Hit the Studio"
          />
        </b-modal>
        <b-modal id="welcomeModal" :hide-footer="true" :busy="true" size="lg">
          <WelcomeModal/>
        </b-modal>
        <b-modal id="activeUserModal" :hide-footer="true" :busy="true" size="md" @hide="toFeed">
          <ActiveUserModal/>
        </b-modal>
   </div>
</template>
<script>
    import isMobile from '~/mixins/isMobile'
    import { mapState, mapActions } from 'vuex'
    import SubmitModal from '~/components/elements/SubmitModal'
    import ContinueModal from '~/components/elements/ContinueModal'
    import EditProfileModal from '~/components/elements/EditProfileModal'
    import EditUserModal from '~/components/elements/EditUserModal'
    import UploadStatus from '~/components/elements/UploadStatus'
    import DownloadModal from '~/components/elements/DownloadModal'
    import WelcomeModal from '~/components/elements/WelcomeModal'
    import ActiveUserModal from '~/components/elements/ActiveUserModal'

    export default {
        name: "Header",
        mixins: [isMobile],
        components: { SubmitModal,ContinueModal, EditProfileModal, EditUserModal, UploadStatus, DownloadModal, WelcomeModal, ActiveUserModal},
        data() {
            return {
                navActive: false
            }
        },
        computed: {
          ...mapState({
            user: state => state.currentUser,
            uploadStatus: state => state.uploadStatus,
          }),
          style () {
            if (this.$route.name === 'download') {
              return 'z-index: 100'
            } else if (this.$route.name === 'index') {
              return "position: absolute; background-color: rgba(0,0,0,0); z-index: 300; width: 100vw"
            }
          }
        },
        watch: {
            '$route' () {
                if (isMobile) {
                    this.navActive = false
                }
            }
        },
        methods: {
            ...mapActions({
              logout: 'logoutUser'
            }),
            toggleMenu() {
                this.navActive = !this.navActive;
            },
            getUserProfileImg (img) {
              if (this.user) {
                let url = `https://cdn.rapchat.me/images/${img}`
                return url
              }
            },
            redirectToShop () {
              window.open("https://shop.rapchat.me", "_blank");
            },
            signoutUser () {
              this.logEvent('Sign Out', {'userId':this.user._id})
              this.logout()
              this.$nuxt.$router.push({path: '/login'})
              // this.$nuxt.$router.push({path: '/producers'})
            },
            toFeed () {
              if (!this.user.isProducer || !this.user.producer) {
                this.$nuxt.$router.push({path: `/profile/${this.user._id}`})
              }
            },
            logEvent (event, data) {
              if (process.browser) {
                let ampl = amplitude.getInstance()
                ampl.init('e93869e9ffb55d729fa1eddcd851786f')
                ampl.logEvent(`Producers - ${event}`, data)
              }
            }
        }
    }
</script>
<style lang="stylus">
    .nav-active {
        background: #000;
        color: #fff;
    }
    .header-block {
        min-height: 90px;
        z-index: 200;
        .header {
            .contain {
                max-width: 1200px;
                margin: 20px auto 10px;
                .logo img {
                    max-height: 56px;
                }
            }
            a {
                text-decoration: none;
                color: #fff;
            }
            a:hover, a.nuxt-link-exact-active {
                color: #ad9557;
            }
            a#toggle-menu {
                display: none;
            }
            ul.nav {
                margin-top: 9px;
                li.nav-item {
                    .nav-link {
                      font-size: 18px;
                      padding: .5rem 2.5rem;
                      font-weight: 500;
                      @media (max-width: 1086px) {
                        padding: .5rem 1rem;
                      }
                    }
                    :last-child a {
                      padding-right: 0;
                    }
                }
                .user-nav-img-container {
                  width: 20px;
                  height: 20px;
                  overflow: hidden;
                  position: relative;
                }
                .user-nav-img {
                  height:27px;
                  position: absolute;
                  margin: 0 auto;
                  left: 50%;
                  top: 50%;
                  -webkit-transform: translateY(-50%) translateX(-50%);
                  -moz-transform: translateY(-50%) translateX(-50%);
                }
                .text-top {
                  vertical-align: top;
                }
                .dropdown-menu {
                  background-color: transparent;
                  a {
                    &:focus {
                      border: none;
                      outline: none;
                      background-color: black;
                    }
                    &:hover {
                      border: none;
                      outline: none;
                      background-color: black;
                    }
                  }
                }
                .dropdown-item.active {
                  background-color: black;
                  &:active{
                    background-color: black;
                  }
                }
                .dropdown-toggle::after {
                  display:none;
                }
            }
        }
    }

    .modal-content {
      background-color: black;
      .modal-header {
        border-bottom: none !important;
        .close {
          color: white;
          text-shadow: none;
          &:hover {
            color: #8c8046;
            text-shadow: none !important;
            cursor: pointer;
          }
        }
      }
      .modal-footer {
        border-top: none !important;
      }
    }
    #downloadModal___BV_modal_outer_ {
      .modal-dialog {
        top: 15%;
      }
      .modal-content {
        background-color: #17191b;
      }
    }

    @media (max-width: 800px) {
        .header-mask {
            background: rgba(0,0,0,.7);
            position:  fixed;
            width:  100vw;
            height: 100vh;
            z-index: 98;
        }
        .header-block {
            z-index: 99;
            position: absolute;
            width: 100%;
            &:not(.nav-active) {
                ul.nav {
                    display: none;
                }
            }
            &.nav-active {
                position: fixed;
            }
            ul.nav {
                li.nav-item {
                    width: 100%;
                }
            }
            .header {
                .contain {
                   margin: 10px auto;
                }
                .logo {
                    flex: 1;
                    z-index: 100;
                    img {
                        height: 40px;
                    }
                }
                a#toggle-menu {
                    position: fixed;
                    top: 24px;
                    left: 24px;
                    display: inline-block;
                    z-index: 101;
                    width: 30px;
                }
            }
        }
    }
    .badge-gold {
      background-color: #8c8046;
      align:top;
    }
    .sticky-top.side-bar
    {
      position: fixed;
      top: 80px;
      width: 400px;
      @media (max-width: 767px) {
        display: none;
      }
    }
    .feed > .col-12{margin-top:115px}
</style>
