<template>
    <b-container>
        <b-row align-v="center" align-h="center">
            <div class="loader-box">
                <div class="loader"></div>
                <img src="/logo.png" width="75">
            </div>
        </b-row>
    </b-container>
</template>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .loader-box{
        height: 90px;
        width: 90px;
        position: relative;
        .loader {
            position: absolute;
            border: 8px solid #141414;
            border-radius: 50%;
            border-top: 8px solid $theme.primary;
            border-left: 8px solid $theme.primary;
            width: 90px;
            height: 90px;
            -webkit-animation: spin 1.8s ease-in-out infinite;
            animation: spin 1.8s ease-in-out infinite;
            background: white
            margin: 0px auto;
        }

        img{
            position: absolute;
            transform: scale(0.5);
            z-index: 5;
            left: 7px;
            top: 7px;
        }

        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }

</style>
<style>
    _:-ms-fullscreen, :root img {
        left: 0px !important;
    }
</style>