<template>
  <div>
    <transition name="minimize">
      <div class="player" v-show="currentSong !== null && !hidden">
          <span class="hide-button" @click="hidden=true">
            <icon name="chevron-circle-down" class="fa-chevron-down" scale="1.5"></icon>
          </span>
          <div class="contain flex align-center justify-space-between pa-3">
              <div class="track flex row align-center mx-0" :class="isMobile ? '' : 'media'">
                  <div class="image img-link mr-2 d-flex" :style="{
                      'background': 'url(' + imageLink + ') no-repeat center center',
                      }" v-if="currentSong" @click="toTrack(currentSong)">
                  </div>
                  <div class="info" :class="isMobile ? 'w-75' : 'media-body w-50'" v-if="currentSong && song.type==='rap'">
                      <div class="title text-truncate">
                        <router-link :to="`/raps/${song.id}`" class="link-primary">
                          {{ song.title || song.name | formatTitle }}
                        </router-link>
                      </div>
                      <div class="artist">
                        <router-link :to="song.userId ? `/profile/${song.userId}`: `/profile/${song.owner._id}`" class="link-primary">
                          {{ song.artist || song.owner.username }}
                        </router-link>
                      </div>
                  </div>
                  <div class="info" :class="isMobile ? 'w-75' : 'media-body w-50'" v-if="currentSong && song.type==='beat'">
                      <div class="title text-truncate" v-if="song.status !== 'Submitted'">
                        <router-link :to="`/beats/${song.id}`" class="link-primary" >{{ currentSong.title }}</router-link>
                      </div>
                      <div class=" title text-truncate" v-else>
                        {{ currentSong.title }}
                      </div>
                      <div class="artist">
                        <router-link :to="`/profile/${song.producerId}`" class="link-primary" v-if="song.status !== 'Submitted'">
                          {{ currentSong.artist }}
                        </router-link>
                        <div class="text-truncate" v-else>
                          {{ currentSong.artist }}
                        </div>
                      </div>
                  </div>
              </div>

              <div class="controls">
                  <div class="seeker">
                      <div class="flex column">
                          <div class="flex row justify-space-between mx-0">
                              <span class="white--color body--1" v-if="currentTime">{{ currentTime }}</span>
                              <input type="range" class="seek-bar audio-seek mt-2 mx-2" id="seek-bar" value="0"/>
                              <span class="white--color body--1"
                                    v-html="duration !== 'NaN:NaN' ? duration: '0:00'"></span>
                          </div>
                      </div>
                  </div>

                  <div class="buttons flex align-center justify-center pt-2">
                      <div class="button mx-3 mt-2" v-show="false">
                          <button @click="shuffle = !shuffle" class="transparent pointer" :class="shuffle ? 'primary--text' : 'white--text'">
                              <icon name="random" class="random-icon"></icon>
                          </button>
                      </div>

                      <div class="button mx-3 mt-2">
                          <button @click="playPrevTrack" class="transparent white--color" :style="songIndex <= 0 ? 'color: grey !important' : 'cursor: pointer'" :class="songIndex <= 0 ? '':'hover'">
                              <icon name="fast-backward" class="fast-backward"></icon>
                          </button>
                      </div>

                      <div class="button mx-3">
                          <button @click="togglePlay" class="playing pointer align-center flex justify-center white--color ma-2"
                                  :class="!isPlaying && 'paused'">
                              <PlayButton :playing="isPlaying" :height="55"/>
                          </button>
                      </div>

                      <div class="button mx-3 mt-2">
                          <button @click="playNextTrack" class="transparent pointer white--color skip hover">
                              <icon name="fast-forward" class="fast-forward"></icon>
                          </button>
                      </div>
                  </div>
              </div>

              <div class="call-to-action">
                  <a href="https://rapch.at/stbg/pygc8FuUGI"
                     class="button py-3 px-4 white--color text-center use-beat" v-if="isMobile">
                     <span v-if="playerView !== 'beat'">Open in App</span>
                     <span v-else>Rap on This Beat</span>
                   </a>
              </div>
              <audio id="myAudio"></audio>
          </div>
      </div>
    </transition>
    <transition name="show-hidden">
      <div class="hidden-player d-flex justify-content-center" v-if="currentSong && hidden">
        <div @click="hidden=false" v-if="!isMobile">
          <icon name="chevron-circle-up" class="fa-chevron-up" scale="1.5"></icon>
        </div>
        <div class="d-flex justify-content-around align-items-center w-100 h-100" :class="isMobile ? '' : 'mr-4'">
          <div class="image-sm img-link" :style="{
              'background': 'url(' + imageLink + ') no-repeat center center',
              }" v-if="currentSong" @click="toTrack(currentSong)">
          </div>
          <div @click="playPrevTrack" class="d-flex align-items-center justify-content-center">
            <icon :style="songIndex <= 0 ? 'color: grey !important' : 'cursor: pointer'" name="fast-backward" class="fast-backward"  :class="songIndex <= 0 ? '': 'hover'"></icon>
          </div>
          <div @click="togglePlay" class="play-button-small d-flex align-items-center justify-content-center">
            <PlayButton :playing="isPlaying"/>
          </div>
          <div @click="playNextTrack" class="d-flex align-items-center justify-content-center">
            <icon name="fast-forward" class="fast-forward small-icon" ></icon>
          </div>
          <div class="d-flex align-items-center justify-content-center" style="width: 45px;" @click="hidden=false" v-if="isMobile">
            <img src="~/static/img/fill-1@3x.png" style="position:absolute; width:20px; right: 0; margin-right: 5%;">
          </div>
        </div>
      </div>
    </transition>
    </div>
  </div>
</template>

<script>
    import axios from '~/plugins/axios'
    import {mapState, mapActions} from 'vuex'
    import {mapGetters} from 'vuex'
    import isMobile from '~/mixins/isMobile.js'
    import PlayButton from '~/components/elements/PlayButton'

    export default {
        props: ['playerRunning'],
        mixins:[isMobile],
        components: {
            PlayButton
        },
        name: 'player',
        data () {
            return {
                currentSong: null,
                playerInstance: 0,
                duration: 0,
                currentTime: 0,
                shuffle: false,
                seekedTo: 0,
                playDuration: -1.0,
                playCounted: false,
                playIndex: 0,
                hidden: false,
            };
        },
        computed: {
           ...mapState(['song', 'songs', 'playerView', 'isPlaying', 'currentUser']),
           songIndex () {
             const searchId = (item) => {
               return item.id === this.$store.state.song.id
             }
             let index = this.$store.state.songs.findIndex(searchId)
             return index
           },
           imageLink () {
             let blob = this.currentSong.image.slice(0,4)
             if (blob !== 'http') {
               return `https://cdn.rapchat.me/images/${this.currentSong.image}`
             } else {
               return this.currentSong.image
             }
           }
        },
        watch: {
            '$route': 'closePlayer',
            song () {
                this.$emit('update', true)
                if (this.currentSong) {
                  this.updateEvent(this.currentSong)
                  this.playIndex += 1
                }
                this.playDuration = 0.0
                this.changeSeek(0.0)
                this.playSound(this.song)
                this.playCounted = false
                this.seekedTo = false
            },
            songs () {
              this.playIndex = 0
            },
            currentTime () {
              if (this.isPlaying) {
                let increaseDuration = _.throttle(() => {
                  this.playDuration += 1.0
                }, 1000, {trailing: true})
                increaseDuration()
              }
              if (this.playerInstance.currentTime >= 2 && this.isPlaying && !this.playCounted && !this.seekedTo) {
                this.incrementPlayCount(this.song)
              } else if (this.seekedTo && !this.playCounted) {
                if (this.playerInstance.currentTime - this.seekedTo >= 2) {
                  this.incrementPlayCount(this.song)
                  // console.log('current time - seekedTo > 6')
                }
              }
            },
            isPlaying () {
              if (this.isPlaying) {
                this.playerInstance.paused ? this.playerInstance.play() : ''
              } else {
                !this.playerInstance.paused ? this.playerInstance.pause() : ''
              }
            }
        },
        mounted() {
            this.playerInstance = document.createElement("AUDIO");
            let seekBar = document.getElementById('seek-bar')
            let _this = this;
            seekBar.addEventListener('input', () => {
                let seconds = _this.playerInstance.duration * seekBar.value / 100
                _this.playerInstance.currentTime = seconds
                _this.changeSeek(seconds)
            })
            window.player = this;
            this.playerInstance.onplay = () => {
                _this.$store.state.isPlaying = true;
            }
            this.playerInstance.onpause = () => {
                _this.$store.state.isPlaying = false;
            }
            this.setAudioDuration()
        },
        beforeDestroy () {
          this.destroyPlayer()
        },
        methods: {
            ...mapActions({
              nextTrack: 'nextSong',
              previousTrack: 'previousSong'
            }),
            formatTime (seconds) {
                let minutes = Math.floor(seconds / 60)
                let sec = Math.round(seconds - minutes * 60)
                if (sec < 10) sec = '0' + sec
                return minutes + ':' + sec
            },
            togglePlay () {
                this.$store.commit('togglePlaying')
                this.playerInstance.paused ? this.playerInstance.play() : this.playerInstance.pause();
            },
            updateSeek () {
                this.seekTrack(this.playerInstance.currentTime)
                this.currentTime = this.formatTime(this.playerInstance.currentTime)
                this.duration = this.formatTime(this.playerInstance.duration)
            },
            seekTrack (seconds) {
                let percentageComplete = seconds / this.playerInstance.duration * 100
                let seekBar = document.getElementById('seek-bar')
                seekBar.value = percentageComplete
            },
            changeSeek (seconds) {
                this.$store.state.isPlaying = false
                this.playerInstance.paused && this.playerInstance.play();
                this.seekTrack(seconds)
                // this.playing = true
                this.$store.state.isPlaying = true
                this.seekedTo = this.playerInstance.currentTime
            },
            setAudioDuration () {
              let _this = this
              this.playerInstance.addEventListener('loadedmetadata', function() {
                var seconds = this.duration
                var duration = _this.formatTime(seconds)
                _this.duration = duration
                _this.currentTime = _this.formatTime(0)
              })
            },
            playSound (track) {
                try {
                  if (!this.playCounted) {
                    this.logEvent(`${track.type || 'rap'} played`, {
                      view: this.$nuxt.$route.name,
                      ...track
                    })
                  }
                } catch (e) {
                  console.log(e)
                }
                track.blobname = track.blobname ? track.blobname : track._id
                track.src = track.type === 'rap' ? `https://cdn.rapchat.me/raps/${track.blobname}` : `https://cdn.rapchat.me/beats/${track.blobname}.m4a`
                this.playerInstance.src = track.src
                let _this = this
                this.playerInstance.load()
                this.currentSong = track
                this.playerInstance.ontimeupdate = this.updateSeek
                this.playerInstance.play();
                this.$store.state.isPlaying = true;

                _this.playerInstance.onended = () => {
                    _this.playNextTrack()
                };
            },
            playPrevTrack () {
              this.previousTrack()
            },
            playNextTrack () {
              this.nextTrack()
            },
            incrementPlayCount (track) {
              let headers = {}
              if (this.currentUser) {
                headers = {'x-zumo-auth': this.currentUser.token}
              }
              if (track.type === 'beat') {
                console.log(track)
                let id = track.beatId || track.options[0]._id
                axios({
                  method: 'POST',
                  headers: headers,
                  url: '/beats/plays',
                  data: {beatId: id}
                }).then((response) => {
                }).catch((error) => {
                  console.log(error);
                });
              } else {
                axios({
                  method: 'POST',
                  headers: headers,
                  url: '/rapincreaseplays?deviceType=Web',
                  data: {
                    rapid: track.id || track._id,
                    arrayIndex: this.songIndex,
                    playIndex: this.playIndex
                  }
                }).then(res => {
                  if (res.data.success) {
                    // do nothing
                  }
                }).catch(e => {
                  console.log(e)
                })
                // do this here so we don't double count.

              }
              this.playCounted = true
            },
            updateEvent (track) {
              if (this.playCounted && this.currentUser) {
                let playType = track.type === 'beat' ? 'BeatPlay' : 'RapPlay'
                let objId = track.type === 'beat' ? track.beatId || track.options[0]._id : track.id || track._id
                let duration = this.playDuration
                if (this.currentUser) {
                  const headers = {'x-zumo-auth': this.currentUser.token}
                  axios({
                    method: 'POST',
                    url: `/events/update?deviceType=Web`,
                    headers: headers,
                    data: {type: playType, objectId: objId, duration: this.playDuration}
                  }).then(res => {
                    // console.log(res.data.message)
                  }).catch(e => {
                    console.log(e.response.data.message)
                  })
                }
              }
            },
            hidePlayer () {
              this.hidden = true
            },
            closePlayer () {
              if (this.currentSong) {
                this.hidden = true
              }
            },
            destroyPlayer () {
              this.$emit('update', false)
              this.playerInstance.pause()
            },
            toTrack (track) {
              if (track.type === 'rap') {
                this.$nuxt.$router.push({path: `/raps/${track.id}`})
              } else if (track.type === 'beat') {
                this.$nuxt.$router.push({path: `/beats/${track.id}`})
              }
            },
            logEvent (event, data) {
              if (process.browser) {
                if (this.currentUser) {
                  let id = new amplitude.Identify()
                    .set('username', this.currentUser.username)
                    .set('user_id', this.currentUser._id)
                    .set('email', this.currentUser.email)
                  amplitude.getInstance().identify(id)
                }
                let ampl = amplitude.getInstance()
                ampl.init('e93869e9ffb55d729fa1eddcd851786f')
                ampl.logEvent(`${event}`, data)
              }
            }
        },
        filters: {
          formatTitle (title) {
            if (title) {
              title = title.trim()
              if (title[0] === '#') {
                return title.slice(0,40)
              } else {
                let newTitle = title.split("#")
                if (newTitle[0].length > 40) {
                  return newTitle[0].slice(0,40).concat('...')
                } else {
                  return newTitle[0]
                }
              }
            }
          },
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .seek-bar {
        flex: 2
        height: 2px;
        cursor: pointer !important;
        -webkit-appearance: none;
        background: #fff;
        width: 100%;
        border: 1px solid #fff
        &:focus{
          outline: none;
        }
    }

    .seek-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%
        background: #8E8249
        cursor: pointer;
        &:focus{
          outline: none;
        }
    }

    .player {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100 !important;
        background-color: rgba(32,33,35,.9);
        border-radius: 20px 20px 0px 0px;
        padding: 20px 0;
        .call-to-action {
            flex: 1;
            text-align: right;
            margin-top: 0;
            .button {
                border-radius: 50px;
                background: #8C8046;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;
                &.use-beat {
                    display: inline-block;
                    background: #8C8046;
                    border-radius: 100px;
                    transition: transform .1s,-webkit-transform .1s;
                }
            }

            .button.use-beat:hover {
                transform: scale(1.03);
                color: #fff;
                text-decoration: none;
            }
        }
        .img-link {
          &:hover {
            cursor: pointer;
          }
        }
        .small-icon {
          &:hover {
            cursor: pointer;
            color: #8c8046;
          }
        }
    }

    .contain {
        margin: 0 auto;
        max-width: 1200px;
    }

    .controls {
        flex: 3;
        .button {
            -webkit-appearance: none;
        }

        .buttons {
            .fast-backward, .fast-forward {
                width: 32.6px;
                height: 28px;

            }
            .random-icon {
                width: 24px;
                height: 24px;
            }
        }

        .transparent {
            border: 0;
            background: none;
            -webkit-appearance: none;
            outline: none;
            font-size: 1.4em;
            transition: 0.2s opacity;

            &:disabled {
                opacity: 0.4;
            }
        }

        .playing {
            background: transparent
            height: 60px;
            width: 60px;
            border-radius: 150px;
            border: none;
            font-size: 1.4em;
            outline: 0;
            position: relative !important;
            .fa-icon {
                width: 24px !important;
                height: 28px !important;
                max-width: 100% !important;
                font-size: 50px !important;
                position: absolute;
                transform: translateX(-50%) translateY(-50%);
                top: 50%;
                left: 50%;
            }
            &.paused {
                .fa-icon {
                    width: 38px !important;
                    height: 29px !important;
                    margin-left: 1px !important;
                }
            }
            svg{
                color: $theme.primary;
            }
        }
    }

    .track {
        padding: 20px;
        flex: 1;

        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 14px;
        }

        .artist {
            font-size: 12px;
        }

        .image {
          height: 65px;
          width: 65px;
          background: #333;
          border-radius: 12px;
          border: 2px solid #222;
          position: relative;
          background-size: cover !important;
        }
    }
    .hide-icon {
      position: relative;
      top: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .hide-button {
      position: absolute;
      right: 0;
      bottom: 103%
      margin-right: 1%;
      &:hover{
        border-color: #8c8046;
        color: #8c8046;
      }
      .fa-chevron-down{
        color: white;
        z-index: 10000 !important;
        &:hover {
          cursor: pointer;
          color: #8c8046;
        }
      }
    }

    .hidden-player {
        z-index: 10000 !important;
        position: fixed;
        background-color: rgba(32,33,35,.9)
        border-radius: 40px;
        border: 2px solid #222;
        width: 250px;
        height: 60px;
        bottom: 13px;
        right: 160px;
        @media (max-width: 650px) {
            right: 0px;
            width: 100%;
            height: 320;
            border-radius: 20px 20px 0px 0px;
            background-color: rgba(32,33,35,.9)
            bottom: 0px;
            border: none;
            border-top: 2px solid #222;
          }
        .fa-chevron-up {
            position: absolute;
            right: 2%;
            bottom: 75%
            &:hover {
            cursor: pointer;
            color: #8c8046;
            }
        }
        .small-icon {
          &:hover {
            cursor: pointer;
            color: #8c8046;
          }
        }
        .play.small-icon, .pause.small-icon {
          color: #8c8046;
        }
        .image-sm {
          height: 45px;
          width: 45px;
          background: #333;
          border-radius: 8px;
          border: 2px solid #222;
          position: relative;
          background-size: cover !important;
          &:hover{
            cursor: pointer;
          }
        }
        .play-circle {
          border: 2px solid #8c8046;
          height: 35px;
          width: 35px;
          border-radius: 100%;
        }
    }

    .show-button-border {
      position: fixed;
      width: 30px;
      height: 30px;
      border: 2px solid white;
      border-radius: 100%;
      right: 10px;
      bottom: 47px;
      margin: auto;
      &:hover {
        border: 2px solid #8c8046;
      }
    }

    @media (max-width: 750px) {
            .player {
                padding: 0;
            }
        .contain {
            flex-direction: column;
            padding: 10px;

            .call-to-action {
                margin: 10px auto;
            }

            .controls {
                width: 100%;
                padding-bottom: 6px;
            }

            .track {
                width: 100%;
                justify-content: space-between;
                padding: 0 0 5px;

                .info {
                    display: flex;
                    align-items: center;
                    padding: 0 6px;

                    .title {
                        margin-bottom: 0;
                    }

                    .artist {
                        margin-left: 5px;
                    }
                }

                .image {
                    padding: 0;
                    order: 2;

                    img {
                        width: 24px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    .hover {
      &:hover{
        cursor: pointer;
        color: #8c8046;
      }
    }
    .link-primary {
      &:hover {
        color: #8c8046;
        text-decoration: none;
      }
    }
    .minimize-enter-active {
      transition: all .3s ease;
    }
    .minimize-leave-active {
      transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      opacity: 0
    }
    .minimize-enter, .minimize-leave-to {
      transform: translateY(60px);
    }
    .show-hidden-enter-active {
      opacity: 0
    }
    .show-hidden-enter-active {
      transition: all .3s ease
    }

</style>
