@font-face { 
  font-family: "Avenir"; 
  src: url("~assets/fonts/AvenirLTStd-Light.otf");
  font-style: normal; 
}

@font-face { 
  font-family: "AvenirBook"; 
  src: url("~assets/fonts/AvenirLTStd-Book.otf");
  font-style: normal; 
}

@font-face { 
  font-family: "AvenirMedium"; 
  src: url("~assets/fonts/AvenirLTStd-Medium.otf");
  font-style: normal; 
}

/*Colors*/
.white--color {
  color: white
}
.caption {
  font-size: 12px
}
.body--1 {
  font-size: 14px;
}
.body--2 {
  font-size: 14px;
  font-weight: 500;
}
.subheading {
  font-size: 18px;
  font-weight: 500;
}
.title {
  font-size: 20px
}
.headline {
  font-size: 24px
}
.medium {
  font-size: 30px
}
.display-1 {
  font-size: 34px;
  font-weight: 500
}
.display-2 {
  font-size: 42px
}