<template>
  <rc-container width="1200px" class="desktop-player" >
    <div slot="rc-content" class="row d-flex justify-content-center" v-if="pageView === 'beats'">
      <div class="col-12 col-sm-4">
        <div class="row">
          <div class="col-12 col-sm-8">
            <div id="playBeat" class="beat-artwork d-flex justify-content-center align-items-center" :style="{
                'background': 'url(' + artwork + ') no-repeat center center',
                }" @click.prevent="playAudio(item, 'beat')">

                  <PlayButton :playing="playing"/>

            </div>
            <div class="beat-data mt-3">
              <ul class="list-inline d-flex justify-content-between">
                <li class="list-inline-item">
                  <img src="~/static/img/play-icon-sm.png" class="icon-sm action-icon" v-b-modal.downloadModal>
                  {{item.options[0].plays | bigNumber}}
                </li>
                <li class="list-inline-item">
                  <div>
                      <img src="~/static/img/microphone.svg" class="icon-sm action-icon" v-b-modal.downloadModal/>
                    {{item.beatRapsCount | bigNumber}}
                  </div>
                </li>
                <li class="list-inline-item" style="align-text-center">
                  <icon name="heart-o" class="pointer action-icon" @click="likeOrDislikeBeat(true)" v-if="!item.isFavorite"></icon>
                  <img src="~/static/img/beat-favorite-icon.png" v-else-if="item.isFavorite" @click="likeOrDislikeBeat(false)">
                  {{item.beatFavoritesCount | bigNumber}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mt-5 text-center download" v-if="!currentUser">
          <h5>RECORD OVER THIS BEAT ON THE RAPCHAT APP</h5>
          <div class="col-6">
            <img src="~/static/img/vocal-tune-device-half.png" class="w-100">
          </div>
          <div class="col-6 text-center mt-5">
            <router-link to="/download" target="_blank">
              <button id="downloadButton" class="btn btn-secondary button-primary mt-2 w-100">
                GET THE APP
              </button>
            </router-link>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 ml-sm-5">
        <div class="beat-info">
          <span class="beat-head">BEAT</span>
          <div class="beat-title">
            {{item.title}}
          </div>
          <div class="media mt-3 d-flex align-items-center">
            <div class="producer-avi" :style="{
                'background': 'url(' + producerAvi + ') no-repeat center center',
                }" v-if="producerAvi" @click="toProducer">
            </div>
            <img class="placeholder-avi" src="~/static/img/group-4@3x.png" v-else @click="toProducer">
            <div class="media-body ml-2">
              <div class="beat-artist">
                <router-link :to="`/profile/${item.producerId}`" class="link-secondary producer-link" v-if="item.producerId">
                  {{item.artist}}
                </router-link>
                <span v-else>
                  {{item.artist}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="beat-raps-container mt-5">
          <div class="beat-head" v-if="beatTrendingRaps">TRENDING RAPS OVER THIS BEAT</div>
          <BeatTrendingRaps :beatTrendingRaps="beatTrendingRaps" :loadingFirst="loadingFirst" :loadingRaps="loadingRaps" v-on:load-more="loadMoreTrendingRaps"/>
        </div>
      </div>
    </div>
    <div slot="rc-content" class="row d-flex justify-content-center" v-else>
        <div class="col-12 col-sm-4">
          <div class="row">
            <div class="col-12 col-sm-8">
              <div id="playRap" class="beat-artwork d-flex justify-content-center align-items-center" :style="{
                  'background': 'url(' + rapArtwork + ') no-repeat center center',
                  }" @click.prevent="playAudio(item, 'raps')">
                    <PlayButton :playing="playing"/>
                    <router-link :to="`/beats/${this.item.beat._id}`">
                      <div class="beat-overlay-img d-flex justify-content-center align-items-center"  :style="{
                          'background': 'url(' + `https://cdn.rapchat.me/images/${this.item.beat.imagefile}` + ') no-repeat center center'}"
                          >
                          beat
                      </div>
                  </router-link>
              </div>
              <div class="beat-data mt-3">
                <ul class="list-inline d-flex justify-content-between">
                  <li class="list-inline-item">
                    <img src="~/static/img/play-icon-sm.png" class="icon-sm action-icon mb-1" v-b-modal.downloadModal>
                    {{item.plays | bigNumber}}
                  </li>
                  <li class="list-inline-item">
                    <div>
                      <img src="~/static/img/comment-icon.png" class="icon-sm mb-1 action-icon" v-b-modal.downloadModal>
                      {{item.comments.length | bigNumber}}
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <img src="~/static/img/flame-icon.svg" class="icon-sm action-icon mb-1" @click="likeOrDislikeRap(true)" v-if="!item.liked">
                    <span v-else-if="item.liked" @click="likeOrDislikeRap(false)">🔥</span>
                    {{item.likes | bigNumber}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-5 download" v-if="!currentUser">
            <div class="col-12 mb-4">
              <h5>Rap over this beat with the Rapchat app</h5>
            </div>
            <div class="col-6">
              <img src="~/static/img/vocal-tune-device-half.png" class="w-100">
            </div>
            <div class="col-12 col-sm-6 text-center mt-5">
              <router-link to="/download" target="_blank">
                <button id="downloadButton" class="btn btn-secondary button-primary mt-2 w-100">
                  GET THE APP
                </button>
              </router-link>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 ml-sm-5">
          <div class="rap-info">
            <span class="beat-head">RAP</span>
            <div class="beat-title text-center text-sm-left">
              {{item.name | formatTitle}}
              <div class="tag-list">
                <ul class="list-inline">
                  <li class="list-inline-item" v-for="tag in item.tags">
                    <router-link :to="{ name: 'trending', query: {'tagid': tag._id}}" class="tag-link">
                      #{{tag.name}}
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
            <div class="media mt-3 d-flex align-items-center">
              <div class="producer-avi" :style="{
                  'background': 'url(' + artistAvi + ') no-repeat center center',
                  }" v-if="artistAvi" @click='toArtist'>
              </div>
              <img class="placeholder-avi" src="~/static/img/group-4@3x.png" v-else>
              <div class="media-body ml-2">
                <div class="beat-artist">
                  <router-link :to="`/profile/${item.owner._id}`" class="link-secondary artist-link">
                    {{item.owner.username}}
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="beat-raps-container mt-5">
            <div class="beat-head">TRENDING RAPS OVER THIS BEAT</div>
            <BeatTrendingRaps :beatTrendingRaps="beatTrendingRaps" v-if="beatTrendingRaps" :loadingFirst="loadingFirst" :loadingRaps="loadingRaps" v-on:load-more="loadMoreTrendingRaps"/>
          </div>
        </div>
    </div>
  </rc-container>
</template>

<script>
    import isPlayer from '~/mixins/isPlayer'
    import container from '~/components/layout/Container'
    import axios from '~/plugins/axios'
    import storeSong from '~/mixins/storeSong'
    import BeatTrendingRaps from '~/components/elements/BeatTrendingRaps'
    import PlayButton from '~/components/elements/PlayButton'
    import filters from '~/utils/filters'
    import { mapState, mapActions } from 'vuex'

    export default {
        name: "SharePlayerDesktop",
        props: {
            'pageView': {type: String, required: false, default: 'raps'},
            'item': {type: Object, required: false}
        },
        components: {
          'rc-container': container,
          BeatTrendingRaps,
          PlayButton
        },
        mixins: [isPlayer, storeSong],
        data () {
          return {
            error: false,
            beatTrendingRaps: null,
            songs: [],
            limit: 10,
            skip: 0,
            loadingRaps: false,
            loadingFirst: true,
          }
        },
        beforeMount () {
          let beatId;
          if (this.pageView === 'beats') {
            beatId = this.$nuxt.$router.currentRoute.params.id
            this.item.type = 'beat'
          } else {
            beatId = this.item.beat._id
            this.item.type = 'rap'
          }
          axios.get(`https://api.rapchat.me/api/discover/beattrending?beatid=${beatId}&limit=10&skip=0`, {headers:{ 'X-ZUMO-AUTH':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQ1MjAxMDQ0NTI2LCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.Kxq4rOa8dwWo-jMKi64SlHOO6C5_RJiaBILyKa2Adgg'}}).then(res => {
            this.beatTrendingRaps = res.data.raps
            this.beatTrendingRaps.forEach(rap => {
              rap.id = rap.id
              rap.title = rap.name
              let img = rap.artworkUrl ? rap.artworkUrl : rap.beat.imagefile
              rap.image = `https://cdn.rapchat.me/images/${img}`
              rap.artist = rap.owner.username
              rap.audio = rap.id
              rap.likes = rap.likes
              rap.plays = rap.plays
              rap.blobname =  rap.featuring.length > 0 ? `${rap.id}:${rap.featuring[0]._id}` : rap.id
              rap.userId = rap.owner._id
              rap.type = 'rap'
            })
            this.songs = this.beatTrendingRaps
            this.loadingFirst = false
          }).catch(e => {
            console.log(e)
            this.loadingFirst = false
          })
        },
        computed: {
          ...mapState({
            currentUser: state => state.currentUser,
            currentTrack: state => state.song,
            isPlaying: state => state.isPlaying
          }),
          artwork () {
              if (this.item.imagefile.slice(-6) === '-thumb') {
                let blob = this.item.imagefile.slice(0, -6)
                if (blob) {
                  return `https://cdn.rapchat.me/images/${blob}`
                }
              } else {
                let blob = this.item.imagefile
                if (blob) {
                  return `https://cdn.rapchat.me/images/${blob}`
                }
              }
          },
          rapArtwork () {
            let rapArtwork = this.item.artworkUrl || this.item.beat.imagefile
            return `https://cdn.rapchat.me/images/${rapArtwork}`
          },
          artistAvi () {
            let artistAvi = this.item.owner.profilephoto ? `https://cdn.rapchat.me/images/${this.item.owner.profilephoto}` : false
            return artistAvi
          },
          producerAvi () {
            if (this.item.producerInfo && this.item.producerInfo.profilephoto){
              return `https://cdn.rapchat.me/images/${this.item.producerInfo.profilephoto}`
            } else {
              return null
            }
          },
          playing () {
            if (this.currentTrack) {
              if (this.currentTrack.id === this.item.id && this.isPlaying) {
                return true
              } else {
                return false
              }
            } else {
              return false
            }
          }
        },
        methods: {
          ...mapActions({
            likeRap: 'likeRap'
          }),
          appLink () {
            branch.link({}, function(err, link) {
              console.log(err)
              window.location.replace(link)
            })
          },
          playAudio (track, type) {
            // if (this.item.id !== this.currentTrack.id ) {
            //   //change the track
            //   this.$store.commit('updateSong', track)
            //   this.$store.commit('updateView', type)
            // } else if (this.item.id === this.currentTrack.id) {
            //   //toggle playing
            //   this.$store.commit('togglePlaying')
            // }

          },
          toBeat () {
            this.$nuxt.$router.push({path:`/beats/${this.item.beat._id}`})
          },
          toArtist () {
            this.$nuxt.$router.push({path:`/profile/${this.item.owner._id}`})
          },
          toProducer () {
            if (this.item.producerId) {
              this.$nuxt.$router.push({path:`/profile/${this.item.producerId}`})
            }
          },
          likeOrDislikeBeat (liked) {
            if (this.currentUser) {
              this.likeBeat({beatId: this.item._id, liked: liked}).then(res => {
                if (res.data.success) {
                  this.item.isFavorite = liked
                  if (liked) {
                    this.item.beatFavoritesCount += 1
                  } else {
                    this.item.beatFavoritesCount -= 1
                  }
                }
              }).catch(e => {
                console.log(e)
              })
            } else {
              this.$root.$emit('bv::show::modal', 'downloadModal')
            }
          },
          likeOrDislikeRap (liked) {
            if (this.currentUser) {
              this.likeRap({rapId: this.item._id, liked: liked}).then(res => {
                if (res.data.success) {
                  this.item.liked = liked
                  if (liked) {
                    this.item.likes += 1
                  } else {
                    this.item.likes -= 1
                  }
                }
              }).catch(e => {
                console.log(e)
              })
            } else {
              this.$root.$emit('bv::show::modal', 'downloadModal')
            }
          }
        },
        filters: {
          formatTitle (title) {
            return filters.formatTitle(title)
          },
          bigNumber (number) {
            return filters.bigNumber(number)
          },
        }
    }
</script>

<style lang="stylus">
    .desktop-player{
      zoom: 1;
      .button-primary {
        height: 45px;
        border-radius: 95px;
        background-color: #8c8046;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        font-weight: 900;
        outline:none;
        border:none;
        cursor: pointer;
      }
      .button-primary:focus{
        border: none !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
      }
      .button-primary:active {
        color:black
        border: none !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
      }
      .button-primary:hover {
        color: rgb(0,0,0)
        border-radius: 95px;
        background-color: #8c8046;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        outline:none;
        border:none;
      }
      .beat-title {
        font-size: 30px;
        font-weight: 500;
      }
      .beat-artist {
        font-size: 24px;
        color: #8c8046;
        font-weight: 900;
      }
      .section-head {
        font-size: 14px
        color: #fafafa
        font-weight: 500
      }
      .beat-detail-rap-container{
        /* height: 50vh;
        overflow-y: scroll; */
      }
      .beat-data{
        width: 200px;
        @media (max-width: 650px) {
          margin: auto;
        }
      }
      .download {
        @media (max-width: 768px) {
          display: none;
        }
      }
      .tag-list {
        color:  #93a8b3;
        font-size: 14px;
      }
      .rap-index {
        font-size: 12px;
        color: #93a8b3;
      }
      .rap-title {
        font-size: 14px;
        font-weight: bold;
      }
      .rap-artist {
        font-size: 14px;
        a {
          color: gray
        }
      }
      .link-primary {
        &:hover {
          color: #8c8046;
          text-decoration: none !important;
          underline: none !important;
        }
      }
      .link-secondary {
        color: #8c8046
        &:hover {
          color: #8c8046;
        }
      }
      width: 100%;
        .rap{
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            background: -o-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            background: -moz-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            .rap-img {
                max-width: 170px;
                max-height:170px;
                border-radius: 150px;
            }
        }
      .beat-artwork {
        width: 200px;
        height: 200px;
        background: #333;
        border-radius: 12px;
        border: 2px solid #222;
        position: relative;
        background-size: cover !important;
        cursor: pointer;
        @media (max-width: 650px) {
          margin: auto;
        }
      }
      .play-count {
        color: rgba(255, 255, 255, 0.5);
        font-size:14px;
        font-weight: 500;
      }
      .rap-play-count-icon{
        height: 12px;
      }
      .beat-head{
        font-size: 14px;
        color: gray;
        letter-spacing: 3px;
      }
      .play-icon {
        transition: 0.1s opacity;
        opacity: .6;
        &:hover{
          opacity: 1;
          cursor: pointer;
        }
      }
      .icon-sm {
        margin-bottom: 9px;
        bottom: 0px;
        height: 16px;
        &:hover {
          cursor: pointer;
        }
      }
      .mic-icon {
         margin-bottom: 8px;
         height: 16px;
         bottom: 0px;
         svg, img, {
           stroke-width: 20px;
         }
       }
      .producer-avi {
        height: 40px;
        width: 40px;
        background: #333;
        border-radius: 100%;
        border: 2px solid #222;
        position: relative;
        background-size: cover !important;
      }
      .placeholder-avi {
        height: 40px;
        width: 40px;
        background: #333;
        border-radius: 100%;
        border: 2px solid #222;
        position: relative;
        background-size: cover !important;
      }
      .device-screenshot{
        height: 300px;
        /* left: -80px;
        top: -50px; */
      }
      .rap-beat-info {
        font-size: 12px;
      }
      .tag-link {
        color:  #93a8b3;
        &:hover {
          underline: #393a8b3;
        }
        &:active {
          color: #93a8b3;
        }
      }
      .beat-overlay-img{
        height:50px;
        width: 50px;
        background: #333;
        border-radius: 100%;
        border: 2px solid #222;
        position: absolute;
        background-size: cover !important;
        z-index: 100;
        right: -15px;
        bottom: -15px;
        color: white;
        font-weight: 900;
        font-size: 12px;
        &:hover{
          cursor: pointer;
        }
      }
      .pointer{
        &:hover {
          cursor: pointer;
        }
      }
    }
</style>
