<template>
  <rc-container width="1200px" class="desktop-player" >
    <div slot="rc-content" class="row d-flex justify-content-center" v-if="pageView === 'beats'">
      <div class="col-12 col-sm-4">
        <div class="row">
          <div class="col-12 col-sm-8">
            <div id="playBeat" class="beat-artwork d-flex justify-content-center align-items-center" :style="{
                'background': 'url(' + artwork + ') no-repeat center center',
                }" @click.prevent="playAudio(item, 'beat')">

                  <PlayButton :playing="playing"/>

            </div>
            <div class="beat-data mt-3">
              <ul class="list-inline d-flex justify-content-between">
                <li class="list-inline-item">
                  <img src="~/static/img/play-icon-sm.png" class="icon-sm action-icon" v-b-modal.downloadModal>
                  {{item.options[0].plays | bigNumber}}
                </li>
                <li class="list-inline-item">
                  <div>
                      <img src="~/static/img/microphone.svg" class="icon-sm action-icon" v-b-modal.downloadModal/>
                    {{item.beatRapsCount | bigNumber}}
                  </div>
                </li>
                <li class="list-inline-item" style="align-text-center">
                  <icon name="heart-o" class="pointer action-icon" @click="likeOrDislikeBeat(true)" v-if="!item.isFavorite"></icon>
                  <img src="~/static/img/beat-favorite-icon.png" v-else-if="item.isFavorite" @click="likeOrDislikeBeat(false)">
                  {{item.beatFavoritesCount | bigNumber}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mt-5 text-center download" v-if="!currentUser">
          <h5>RECORD OVER THIS BEAT ON THE RAPCHAT APP</h5>
          <div class="col-6">
            <img src="~/static/img/vocal-tune-device-half.png" class="w-100">
          </div>
          <div class="col-6 text-center mt-5">
            <router-link to="/download" target="_blank">
              <button id="downloadButton" class="btn btn-secondary button-primary mt-2 w-100">
                GET THE APP
              </button>
            </router-link>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 ml-sm-5">
        <div class="beat-info">
          <span class="beat-head">BEAT</span>
          <div class="beat-title">
            {{item.title}}
          </div>
          <div class="media mt-3 d-flex align-items-center">
            <div class="producer-avi" :style="{
                'background': 'url(' + producerAvi + ') no-repeat center center',
                }" v-if="producerAvi" @click="toProducer">
            </div>
            <img class="placeholder-avi" src="~/static/img/group-4@3x.png" v-else @click="toProducer">
            <div class="media-body ml-2">
              <div class="beat-artist">
                <router-link :to="`/profile/${item.producerId}`" class="link-secondary producer-link" v-if="item.producerId">
                  {{item.artist}}
                </router-link>
                <span v-else>
                  {{item.artist}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="beat-raps-container mt-5">
          <div class="beat-head" v-if="beatTrendingRaps">TRENDING RAPS OVER THIS BEAT</div>
          <BeatTrendingRaps :beatTrendingRaps="beatTrendingRaps" :loadingFirst="loadingFirst" :loadingRaps="loadingRaps" v-on:load-more="loadMoreTrendingRaps"/>
        </div>
      </div>
    </div>
    <div slot="rc-content" class="row d-flex justify-content-center" v-else>
        <div class="col-12 col-sm-4">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-10">
              <!-- <div id="playRap" class="beat-artwork d-flex justify-content-center align-items-center" :style="{
                  'background': 'url(' + rapArtwork + ') no-repeat center center',
                  }" @click.prevent="playAudio(item, 'raps')">
                    <PlayButton :playing="playing"/>
                    <router-link :to="`/beats/${this.item.beat._id}`">
                      <div class="beat-overlay-img d-flex justify-content-center align-items-center"  :style="{
                          'background': 'url(' + `https://cdn.rapchat.me/images/${this.item.beat.imagefile}` + ') no-repeat center center'}"
                          >
                          beat
                      </div>
                  </router-link>
              </div> -->
              <div class="video-container" :class="didPlay ? 'active' : ''" :style="{'background': `url(${item.image}) no-repeat center center`}">
                <div class="" @click="playVideo()">
                    <video id="video" class="share-video-player align-self-center" :src="`https://cdn.rapchat.me/raps/${item.blobname}`" ref="videoPlayer" v-show="didPlay" playsinline>
                    </video>
                    <PlayButton :playing="playing" class="video-play-button" v-if="!playing" style="{width: 10%}"/>
                    <div v-if="videoLoading && playing" class="small-spinner d-flex justify-content-center align-items-center"></div>
                  <div class="video-overlay d-flex justify-content-between mb-2">
                    <div class="media align-self-end d-flex align-items-center">
                      <img :src="`https://cdn.rapchat.me/images/${item.owner.profilephoto}`" height="40px" width="40px" class="rounded-circle m-2"/>
                      <div class="media-body font-weight-bold">
                        <img class="verified-check" src="~/static/img/verified-check-blue.png" height="20px" v-if="item.owner.verifiedArtist">
                        {{item.owner.username}}
                        <small>
                          <a href="/download" class="link-primary">follow</a>
                        </small>
                      </div>
                    </div>
                    <div class="control-sidebar d-flex" v-if="didPlay" @click.stop="sendLink()">
                      <ul class="list-unstyled mr-2">
                        <li class="mb-3 text-center">
                          <img :src="`https://cdn.rapchat.me/images/${item.beat.imagefile || item.beat['imagefile-small']}`" height="40px" width="40px" class="rounded-circle beat-small-img" :class="playing ? 'spin' : ''"/>
                        </li>
                        <li class="mb-1 text-center">
                          <img src="~/static/img/flame-icon-filled.svg" height="30px"/>
                        </li>
                        <li class="mb-1 text-center">
                          <img src="~/static/img/share-icon-filled.svg" height="30px"/>
                        </li>
                        <li class="mb-1 text-center">
                          <img src="~/static/img/comment-icon-filled.svg" height="30px"/>
                        </li>
                        <li class="text-center">
                          <img src="~/static/img/more.svg" height="30px"/>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 ml-sm-5">
          <div class="rap-info">
            <span class="beat-head">RAP</span>
            <div class="beat-title text-center text-sm-left">
              {{item.name | formatTitle}}
              <div class="tag-list">
                <ul class="list-inline">
                  <li class="list-inline-item" v-for="tag in item.tags">
                    <router-link :to="{ name: 'trending', query: {'tagid': tag._id}}" class="tag-link">
                      #{{tag.name}}
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
            <div class="media mt-3 d-flex align-items-center">
              <div class="producer-avi" :style="{
                  'background': 'url(' + artistAvi + ') no-repeat center center',
                  }" v-if="artistAvi" @click='toArtist'>
              </div>
              <img class="placeholder-avi" src="~/static/img/group-4@3x.png" v-else>
              <div class="media-body ml-2">
                <div class="beat-artist">
                  <router-link :to="`/profile/${item.owner._id}`" class="link-secondary artist-link">
                    {{item.owner.username}}
                  </router-link>
                </div>
              </div>
            </div>
            <!-- line divider here -->
            <div class="comment-container mt-3">
              <div><span class="font-weight-bold">{{item.plays | bigNumber}}</span> plays <span class="font-weight-heavy">•</span><span class="font-weight-bold"> {{item.likes | bigNumber}}</span> likes</div>
              <!-- <span class="font-weight-bold" style="font-size: 18px">Comments
                <span class="text-muted">({{item.comments.length || 0}})</span>
              </span>
              <div  v-for="comment in item.comments">
                <span class="font-weight-bold" style="font-size: 16px">
                  <img class="rounded-circle mr-2" :src="`https://cdn.rapchat.me/images/${comment.owner.profilephoto}`" height="25px">{{comment.owner.username}}
                </span>
                {{comment.comment}}
              </div> -->
            </div>
            <div class="row no-gutters mt-5 download" v-if="!currentUser">
              <div class="col-12 mb-1">
                <h4 class="">Record Your Own</h4>
              </div>
              <!-- <div class="col-12 col-sm-6 text-center mt-5">
                <router-link to="/download" target="_blank">
                  <button id="downloadButton" class="btn btn-secondary button-primary mt-2 w-100">
                    Record Your Own
                  </button>
                </router-link>
              </div> -->
              <div class="mt-1">
                <div class="btn-group" role="group">
                  <a target="_blank" href="https://rapch.at/DesktopAndroid" class="btn btn-secondary btn-app-store d-flex justify-content-center align-items-center">
                    <img src="~/static/img/Google_Play_Arrow_logo.svg" class="app-store-image">
                  </a>
                  <a href="https://rapch.at/DesktopiOS" target="_blank" class="btn btn-secondary btn-app-store d-flex justify-content-center align-items-center">
                    <img src="~/static/img/Apple_logo_black.svg" class="app-store-image">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </rc-container>
</template>

<script>
    import isPlayer from '~/mixins/isPlayer'
    import container from '~/components/layout/Container'
    import axios from '~/plugins/axios'
    import storeSong from '~/mixins/storeSong'
    import BeatTrendingRaps from '~/components/elements/BeatTrendingRaps'
    import PlayButton from '~/components/elements/PlayButton'
    import filters from '~/utils/filters'
    import { mapState, mapActions } from 'vuex'

    export default {
        name: "SharePlayerDesktop",
        props: {
            'pageView': {type: String, required: false, default: 'raps'},
            'item': {type: Object, required: false}
        },
        components: {
          'rc-container': container,
          BeatTrendingRaps,
          PlayButton
        },
        mixins: [isPlayer, storeSong],
        data () {
          return {
            error: false,
            beatTrendingRaps: null,
            songs: [],
            limit: 10,
            skip: 0,
            loadingRaps: false,
            loadingFirst: true,
            playing: false,
            didPlay: false,
            videoLoading: false,
            playCounted: false,
          }
        },
        beforeMount () {
          let beatId;
          if (this.pageView === 'beats') {
            beatId = this.$nuxt.$router.currentRoute.params.id
            this.item.type = 'beat'
          } else {
            beatId = this.item.beat._id
            this.item.type = 'rap'
          }
          // axios.get(`https://api.rapchat.me/api/discover/beattrending?beatid=${beatId}&limit=10&skip=0`, {headers:{ 'X-ZUMO-AUTH':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQ1MjAxMDQ0NTI2LCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.Kxq4rOa8dwWo-jMKi64SlHOO6C5_RJiaBILyKa2Adgg'}}).then(res => {
          //   this.beatTrendingRaps = res.data.raps
          //   this.beatTrendingRaps.forEach(rap => {
          //     rap.id = rap.id
          //     rap.title = rap.name
          //     let img = rap.artworkUrl ? rap.artworkUrl : rap.beat.imagefile
          //     rap.image = `https://cdn.rapchat.me/images/${img}`
          //     rap.artist = rap.owner.username
          //     rap.audio = rap.id
          //     rap.likes = rap.likes
          //     rap.plays = rap.plays
          //     rap.blobname =  rap.featuring.length > 0 ? `${rap.id}:${rap.featuring[0]._id}` : rap.id
          //     rap.userId = rap.owner._id
          //     rap.type = 'rap'
          //   })
          //   this.songs = this.beatTrendingRaps
          //   this.loadingFirst = false
          // }).catch(e => {
          //   console.log(e)
          //   this.loadingFirst = false
          // })
        },
        computed: {
          ...mapState({
            currentUser: state => state.currentUser,
            currentTrack: state => state.song,
            isPlaying: state => state.isPlaying
          }),
          artwork () {
              if (this.item.imagefile.slice(-6) === '-thumb') {
                let blob = this.item.imagefile.slice(0, -6)
                if (blob) {
                  return `https://cdn.rapchat.me/images/${blob}`
                }
              } else {
                let blob = this.item.imagefile
                if (blob) {
                  return `https://cdn.rapchat.me/images/${blob}`
                }
              }
          },
          rapArtwork () {
            let rapArtwork = this.item.artworkUrl || this.item.beat.imagefile
            return `https://cdn.rapchat.me/images/${rapArtwork}`
          },
          artistAvi () {
            let artistAvi = this.item.owner.profilephoto ? `https://cdn.rapchat.me/images/${this.item.owner.profilephoto}` : false
            return artistAvi
          },
          producerAvi () {
            if (this.item.producerInfo && this.item.producerInfo.profilephoto){
              return `https://cdn.rapchat.me/images/${this.item.producerInfo.profilephoto}`
            } else {
              return null
            }
          },
          // playing () {
          //   if (this.currentTrack) {
          //     if (this.currentTrack.id === this.item.id && this.isPlaying) {
          //       return true
          //     } else {
          //       return false
          //     }
          //   } else {
          //     return false
          //   }
          // }
        },
        methods: {
          ...mapActions({
            likeRap: 'likeRap'
          }),
          sendLink () {
            this.$nuxt.$router.go('/download')
          },
          appLink () {
            branch.link({}, function(err, link) {
              console.log(err)
              window.location.replace(link)
            })
          },
          incrementPlayCount (track) {
            let headers = {}
            if (this.currentUser) {
              headers = {'x-zumo-auth': this.currentUser.token}
            }
            if (track.type === 'beat') {
              let id = track.beatId || track.options[0]._id
              axios({
                method: 'POST',
                headers: headers,
                url: '/beats/plays',
                data: {beatId: id}
              }).then((response) => {
              }).catch((error) => {
                console.log(error);
              });
            } else {
              axios({
                method: 'POST',
                headers: headers,
                url: '/rapincreaseplays?deviceType=Web',
                data: {
                  rapid: track.id || track._id,
                  arrayIndex: this.songIndex,
                  playIndex: this.playIndex
                }
              }).then(res => {
                if (res.data.success) {
                  // do nothing
                }
              }).catch(e => {
                console.log(e)
              })
              // do this here so we don't double count.
            }
            this.playCounted = true
          },
          toBeat () {
            this.$nuxt.$router.push({path:`/beats/${this.item.beat._id}`})
          },
          toArtist () {
            this.$nuxt.$router.push({path:`/profile/${this.item.owner._id}`})
          },
          toProducer () {
            if (this.item.producerId) {
              this.$nuxt.$router.push({path:`/profile/${this.item.producerId}`})
            }
          },
          playVideo () {
            if (!this.didPlay) {
              this.incrementPlayCount(this.item)
              this.videoLoading = true
              this.$refs.videoPlayer.addEventListener('ended', () => {
                if (this.shared) {
                  this.modal = true
                }
                this.playing = false
              })
              this.$refs.videoPlayer.addEventListener('waiting', () => {
                this.videoLoading = true
              })
              this.$refs.videoPlayer.addEventListener('playing', () => {
                this.videoLoading = false
              })
              this.$refs.videoPlayer.addEventListener('canplay', () => {
                this.videoLoading = false
              })
              console.log('scroll')
              let video = document.getElementById('video')
              video.scrollTop = 0
            }
            this.didPlay = true

            if (this.didPlay) {
              if (this.$refs.videoPlayer.paused) {
                this.playing = true
                // console.log(this.$refs.videoPlayer.canplay)
                this.$refs.videoPlayer.play()
              } else {
                this.playing = false
                this.$refs.videoPlayer.pause()
              }
            }
          },
          likeOrDislikeBeat (liked) {
            if (this.currentUser) {
              this.likeBeat({beatId: this.item._id, liked: liked}).then(res => {
                if (res.data.success) {
                  this.item.isFavorite = liked
                  if (liked) {
                    this.item.beatFavoritesCount += 1
                  } else {
                    this.item.beatFavoritesCount -= 1
                  }
                }
              }).catch(e => {
                console.log(e)
              })
            } else {
              this.$root.$emit('bv::show::modal', 'downloadModal')
            }
          },
          likeOrDislikeRap (liked) {
            if (this.currentUser) {
              this.likeRap({rapId: this.item._id, liked: liked}).then(res => {
                if (res.data.success) {
                  this.item.liked = liked
                  if (liked) {
                    this.item.likes += 1
                  } else {
                    this.item.likes -= 1
                  }
                }
              }).catch(e => {
                console.log(e)
              })
            } else {
              this.$root.$emit('bv::show::modal', 'downloadModal')
            }
          }
        },
        filters: {
          formatTitle (title) {
            return filters.formatTitle(title)
          },
          bigNumber (number) {
            return filters.bigNumber(number)
          },
        }
    }
</script>

<style lang="stylus">
    .desktop-player{
      zoom: 1;
      /* width: 100%;
      min-height: 90vh
      color: white
      overflow: hidden */
      .video-container {
        height 600px
        overflow hidden
        width 320px
        background: #333;
        position: relative;
        background-size: cover !important;
        border-radius 22px
        cursor: pointer;
        border: 2px solid #333
      }

      .h-97 {
        height 97%
      }
      .share-video-player {
        position absolute
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        min-width 100%
        height 100%
        object-fit cover
        margin auto
      }
      .video-play-button {
        position absolute
        left 45%
        top 50%
      }
      .btn-app-store{
        height: 50px;
        background-color: white;
        border-radius: 40px;
        border: 1px solid rgba(170,170,170, .5);
        color: black;
        &:active {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
        }
      }
      .app-store-image {
        height: 30px;
        margin-left: 20px;
        margin-right: 20px;
      }
      .video-overlay {
        width 100%
        position absolute
        bottom 0
      }
      .beat-small-img {
        border 1px solid white
        &.spin {
          -webkit-animation-name: spin;
          -webkit-animation-duration: 8000ms;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          -moz-animation-name: spin;
          -moz-animation-duration: 8000ms;
          -moz-animation-iteration-count: infinite;
          -moz-animation-timing-function: linear;
          -ms-animation-name: spin;
          -ms-animation-duration: 8000ms;
          -ms-animation-iteration-count: infinite;
          -ms-animation-timing-function: linear;

          animation-name: spin;
          animation-duration: 8000ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        @-ms-keyframes spin {
            from { -ms-transform: rotate(0deg); }
            to { -ms-transform: rotate(360deg); }
        }
        @-moz-keyframes spin {
            from { -moz-transform: rotate(0deg); }
            to { -moz-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
            from { -webkit-transform: rotate(0deg); }
            to { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }
        }
      }
      .button-primary {
        height: 45px;
        border-radius: 95px;
        background-color: #8c8046;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        font-weight: 900;
        outline:none;
        border:none;
        cursor: pointer;
      }
      .button-primary:focus{
        border: none !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
      }
      .button-primary:active {
        color:black
        border: none !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
      }
      .button-primary:hover {
        color: rgb(0,0,0)
        border-radius: 95px;
        background-color: #8c8046;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        outline:none;
        border:none;
      }
      .beat-title {
        font-size: 30px;
        font-weight: 500;
      }
      .beat-artist {
        font-size: 24px;
        color: #8c8046;
        font-weight: 900;
      }
      .verified-check {
        position absolute
        bottom 4px
        height 15px
        left 35px
      }
      .section-head {
        font-size: 14px
        color: #fafafa
        font-weight: 500
      }
      .beat-detail-rap-container{
        /* height: 50vh;
        overflow-y: scroll; */
      }
      .beat-data{
        width: 200px;
        @media (max-width: 650px) {
          margin: auto;
        }
      }
      .comment-container {
        max-height 300px;
        overflow-y scrol
      }
      .download {
        @media (max-width: 768px) {
          display: none;
        }
      }
      .tag-list {
        color:  #93a8b3;
        font-size: 14px;
      }
      .rap-index {
        font-size: 12px;
        color: #93a8b3;
      }
      .rap-title {
        font-size: 14px;
        font-weight: bold;
      }
      .rap-artist {
        font-size: 14px;
        a {
          color: gray
        }
      }
      .link-primary {
        &:hover {
          color: #8c8046;
          text-decoration: none !important;
          underline: none !important;
        }
      }
      .link-secondary {
        color: #8c8046
        &:hover {
          color: #8c8046;
        }
      }
      width: 100%;
        .rap{
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            background: -o-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            background: -moz-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            .rap-img {
                max-width: 170px;
                max-height:170px;
                border-radius: 150px;
            }
        }
      .beat-artwork {
        width: 200px;
        height: 200px;
        background: #333;
        border-radius: 12px;
        border: 2px solid #222;
        position: relative;
        background-size: cover !important;
        cursor: pointer;
        @media (max-width: 650px) {
          margin: auto;
        }
      }
      .play-count {
        color: rgba(255, 255, 255, 0.5);
        font-size:14px;
        font-weight: 500;
      }
      .rap-play-count-icon{
        height: 12px;
      }
      .beat-head{
        font-size: 14px;
        color: gray;
        letter-spacing: 3px;
      }
      .play-icon {
        transition: 0.1s opacity;
        opacity: .6;
        &:hover{
          opacity: 1;
          cursor: pointer;
        }
      }
      .icon-sm {
        margin-bottom: 9px;
        bottom: 0px;
        height: 16px;
        &:hover {
          cursor: pointer;
        }
      }
      .mic-icon {
         margin-bottom: 8px;
         height: 16px;
         bottom: 0px;
         svg, img, {
           stroke-width: 20px;
         }
       }
      .producer-avi {
        height: 40px;
        width: 40px;
        background: #333;
        border-radius: 100%;
        border: 2px solid #222;
        position: relative;
        background-size: cover !important;
      }
      .placeholder-avi {
        height: 40px;
        width: 40px;
        background: #333;
        border-radius: 100%;
        border: 2px solid #222;
        position: relative;
        background-size: cover !important;
      }
      .device-screenshot{
        height: 300px;
        /* left: -80px;
        top: -50px; */
      }
      .rap-beat-info {
        font-size: 12px;
      }
      .tag-link {
        color:  #93a8b3;
        &:hover {
          underline: #393a8b3;
        }
        &:active {
          color: #93a8b3;
        }
      }
      .beat-overlay-img{
        height:50px;
        width: 50px;
        background: #333;
        border-radius: 100%;
        border: 2px solid #222;
        position: absolute;
        background-size: cover !important;
        z-index: 100;
        right: -15px;
        bottom: -15px;
        color: white;
        font-weight: 900;
        font-size: 12px;
        &:hover{
          cursor: pointer;
        }
      }
      .pointer{
        &:hover {
          cursor: pointer;
        }
      }
      .small-spinner {
        position absolute
        left 45%
        top 50%
        font-size: 10px;
        text-indent: -9999em;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
        background: -webkit-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
        background: -o-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
        background: -ms-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
        background: linear-gradient(to right, #ffffff 10%, rgba(26,25,25, 0) 42%);
        /* position: relative; */
        display: inline-block;
        -webkit-animation: load3 1.4s infinite linear;
        animation: load3 1.4s infinite linear;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
      }
      .small-spinner:before {
        width: 50%;
        height: 50%;
        background: rgba(0,0,0,0);
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
      }
      .small-spinner:after {
        background: #8c8046;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @-webkit-keyframes load3 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes load3 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
</style>
