<template>
    <b-col>
        <b-row align-h="center" class="grey darken-4 rc-contest pb-3">
            <b-col cols="12" class="px-0">
                <router-link :to="'trending?tagid=' + contest._id">
                    <rc-image :src="contest.contest.image" height="150px"></rc-image>
                </router-link>
            </b-col>
            <div class="w-100 mt-3"></div>
            <router-link :to="'trending?tagid=' + contest._id">
                <span class="subheading white--text">#{{ contest.name }}</span>
            </router-link>
            <span class="details white--text px-4 mt-3">{{ contest.contest.details }}</span>
            <b-col cols="12" class="px-4 mt-5">
                <b-row align-h="between" class="mx-0">
                    <span v-html="parseDate(contest.contest.end)"></span>
                    <img src="/logo.png" style="height: 28px"/>
                </b-row>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import Image from '~/components/elements/Image'
    import moment from 'moment'

    export default {
        props: {
            contest: {
                type: Object,
                required: true
            }
        },
        components: {
            'rc-image': Image
        },
        methods: {
            parseDate(date) {
                return moment(date).toNow()
            }
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .rc-contest {
        border-radius: 12px;
        .image {
            box-shadow: 0 5px 4px -1px #111;
        }
        .subheading {
            font-weight: 700 !important
            letter-spacing: 1.5px;
            position: relative
        }
        .subheading::after {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background: $theme.primary;
            position: absolute;
            top: 34px;
            left: 0;
        }
        .details {
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0.8px;
            display: block;
            line-height: 1.8;
            height: 90px;
            overflow: hidden
        }
    }
</style>