<template>
  <div :id="item._id" class="feed-card" @click="playVideo"> <!--no more beats in feed -->
    <div :style="{
        'background': `url(${item.image}) no-repeat center center`,
        }" class="video-item d-flex justify-content-center">
        <div class="gradient-overlay"></div>
        <template>
          <video class="video" v-show="didPlay || playing" :src="`https://cdn.rapchat.me/raps/${item._id}`" playsinline :ref="`video-${item._id}`">
          </video>
        </template>
        <PlayButton :playing="playing" class="align-self-center" v-show="!playing"/>
        <VideoLoader :visible="playing && loading" class="align-self-center"/>
        <div class="rap-info align-self-end">
          <span v-if="item.toprap" class="featured-badge badge my-2">
            🏅 Featured
          </span>
          <div class="my-2">
            <img :src="`https://cdn.rapchat.me/images/${item.owner.profilephoto}`" height="30px" width="30px" class="rounded-circle border-white">
            <img v-if="item.featuring.length>0" :src="`https://cdn.rapchat.me/images/${item.featuring[1].profilephoto}`" height="25px" width="25px" class="rounded-circle" style="position: absolute; left: 20px; top: 45px; z-index: -1; border: 1px solid fff;">
            <img src="~/static/img/verified-check-blue.png" height="12px" class="blue-check" v-if="item.owner.verifiedArtist"/>
            <span class="font-weight-bold" :class="item.featuring.length>0 && item.featuring[1]._id !== item.featuring[0]._id ? 'ml-4' : 'ml-1'">
              <router-link :to="`/profile/${item.owner._id}`">{{item.owner.username}}</router-link>
            </span><small v-if="!item.owner.isFollowing" class="ml-1" style="color: #56ccff">follow</small>
            <template v-if="item.featuring.length > 1 && item.featuring[0].username !== item.featuring[1].username">
              &
              <span class="font-weight-bold ml-1"><router-link :to="`/profile/${item.featuring[1]._id}`">{{item.featuring[1].username}}</router-link></span>
              <span class="font-weight-bold ml-"><router-link :to="`/profile/${item.owner._id}`">{{item.featuring[1].username}}</router-link></span><small v-if="!item.featuring[1].isFollowing" class="ml-1" style="color: #56ccff">follow</small>
            </template>
          </div>
          <div class="my-2">
            <!-- <router-link :to="`/raps/${item._id}`">
            {{item.name}}</router-link>
            <span class="font-weight-bold" v-for="tag in item.tags">{{tag.name}}</span> -->
            <router-link :to="`/raps/${this.item._id}`">
              <span v-for="word in parsedTitle">
                <template  v-if="word[0] === '#'">
                  <span class="font-weight-bold">
                    {{word}}
                  </span>
                </template>
                <template v-else>
                  {{word}}
                </template>
              </span>
            </router-link>
          </div>
          <div class="my-2">
            <span class="font-weight-bold">{{item.plays | formatNumber}}</span> plays • <span class="font-weight-bold">{{item.likes}}</span> likes
          </div>
        </div>
        <div class="options-sidebar text-center" style="position: absolute; right: 5px; bottom: 0">
          <ul class="list-unstyled">
            <li class="sidebar-action mb-3">
              <SpinningBeat
                :src="`https://cdn.rapchat.me/images/${item.beat.imagefile}`"
                :playing="playing"
                size="40px"
                />
            </li>
            <li class="sidebar-action mb-3" v-b-modal.downloadModal><img src="~/static/img/flame-icon-filled.svg"></li>
            <li class="sidebar-action mb-3" v-b-modal.downloadModal><img src="~/static/img/comment-icon-filled.svg" ></li>
            <li class="sidebar-action mb-3" v-b-modal.downloadModal><img src="~/static/img/share-icon-filled.svg" ></li>
            <li class="sidebar-action mb-3" v-b-modal.downloadModal><img src="~/static/img/more.svg"></li>
          </ul>
        </div>
    </div>
  </div>
</template>
<script>
import PlayButton from '~/components/elements/PlayButton'
import VideoLoader from '~/components/elements/VideoLoader'
import SpinningBeat from '~/components/elements/SpinningBeat'
import {mapState, mapActions} from 'vuex'
import isMobile from '~/mixins/isMobile'
import filters from '~/utils/filters'

export default {
  mixins: [isMobile],
  props: {
    item: {type: Object, required: true, default: () => ({})}
  },
  components: {
    PlayButton,
    VideoLoader,
    SpinningBeat
  },
  data () {
    return {
      playing: false,
      loading: false,
      didPlay: false,
      commentsExpanded: false,
      editingComment: false,
      commentText: '',
      icons: {
        autotune: require('~/static/img/flash1@3x.png'),
        radio: require('~/static/img/group10@3x.png'),
        screwed: require('~/static/img/screwed.png'),
        chipmunk: require('~/static/img/chipmunk1@3x.png'),
        cave: require('~/static/img/group15@3x.png')
      }
    }
  },
  mounted () {
    this.initVideo()
  },
  watch: {
    editingComment () {
      if (this.editingComment) {
        document.getElementById(`${this.item._id}-comment`).focus()
      }
    },
    currentVideo () {
      if (this.currentVideo !== this.item._id) {
        this.$refs[this.videoRef].pause()
        this.playing = false
      }
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.currentUser,
      currentTrack: state => state.song,
      currentVideo: state => state.video
    }),
    isVideo () {
      if (this.item.hasOwnProperty('filters') && this.item.filters.includes(4) || this.item.recType==='video') {
        return true
      } else {
        return false
      }
    },
    videoRef () {
      return `video-${this.item._id}`
    },
    itemArtwork () {
      if (this.item.type === 'rap') {
        if (this.item.artworkUrl) {
          this.item.artworkUrl
          return `https://cdn.rapchat.me/images/${this.item.artworkUrl}`
        } else {
          return  `https://cdn.rapchat.me/images/${this.item.beat.imagefile}`
        }
      } else if (this.item.type === 'beat') {
        return this.item.imagefile
      }
    },
    featuring () {
      if (this.item.type === 'rap') {
        if (this.item.featuring.length > 1 && this.item.featuring[0]._id !== this.item.featuring[1]._id) {
          return true
        } else {
          return false
        }
      }
    },
    parsedTitle () {
      let words = this.item.name ? this.item.name.split(' ') : []
      return words
    }
  },
  methods: {
    ...mapActions({
      likeRap: 'likeRap',
      likeBeat: 'likeBeat',
      getBeatComments: 'getBeatComments',
      getRapComments: 'getRapComments',
      commentBeat: 'commentBeat',
      commentRap: 'commentRap'
    }),
    initVideo () {
      this.loading = true
      if (this.$refs[`video-${this.item._id}`]) {
        this.$refs[`video-${this.item._id}`].volume = 1
        this.$refs[`video-${this.item._id}`].addEventListener('ended', () => {
          this.$refs[`video-${this.item._id}`].currentTime = 0
          this.playing = true
        })
        this.$refs[`video-${this.item._id}`].addEventListener('waiting', () => {
          this.loading = true
        })
        this.$refs[`video-${this.item._id}`].addEventListener('playing', () => {
          this.loading = false
        })
        this.$refs[`video-${this.item._id}`].addEventListener('canplay', () => {
          this.loading = false
        })
      }
    },
    playVideo () {
      if (this.currentVideo !== this.item._id) {
        this.$store.commit('updateVideo', this.item._id)
      }
      if (!this.didPlay) {
        this.didPlay = true
      }
      if (this.$refs[`video-${this.item._id}`].paused) {
        this.$refs[`video-${this.item._id}`].play().then(() => {
          this.playing = true
        }).catch(e => {
          console.log(e)
        })
      } else {
        this.$refs[`video-${this.item._id}`].pause()
        this.playing = false
      }
    },
    playAudio (track, type) {
      if (this.item._id !== this.currentTrack.id ) {
        //change the track
        this.$store.commit('updateSong', track)
        this.$store.commit('updateView', type)
      } else if (this.item._id === this.currentTrack.id) {
        //toggle playing
        this.$store.commit('togglePlaying')
      }
    },
    likeOrDislikeRap (liked) {
      this.item.liked = liked
      if (this.item.liked) {
        this.item.likes += 1
      } else {
        this.item.likes -= 1
      }
      this.likeRap({rapId: this.item._id, liked: liked})
    },
    likeOrDislikeBeat (favorite) {
      this.item.isFavorite = favorite
      this.likeBeat({beatId: this.item._id, favorite: favorite})
    },
    postRapComment () {
      if (this.commentText) {
        //@TODO refactor this to use the promise pattern
        this.item.significant_comments.push({
            comment: this.commentText,
            owner: {username: this.currentUser.username}
          })
        this.commentRap({rapId: this.item._id, comment: this.commentText})
        this.commentText = ''
        this.item.commentCount += 1
      }
    },
    postBeatComment () {
      //@TODO refactor this to use the promise pattern
      let comment = {
        comment: this.commentText,
        owner: {username: this.currentUser.username}
      }
      if (this.commentText) {
        if (this.item.significant_comments) {
          this.item.significant_comments.push(comment)
        } else {
          this.item.comments.push(comment)
        }
        this.commentBeat({beatId: this.item._id, comment: this.commentText})
        this.commentText = ''
        this.item.commentCount += 1
      }
    },
    expandComments () {
      // @TODO refactor this to use the store
      const headers = {'x-zumo-auth': this.currentUser.token}
      if (this.item.type === 'rap') {
        this.getRapComments({rapid: this.item._id}).then(res => {
          if (res.data.success) {
            this.item.comments = res.data.data.results
            this.commentsExpanded = true
          }
        }).catch(e => {
          console.log(e)
        })
      } else if (this.item.type === 'beat') {
        this.getBeatComments({beatId: this.item._id}).then(res => {
          if (res.data.success) {
            this.item.comments = res.data.data.results
            this.commentsExpanded = true
          }
        }).catch(e => {
          console.log(e)
        })
      }
    }
  },
  filters: {
    formatTitle (title) {
      return filters.formatTitle(title)
    },
    formatNumber (number) {
      return filters.bigNumber(number)
    },
  }
}
</script>
<style lang="stylus">
.feed-card {
  cursor pointer
  height: 90vh
  @media(min-width: 450px) {
    height: 100%;
  }
  scroll-snap-align start
  .video-item {
    .video {
      @media(min-width: 450px) {
        width 100%
      }
      width: 100vw;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      object-fit: cover;
      height: 100%;
      margin: auto;
    }
    @media (min-width: 450px) {
      width 100%
    }
    width: 100vw;
    height: 100%;
    background #333
    border 2px solid #222
    position relative
    background-size cover !important
    cursor pointer
    .gradient-overlay {
      position absolute
      /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
      background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,0.6524392) 90%);
      height 101%
      width 101vw;
      z-index 20
      top -9999px;
      bottom -9999px;
      left -9999px;
      right -9999px;
      margin auto;
      @media (min-width: 450px) {
        width: 100%
      }
    }
    .rap-info {
      position absolute
      width: 90%;
      left 5px
      bottom 0
      @media(min-width: 450px) {
        font-size 14px
      }
      z-index 25
      .featured-badge {
        background-color rgba(0,0,0,.6)
        border-radius 4.5px
        z-index 8
      }
      a {
        &:hover {
          color white !important
          text-decoration none !important
        }
        &:active {
          color white !important
        }
      }
    }
    .options-sidebar {
      z-index 25
      .sidebar-action {
        z-index 25
        img {
          @media(min-width: 450px) {
            height 30px
            width 30px
          }
          height 40px
          width 40px
        }
      }
    }
  }
  .rap-card {
    width 100
    .verified-check {
      position absolute
      right -4px
      bottom -4px
    }
    .follow {
      cursor pointer
      font-size 12px
      color #8c8046
      &:hover {
        color #8c8046
        text-decoration underline
      }
    }
    .artist-profile-img {
      height 30px
      width 30px
      border-radius 100%
    }
    .rap-artwork {
      height 400px
      width 100%
      border-radius 12px

      @media (max-width: 650px) {
        margin auto;
      }
      @media (max-width: 400px) {
        width: 100%;
        height: 300px;
      }
      .fx-container {
        position absolute
        right 0
        top 50px
        background-color rgba(0,0,0,.8)
        border-radius 4.5px 0px 0px 4.5px
        .applied-fx {
          height 20px
        }
      }

    }
    .rap-beat-img {
      height 40px
      width 40px
      border-radius 100%
    }
  }
  .beat-card {
    width 100%
    .beat-image {
      border-radius 10px
      height 75px;
      width 75px;
    }
    .producer-icon {
      font-size 10px
      line-height 14px
    }
    .producer-profile-img {
      height 30px
      width 30px
      border-radius 100%
    }
    .producer-label {
      background-color #333
    }
  }
  .comment {
    font-size 14px
  }
  .comment-input {
    color white
    background-color black
    border none
    font-size 14px
    &:focus {
      outline none
      box-shadow none
    }
  }
  .post-comment {
    font-size 14px
  }
  .card-divider {
    height 1px
    width 50%
    background radial-gradient(rgba(255,255,255,.25), black)
  }
  .icon {
    cursor pointer
  }
  .blue-check {
    position relative
    bottom -5px
    left -5px
  }
}
</style>
