<template>
    <div class="beat mb-4">
        <div @click='togglePlay' class="rc-image d-flex justify-content-center" :style="{
            'background': `url(https://cdn.rapchat.me/images/${item.image}) no-repeat center center`,
            }">
            <PlayButton :playing="playing" style="top: 50%;
            transform: translateY(-50%);"/>
        </div>
        <div v-if="info" class="title clamp multiline-4 px-2 d-flex align-items-center justify-content-between">
            <template v-if="item.title && item.type==='beat'">
              <nuxt-link :to="{ path: `/beats/${item.id}`}" v-if="!item.status">
                {{ item.title }}
              </nuxt-link>
              <span v-else>{{item.title | formatTitle}}</span>
              <template v-if="currentUser && item.producerId === currentUser._id">
                <!-- <span @click="editingBeat = !editingBeat">
                  <Icon name="pencil-square-o" size="1" color="white" class="text-right mt-1"/>
                </span> -->
                <span @click="deleteBeat">
                  <icon name="trash" size="2" color="gray"/></icon>
                </span>
              </template>
            </template>
            <!-- <template v-else-if="editingBeat">
              <input type="text" class="edit-title" v-model="editTitleInput">
              <span @click="submitEditBeat">Save</span>
            </template> -->
            <template v-else-if="item.title && item.type==='rap'">
              <router-link :to="{ path: `/raps/${item.id}`}">
                {{ item.title | formatTitle }}
              </router-link>
            </template>
            <template v-else>Untitled</template>
        </div>
        <div v-if="info" class="artist px-2 pt-1 text-truncate">
            <span  v-if="item.producerId && !item.status">
              <template>
                <nuxt-link :to="{path: `/profile/${item.producerId}`}" class="profileLink">
                  {{ item.artist }}
                </nuxt-link>
              </template>
            </span>
            <span v-else-if="item.userId">
              <nuxt-link :to="`/profile/${item.userId}`" class="profileLink">
                {{ item.artist }}
              </nuxt-link>
            </span>
            <span v-else>
              {{item.artist}}
            </span>
        </div>
        <div class="price px-2 py-1" v-if="item.prices && info">
            <small>
                <template v-if="item.prices.length > 1">
                    $0.99 - $1.99
                </template>
                <template v-else>
                    {{ item.prices[0] }}
                </template>
            </small>
        </div>
        <div v-if="item.type === 'rap' && info" class="mx-2">
            <div class="layout row mx-0 align-center">
                <div class="layout row mx-0 align-center">
                    <img src="~/static/img/play-icon-sm.png" class="mike-icon" v-b-modal.downloadModal>
                    <small class="ml-1">{{ item.plays | formatNumber }}</small>
                </div>
                <div class="layout row mx-0 align-center  ml-3">
                  <span v-if="!item.liked">
                    <img src="/img/flame-icon.svg" class="flame-icon like" @click="likeCurrentRap(true)">
                  </span>
                  <span v-else-if="item.liked" @click="likeCurrentRap(false)">
                    🔥
                  </span>
                  <small class="ml-1">
                    {{ item.likes | formatNumber }}
                  </small>
                </div>
            </div>
        </div>
        <div v-if="item.type === 'beat' && info">
            <div class="row ml-2">
              <div >
                <div class="" v-if="item.raps_count>=0">
                    <img src="/img/microphone.svg" class="mike-icon like" v-b-modal.recordDownloadModal>
                    <small class="ml-1">
                      {{ item.raps_count | formatNumber }}
                    </small>
                </div>
              </div>
              <div >
                <div class="ml-2" v-if="item.playsCount>=0">
                  <img src="~/static/img/play-icon-sm.png" class="mike-icon" v-b-modal.downloadModal>
                  <small class="ml-1">
                    {{ item.playsCount | formatNumber }}
                  </small>
                </div>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from  'vuex'
    import isMobile from '~/mixins/isMobile'
    import PlayButton from '~/components/elements/PlayButton'
    import filters from '~/utils/filters'
    import admin from '~/plugins/adminApi.js'

    export default {
        mixins: [isMobile],
        components: {
            PlayButton
        },
        props: {
            'song': {type: Object, required: true},
            'playerView': {type: String, required: false, default: 'beats'},
            'info': {type: Boolean, default: true}
        },
        data () {
          return {
            item: this.song,
            editingBeat: false,
            editTitleInput: ''
          }
        },
        computed: {
          ...mapState({
            currentUser: state => state.currentUser,
            currentTrack: state => state.song,
            isPlaying: state => state.isPlaying
          }),
          playing () {
            if (this.currentTrack) {
              if (this.currentTrack.id === this.song.id && this.isPlaying) {
                return true
              } else {
                return false
              }
            } else {
              return false
            }
          },
        },
        created () {
            // this.item.image = `https://cdn.rapchat.me/images/${this.item.image}`
            this.item.profileLink = this.item.userId && this.item.userId != "" ? (`/profile/${this.item.userId}`) : '';
        },
        watch: {
            song () {
                // this.item.image = `https://cdn.rapchat.me/images/${this.item.image}`
                this.item.profileLink = this.item.userId && this.item.userId != "" ? (`/profile/${this.item.userId}`) : '';
            }
        },
        methods: {
            ...mapActions({
              likeRap: 'likeRap'
            }),
            togglePlay () {
              if (this.item.id !== this.currentTrack.id ) {
                //change the track
                this.$store.commit('updateSong', this.item)
                this.$store.commit('updateView', this.playerView)
              } else if (this.item.id === this.currentTrack.id) {
                //toggle playing
                this.$store.commit('togglePlaying')
              }
            },
            likeCurrentRap (liked) {
              this.$root.$emit('bv::show::modal', 'likeDownloadModal')
            },
            submitEditBeat () {
              let form = new FormData()
              form.set('beatId', this.item._id)
              form.set('title', this.editTitleInput)
              const headers = {
                'x-zumo-auth': this.currentUser.token,
                'Content-Type': 'multipart/form-data',
              }
              admin.post('/admin/producers/beats/update',
                form,
                headers
              ).then(res => {
                if (res.data.success) {
                  this.item.title = this.editTitleInput
                }
              })
            },
            deleteBeat () {
              if (confirm(`Are you sure you want to delete this beat? This can't be undone`)) {
                const headers = {'x-zumo-auth': this.currentUser.token}
                admin({
                  url: '/admin/producers/beats/delete',
                  method: 'delete',
                  data: {beatId: this.item._id},
                  headers: {'x-zumo-auth': this.currentUser.token}
                }).then(res => {
                  if (res.data.success) {
                      this.$emit('beatdeleted', this.item._id)
                  }
                }).catch(e => {
                  alert("Sorry, we're unable to delete your beat at the moment. If this problem continues please contact beats@rapchat.me")
                  console.log(e.response)
                })
              }
            }
        },
        filters: {
          formatNumber (number) {
            return filters.bigNumber(number)
          },
          formatTitle (title) {
            return filters.formatTitle(title)
          },
        }
    }
</script>

<style lang="stylus">

    .beat {
        width: 15%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        .title {
            font-weight: bold;
            font-size: 0.8rem;
            a:hover {
              color: white;
              text-decoration-color: white;
            }
        }

        .artist {
            font-size: 0.9em;
            a.profileLink {
                &:hover {
                    text-decoration: none;
                    color: #8c7f4a
                }
            }
        }
        .edit-title {
          background-color black
          color white
          border none
          &:active {
            outline none !important
          }
          &:focus {
            outline none !important
          }
        }
        .rc-image {
            width: 100%;
            padding-top: 100% !important;
            background: #333;
            border-radius: 12px;
            border: 2px solid #222;
            position: relative;
            background-size: cover !important;
            cursor: pointer;
        }
        .flame-icon.like {
            width: 16px;
            fill: white;
        }
        .mike-icon.like {
          width: 16px;
          height: 16px;
        }
    }
    @media (max-width: 1200px) {
      .beat {
        width: 19%;
      }
    }
    @media (max-width: 900px) {
      .beat {
        width: 28%;
      }
    }
    @media (max-width: 650px) {
      .beat {
          width: 45%;
      }
    }
</style>
