<template>
  <div class="user-card mb-4" v-if="user">
    <router-link :to="{path: `/profile/${user._id}`}">
      <div class="profile-photo" :style="{'background': `url(https:///cdn.rapchat.me/images/${user.profilephoto}) no-repeat center center`}">
      </div>
    </router-link>
    <div class="mt-2 d-flex justify-content-center">
      <div>
        <router-link :to="{path: `/profile/${user._id}`}" class="artist text-overflow">
          {{user.username}}
        </router-link>
        <div v-if="user.beats_count" class="song-count text-center">
          {{user.beats_count}} beats
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
        'user': {type: Object, required: true, default: () => {}},
    },
  }
</script>
<style lang="stylus">
.user-card {
  width: 15%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  .profile-photo {
    width: 100%;
    padding-top: 100% !important;
    background: #333;
    border-radius: 100%;
    border: 2px solid #222;
    position: relative;
    background-size: cover !important;
    cursor: pointer;
  }
  .song-count{
    font-size: 0.9em;
    color: gray;
  }
  .artist {
    &:hover {
      color: #8c8046;
      text-decoration: none;
    }
  }
  @media (max-width: 1200px) {
    width: 19%;
  }
  @media (max-width: 900px) {
    width: 28%;
  }
  @media (max-width: 650px) {
    width: 45%;
  }
}
</style>
