<template>
    <div class="video-container mb-4">
        <div @click='togglePlay' class="rc-video d-flex justify-content-center" :style="{
            'background': `url(https://cdn.rapchat.me/images/${item.image}) no-repeat center center`,
            }">
            <div class="fade-overlay"></div>
            <template v-show="isVideo">
              <video :src="`https://cdn.rapchat.me/raps/${item._id}`" v-show="didPlayVideo || playing" :ref="`video-${item._id}`" class="video align-self-center">
              </video>
            </template>
            <PlayButton :playing="playing" style="top: 50%;
            transform: translateY(-50%);" v-show="!playing"/>
            <div style="top: 50%;
            transform: translateY(-50%);" class="small-spinner" v-show="videoLoading && playing"></div>
            <div v-if="item.type === 'rap'" class="info-overlay d-flex justify-content-around">
              <div  v-show="overlay" class="artist-container align-self-end mb-2">
                <div class=" justify-content-between">
                  <img :src="`https://cdn.rapchat.me/images/${item.profilephoto}`" height="25px" width="25px" class="rounded-circle ml-1">
                  <span v-if="item.userId" class="title ml-1">
                    <nuxt-link :to="`/profile/${item.userId}`" class="profileLink">
                      {{ item.artist }}
                    </nuxt-link>
                  </span>
                  <span v-else>
                    {{item.artist}}
                  </span>
                </div>
                <div class="title clamp multiline-4 px-2 d-flex align-items-center">
                  <router-link :to="{ path: `/raps/${item.id}`}">
                    <template v-if="item.title">{{ item.title | formatTitle }}</template>
                    <template v-else>Untitled</template>
                  </router-link>
                </div>
                <div>
                  <small class="ml-1"><span class="font-weight-bold">{{ item.plays | formatNumber }}</span> plays</small>
                  •
                  <small class="ml-1"><span class="font-weight-bold">{{ item.likes | formatNumber }}</span> likes</small>
                </div>
              </div>
              <div v-show="overlay" class="row mx-0 align-center sidebar mr-1" :class="isMobile ? 'no-gutters' : ''" v-if="!isMobile">
                <div class="layout row mx-0 align-center ml-3">
                  <ul class="list-unstyled text-center mb-0">
                    <li v-if="!item.liked" class="mb-2">
                      <img src="/img/flame-icon-filled.svg" class="flame-icon like" @click="likeCurrentRap(true)">
                      <div class="action-text">like</div>
                    </li>
                    <li v-else-if="item.liked" class="mb-2">
                      <span  @click="likeCurrentRap(false)">
                        🔥
                      </span>
                    </li>
                    <li class="mb-2">
                      <img src="/img/share-icon-filled.svg" class="flame-icon like" @click.stop="likeCurrentRap(true)">
                      <div class="action-text">share</div>
                    </li>
                    <li class="mb-2">
                      <img src="/img/comment-icon-filled.svg" class="flame-icon like" @click.stop="likeCurrentRap(true)">
                      <div class="action-text">comment</div>
                    </li>
                    <li class="mb-2">
                      <img src="/img/more.svg" class="flame-icon like" @click.stop="likeCurrentRap(true)">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from  'vuex'
    import isMobile from '~/mixins/isMobile'
    import PlayButton from '~/components/elements/PlayButton'
    import filters from '~/utils/filters'
    import admin from '~/plugins/adminApi.js'

    export default {
        mixins: [isMobile],
        components: {
            PlayButton
        },
        props: {
            'song': {type: Object, required: true},
            'overlay': {type: Boolean, default: true}
        },
        data () {
          return {
            item: this.song,
            editTitleInput: '',
            didPlayVideo: false,
            videoLoading: false,
            playing: false,
          }
        },
        computed: {
          ...mapState({
            currentUser: state => state.currentUser,
            currentVideo: state => state.video
            // currentTrack: state => state.song,
            // isPlaying: state => state.isPlaying
          }),
          isVideo () {
            if (this.item.hasOwnProperty('filters') && this.item.filters.includes(4) || this.item.recType==='video') {
              return true
            } else {
              return false
            }
          },
        },
        created () {
            // this.item.image = `https://cdn.rapchat.me/images/${this.item.image}`
            this.item.profileLink = this.item.userId && this.item.userId != "" ? (`/profile/${this.item.userId}`) : '';
        },
        mounted () {
          this.videoLoading = true
          this.$refs[`video-${this.item._id}`].volume = 1
          this.$refs[`video-${this.item._id}`].addEventListener('ended', () => {
            this.$refs[`video-${this.item._id}`].currentTime = 0
            this.playing = true
          })
          this.$refs[`video-${this.item._id}`].addEventListener('waiting', () => {
            this.videoLoading = true
          })
          this.$refs[`video-${this.item._id}`].addEventListener('playing', () => {
            this.videoLoading = false
          })
          this.$refs[`video-${this.item._id}`].addEventListener('canplay', () => {
            this.videoLoading = false
          })
        },
        watch: {
          currentVideo () {
            if (this.currentVideo !== this.item._id) {
              this.$refs[`video-${this.item._id}`].pause()
              this.playing = false
            }
          }
        },
        methods: {
            ...mapActions({
              likeRap: 'likeRap'
            }),
            togglePlay () {
              this.toggleVideoPlay()
            },
            toggleVideoPlay() {
              // prevent more than 1 video from playing at a time
              if (this.currentVideo !== this.item._id) {
                this.$store.commit('updateVideo', this.item._id)
              }

              // prevent video state resetting when hitting play/pause
              if (!this.didPlayVideo) {
                this.didPlayVideo = true
              }

              // play/pause the actual video
              if (this.$refs[`video-${this.item._id}`].paused) {
                this.$refs[`video-${this.item._id}`].play().then(() => {
                  this.playing = true
                }).catch(e => {
                  console.log(e)
                })
              } else {
                this.$refs[`video-${this.item._id}`].pause()
                this.playing = false
              }
            },
            likeCurrentRap (liked) {
              this.$root.$emit('bv::show::modal', 'likeDownloadModal')
            },
        },
        filters: {
          formatNumber (number) {
            return filters.bigNumber(number)
          },
          formatTitle (title) {
            return filters.formatTitle(title)
          },
        }
    }
</script>

<style lang="stylus" scoped>

    .video-container {
      .rc-video {

      }
      .video {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        object-fit: cover;
        min-width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 12px;
      }
      .fade-overlay {
        position absolute
        /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
        background: linear-gradient(180deg, rgba(0,0,0,0) 70%, rgba(0,0,0,0.43881302521008403) 90%);
        height 100%
        width 100%;
        z-index 4
        top -9999px;
        bottom -9999px;
        left -9999px;
        right -9999px;
        margin auto;
      }
      .info-overlay {
        z-index: 5;
        width: 100%;
        position: relative;
        .artist-container {
          position: absolute;
          bottom: 0;
          left: 0;
        }
        .sidebar {
          position: absolute;
          right: 0;
          bottom: 0;
          .action-text {
            font-size: 10px;
          }
        }
      }
        width: 28%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        overflow: hidden;
        .title {
            font-weight: bold;
            font-size: 0.8rem;
            a:hover {
              color: white;
              text-decoration-color: white;
            }
        }

        .artist {
            font-size: 0.9em;
            a.profileLink {
                &:hover {
                    text-decoration: none;
                    color: #8c7f4a
                }
            }
        }
        .edit-title {
          background-color black
          color white
          border none
          &:active {
            outline none !important
          }
          &:focus {
            outline none !important
          }
        }
        .rc-video {
            width: 100%;
            padding-top: 190% !important;
            background: #333;
            border-radius: 12px;
            border: 2px solid #222;
            position: relative;
            background-size: cover !important;
            cursor: pointer;
            overflow: hidden;
        }
        .flame-icon.like {
            height: 30px;
            fill: white;
        }
        .mike-icon.like {
          height: 30px;
        }
    }
    @media (max-width: 900px) {
      .video-container {
        width: 28%;
      }
    }
    @media (max-width: 750px) {
      .video-container {
          width: 45%;
      }
    }
    .small-spinner {
      z-index: 20;
      position absolute
      left 45%
      top 50%
      font-size: 10px;
      text-indent: -9999em;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ffffff;
      background: -moz-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
      background: -webkit-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
      background: -o-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
      background: -ms-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
      background: linear-gradient(to right, #ffffff 10%, rgba(26,25,25, 0) 42%);
      /* position: relative; */
      display: inline-block;
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
    .small-spinner:before {
      width: 50%;
      height: 50%;
      background: rgba(0,0,0,0);
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    .small-spinner:after {
      background: #8c8046;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    @-webkit-keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
</style>
