<template>
  <div class="container active-user">
    <div class="row my-2">
      <div class="col-12 text-center">
        <h2 class="pt-4">Want to Submit Beats? </h2>
        <h4 class="pt-4">We noticed you signed in with a Rapper account, want to make this a Producer account also?</h4>
        <p class="pt-4">You will <span class="font-weight-bold">not</span> lose your raps and can still create new ones</p>
      </div>
    </div>
    <div class="row mb-5 justify-content-around ">
      <div class="col-12 col-sm-6 mt-2">
        <button class="btn btn-secondary button-muted w-100" @click="cancel" >NO</button>
      </div>
      <div class="col-12 col-sm-6 mt-2">
        <button class="btn btn-secondary button-primary w-100" @click="makeProducer">YES</button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from '~/plugins/axios'
import { mapState } from 'vuex'

export default {
  props: ['showModal'],
  computed: {
    ...mapState({
      producer: state => state.currentUser
    })
  },
  methods: {
    makeProducer () {
      axios.post('/users/makeMeProducer', null,
      {headers: {'X-ZUMO-AUTH': this.producer.token}}).then(()=>{
        this.logEvent('Account Converted', {'userId':this.producer._id})
        this.$root.$emit('bv::hide::modal','activeUserModal')
        window.setTimeout(() => {
          self.$root.$emit('bv::show::modal','welcomeModal')
        }, 800)
        this.$nuxt.$router.push({path:'/producers/'+this.producer._id})
      }).catch((e) => {
        console.log(e)
      })
    },
    cancel () {
      this.$root.$emit('bv::hide::modal','activeUser')
      this.logEvent('Account Converted Canceled', {'userId':this.producer._id})
    },
    logEvent (event, data) {
      if (process.browser) {
        let ampl = amplitude.getInstance()
        ampl.init('e93869e9ffb55d729fa1eddcd851786f')
        ampl.logEvent(event, data)
      }
    }
  }
}
</script>
<style lang="stylus">
.active-user {
  .button-primary {
    white-space: normal;
  }
  .button-primary {
    width: 240px;
    height: 60px;
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer;
    &:hover {
      color: black;
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
    &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      color: black;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }
  .button-primary.prod-sign-up{
    width: auto;
    border: 2px solid #8c8046;
    height: inherit;
    color: white;
    &:hover {
      color: black;
    }
    &:focus{
      border: 2px solid #8c8046 !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      color: black;
      border: 2px solid #8c8046 !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }
  .button-muted {
    width: 240px;
    height: 60px;
    border-radius: 95px;
    background-color: #202323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer;
    &:focus{
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      background-color: #171919 !important;
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: #8c8046;
      border-radius: 95px;
      background-color: #202323;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
  }
}
</style>
