<template>
  <div class="flames">
    <transition :name="animation" appear>
      <div :id="id" class="flame" :style="`font-size:${fontSize}; animation: ${animation}`" v-if="animating">
        <div class="fire">
          🔥
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
export default {
  name: 'AnimatedFlame',
  data () {
    return {
      id: '',
      fontSize:'',
      animation: '',
      animating: false
    }
  },
  mounted () {
    let b = Math.floor((Math.random() * 100) + 1)
    let d = ['flowOne', 'flowTwo', 'flowThree']
    let a = "flame"
    let c = (Math.random() * (1.6-1.2) + 1.2).toFixed(1)
    this.id = `flame-${b}-${c}`
    this.fontSize = `${Math.floor(Math.random()*(100 - 44) + 44)}px`
    this.animation = `${d[Math.floor((Math.random()*3))]} ${c}s linear`

    this.animating = true

    setTimeout(() => {
      this.animating = false
    }, c*900)
  },
  // updated () {
  //   console.log(this.animation)
  // },
}
</script>
<style lang="stylus">
.flames {
  height: 600px
  width: 100px
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -50px;
}

.flame {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  bottom: 0;
  /* display: none; */
}

.flame div {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .9;
}

@keyframes flowOne {
  0% {
    opacity: 0;
    bottom: 0;
    left: 14%
  }
  40% {
    opacity: .8;
  }
  50% {
    opacity: 1;
    left: 0;
  }
  60% {
    opacity: .2;
  }
  80% {
    bottom: 80%
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: 18%
  }
}
@keyframes flowTwo {
  0% {
    opacity: 0;
    bottom: 0;
    left: 0;
  }
  40% {
    opacity: .8;
  }
  50% {
    opacity: 1;
    left: 11%
  }
  60% {
    opacity: .2;
  }
  80% {
    bottom: 60%
  }
  100% {
    opacity: 0;
    bottom: 80%;
    left: 0;
  }
}
@keyframes flowThree {
  0% {
    opacity: 0;
    bottom: 0;
    left: 0;
  }
  40% {
    opacity: .8;
  }
  50% {
    opacity: 1;
    left: 30%
  }
  60% {
    opacity: .2;
  }
  80% {
    bottom: 70%
  }
  100% {
    opacity: 0;
    bottom: 90%;
    left: 0;
  }
}
</style>
