<template>
  <div class="trending-raps-container row">
    <div class="trending-raps col-12" :class="rapsHidden ? 'overlay' : ''">
      <Loader v-if="loadingFirst && !this.beatTrendingRaps"/>
      <div :id="isMobile ? 'trendingPlayRap' : ''"
      class="media d-flex align-items-center mt-3 rap-list-item"
      v-if="beatTrendingRaps" v-for="(rap, index) in this.beatTrendingRaps"
      v-on:mouseover="!isMobile ? showPlayIcon(index) : ''"
      v-on:mouseleave="!isMobile ? hidePlayIcon(index) : ''"
      @click="isMobile ? playAudio(rap, 'raps') : ''">
        <div class="align-self-center rap-index ml-1" v-if="!playingCurrentTrack(rap)">
          {{index | formatIndex}}
        </div>
        <div id="bars" class="ml-1 d-flex align-self-center justify-items-around align-items-end" v-else>
          <div class="playing-bar"></div>
          <div class="playing-bar"></div>
          <div class="playing-bar"></div>
        </div>
        <div id="trendingPlayRap" class="rap-artwork align-self-center d-flex align-items-center justify-content-center ml-2" :style="{
            'background': 'url(https://cdn.rapchat.me/images/' + artwork(rap) + ') no-repeat center center',
            }" @click="playAudio(rap, 'raps')">
            <icon name="regular/play-circle" class="" :class="isMobile  ? '' : 'd-none play-rap-icon'" ref="index" scale="1.4"></icon>
        </div>
        <div class="media-body row ml-2 my-1">
          <div class="col-9">
            <div class="rap-title">
              <router-link class="link-primary rap-link" :to="`/raps/${rap._id}`">
                {{rap.name | formatTitle }}
              </router-link>
            </div>
            <div class="rap-artist text-truncate ">
              <router-link class="link-primary artist-link" :to="`/profile/${rap.owner._id}`">
                {{rap.owner.username}}
              </router-link>
            </div>
          </div>
          <div class="col-3 d-flex align-items-center justify-content-around" v-if="!isMobile">
            <span class="play-count">
                <img src="~/static/img/play-icon-sm.png" class="icon-sm mb-1" v-b-modal.downloadModal>
              {{rap.plays | bigNumber}}
            </span>
            <span class="play-count ml-1">
              <img src="~/static/img/flame-icon.svg" class="icon-sm mb-1" v-b-modal.downloadModal>
              {{rap.likes | bigNumber}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <Loader v-if="loadingRaps"/>
        <button class="btn btn-default btn-link show-more" @click="showMoreRaps" v-if="!loadingRaps && !loadingFirst && beatTrendingRaps && (latestBeats && latestBeats.length >9 )">
          see more
        </button>
        <div v-if="!loadingRaps && !loadingFirst && !beatTrendingRaps">
          No raps on this beat yet. Download the app and be the first!
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import isMobile from '~/mixins/isMobile.js'
  import { mapState, mapGetters } from 'vuex'
  import Loader from '~/components/layout/Loader'

  export default {
    name: 'BeatTrendingRaps',
    mixins: [isMobile],
    components: {Loader},
    props: {beatTrendingRaps: {type: Array, required: false},latestBeats: {type: Array, required: false},loadingRaps: {type:Boolean, required: true}, loadingFirst:{type:Boolean, required: true}},
    data () {
      return {
        rapsHidden: true
      }
    },
    computed: {
      ...mapState(['song', 'isPlaying']),
    },
    methods: {
      artwork (item) {
        return item.artworkUrl || item.beat.imagefile
      },
      playAudio (track, type) {
        this.$store.commit('updateSong', track)
        this.$store.commit('updateView', type)
      },
      showPlayIcon (index) {
        this.$refs.index[index].$el.classList.remove("d-none");
      },
      hidePlayIcon (index) {
        this.$refs.index[index].$el.classList.add("d-none")
      },
      playingCurrentTrack (rap) {
        if (rap._id === this.song._id || rap._id === this.song.id) {
          if (this.isPlaying) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      showMoreRaps () {
        if (this.rapsHidden) {
          this.rapsHidden = false
        } else {
          this.$emit('load-more')
        }
      }
      // viewArtist (id) {
      //   if (!isMobile) {
      //     this.$router.push({path: `/profile/id`})
      //   }
      // },
      // viewRap (id) {
      //
      // }
    },
    filters: {
      formatTitle (title) {
        if (title) {
          title = title.trim()
        } else {
          return 'Untitled'
        }
        if (title[0] === '#') {
          return title.slice(0,40)
        } else {
          let newTitle = title.split("#")
          if (newTitle[0].length > 40) {
            return newTitle[0].slice(0,40).concat('...')
          } else {
            return newTitle[0]
          }
        }
      },
      formatIndex (index) {
        return "00".concat(index+1).slice(-2)
      },
      bigNumber (number) {
        if (number >= 1000000000) {
          return (number / 1000000000).toFixed(1).replace(/\.0$/, '') + 'G'
        }
        if (number >= 1000000) {
          return (number / 1000000).toFixed(1).replace(/\.0$/, '') + 'M'
        }
        if (number >= 1000) {
          return (number / 1000).toFixed(1).replace(/\.0$/, '') + 'K'
        }
        return number
      },
    }
  }
</script>
<style lang="stylus" scoped>
  .trending-raps-container {
    .trending-raps{

    }
    .show-more {
      color: white;
      &:hover {
        color: #8c8046
        text-decoration: none !important;
        underline: none !important;
      }
    }
    .section-head {
      font-size: 14px
      color: #fafafa
      font-weight: 500
    }

    .overlay {
      max-height: 350px;
      overflow: hidden;
    }

    .overlay:after {
      position: absolute;
      bottom: 0;
      content: "";
      width: 100%;
      height: 50%;
      background: linear-gradient(to top,
         rgba(0,0,0, 1) 0%,
         rgba(0,0,0, 0) 100%
      );
      pointer-events: none; /* so the text is still selectable */
    }

    .rap-artwork {
      height: 40px;
      width: 40px;
      background: #333;
      border-radius: 8px;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
      &:hover {
        cursor: pointer
      }
    }

    .link-primary {
      &:hover {
        color: #8c8046;
        text-decoration: none !important;
        underline: none !important;
      }
    }

    .link-secondary {
      color: #8c8046
      &:hover {
        color: #8c8046;
      }
    }
    .icon-sm {
      height: 14px;
      transition: 0.1s opacity;
      opacity: .6;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
    .rap-list-item {
      border-radius: 4px;
      &:hover {
        background-color: rgba(150,150,150, .25)
      }
    }
    .rap-index {
      font-size: 12px;
      color: #93a8b3;
    }
    .play-rap-icon {
      color: rgba(255,255,255,.6)
      &:hover{
        color: white;
      }
    }
    .flame-like{
      align: middle;
      height: 12px;
    }
    #bars {
        height: 30px;
        width: 12.48px;
    }
    .playing-bar {
      background: #8c8046;
      bottom: 0;
      height: 3px;
      width: 3px;
      animation: playing 0ms -800ms linear infinite alternate;
    }
    @keyframes playing {
        0% {
           opacity: .35;
            height: 3px;
        }
        100% {
            opacity: 1;
            height: 14px;
        }
    }
    .playing-bar:nth-child(1)  { left: 5px; animation-duration: 532ms; }
    .playing-bar:nth-child(2)  { left: 1px; animation-duration: 563ms; }
    .playing-bar:nth-child(3)  { left: 9px; animation-duration: 548ms; }
  }
</style>
