<template>
  <div class="container text-center">
    <h2 class="success mt-3">Success</h2>
    <!-- <div class="mt-3 mb-5"><img src="img/succcess-icon.svg"></div> -->
    <div class="mt-3 mb-5"><img src="~/static/img/succcess-icon.svg"></div>
    <h2 class="description mb-4">Your beat has been approved and is now uploading</h2>
    <button class=" btn-web-header edit-profile" @click.prevent="$root.$emit('bv::hide::modal','continueBeats')">Continue</button>
  </div>
</template>


<script>
export default {
  name: "ContinueModal"
};
</script>

<style type="text/css" scoped>
#continueBeats .modal-header{display: none}
#continueBeats .modal-content {
    background-color: #0b0b0b;
    min-width: 400px;
    min-height: 400px;
    border-radius: 4px;
}
.description {
 color: #ffffff;
    font-family: Avenir;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}
.success {
      color: #ffffff;
    font-family: Avenir;
    font-size: 26px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
}
.btn-web-header {
  height: 4.92%;
  width: 14.77%;
  border-radius: 25.2px;
  background-color: #8c8046;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.edit-profile {
    height: 51px;
    width: 151.2px;
    color: #ffffff;
    font-family: Avenir;
    font-size: 21px;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
    margin: 0 auto;
    box-shadow: none;
    border: none;
}
@media only screen and (max-width:480px){
    #continueBeats .modal-content {     min-width:100%; }
}
</style>