<template>
  <div class="container download-cta">
    <div class="row mb-3" v-if="!sentLink">
      <div class="col-12 text-center mb-2">
        <h2>{{headerCopy}}</h2>
      </div>
    </div>
    <div class="row mb-3" v-if="!sentLink">
      <div class="col-4 imagePic" v-if="!isMobile">
        <img src="~/static/img/device-screenshot.png" style="height: 250px;">
      </div>
      <div class="col-12 col-md-8 d-flex align-items-center text-center">
        <div>
          <div class="body-copy">{{bodyCopy}}</div>
          <div class="mt-2">
            <input type="text" class="phone-link-input" v-model="phoneInput" v-if="!isMobile" placeholder="555-555-5555">
            <button id="downloadButton" class="btn btn-secondary button-primary mt-3" @click="sendAppLink" v-if="isMobile">
              {{buttonCopy}}
            </button>
            <button id="downloadButton" class="btn btn-secondary button-primary mt-3" @click="sendRapperNumber" v-else>
              {{buttonCopy}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="sentLink">
      <div class="col-12 text-center">
        <h1>Link Sent!</h1>
        <div class="row">
          <div class="col-12 col-md-6 offset-md-3 mb-3">
            <div class="my-2"> Never received a text?</div>
            <button id="downloadButton" class="btn btn-secondary button-primary" @click="sendRapperNumber">
              Send Again
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import isMobile from '~/mixins/isMobile.js'
  import { mapState, mapActions } from 'vuex'

  export default {
    mixins: [isMobile],
    props: {
      headerCopy: {type: String, required: false, default: "It's Better on the App!"},
      bodyCopy: {type: String, required: false, default: 'Download the Rapchat app to hear more dope beats and raps'},
      buttonCopy: {type: String, required: false, default: 'Get the App'}
    },
    data () {
      return {
        error: null,
        loading: false,
        sentLink: false,
        phoneInput: ''
      }
    },
    computed: {
      ...mapState(['currentUser'])
      // headerCopy () {
      //   if (this.currentUser) {
      //     return "Ready to record a rap?"
      //   } else {
      //     return "Like What You Hear?"
      //   }
      // },
      // bodyCopy () {
      //   if (this.currentUser) {
      //     return 'Get the full experience with the App!'
      //   } else {
      //     return 'Download the Rapchat app to hear more dope beats and raps.'
      //   }
      // },
      // buttonCopy () {
      //   if (this.isMobile) {
      //     if (this.currentUser) {
      //       return 'Download the App'
      //     }
      //     return 'Join the Community'
      //   } else {
      //     return this.loading ? 'Loading...' : 'Text Me the Download Link'
      //   }
      // }
    },
    methods: {
      sendRapperNumber() {
          let _this = this
          let linkData = {
              tags: [],
              channel: 'Website',
              feature: 'webInteractionModal',
          };
          this.loading = true
          branch.sendSMS(this.phoneInput, linkData, {}, (err, result) => {
              if (err) {
                  console.log(err)
                  this.error = true
                  this.loading = false
              } else {
                  this.sentLink = true
                  this.loading = false
                  this.error = false
              }
          });
      },
      sendAppLink () {
        branch.link({
            tags: [],
            channel: 'Web',
            feature: 'webInteractionModal',
            data: {
            }
        }, function (err, link) {
            console.log(err, link);
            window.location.replace(link)
        });
      }
    }
  }
</script>
<style lang="stylus">
.download-cta{
  .imagePic{
    @media (max-width: 767px){position: relative;
    left: 50%;
    transform: translateX(-50%);
    }}
  color: #9b9b9b;
  h1 {
    color: white;
    font-weight: 900;
    font-size: 36px;
  }
  margin-top: 51px;
  .body-copy {
    font-size: 17px;
    font-weight: 500px;
  }
  .phone-link-input {
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    border-bottom: 1px solid #9b9b9b;
    text-align: center;
    color: white;
    font-size: 17px;
  }
  .button-primary {
   width:100%;
   height: 50px;
   border-radius: 95px;
   background-color: #8c8046;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
   outline:none;
   border:none;
   &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      color: rgb(0,0,0)
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: rgb(0,0,0)
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
      cursor: pointer;
    }
 }
}
</style>
