<template>
  <div class="container" v-if="producer">
    <div class="col-12 edit" >
      <div class="row">
        <div class="col-12 col-lg-4 text-center">
          <div class="row justify-content-center header-row">
            <div class="col-10 col-sm-12 flex justify-content-center">
              <div class="edit-icon-wrap">
                <div class="media-profile-photo-container rounded-circle">
                  <img :src="this.getProfileImg(this.producer.profilephoto)" class="media-profile-photo" v-if="!newPhoto && this.producer.profilephoto">
                  <img src="~/static/img/group-4@3x.png" class="media-profile-photo" v-else-if="!newPhoto">
                  <img :src="this.newPhoto" class="media-profile-photo" v-else-if="newPhoto">
                </div>
                <span class="edit-image-icon" @click='clickUpload'>
                  <input id="#producerImgInput" type="file" accept="image/*" class="d-none" @change='setProducerArtworkFile($event)'>
                  <img class="pencil-edit-img" src="~/static/img/pencil-edit.svg">
                </span>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12">
                <p class="producer-name">{{this.producer.username}}</p>
                <div class="divider-line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12">
              <dl class="producer-info">
                <dt>BIO</dt>
                <input class="edit-info-input" type="text" placeholder="max 300 chars." :class="bioInput.validated ? 'form-success': 'form-error'" v-model="bioInput.input">
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <dl class="producer-info">
                <div class="mb-3">
                  <dt>PHONE</dt>
                  <input class="edit-info-input" type="text" v-model="phoneInput.input" placeholder="+1 281-330-8004":class="phoneInput.validated ? 'form-success': 'form-error' ">
                </div>
                <div class="mb-3">
                  <dt>
                    <img src="~/static/img/sc-mono-icon.svg" class="icon"> SOUNDCLOUD
                  </dt>
                  <input class="edit-info-input" :class="soundcloudInput.validated ? 'form-success': 'form-error' " placeholder="soundcloud.com/rapchat" type="text" v-model="soundcloudInput.input">
                </div>
              </dl>
            </div>
            <div class="col-12 col-lg-6">
              <dl class="producer-info">
                <div class="mb-3">
                  <dt>WEBSITE</dt>
                  <input class="edit-info-input" placeholder="https://www.example.com" :class="websiteInput.validated ? 'form-success': 'form-error' " type="text" v-model="websiteInput.input" >
                </div>
                <div class="mb-3">
                  <dt><img src="~/static/img/twitter-mono-icon.svg" class="icon"> TWITTER URL</dt>
                  <input class="edit-info-input" placeholder=" twitter.com/rapchatapp" :class="twitterInput.validated ? 'form-success': 'form-error'" type="text" v-model="twitterInput.input">
                </div>
              </dl>
            </div>
            <div class="col-12">
              <dl class="producer-info">
                <div class="mb-3">
                  <dt><img src="~/static/img/mail-8.png"> EMAIL</dt>
                  <div class="input-group d-flex justify-content-between">
                    <input class="email-input" :class="emailInput.validated ? 'form-success': 'form-error'" type="text" v-model="emailInput.input">
                    <div v-if="!isMobile" class="hide-email ml-2 d-flex align-items-center">
                      <div class="input-group-text d-flex align-items-center email-input">
                        <div class="row d-flex align-items-center">
                          <div class="show-email-label col-6">
                            HIDE
                          </div>
                          <div class="col-6">
                            <input type="checkbox" v-model="hideEmail">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </dl>
            </div>
            <div class="col-12" v-if="isMobile">
              <div class="input-group-text d-flex align-items-center email-input hide-email-input">
                <div class="row d-flex align-items-center">
                  <div class="show-email-label col-6">
                    HIDE
                  </div>
                  <div class="col-6">
                    <input type="checkbox" v-model="hideEmail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-sm-5 pb-sm-5">
            <div class="col-6 mt-4 mt-sm-0">
              <button class="btn btn-link button-link-outline mr-sm-5 mr-2" @click='cancelEdit'>Cancel</button>
            </div>
            <div class="col-6 mt-4 mt-sm-0">
              <button class="btn btn-secondary button-primary" @click='submitEdit'>Save</button>
            </div>
            <span class="error-text">{{errors}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import _ from 'lodash'
import axios from '~/plugins/axios.js'
import validators from '~/utils/validators.js'
import isMobile from '~/mixins/isMobile.js'

export default {
  mixins: [isMobile],
  name: 'EditProfileModal',
  data () {
    return {
      isLoading: true,
      newPhoto: null,
      errors: null,
      bioInput: {input:'', validated: false},
      phoneInput: {input:'', validated: false},
      emailInput: {input:'', validated: false},
      facebookInput: {input:'', validated: false},
      websiteInput: {input:'', validated: false},
      twitterInput: {input:'', validated: false},
      soundcloudInput: {input:'', validated: false},
      producerProfilePic: {input: null, validated: false},
      hideEmail: false
    }
  },
  beforeMount () {
    if (this.producer) {
      this.beginEdit()
    }
  },
  watch: {
    producer () {
      if (this.producer) {
        this.beginEdit()
      }
    },
    bioFormInput () {
      if (this.validateBio(this.bioInput.input)) {
        this.bioInput.validated = true
      } else {
        this.bioInput.validated = false
      }
      let self = this
      // this.debounceLog('Bio Edited', this.eventData, self)
    },
    emailFormInput () {
      if (this.validateEmail(this.emailInput.input)) {
        this.emailInput.validated = true
      } else {
        this.emailInput.validated = false
      }
      let self = this
      // this.debounceLog('Email Edited', this.eventData, self)
    },
    twitterFormInput () {
      if (this.validateLink(this.twitterInput.input)) {
        this.twitterInput.validated = true
      } else {
        this.twitterInput.validated = false
      }
      let self = this
      // this.debounceLog('Twitter Edited', this.eventData, self)
    },
    websiteFormInput () {
      if (this.validateLink(this.websiteInput.input)) {
        this.websiteInput.validated = true
      } else {
        this.websiteInput.validated = false
      }
      let self = this
      // this.debounceLog('Website Edited', this.eventData, self)
    },
    soundcloudFormInput () {
      if (this.validateLink(this.soundcloudInput.input)) {
        this.soundcloudInput.validated = true
      } else {
        this.soundcloudInput.validated = false
      }
      let self = this
      // this.debounceLog('SoundCloud Edited', this.eventData, self)
    },
    phoneFormInput () {
      if (this.validatePhone(this.phoneFormInput)) {
        this.phoneInput.validated = true
      } else {
        this.phoneInput.validated = false
      }
      let self = this
      // this.debounceLog('Phone Edited', this.eventData, self)
    }
  },
  computed: {
    bioFormInput () {
      return this.bioInput.input
    },
    emailFormInput () {
      return this.emailInput.input
    },
    websiteFormInput () {
      return this.websiteInput.input
    },
    soundcloudFormInput () {
      return this.soundcloudInput.input
    },
    twitterFormInput () {
      return this.twitterInput.input
    },
    phoneFormInput () {
      return this.phoneInput.input
    },
    ...mapState({
      producer: state => state.currentUser
    }),
    eventData () {
      let username = this.producer ? this.producer.username : null
      let userid = this.producer ? this.producer._id : null
      let data = {
        'username': username,
        'userid': userid,
        'view': 'edit profile',
        'bio input': this.bioFormInput,
        'email input': this.emailFormInput,
        'website input': this.emailFormInput,
        'soundcloud input': this.soundcloudFormInput,
        'twitter input': this.twitterFormInput,
        'phone input': this.phoneFormInput,
        'image input': this.newPhoto ? this.newPhoto.name : null
      }
      return data
    }
  },
  methods: {
    beginEdit () {
      this.bioInput.input = this.producer.bio
      this.phoneInput.input = this.producer.phone
      this.emailInput.input = this.producer.email
      this.facebookInput.input = this.producer.facebook
      this.websiteInput.input = this.producer.otherlink
      this.twitterInput.input = this.producer.twitter
      this.soundcloudInput.input = this.producer.soundcloud
      this.hideEmail = !this.producer.showEmail
    },
    cancelEdit () {
       this.$root.$emit('bv::hide::modal','editInfo')
    },
    submitEdit () {
      let alert = []
      var userInfo = new FormData()
      if (this.bioInput.validated) {
        userInfo.append("bio", this.bioInput.input)
        alert.push("Bio")
      }
      if (this.emailInput.validated) {
        userInfo.append("email", this.emailInput.input)
        alert.push("Email")
      }
      if (this.soundcloudInput.validated) {
        userInfo.append("soundcloud", this.soundcloudInput.input)
        alert.push("Soundcloud")
      }
      if (this.websiteInput.validated) {
        userInfo.append("otherlink", this.websiteInput.input)
        alert.push("Website")
      }
      if (this.twitterInput.validated) {
        userInfo.append("twitter", this.twitterInput.input)
        alert.push("Twitter")
      }
      if (this.phoneInput.validated) {
        userInfo.append('phone', this.phoneFormInput)
        alert.push("phone")
      }
      if (this.producerProfilePic.validated) {
        userInfo.append("producerProfilePic", this.producerProfilePic.input)
        alert.push("Profile Photo")
      }
      // for (var pair of userInfo.entries()) {
      //   console.log(pair[0]+ ', ' + pair[1]);
      // }
      userInfo.append('showEmail', !this.hideEmail)
      userInfo.append('producerProfilePic', null)
      let token = this.producer.token
      axios.put(
        '/producers/update',
         userInfo,
        {headers: {'X-ZUMO-AUTH': token, 'Content-Type': 'multipart/form-data'}}
      ).then((res) => {
        if (res.data.success) {
          this.producer.bio = res.data.data.bio
          this.producer.email = res.data.data.email
          this.producer.otherlink = res.data.data.otherlink
          this.producer.phone = res.data.data.phone
          this.producer.profilephoto = res.data.data.profilephoto
          this.producer.soundcloud = res.data.data.soundcloud
          this.producer.twitter = res.data.data.twitter
          this.producer.showEmail = res.data.data.showEmail
          this.logEvent('Profile Edited', this.eventData)
          this.cancelEdit()
          //TODO give better alert messages
          if (!alert || alert.length === 0) {
            window.alert("No fields updated! Double check for errors.")
          } else {
            window.alert('Profile Updated')
          }
          this.$forceUpdate()
        } else {
          this.logEvent('Profile Edited Failed', {...this.eventData, 'error':res.data.message})
          window.alert('hmm... something went wrong. try again later')
        }
      })
      .catch((e) => {
        // do something better than this
        this.logEvent('Profile Edited Failed', {...this.eventData, 'error':res.data.message})
        window.alert("hmm something went wrong and we weren't able to update your data. try again later.")
      })
    },
    validateEmail (email) {
      return validators.validateEmail(email)
    },
    validateLink (link) {
      return validators.validateLink(link)
    },
    validatePhone (phone) {
      return validators.validatePhone(phone)
    },
    validateImg (file) {
      return validators.validateImg(file)
    },
    validateBio (bio) {
      if (bio && bio.length >= 1 && bio.length < 400) {
        return true
      } else {
        return false
      }
    },
    getProfileImg(img) {
      let url = `https://cdn.rapchat.me/images/${img}`
      return url
    },
    setProducerArtworkFile (event) {
      //log photo changed
      let imgFile = event.target.files[0]
      if (this.validateImg(imgFile)) {
        this.producerProfilePic.input = imgFile
        this.producerProfilePic.validated = true
        var reader = new FileReader();
        reader.onload = (e) => {
          this.newPhoto = e.target.result
        };
        reader.readAsDataURL(imgFile);
      } else {
        alert('Please keep image under 2MB')
      }
    },
    clickUpload (event, index) {
      if (process.browser) {
        let input = document.getElementById('#producerImgInput')
        input.click()
      }
    },
    // deleteAccount () {
    //   if (confirm("This will remove all of your data from both web AND in the App are you sure you want to continue?")) {
    //     //delete the user
    //     // axios.delete(`/producers/delete/${this.producer._id}`, headers: {
    //     //   token: this.producer.token
    //     // })
    //   }
    // },
    logEvent (event, data) {
      if (process.browser) {
        let ampl = amplitude.getInstance()
        ampl.init('e93869e9ffb55d729fa1eddcd851786f')
        ampl.logEvent(event, data)
      }
    },
    debounceLog: _.debounce((event, data, ctx) => {
      if (process.browser) {
        ctx.logEvent(event, data)
      }
    }, 3000)
  }
}
</script>
<style lang="stylus">
.edit {
  .button-primary {
   width:100%;
   height: 50px;
   border-radius: 95px;
   background-color: #8c8046;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
   outline:none;
   border:none;
   &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      color: rgb(0,0,0)
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: rgb(0,0,0)
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
      cursor: pointer;
    }
 }

 .button-muted{
   width: 100%;
   height: 50px;
   border-radius: 95px;
   background-color: #202323;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
   outline:none;
   border:none;
   cursor: pointer;
   &:focus{
     border: none !important;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
   }
   &:active {
      color: #8c8046;
      background-color: #171919 !important;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: #8c8046;
      border-radius: 95px;
      background-color: #202323;
      color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
 }

 .button-danger{
   border-radius: 45px;
   border:1px solid #C14242;
   background-color: #c14242
   cursor: pointer;
   &:hover{
     background-color: #c14242;
   }
 }

 .edit-info-input{
   width: 100%;
   margin-top:10px;
   padding: 14px;
   border-radius: 6px;
   background-color: #202123;
   border: none;
   color: white;
   font-size: 17px;
   &:focus{
     box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
     border: none !important;
     outline: none;
   }
 }

 .producer-info dt {
   color: gray;
 }
 dd {
   padding-top: 14px;
   padding-bottom: 14px;
   font-size: 17px;
 }
 .button-link-outline{
   width:50%;
   color: white;
 }
 .button-link-outline:hover{
   color: white;
   text-decoration-color: white;
   cursor: pointer;
 }
 .producer-info-container{
   width: 50%;
   margin: 0 auto;
 }
 .edit-icon-wrap{
   position:relative;
 }
 .edit-image-icon{
   top: 0px;
   right: 0px;
   cursor: pointer;
   position: absolute;
   display: relative;
   z-index:1000;
 }
 .pencil-edit-img{
   height: 35px;
 }
 .producer-name{
   font-size: 24px;
   font-weight:500;
   margin-top:10px;
 }
 .producer-name-subhead{
   font-size: 16px;
   font-weight:500;
   color:#969696;
 }
 .producer-image-container{
   -webkit-border-radius: 100%;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 100%;
   -moz-background-clip: padding;
   border-radius: 100%;
   background-clip: padding-box;
   margin-bottom: 100%;
   background-size: cover;
   background-position: center center;
 }
 .media-profile-photo-container {
   width:120px;
   height:120px;
   overflow: hidden;
   position: relative;
 }
 .media-profile-photo {
   /* making the height 160 ensures that iPhone aspect ratio photos stay round   */
  //  height:160px;
   position: absolute;
   margin: 0 auto;
   left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   -moz-transform: translateY(-50%) translateX(-50%);
 }
 .icon {
   vertical-align:center;
 }
 .divider-line {
   width:60%;
   margin: auto;
   height:1px;
   background: rgba(150, 150, 150, .30)
 }
 .form-error:focus {
   box-shadow: 0 0 0 0.1rem rgba(173,0,2,.9);
 }
 .form-success:focus {
   box-shadow: 0 0 0 0.1rem rgba(53, 161, 95, .9)
 }
 .email-input {
   @media (max-width: 425px) {
     width 100%
   }
   padding: 14px;
   border-radius: 6px;
   background-color: #202123;
   border: none;
   color: white;
   font-size: 17px;
   &:focus{
     box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
     border: none !important;
     outline: none;
   }
 }
 .hide-email-input {
   @media (max-width: 425px) {
     width 50%
   }
 }
 .show-email-label {
   margin-top: 3%;
   background-color: transparent;
 }
}

</style>
