<template>
  <div class="container" v-if="producer">
    <div class="col-12 edit px-0" >
      <div class="row px-0">
        <div class="col-12 col-lg-3 text-center px-0">
          <div class="row justify-content-center header-row">
            <div class="col-10 col-sm-12 flex justify-content-center">
              <div class="edit-icon-wrap">
                <div class="media-profile-photo-container rounded-circle">
                  <img :src="this.getProfileImg(this.producer.profilephoto)" class="media-profile-photo" v-if="!newPhoto && this.producer.profilephoto">
                  <img src="~/static/img/group-4@3x.png" class="media-profile-photo" v-else-if="!newPhoto">
                  <img :src="this.newPhoto" class="media-profile-photo" v-else-if="newPhoto">
                </div>
                <span class="edit-image-icon">
                  <input id="#producerImgInput" style="position: absolute; left: 0px; opacity: 0; width: 35px;" type="file" accept="image/*" class="" @change='setProducerArtworkFile($event)'>
                  <img class="pencil-edit-img" src="~/static/img/pencil-edit.svg">
                </span>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12">
                <p class="producer-name">{{this.producer.username}}</p>
                <div class="divider-line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-9 px-0">
          <div class="row">
            <div class="col-12">
              <dl class="producer-info">
                <dt>Producer Name</dt>
                <input class="edit-info-input" type="text" placeholder="Producer Name" :class="usernameInput.validated ? 'form-success': 'form-error'" v-model="usernameInput.input" @change="usernameInput.validated=true">
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <dl class="producer-info">
                <dt>Real Name</dt>
                <input class="edit-info-input" type="text" placeholder="Real Name" :class="realnameInput.validated ? 'form-success': 'form-error'" v-model="realnameInput.input" @change="realnameInput.validated=true">
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <dl class="producer-info">
                <dt>Location</dt>
                <input class="edit-info-input" type="text" placeholder="City, State, Country" :class="locationInput.validated ? 'form-success': 'form-error'" v-model="locationInput.input" @change="locationInput.validated=true">
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <dl class="producer-info">
                <dt>BIO</dt>
                <textarea class="edit-info-input" placeholder="Bio" :class="bioInput.validated ? 'form-success': 'form-error'" v-model="bioInput.input"></textarea>
                <span class="text-muted float-right">{{wordCount}}/240</span>
              </dl>
            </div>
          </div>
          <div class="row" v-if="false">
            <div class="col-12">
              <dl class="producer-info">
                <dt>Social</dt>
                <SocialShare />
              </dl>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12 col-lg-6">
              <dl class="producer-info">
                <div class="mb-3">
                  <dt>PHONE</dt>
                  <input class="edit-info-input" type="text" v-model="phoneInput.input" placeholder="+1 281-330-8004":class="phoneInput.validated ? 'form-success': 'form-error' ">
                </div>
                <div class="mb-3">
                  <dt>
                    <img src="~/static/img/sc-mono-icon.svg" class="icon"> SOUNDCLOUD
                  </dt>
                  <input class="edit-info-input" :class="soundcloudInput.validated ? 'form-success': 'form-error' " placeholder="soundcloud.com/rapchat" type="text" v-model="soundcloudInput.input">
                </div>
              </dl>
            </div>
            <div class="col-12 col-lg-6">
              <dl class="producer-info">
                <div class="mb-3">
                  <dt>WEBSITE</dt>
                  <input class="edit-info-input" placeholder="https://www.example.com" :class="websiteInput.validated ? 'form-success': 'form-error' " type="text" v-model="websiteInput.input" >
                </div>
                <div class="mb-3">
                  <dt><img src="~/static/img/twitter-mono-icon.svg" class="icon"> TWITTER URL</dt>
                  <input class="edit-info-input" placeholder=" twitter.com/rapchatapp" :class="twitterInput.validated ? 'form-success': 'form-error'" type="text" v-model="twitterInput.input">
                </div>
              </dl>
            </div>
            <div class="col-12">
              <dl class="producer-info">
                <div class="mb-3">
                  <dt><img src="~/static/img/mail-8.png"> EMAIL</dt>
                  <div class="input-group d-flex justify-content-between">
                    <input class="email-input" :class="emailInput.validated ? 'form-success': 'form-error'" type="text" v-model="emailInput.input">
                    <div v-if="!isMobile" class="hide-email ml-2 d-flex align-items-center">
                      <div class="input-group-text d-flex align-items-center email-input">
                        <div class="row d-flex align-items-center">
                          <div class="show-email-label col-6">
                            HIDE
                          </div>
                          <div class="col-6">
                            <input type="checkbox" v-model="hideEmail">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </dl>
            </div>
            <div class="col-12" v-if="isMobile">
              <div class="input-group-text d-flex align-items-center email-input hide-email-input">
                <div class="row d-flex align-items-center">
                  <div class="show-email-label col-6">
                    HIDE
                  </div>
                  <div class="col-6">
                    <input type="checkbox" v-model="hideEmail">
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row mt-sm-5 pb-sm-3">
            <div class="col-6"></div>
            <div class="col-3 mt-4 mt-sm-0">
              <button class="btn btn-link button-link-outline mr-sm-5 mr-2 mt-1" @click='cancelEdit'>Cancel</button>
            </div>
            <div class="col-3 mt-4 mt-sm-0" style="max-height: 35px;">
              <button class="btn btn-secondary button-primary" @click='submitEdit'>
                <span v-if="!isLoading">Save</span>
                <span v-if="isLoading">Loading...</span>
              </button>
            </div>
            <span class="error-text">{{errors}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, dispatch } from 'vuex'
import _ from 'lodash'
import axios from '~/plugins/axios.js'
import admin from '~/plugins/adminApi.js'
import validators from '~/utils/validators.js'
import isMobile from '~/mixins/isMobile.js'
import SocialShare from './SocialShare'
import filters from '~/utils/filters.js'

export default {
  mixins: [isMobile],
  name: 'EditProfileModal',
  data () {
    return {
      isLoading: false,
      newPhoto: null,
      errors: null,
      usernameInput: {input:'', validated: false},
      realnameInput: {input:'', validated: false},
      locationInput: {input:'', validated: false},
      bioInput: {input:'', validated: false},
      producerProfilePic: {input: null, validated: false},
    }
  },
  beforeMount () {
    if (this.producer) {
      this.beginEdit()
    }
  },
  watch: {
    producer () {
      if (this.producer) {
        this.beginEdit()
      }
    },
    bioFormInput () {
      if (this.validateBio(this.bioInput.input)) {
        this.bioInput.validated = true
      } else {
        this.bioInput.validated = false
      }
      let self = this
      if(this.bioInput.input != null) {
        this.bioInput.input = this.bioInput.input.slice(0, 240)
      }
      // this.debounceLog('Bio Edited', this.eventData, self)
    },
    usernameFormInput () {
      if (this.usernameInput.input >= 4) {
        this.usernameInput.validated = true
      } else {
        this.usernameInput.validated = false
      }
      let self = this
      // this.debounceLog('Email Edited', this.eventData, self)
    },
    realnameFormInput () {
      if (this.realnameInput.input >= 3) {
        this.realnameInput.validated = true
      } else {
        this.realnameInput.validated = false
      }
      let self = this
      // this.debounceLog('Email Edited', this.eventData, self)
    },
    locationFormInput () {
      if (this.locationInput.input >= 3) {
        this.locationInput.validated = true
      } else {
        this.locationInput.validated = false
      }
      let self = this
      // this.debounceLog('Email Edited', this.eventData, self)
    },
    },
  computed: {
    wordCount() {
      return this.bioInput.input ? this.bioInput.input.length : 0
    },
    bioFormInput () {
      return this.bioInput.input
    },
    ...mapState({
      producer: state => state.currentUser,
      // state: state => state
    }),
    eventData () {
      let username = this.producer ? this.producer.username : null
      let userid = this.producer ? this.producer._id : null
      // let data = {
      //   'username': this.usernameFormInput,
      //   'realname': this.usernameFormInput,
      //   'location': this.locationFormInput,
      //   'bio': this.bioFormInput
      // }
      // return data
      }
  },
  methods: {
    beginEdit () {
      this.bioInput.input = this.producer.bio
      this.usernameInput.input = this.producer.username
      this.realnameInput.input = this.producer.fullName
      this.locationInput.input = this.producer.location ? filters.location(this.producer.location) : ''
    },
    cancelEdit () {
       this.$root.$emit('bv::hide::modal','editUser')
    },
    submitEdit () {
      let alert = []
      var userInfo = new FormData()
      if (this.bioInput.validated) {
        userInfo.append("bio", this.bioInput.input)
        alert.push("Bio")
      }
      if (this.producerProfilePic.validated) {
        userInfo.append("producerProfilePic", this.producerProfilePic.input)
        alert.push("Profile Photo")
      }
      if (this.usernameInput.validated) {
        userInfo.append("username", this.usernameInput.input)
        alert.push("Username")
      }
      if (this.realnameInput.validated) {
        userInfo.append("fullName", this.realnameInput.input)
        alert.push("Name+")
      }
      if (this.locationInput.validated) {
        let locA = this.locationInput.input.split(',')
        if (locA[0]) {
          userInfo.append("city", locA[0].trim())
          alert.push("City")
      }
        if(locA[1]) {
          userInfo.append("state", locA[1].trim())
          alert.push("state")
      }
        if(locA[2]) {
          // console.log(locA.splice(2).join(''))
          userInfo.append("country", locA.splice(2).join('').trim())
          alert.push("Country")
      }
      }
      for (var pair of userInfo.entries()) {
        console.log(pair[0]+ ', ' + pair[1]);
      }
      // userInfo.append('showEmail', !this.hideEmail)
      // userInfo.append('producerProfilePic', null)
      // console.log(this.state)
      admin.put(
        `/admin/producers/update/${this.producer._id}`,
         userInfo,
        {headers: {'X-ZUMO-AUTH': this.producer.token, 'Content-Type': 'multipart/form-data'}}
      ).then((res) => {
        if (res.data.success) {
          this.producer.bio = res.data.data.bio
          this.producer.profilephoto = res.data.data.profilephoto
          this.producer.username = res.data.data.username
          this.producer.fullName = res.data.data.fullName
          this.producer.location = {}
          if (res.data.data.location.city)
            this.producer.location['city'] = res.data.data.location.city
          if (res.data.data.location.state)
            this.producer.location['state'] = res.data.data.location.state
          if (res.data.data.location.country)
            this.producer.location['country'] = res.data.data.location.country
          this.producer.profilephoto = res.data.data.profilephoto
          // this.producer.isProducer = true
          // console.log(res.data.data)
          this.$store.dispatch('loginUser', this.producer)
          // this.setUser(this.producer)
          this.logEvent('Profile Edited', this.eventData)
          this.cancelEdit()
          //TODO give better alert messages
          if (!alert || alert.length === 0) {
            window.alert("No fields updated! Double check for errors.")
          } else {
            window.alert('Profile Updated')
          }
          this.$forceUpdate()
          // window.reload()
        } else {
          this.logEvent('Profile Edited Failed', {...this.eventData, 'error':res.data.message})
          window.alert('hmm... something went wrong. try again later')
        }
      })
      .catch((e) => {
        console.log(e)
        // do something better than this
        this.logEvent('Profile Edited Failed', {...this.eventData, 'error':res.data.message})
        window.alert("hmm something went wrong and we weren't able to update your data. try again later.")
      })
    },
    validateEmail (email) {
      return validators.validateEmail(email)
    },
    validateLink (link) {
      return validators.validateLink(link)
    },
    validatePhone (phone) {
      return validators.validatePhone(phone)
    },
    validateImg (file) {
      return validators.validateImg(file)
    },
    validateBio (bio) {
      if (bio && bio.length >= 1 && bio.length < 400) {
        return true
      } else {
        return false
      }
    },
    getProfileImg(img) {
      let url = `https://cdn.rapchat.me/images/${img}`
      return url
    },
    setProducerArtworkFile (event) {
      //log photo changed
      let imgFile = event.target.files[0]
      if (this.validateImg(imgFile)) {
        this.producerProfilePic.input = imgFile
        this.producerProfilePic.validated = true
        var reader = new FileReader();
        reader.onload = (e) => {
          console.log(e.target.result)
          this.newPhoto = e.target.result
        };
        reader.readAsDataURL(imgFile);
      } else {
        alert('Please keep image under 2MB')
      }
    },
    // deleteAccount () {
    //   if (confirm("This will remove all of your data from both web AND in the App are you sure you want to continue?")) {
    //     //delete the user
    //     // axios.delete(`/producers/delete/${this.producer._id}`, headers: {
    //     //   token: this.producer.token
    //     // })
    //   }
    // },
    logEvent (event, data) {
      if (process.browser) {
        let ampl = amplitude.getInstance()
        ampl.init('e93869e9ffb55d729fa1eddcd851786f')
        ampl.logEvent(event, data)
      }
    },
    debounceLog: _.debounce((event, data, ctx) => {
      if (process.browser) {
        ctx.logEvent(event, data)
      }
    }, 3000)
  }
}
</script>
<style lang="stylus">
#editUser .modal-content {

    border-radius: 4px;
    border: 1px solid white;
}
.container {
  position: relative;
  top: -40px;
}
.edit {
  .button-primary {
   width:100%;
   height: 50px;
   border-radius: 95px;
   background-color: #8c8046;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
   outline:none;
   border:none;
   &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      color: rgb(0,0,0)
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: rgb(0,0,0)
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
      cursor: pointer;
    }
 }

 .button-muted{
   width: 100%;
   height: 50px;
   border-radius: 95px;
   background-color: #202323;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
   outline:none;
   border:none;
   cursor: pointer;
   &:focus{
     border: none !important;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
   }
   &:active {
      color: #8c8046;
      background-color: #171919 !important;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: #8c8046;
      border-radius: 95px;
      background-color: #202323;
      color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
 }

 .button-danger{
   border-radius: 45px;
   border:1px solid #C14242;
   background-color: #c14242
   cursor: pointer;
   &:hover{
     background-color: #c14242;
   }
 }

 .edit-info-input{
   width: 100%;
   padding: 14px;
   border-radius: 6px;
   background-color: #202123;
   border: none;
   color: white;
   font-size: 17px;
   &:focus{
     box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
     border: none !important;
     outline: none;
   }
 }

 .producer-info dt {
   color: gray;
 }
 dd {
   padding-top: 14px;
   padding-bottom: 14px;
   font-size: 17px;
 }
 .button-link-outline{
   width:50%;
   color: white;
 }
 .button-link-outline:hover{
   color: white;
   text-decoration-color: white;
   cursor: pointer;
 }
 .producer-info-container{
   width: 50%;
   margin: 0 auto;
 }
 .edit-icon-wrap{
   position:relative;
   border-radius: 50%;
   border: 1px solid rgba(255,255,255,.9);
 }
 .edit-image-icon{
   top: 0px;
   right: 0px;
   cursor: pointer;
   position: absolute;
   display: relative;
   z-index:1000;
 }
 .pencil-edit-img{
   height: 35px;
 }
 .producer-name{
   font-size: 24px;
   font-weight:500;
 }
 .producer-name-subhead{
   font-size: 16px;
   font-weight:500;
   color:#969696;
 }
 .producer-image-container{
   -webkit-border-radius: 100%;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 100%;
   -moz-background-clip: padding;
   border-radius: 100%;
   background-clip: padding-box;
   margin-bottom: 100%;
   background-size: cover;
   background-position: center center;
 }
 .media-profile-photo-container {
   width:120px;
   height:120px;
   overflow: hidden;
   position: relative;
 }
 .media-profile-photo {
   min-height: 100%;
   min-width: 100%;
   width: 100%;
   position: absolute;
   margin: 0 auto;
   left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   -moz-transform: translateY(-50%) translateX(-50%);
 }
 .icon {
   vertical-align:center;
 }
 .divider-line {
   width:60%;
   margin: auto;
   height:1px;
   background: rgba(150, 150, 150, .30)
 }
 .form-error:focus {
   box-shadow: 0 0 0 0.1rem rgba(173,0,2,.9);
 }
 .form-success:focus {
   box-shadow: 0 0 0 0.1rem rgba(53, 161, 95, .9)
 }
 .email-input {
   @media (max-width: 425px) {
     width 100%
   }
   padding: 14px;
   border-radius: 6px;
   background-color: #202123;
   border: none;
   color: white;
   font-size: 17px;
   &:focus{
     box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
     border: none !important;
     outline: none;
   }
 }
 .hide-email-input {
   @media (max-width: 425px) {
     width 50%
   }
 }
 .show-email-label {
   margin-top: 3%;
   background-color: transparent;
 }
}

</style>
