<template>
    <a class=" grey-button white--color gold py-3 px-4" href="#" :target="target">
        {{ value }}
    </a>
</template>

<script>
    export default{
        props: {
            'value': {type: String, required: true},
            'target': {type: String, require: false}
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .grey-button {
        background: #272527;
        text-decoration: none;
        border-radius: 30px;
        display: inline-block;
        font-weight: 700;

        &:hover {
            text-decoration :none;
            color:$theme.primary
        }
    }
</style>
