<template>
    <div class="flex scrollbar wrap row mx-0">
        <rc-song v-for="song in songss" :key="song.id" :song="song" :playerView="playerView" v-on:beatdeleted="removeBeat($event)"></rc-song>
    </div>
</template>

<script>
    import Song from '~/components/cards/Song'
    import storeSong from '~/mixins/storeSong'

    export default {
        mixins: [storeSong],
        props: {
            'songs': {type: Array, required: true},
            'type': {type: String, required: false, default: 'beat'},
            'playerView': {type: String, required: false, default: 'beats'}
        },
        data () {
          return {
              songss: []
          }
        },
        components: {
            'rc-song': Song
        },
        methods: {
          removeBeat (event) {
            //this is a hack @TODO fix this later using store
            this.songs = this.songs.filter((item) => {
              return item._id !== event
            })
          }
        }
    }
</script>

<style lang="stylus">
    .beats {
        overflow-x: hidden;
    }
</style>
