<template>
    <div class="d-flex scrollbar wrap row mx-0">
      <rc-user v-for="user in users" :key="user._id" :user="user"></rc-user>
    </div>
</template>

<script>
    import User from '~/components/cards/User'

    export default {
        props: {
            'users': {type: Array, required: true, default: () => []},
        },
        components: {
            'rc-user': User
        }
    }
</script>

<style lang="stylus">
    .beats {
        overflow-x: hidden;
    }
</style>
