<template>
  <div class="feed-header" :class="isMobile ? 'mt-5' : 'sticky-top '">
    <ul class="list-inline w-100 d-flex justify-content-center">
      <li class="list-inline-item feed-nav mt-2 head text-center" :class="active==='following' ? 'font-weight-bold':''">
        <nuxt-link :to="{path: 'feed' , query: {view:'following'}}" class="link-primary">
          Following
        </nuxt-link>
      </li>
      <li class="list-inline-item feed-nav mt-2 head text-center" :class="this.$router.currentRoute.query.view==='featured' ? 'font-weight-bold':''">
        <nuxt-link :to="{path: 'feed' , query: {view: 'featured'}}" class="link-primary">
          For You
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
<script>
import isMobile from '~/mixins/isMobile'
export default {
  name: 'HomeFeedNav',
  props: {active: {type: String, default: ''}},
  mixins: [isMobile],
  computed: {
    view () {
       if (this.$router.currentRoute.query.view !== 'beats' &&  this.$router.currentRoute.query.view !== 'featured') {
         return 'following'
       } else {
         return this.$router.currentRoute.query.view
       }
    }
  }
}
</script>
<style lang="stylus">
.feed-header
  &.sticky-top
    @media (max-width 800px)
      top 70px
  color white !important
  &:hover {
    color white !important
  }
  text-shadow 1px 1px 2px rgba(0,0,0,.5)
  z-index 30
  position absolute
  left 0
  right 0
  top 25px
  height 80px
  .head
    width 33.3%
</style>
