<template>
    <div class="image" :style="{
            'background': 'url(' + src + ') no-repeat center center',
            'height': height
            }">
    </div>
</template>

<script>
    export default {
        props: {
            src: {
                type: String,
                required: true
            },
            height: {
                type: String,
                required: false,
                default: 'auto'
            }
        }
    }
</script>

<style lang="stylus">
    .image {
        width: 100%;
        padding-top: 56.25%!important;
        background: #333;
        overflow: hidden;
        border-radius: 12px;
        border: 2px solid #222;
        position: relative;
        background-size: cover !important
    }
</style>