<template>
    <div>
        <div v-if="loading">
            <span :class="'dot ' + color"></span>
            <span :class="'dot ' + color"></span>
            <span :class="'dot ' + color"></span>
        </div>
        <template v-else>
            <div v-html="initial"></div>
        </template>
    </div>
</template>

<script>
    export default{
        props: {
            initial: {type: String, required: true},
            loader: {default: 'dots', type: String, required: false},
            loading: {type: Boolean, required: true},
            color: {default: 'grey lighten-3', type: String, required: false}
        }
    }
</script>

<style lang="stylus">
    .dot {
        display:inline-block;
        width:6px;
        height:6px;
        border-radius:50%;
        margin-right:3px;
        animation: wave 1s linear infinite;

        &:nth-child(2) {
            animation-delay: -0.8s;
        }

        &:nth-child(3) {
            animation-delay: -0.6s;
        }
    }

    @keyframes wave {
        0%, 60%, 100% {
            transform: initial;
        }

        30% {
            transform: translateY(-4px);
        }
    }
</style>