<template>
  <div class="container">
    <!-- <div class="d-flex justify-content-center">
  <img src="../../static/img/transparent.png">
    </div>-->
    <!-- <h4 class="text-center headingText">Join millions around the &#127758;</h4> -->
    <div class="row justify-content-center login-signup mt-0 pt-0">
      <div class="col-12 justify-content-center">
        <!-- <div class="row justify-content-around justify-content-sm-center no-gutters">
        <div class="col-6 col-md-3 text-center">
          <h2 class="login-title"><a href="" :class="active === 'signIn' ? 'active' : 'inactive'" @click.prevent="active='signIn'">SIGN IN</a></h2>
        </div>
        <div class="col-6 col-md-3 text-center">
          <h2 class="login-title si"><a href="" :class="active === 'signUp' ? 'active' : 'inactive'" @click.prevent="active='signUp'">SIGN UP</a></h2>
        </div>
        </div>-->

        <div class="row mx-1 mx-md-5 justify-content-center">
          <div class="text-center">
            <form>
              <div class="form-group">
                <ul v-if="active==='signUp'" class="nav nav-pills d-flex justify-content-center">
                  <li class="nav-item artist-pill">
                    <a
                      class="nav-link"
                      data-toggle="pill"
                      href
                      :class="active2 === 'artist' ? 'active' : 'inactive'"
                      @click.prevent="active2='artist'"
                    >Artist</a>
                  </li>
                  <li class="nav-item producer-pill">
                    <a
                      class="nav-link"
                      data-toggle="pill"
                      href
                      :class="active2 === 'producer' ? 'active' : 'inactive'"
                      @click.prevent="active2='producer'"
                    >Producer</a>
                  </li>
                </ul>
                <div class="artistContent" v-if="active2==='artist' && active === 'signUp'">
                  <h4>
                    For artists, we recommend using
                    using our 🔥 mobile app
                  </h4>
                  <div class="justify-content-center dwnlApp" >
                    <a href="http://rapch.at/stbg/hhtgeC3cyJ" v-if="!deviceType || deviceType === 'iOS'">
                      <img src="../../static/img/download-on-app-store.png" />
                    </a>
                    <a
                     v-if="!deviceType || deviceType ==='AndroidOS'" href="https://play.google.com/store/apps/details?id=me.rapchat.rapchat&amp;hl=en&amp;utm_source=global_co&amp;utm_medium=prtnr&amp;utm_content=Mar2515&amp;utm_campaign=PartBadge&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                      >
                      <img src="../../static/img/GooglePlayLogo.png" />
                    </a>
                  </div>
                </div>
                <div class="form-group">
                  <label v-if="active2==='producer'&& active==='signUp'" for="name">Producer Name</label>
                  <input
                    v-if="active2==='producer' || active==='signIn' "
                    type="text"
                    class="form-control login-signup-form"
                    :placeholder="active === 'signIn' ? 'Username or Email (Case Sensitive)' : ''"
                    v-model="usernameInput"
                    ref="usernameRef"
                  />
                </div>
                <div class="form-group">
                  <label v-if="active2==='producer'&& active==='signUp'" for="mail">Email</label>
                  <input
                    v-if="active==='signUp' && active2==='producer'"
                    type="email "
                    class="form-control login-signup-form mt-3"
                    :class="validEmail ? 'form-success' : 'form-error'"
                    placeholder
                    v-model="emailInput"
                  />
                </div>
                <div class="form-group">
                  <label v-if="active2==='producer'&& active==='signUp'" for="password">Password</label>
                  <input
                    v-if="active2==='producer' || active==='signIn' "
                    type="password"
                    class="form-control login-signup-form mt-3"
                    :class="this.active === 'signIn' ? '' : passwordInput.length > 6 ?  'form-success':'form-error'"
                    :placeholder="this.active === 'signIn' ? 'Password' : ''"
                    v-model="passwordInput"
                  />
                </div>
                <div class="form-group">
                  <label
                    v-if="active2==='producer'&& active==='signUp'"
                    for="Cpassword"
                  >Confirm Password</label>
                  <input
                    v-if="active==='signUp' && active2==='producer' "
                    type="password"
                    class="form-control login-signup-form mt-3"
                    :class="passwordMatch ? 'form-success' : 'form-error'"
                    placeholder
                    v-model="confirmPasswordInput"
                  />
                </div>
                <span class="error-text" v-show="active==='signUp'">{{signUpError}}</span>
                <span class="error-text" v-show="active==='signIn'">{{loginError}}</span>
                <small
                  class="form-text text-muted text-center mt-3"
                  v-if="active2==='producer' || active==='signIn'"
                >
                  By continuing forward, you agree to the
                  <a
                    href="/terms"
                    class="link-primary"
                  >Terms of Use</a>, and
                  <a href="privacy" class="link-primary">Privacy Policy</a>
                </small>
                <div v-if="active==='signUp' && active2==='producer'" class="row mt-3">
                  <div class="col-12 text-center">
                    <button
                      :disabled="!registerRequiredFields"
                      type="submit"
                      class="btn btn-secondary button-primary mt-2"
                      :class="!registerRequiredFields ? 'disabled' : ''"
                      @click.prevent="registerUser"
                    >{{signUpButton}}</button>
                    <!-- <small v-if = "active2==='producer' || active==='signIn'" class="form-text text-center mt-2">
                    <router-link to='/landing/producers' class="link-primary">Learn More
                    </router-link>
                    </small>-->
                    <small
                      v-if="active2==='producer' || active==='signIn'"
                      class="form-text text-center mt-2 already"
                    >
                      Already have an account?
                      <span
                        class="link-primary"
                        @click.prevent="active='signIn'"
                      >Log In</span>
                      <!-- <router-link to='/login' class="link-primary"> Log In
                      </router-link>-->
                    </small>
                  </div>
                </div>
                <div
                  class="row"
                  v-if="active==='signIn' && active2==='producer' || active==='signIn'"
                >
                  <div class="col-12 text-center">
                    <button
                      type
                      :disabled="!signInRequiredFields"
                      class="btn btn-secondary button-primary mt-3"
                      :class="!signInRequiredFields ? 'disabled' : ''"
                      @click.prevent="loginUser"
                    >{{signInButton}}</button>
                    <small class="form-text text-muted text-center mt-3">
                      <nuxt-link to="/forgot" class="link-primary">Forgot Password?</nuxt-link>
                    </small>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import validators from "~/utils/validators.js";
import axios from "~/plugins/axios";
import isMobile from '~/mixins/isMobile.js'
import deviceType from '~/mixins/deviceType.js'
import { mapActions, mapState } from "vuex";

export default {

  mixins: [isMobile, deviceType],

  name: "Login",
  data() {
    return {
      active: "signUp",
      usernameInput: "",
      emailInput: "",
      passwordInput: "",
      confirmPasswordInput: "",
      validEmail: null,
      validLink: null,
      emailInput: "",
      usernameInput: "",
      passwordInput: "",
      loginError: "",
      signUpError: null,
      active2: "producer"
    };
  },
  watch: {
    emailInput() {
      if (this.emailInput.length > 7) {
        this.validEmail = this.validateEmail(this.emailInput);
      }
    },
    usernameInput() {
      this.loginError = null;
      this.signUpError = null;
    }
  },
  computed: {
    ...mapState(["currentUser"]),
    passwordMatch() {
      if (
        this.passwordInput === this.confirmPasswordInput &&
        this.passwordInput.length > 6 &&
        this.confirmPasswordInput.length > 6
      ) {
        return true;
      } else {
        return false;
      }
    },
    registerRequiredFields() {
      if (
        this.usernameInput &&
        this.passwordInput &&
        this.confirmPasswordInput &&
        this.emailInput
      ) {
        return true;
      } else {
        return false;
      }
    },
    signInRequiredFields() {
      if (this.usernameInput && this.passwordInput) {
        return true;
      } else {
        return false;
      }
    },
    signUpButton() {
      if (this.loading) {
        return "Loading...";
      } else {
        return "Sign Up";
      }
    },
    signInButton() {
      if (this.loading) {
        return "Loading..";
      } else {
        return "Sign In";
      }
    }
  },
  methods: {
    ...mapActions({
      setUser: "loginUser",
      logout: "logoutUser"
    }),
    loginUser(
      event,
      username = this.usernameInput,
      password = this.passwordInput
    ) {
      // prevent if username or password is empty or active is sign up
      if (username && password) {
        if (this.active === "signIn") {
          let data = { emailOrUsername: username, password: password };
          this.loading = true;
          axios
            .post("/login?device_type=web", data)
            .then(res => {
              if (res.data.success) {
                this.setUser(res.data.data).then(
                  () => {
                    this.logEvent("Login", {
                      username: res.data.data.username,
                      view: "login",
                      userId: res.data.data._id
                    });
                    if (
                      this.$nuxt.$router.currentRoute.query.next ===
                        "producer" &&
                      !this.currentUser.isProducer
                    ) {
                      this.loading = false;
                      this.$root.$emit("bv::show::modal", "activeUserModal");
                    } else if (this.currentUser.isProducer) {
                      this.$nuxt.$router.push({
                        path: `/profile/${this.currentUser._id}`
                      });
                    } else {
                      this.loading = false;
                      this.$nuxt.$router.push({ path: `/profile/${this.currentUser._id}` });
                    }
                  },
                  err => {
                    console.log(err);
                  }
                );
              } else {
                console.log(res.data);
                this.loading = false;
                this.loginError = res.data.message;
                console.log(this.loginError)
                this.logEvent("Login Failed", { error: res.data.message });
              }
            })
            .catch(e => {
              console.log(e);
              this.loading = false;
              this.loginError = e.response.data.message;
              console.log(e.response.data.message);
              this.logEvent("Login Failed", { error: this.loginError });
            });
        } else {
          this.active = "signIn";
          // this.loginError = 'Username and Password do not match'
        }
      } else {
        if (this.active != "signIn") {
          this.active = "signIn";
        }
      }
    },
    registerUser() {
      // stop if not valid email, valid link or username is only 1 char.
      // set error text for each error state
      let length = this.usernameInput.length > 1;
      if (this.validEmail && length && this.passwordMatch) {
        let data = {
          username: this.usernameInput.trim(),
          email: this.emailInput.trim(),
          password: this.passwordInput
        };

        this.loading = true;
        let producer = this.$nuxt.$router.currentRoute.query.next;
        if (producer === "producer" || true) {
          axios
            .post("/producers/register", (data = data))
            .then(res => {
              if (res.data.success) {
                res.data.data.isProducer = true;
                this.setUser(res.data.data).then(() => {
                  this.logEvent("Account Created", {
                    username: res.data.data.username,
                    view: "sign up",
                    userId: res.data.data._id
                  });
                  let self = this;
                  setTimeout(() => {
                    self.$root.$emit("bv::show::modal", "welcomeModal");
                  }, 800);
                  this.$nuxt.$router.push({
                    path: `/profile/${res.data.data._id}`
                  });
                });
              } else {
                this.loading = false;
                this.signUpError = res.data.message;
                this.logEvent("Account Created Failed", {
                  error: res.data.message,
                  username: this.usernameInput
                });
              }
            })
            .catch(e => {
              this.loading = false;
              this.signUpError = e.response.data.message;
              this.logEvent("Account Created Failed", {
                error: e.response.data.message,
                username: this.usernameInput
              });
            });
        } else {
          axios
            .post("/register", (data = data))
            .then(res => {
              if (res.data.success) {
                res.data.data.isProducer = true
                this.setUser(res.data.data).then(() => {
                  this.logEvent("Account Created", {
                    username: res.data.data.username,
                    view: "sign up",
                    userId: res.data.data._id
                  });
                });
                this.$nuxt.$router.push({ path: `/profile/${res.data.data._id}` });
              }
            })
            .catch(e => {
              this.loading = false;
              this.signUpError = e.response.data.message;
              this.logEvent("Account Created Failed", {
                error: e.response.data.message,
                username: this.usernameInput
              });
            });
        }
      } else {
        if (this.registerRequiredFields) {
          if (!this.validEmail) {
            this.signUpError = "Please enter a valid email";
          } else if (!this.passwordMatch) {
            this.signUpError =
              "Make sure your passwords match, and are at least 7 characters.";
          } else if (this.usernameInput.length <= 1) {
            this.signUpError = "Your username must be at least 2 characters";
          }
        }
        this.logEvent("Account Created Failed", {
          error: this.signUpError,
          username: this.usernameInput
        });
      }
    },
    validateEmail(email) {
      return validators.validateEmail(email);
    },
    validateLink(link) {
      return validators.validateLink(link);
    },
    logEvent(event, data) {
      if (process.browser) {
        if (this.user) {
          let id = new amplitude.Identify()
            .set("username", this.user.username)
            .set("userid", this.user._id)
            .set("email", this.user.email)
            .set("beats uploaded", this.user.beatCount)
            .set("twitter url", this.user.twitter)
            .set("website url", this.user.otherlink)
            .set("soundcloud url", this.user.soundcloud)
            .set("platinum", this.user.isPlatinumProducer);
          // .set('followers', this.user.followers.length)
          // .set('following', this.user.following.length) amplitude.getInstance().identify(id)
        }
        let ampl = amplitude.getInstance();
        ampl.init("e93869e9ffb55d729fa1eddcd851786f");
        ampl.logEvent(`${event}`, data);
      }
    }
  }
};
</script>

<style lang="stylus" scoped>
.rc-container > .pt-5, .rc-container .mt-5{padding:0!important;margin:0!important}
.login-signup {
  .header {
    font-size: 1.4em;
    text-transform: uppercase;
    50%;
    font-weight: 500px;
  }

  .button-primary {
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    cursor: pointer;
    height: 72px;
    width: 359px;
    color: #FFFFFF;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    line-height: 27px;
    text-align: center;

    &:hover {
      color: black;
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline: none;
      border: none;
    }

    &:focus {
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    &:active {
      color: black;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    @media only screen and (max-width: 767px) {
      width: 250px !important;
    }

    @media only screen and (min-width: 360px) and (max-width:768px) {
      border-radius: 17px;
      height: 44px;
      font-family: Avenir;
      font-size: 17px;
    }
  }

  .button-primary.prod-sign-up {
    width: auto;
    border: 2px solid #8c8046;
    height: inherit;
    color: white;

    &:hover {
      color: black;
    }

    &:focus {
      border: 2px solid #8c8046 !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    &:active {
      color: black;
      border: 2px solid #8c8046 !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }

  .button-muted {
    width: 240px;
    height: 60px;
    border-radius: 95px;
    background-color: #202323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    cursor: pointer;

    &:focus {
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    &:active {
      background-color: #171919 !important;
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    &:hover {
      color: #8c8046;
      border-radius: 95px;
      background-color: #202323;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline: none;
      border: none;
    }
  }

  .button-muted.outline {
    width: auto;
    height: inherit;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #202323;

    &:hover {
      background-color: #202323;
      color: white;
      transition: all 0.3s ease;
    }

    &:focus {
      border: 2px solid #202323;
@css {
  !important
}
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    &:active {
      color: black;
      border: 2px solid #202323;
@css {
  !important
}
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      color: white;
      cursor: not-allowed;
    }
  }

  .login-signup-form {
    border: none;
    border-radius: 45px;
    background-color: #202123;
    padding-left: 25px;
    color: white;
    height: 50px;
    width: 789px;
    border-radius: 2px;
    background-color: #101010;

    @media only screen and (max-width: 767px) {
      width: 100% !important;
    }

    @media only screen and (max-width: 320px) {
      width: 100% !important;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      width: 100% !important;
    }
  }

  .login-signup-form:focus {
    height: 50px;
    width: 789px;
    border: none !important;
    outline: none;
    border-radius: 2px;
    background-color: #101010;
    text-decoration: none;
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.9);
    color: white;
  }

  .form-error:focus {
  }

  .form-success:focus {
  }

  .link-primary {
    color: #8c8046;
  }

  .active {
    color: white;

    &:hover {
      text-decoration: none;
      color: white;
      cursor: default;
    }
  }

  .inactive {
    color: gray;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  .login-title {
    font-size: 1.7em;
    letter-spacing: 0.2em;
  }

  .link-primary:hover {
    text-decoration: underline;
    underlne: #8c8046;
  }

  .divider {
    width: 40%;
    height: 1px;
    border: 1px solid rgba(155, 155, 155, 0.3);
  }

  .header-icon {
    margin: auto;
  }

  .signup-header {
    font-size: 28px;
    font-weight: 500;
    color: #969696;
  }

  .error-text {
    color: #C14242;
    font-size: 14px;
    text-transform: capitalize;
  }
}

.headingText {
  padding: 30px 0;
  font-size: 24px;
  color: #FFFFFF;
  font-family: Avenir-Black;
  font-size: 17px !important;
  font-weight: 500;
  line-height: 38px;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.nav-link.active {
  background: #007bff00 !important;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 16.8px;
  font-weight: 900;
  line-height: 23px;
  text-align: center;
}

li {
}

.artist-pill {
  box-sizing: border-box;
  height: 51.4px;
  width: 127px;
  border: 1px solid #979797;
  background-color: #101010;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;

  a {
    padding-top: 12px;
  }
}

.producer-pill {
  box-sizing: border-box;
  height: 51.4px;
  width: 127px;
  border: 1px solid #979797;
  background-color: #101010;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;

  a {
    padding-top: 12px;
  }
}

.artistContent {
  background-color: #0B0B0B;
  width: 667px;
  margin: 105px auto;
  padding: 53px 125.5px;
  height: 341px;

  @media only screen and (max-width: 414px) {
    width: 266.8px;
    margin: 0 auto;
    padding: 0;
    height: 258px;
  }

  @media only screen and (min-width: 415px) and (max-width: 767px) {
    padding: 10px;
    width: 463px;
  }

  img {
   width: 229px;
    margin-top: 0px;
    padding: 0;
    margin: 0 20px;

    @media only screen and (max-width: 414px) {
      width: 135px;
      padding: 2px;
    }

    @media only screen and (min-width: 415px) and (max-width: 767px) {
      width: 135px;
      padding: 2px;
    }

    &:hover {
      border: 2px solid #fff;
      border-radius: 17px;
    }
  }

  h4 {
    color: #FFFFFF;
    font-family: Avenir;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;

    @media only screen and (max-width: 414px) {
      font-size: 16px;
      width: 90%;
      margin: 0 auto;
      padding-top: 18px;
    }
  }
}

.si {
  width: 154px;
}

.form-group label {
  float: left;
  color: #6D6D6D;
  font-family: Avenir;
  font-size: 21px;
  font-weight: 300;
  line-height: 29px;
  @media only screen and (min-width: 360px) and (max-width:768px) {
    font-size: 17px;
  }
}

small.form-text.text-muted.text-center.mt-3 {
  font-family: Avenir;
  font-size: 16.63px;
  font-weight: 900;
  line-height: 23px;
  color: #fff !important;
  @media only screen and (min-width: 360px) and (max-width:768px) {
    font-size: 10px;
  }
}

.already {
  color: #ffffff;
  font-family: Avenir;
  font-size: 17px;
  font-weight: 900;
  line-height: 31px;
  text-align: center;
  margin-top: 21px !important;
  @media only screen and (min-width: 360px) and (max-width:768px){
    font-size: 17px;
  }

}

ul.nav.nav-pills.d-flex.justify-content-center {
  margin-top: 30px;
  margin-bottom: 37px;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.dwnlApp {
  display: flex;

  @media only screen and (max-width: 414px) {
    display: grid;
    margin-top: 38px;
  }
}



</style>
