<template>
    <div class="play-button white--color flex row justify-center align-center" v-on:mouseover="isMobile ? '' : hover = true"
    v-on:mouseleave="isMobile ? '' : hover = false"
    :style="'width: ' + height + 'px'">
      <img :src="playIcon" class="play-icon-img" v-if="!playing" :style="'height: ' + height + 'px'">
      <img :src="pauseIcon" class="play-icon-img" :style="'height: ' + height + 'px'" v-else>
    </div>
</template>
<script>

import isMobile from '~/mixins/isMobile'
import {mapGetters} from 'vuex'

  export default {
    name: 'PlayButton',
    mixins:[isMobile],
    props: {'playing': {type: Boolean, required: true, default: false}, height: {type: Number, required: false, default: 40}},
    data () {
      return {
        hover: false
      }
    },
    computed: {
      ...mapGetters(['isPlaying']),
      playIcon () {
        if (this.hover) {
          return require("~/static/img/new-play-icon-hover.png")
        } else {
          return require("~/static/img/new-play-icon.png")
        }
      },
      pauseIcon () {
        if (this.hover) {
          return require("~/static/img/new-pause-icon-hover.png")
        } else {
          return require("~/static/img/new-pause-icon.png")
        }
      }
    },
    watch: {
      isPlaying () {
          this.playHover = false
          this.pauseHover = false
      }
    }
  }
</script>
<style lang="stylus">
.play-button {
  .play-icon-img {
    height: 40px;
  }
  opacity: 1;
  background: rgba(140, 140, 140, 0.3);
  border-radius: 150px;
  font-size: 1.4em;
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  transition: 0.1s opacity;
  cursor: pointer;
}
</style>
