<template>
    <div class="col-12 flex cta-container py-3 d-none d-sm-block" v-if="!producer">
      <div class="row w-100 cta-header justify-content-center no-gutters align-items-center">
        <div class="col-12 text-center align-items-center m-3">
          <h1>Are You a Producer?</h1>
          <p class='lede'>Submit your beats to get featured in front of 1 MILLION+ users on the official Rapchat App.</p>
          <nuxt-link  tag="button" to="/login" class="btn-secondary button-primary">Sign Up</nuxt-link>
        </div>
      </div>
    </div>
</template>
<script>
  import { mapState } from 'vuex'

  export default {
    data () {
      return {
        data: null
      }
    },
    computed: {
      ...mapState({
        producer: state => state.currentUser,
        authenticated: state => state.authenticated
      })
    }
  }
</script>
<style lang="stylus">
  .cta-container{
    h1 {
      font-weight: 900;
      font-size: 34px;
    }
    .lede {
      font-size: 18px;
    }
    width:100%;
    height: 225px;
    color: white;
    margin-top: -5% !important;
    .button-primary {
      width:250px;
      height: 60px;
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
      cursor: pointer;
      &:focus{
        border: none !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
      }
      &:active {
        border: none !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
      }
      &:hover {
         outline:none;
         border:none;
       }
    }
    .cta-header {
      background-image:  linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
       url('~/static/img/producer-banner.png')
      /* background-position: cover; */
      border-radius:6px;
      background-size: cover;
    }
  }
</style>
