<template>
  <div class="col-12 profile-sidebar">
    <div class="row justify-content-center">
      <div class="media">
        <div class="media-overflow-container">
          <img class="platinum-icon" src="~/static/img/platinum-producer.png" v-if="user.isPlatinumProducer">
          <div class="media-profile-photo-container rounded-circle text-center" :style="{
              'background': `url(${userPhoto})`,
              }" v-if="user.profilephoto">
            <!-- <img class="media-profile-photo placeholder-img" src="~/static/img/group-4@3x.png" v-else> -->
          </div>
          <img class="media-profile-photo placeholder-img" src="~/static/img/group-4@3x.png" v-else>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <span class="producer-name font-weight-bold">{{user.username}}</span>
      </div>
    </div>
    <div class="row mt-1 mt-sm-2 justify-content-center">
      <div class="col-10 text-center bio-text">
        <span class="producer-bio">{{user.bio | trimBio}}</span>
        <!-- <p><Icon name="map-marker" size="1"/>
          <span class="ml-2">{{user.location | location}}</span>
        </p> -->
      </div>
    </div>
    <div class="row mt-4 d-flex justify-content-center" v-if="view === 'full'">
      <div class="col-4 col-sm-12 text-center">
        {{user.beatCount}} Beats
      </div>
      <div class="d-block d-sm-none">|</div>
      <div class="col-4 mt-sm-3 col-sm-12 text-center">
        {{user.followerCount}} Followers
      </div>
    </div>
    <div class="row mt-2 mt-sm-5 justify-content-center" v-if="view === 'full'">
      <div class="col-6 text-center">
        <ul class="list-inline flex justify-content-around">
          <li class="list-inline-item" v-if='user.twitter' @click="logEvent('Twitter Link Clicked', eventData)">
            <a :href="externalLink(user.twitter)" target="_blank">
              <img  class="social-icon" src='~/static/img/rc-twitter-icon.svg'>
            </a>
          </li>
          <li class="list-inline-item" v-if='user.soundcloud' @click="logEvent('SoundCloud Link Clicked', eventData)">
            <a :href = "externalLink(user.soundcloud)" target="_blank"><img  class="social-icon" src='~/static/img/soundcloud-1.svg'></a>
          </li>
          <!-- <li class="list-inline-item" v-if='user.facebook'>
            <a :href = 'facebookLink' target="_blank">facebook</a>
          </li> -->
          <li class="list-inline-item" v-if='user.otherlink' @click="logEvent('Other Link Clicked', eventData)">
            <a :href='externalLink(user.otherlink)' target="_blank"><img  class="social-icon" src='~/static/img/rc-link-icon.svg'></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center my-5" v-if="view === 'full'">
      <div class="col-12 col-sm-8 col-md-10 col-lg-8">
        <div class="row no-gutters justify-content-around">
          <div class="col-5 col-md-12 mb-md-3">
            <button type="button" class="btn btn-secondary button-primary" @click.prevent='sendLink'>
              Follow
            </button>
          </div>
          <div class="col-5 col-md-12 mb-md-3 text-center" v-if="user.email && user.showEmail" @click="logEvent('Email Producer Clicked', eventData)">
            <a :href="`mailto:${user.email}`" target="_top" role="button" class="btn btn-primary button-muted">
            <div class="mt-2">Contact</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import filters from '~/utils/filters'

export default {
  props: {
    user: {type: Object, required: true, default: ()=>({})},
    view: {tyep: String, required: false, default: 'full'}
  },
  data () {
    return {

    }
  },
  computed: {
    userPhoto () {
      if (this.user) {
        if (this.user.profilephoto) {
          return `https://cdn.rapchat.me/images/${this.user.profilephoto}`
        } else {
          return "~/static/img/group-4@3x.png"
        }
      } else {
        return  "~/static/img/group-4@3x.png"
      }
    },
  },
  methods: {
    logEvent () {
      //
    },
    externalLink () {
      //
    },
  },
  filters: {
    location (loc) {
      return filters.location(loc)
    },
    trimBio (bio) {
      return filters.trimBio(bio)
    }
  }
}
</script>
<style lang="stylus">
.profile-sidebar {
  .media-profile-photo-container{
    width 120px
    height 120px
    overflow hidden
    position relative
    background #333
    background-repeat no-repeat
    background-size cover !important
    background-position center
    @media (max-width 350px) {
      width  80px
      height 80px
    }
  }
}
</style>
