<template>
  <div class="row justify-content-center my-md-5">
    <div class="col-10 col-8-md d-none d-sm-block">
      <div class="row justify-content-between">
        <div class="col-12 mb-3 col-md-3 text-center justify-content-center">
          <div class="row">
            <div class="col-3">
            </div>
          </div>
          <img src="~/static/img/rc-upload-icon.svg" class="d-block mb-4 header-icon">
          Upload Your Beats
        </div>
        <div class="col-12 mb-3 col-md-3 text-center">
          <img src="~/static/img/rc-clipboard-4.svg" class="d-block mb-4 header-icon">
          Get Approved
        </div>
        <div class="col-12 mb-3 col-md-3 text-center">
          <img src="~/static/img/trend-upwards.png" class="d-block mb-4 header-icon b-b">
          <span class="align-text-top">Watch 'em Blow Up on The App</span>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.b-b{
  height:76px;
}
</style>
