<template>
  <div class="spinner" v-show="loading"></div>
</template>
<script>
export default {
  props: ['loading']
}
</script>
<style lang="stylus">
.spinner {
  font-size: 10px;
  text-indent: -9999em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(26,25,25, 0) 42%);
  position: relative;
  display: inline-block;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: rgba(0,0,0,0);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner:after {
  background: black;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
