<template>
    <!-- Modal Component -->
    <b-modal hide-footer id="modal1" centered title="Share Your Name">
        <b-row>
            <b-col cols="12" class="mb-5 mt-3">
                <span class="subheading white--text">
                   What up {{generatedName}}! Share your new rap name with your friends!
                </span>
            </b-col>
            <b-col cols="12">
                <div>
                    <b-row align-h="center">
                        <social-sharing :url="domain+'/rapnamegenerator'" :quote="`Just created a dope rapper name for the RAPCHAT app: ${generatedName}. Create your own here!`" inline-template>
                            <network network="facebook" class="mr-3">
                                <b-button size="lg" class="fb-button subheading">
                                    <svg class="material-design-icon__svg" width="24" height="24"
                                         viewBox="0 0 24 24">
                                        <title id="facebook-icon-title">Facebook icon</title>
                                        <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6C10,3.79 11.79,2 14,2H17Z"></path>
                                    </svg>
                                    Facebook
                                </b-button>
                            </network>
                        </social-sharing>
                        <social-sharing :url="domain+'/rapnamegenerator'" :title="`Just created a dope rapper name for the @rapchat_app app: ${generatedName}. Create your own here!`" inline-template>
                            <network network="twitter">
                                <b-button size="lg" class="tw-button subheading">
                                    <svg class="material-design-icon__svg" width="24" height="24"
                                         viewBox="0 0 24 24">
                                        <title id="twitter-icon-title">Twitter icon</title>
                                        <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"></path>
                                    </svg>
                                    Twitter
                                </b-button>
                            </network>
                        </social-sharing>
                    </b-row>
                </div>
            </b-col>
        </b-row>
    </b-modal>
</template>

<script>
    import SocialSharing from '~/plugins/socialsharing.js'

    export default {
        props: ['generatedName'],
        data() {
            return {
                domain: process.env.domain,
            }
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .modal-content {
        background: #272527;
        .modal-header {
            padding: 12px 15px;
            border-bottom: none
            justify-content: center;
            .modal-title {
                font-size: 24px;
                color: $theme.primary
                margin: 0 auto;
            }
            .close {
                color: wheat
                cursor: pointer
                position: absolute;
                right: 2px;
                top: -5px;
                margin: 0
            }
        }
        .modal-body {
            .fb-button {
                background-color: #3B5998;
                border: none
            }

            .tw-button {
                background-color: #1da1f2;
                border: none
            }

            .fb-button:hover, .tw-button:hover {
                opacity: 0.7;
                cursor: pointer
            }
            .fb-button:hover {
                background-color: #3B5998;
            }

            .tw-button:hover {
                background-color: #1da1f2;
            }
        }
    }
</style>
