<template>
  <div class="">
    <h4 class="text-capitalize mb-4 text-center">{{title}}</h4>
    <rc-grid :songs="songs" class="fill-width" v-show="visible" playerView="raps" type="rap"></rc-grid>
  </div>
</template>
<script>
import rcGrid from '~/components/elements/Grid'
export default {
  name: 'Spotlight',
  components: {'rc-grid': rcGrid},
  props: {
    title: {type: String, required: false, default: 'Rap Spotlight'},
    tracks: {type: Array, required: false, default: () => []},
    visible: {type: Boolean, required: false, default: false}
  },
  computed: {
    songs () {
      let songs = []
      this.tracks.forEach(song => {
        song.userId = (song.owner && song.owner["_id"]) ? song.owner["_id"] : "";
        song.image = song.artworkUrl || song.beat.imagefile
        song.type = 'rap'
        songs.push(song)
      })
      return songs
    }
  }
}
</script>
