<template>
  <div class="flex row align-center submit-beat mt-n5" v-if="producer">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-12 justify-content-center">
          <div class="row justify content-center" :key="index" v-for="(item, index) in uploadData">
            <div class="col-12 justify-content-center p-0">
              <span @click="removeBeatUpload(index)" v-if="uploadData.length > 1">
                <icon name="times" class="close-icon remove-beat-input"></icon>
              </span>
              <form>
                <div class="col-12 upload-container">
                  <input
                    :id="beatInputId(index)"
                    type="file"
                    class="form-control-file d-none"
                    @change="setBeatAudioFile($event, index)"
                    accept="audio/mp3,audio/mpeg"
                    @keydown.enter.prevent
                  />
                  <div class="flex-column" v-on:drop.stop="dropBeatAudioFile($event, index)">
                    <!-- <button type="button" class="btn btn-primary button-muted button-form" >upload</button> -->
                    <div
                      class="drop-label d-flex flex-column justify-content-center align-items-center"
                    >
                      <div v-if="item.beatAudioFile" class="text-truncate">{{item.beatAudioTitle}}</div>
                      <div class="text-truncate" v-else>
                        <h4>Drag and drop your file here</h4>
                        <!-- <span>click or drag .mp3 here</span>
                            <div class="text-center">
                              <icon name="music"></icon>
                        </div>-->
                      </div>
                      <button
                        class="btn btn-secondary button-primary mt-3"
                        @click.prevent="clickAudioUpload($event, index)"
                      >Or Choose File</button>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-3 p-0">
                  <div class="row">
                    <div class="col-md-12 col-lg-4">
                      <input
                        :id="artworkInputId(index)"
                        type="file"
                        class="custom-file d-none"
                        @change="setBeatArtworkFile($event, index)"
                        accept="image/*"
                        @keydown.enter.prevent
                      />
                      <div
                        class="image-drop-zone text-truncate d-flex justify-content-center align-items-center"
                        @click="clickArtworkUpload($event, index)"
                        v-on:drop.stop="dropBeatArtworkFile($event, index)"
                        v-on:dragover="returnFalse"
                        :style="item.artwork ?  {
                            'background': `url(${item.artwork}) no-repeat center center `,
                            } : ''"
                      >
                        <!-- <button type="button" class="btn btn-primary button-muted button-form" >upload</button> -->
                        <div v-if="!item.artwork"
                          class="drop-label d-flex flex-column justify-content-center align-items-center"
                        >
                          <div class="text-center">
                            <icon name="image" style="height:55px;width:55px;margin-bottom:30px;color:#333333"></icon>
                          </div>
                          <div class="text-truncate" v-if="!item.artwork">
                            <h5 class="text-truncate">Upload Image</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-8">
                      <div class="form-group">
                        <label :for="titleInputId(index)">Title*</label>
                        <input
                          :id="titleInputId(index)"
                          class="form-control title-form"
                          :class="item.beatTitle.length > 2 ? 'form-success' : 'form-error' "
                          type="text"
                          placeholder="Enter title here (3 chars. min.)"
                          v-model="item.beatTitle"
                          @keydown.enter.prevent
                        />
                      </div>
                      <!-- <div class="col-12 col-md-9"> -->
                      <label>Tags</label>
                      <input
                        class="form-control tag-form"
                        placeholder="Add Tags (#808, #BoomBap, #TypeBeat, etc..) "
                        v-model="beatTagInput"
                        v-on:keyup.188.prevent="addTag(index)"
                        v-on:keyup.13.prevent="addTag(index)"
                        v-on:keyup.32.prevent="addTag(index)"
                        @keydown.enter.prevent
                      />
                      <ul class="list-inline mt-2">
                        <li class="list-inline-item tag" :key="tagIndex" v-for="(tag, tagIndex) in item.beatTags">
                          <span class="d-flex align-items-center">
                            <span class="tag-name">#{{tag}}</span>
                            <span
                              @click="removeTag(index, tagIndex)"
                              class="d-flex align-items-center align-top h-100 w-100"
                            >
                              <icon name="times" class="remove-tag"></icon>
                            </span>
                          </span>
                        </li>
                      </ul>
                      <!-- </div> -->
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6 col-md-3 col-lg-2">
                      <div class="form-group">
                        <label for="key">Key</label>
                        <input
                          type="text"
                          class="form-control title-form"
                          id="key"
                          aria-describedby="Key"
                          v-model="item.key"
                          @keydown.enter.prevent
                        />
                      </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                      <div class="form-group">
                        <label for="bpm">BPM</label>
                        <input
                          type="text"
                          class="form-control title-form"
                          id="bpm"
                          aria-describedby="Key"
                          v-model="item.bpm"
                          @keydown.enter.prevent
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-12">
                      <h6>
                        By submitting a beat and signing below, you agree to the
                        <a
                          href="/licensing"
                          target="_blank"
                        >
                          <span class="link-primary">Rapchat Licensing Agreement</span>
                        </a>
                      </h6>
                      <h6>
                        I have read the Rapchat Licensing Agreement
                        <span class="required-field mr-3">*</span>
                        <span class="checkbox" @click="readLegal = !readLegal">
                          <span :class="{'checkbox-tick': !readLegal}">&#10003;</span>
                        </span>
                      </h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <label>Signature*</label>
                      <div class="signature-canvas" @mouseover="initSignature">
                        <canvas id="sigCanvas" width="700" height="120"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right">

                      <button
                        type="button"
                        class="btn btn-secondary button-primary cancel w-108"
                        style="background: black;"
                        @click.prevent="$root.$emit('bv::hide::modal','submitBeats')"
                      >
                      Cancel
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary button-primary ml-3 w-108"
                        :class="!validated ? 'button-disabled' : uploading ? 'button-disabled' : ''" v-b-modal.continueBeats
                        @click.prevent="submitBeats"
                      >
                        <span v-if="!uploading">Upload</span>
                        <span v-else>Uploading...</span>
                      </button>
               </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- <div class="row mt-5 justify-content-center">
              <div class="col-12 col-md-10 text-center">
                <button type="button" class="btn btn-primary text-middle button-muted" :class="uploadData.length === 3 ? 'button-muted-disabled':''" @click="increaseBeatUpload">Add another beat</button>
              </div>
          </div>-->

        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SignaturePad from "signature_pad";
import axios from "~/plugins/axios.js";
import admin from "~/plugins/adminApi.js";
import { mapState } from "vuex";
import _ from "lodash";

export default {
  name: "SubmitModal",
  data() {
    console.log()
    return {
      uploadData: [
        {
          beatTitle: "",
          beatTags: [],
          beatArtworkFile: null,
          beatValidated: false,
          beatAudioFile: null,
          beatArtworkTitle: null,
          artworkValidated: false,
          beatAudioTitle: null,
          beatUploadStatus: 0,
          artwork: null,
          key: null,
          bpm: null
        }
      ],
      beatTagInput: "",
      signaturePad: null,
      signature: null,
      readLegal: false,
      clickedLegal: false,
      uploading: false,
      songs: [],
      errors: []
    };
  },
  computed: {
    ...mapState({
      producer: state => state.currentUser
    }),
    validated() {
      //probably a more succint way to write this but it works for now.
      let validatedItems = [];
      let errors = [];
      this.uploadData.forEach(item => {
        if (item.artworkValidated) {
          if (item.beatValidated) {
            if (item.beatTitle && item.beatTitle.length > 2) {
              if (
                this.signaturePad &&
                !this.signaturePad.isEmpty() &&
                this.readLegal
              ) {
                validatedItems.push(true);
              } else {
                validatedItems.push(false);
              }
            } else {
              errors.push("missing beat title");
              validatedItems.push(false);
            }
          } else {
            errors.push("invalid beat file. too large or wrong format");
            validatedItems.push(false);
          }
        } else {
          errors.push("missing beat artwork");
          validatedItems.push(false);
        }
      });
      const check = function(item) {
        return item === true;
      };
      if (validatedItems.every(check)) {
        return true;
      } else {
        this.errors = errors;
        return false;
      }
    },
    eventData() {
      let username = this.producer ? this.producer.username : null;
      let userid = this.producer ? this.producer._id : null;
      let data = {
        username: username,
        userid: userid,
        view: "upload beat",
        "beat title": this.uploadData[0].beatTitle,
        "artwork title": this.uploadData[0].beatArtworkTitle,
        "audio title": this.uploadData[0].beatAudioTitle,
        "read legal": this.readLegal,
        "clicked legal": this.clickedLegal,
        signature: this.signature ? true : false
      };
      return data;
    }
  },
  watch: {
    loadingUser() {
      if (!this.loadingUser) {
        if (!this.producer) {
          this.$nuxt.$router.replace({
            path: "/producers",
            query: { next: window.location.pathname }
          });
        }
      }
    },
    uploadData: {
      handler() {
        if (this.uploading) {
          window.addEventListener("beforeunload", this.handler)
          let status = [];
          for (let i in this.uploadData) {
            status.push(this.uploadData[i].beatUploadStatus);
            if (status[0] === 128) {
              this.uploading = false;
              this.resetFields();
              window.removeEventListener("beforeunload", this.handler)
            } else if (status[0] === 500) {
              window.removeEventListener("beforeunload", this.handler)
              this.uploading = false;
            }
          }
          this.$store.state.uploadStatus = status;
        }
      },
      deep: true
    }
  },
  created() {
    if (process.browser) {
      // initialize signature box
      //prevent browser from redirecting on dropped files
      window.addEventListener(
        "dragenter",
        function(e) {
          e = e || event;
          e.preventDefault();
          e.stopPropagation();
        },
        false
      );
      window.addEventListener(
        "dragover",
        function(e) {
          e = e || event;
          e.preventDefault();
          e.stopPropagation();
        },
        false
      );
      window.addEventListener(
        "drop",
        function(e) {
          e = e || event;
          e.preventDefault();
        },
        false
      );
      // window.addEventListener("beforeunload", function(e) {
      //   console.log(this.uploading)
      //   alert(this.uploading)
      //   e = e || window.event;
      //   if (e) {
      //       e.returnValue =  this.uploading ? 'Sure?' : true;
      //   }
      //   return this.uploading ? 'Sure?' : true;
      // })
    }
  },
  mounted() {
    // this.$root.$on('bv::hidden::modal', console.log('hiding modal'))
  },
  methods: {
    handler: function(e) {
      console.log(this.uploading)
      alert(this.uploading)
      e = e || window.event;
      if (e) {
          e.returnValue =  this.uploading ? 'Sure?' : true;
      }
      return this.uploading ? 'Sure?' : true;
    },
    titleInputId(index) {
      return `titleInput${index}`;
    },
    artworkInputId(index) {
      return `artworkInput${index}`;
    },
    artworkInputLabelId(index) {
      return `inputGroupFile${index}`;
    },
    beatInputId(index) {
      return `beatInput${index}`;
    },
    increaseBeatUpload() {
      if (this.uploadData.length <= 2) {
        this.uploadData.push({
          beatTitle: "",
          beatArtworkFile: null,
          beatValidated: false,
          beatAudioFile: null,
          beatArtworkTitle: "or drag beat artwork file here",
          artworkValidated: false,
          beatAudioTitle: "or drag beat audio file here",
          beatUploadStatus: 0
        });
      }
    },
    removeBeatUpload(index) {
      this.uploadData.splice(index, 1);
    },
    setBeatAudioFile(event, index) {
      if (this.validateBeat(event.target.files[0])) {
        let data = event.target.files[0];
        this.uploadData[index].beatAudioFile = data;
        this.uploadData[index].beatAudioTitle = data.name;
        this.uploadData[index].beatValidated = true;
        if (!this.uploadData[index].beatTitle) {
          let name = data.name.slice(0, -4);
          this.uploadData[index].beatTitle = name;
        }
        this.debounceLog("Beat Edited", this.eventData, this);
      } 
      else {
        window.alert(
          "Please make sure your audio files are .mp3 format and less than 10MB"
        );
      }
    },
    dropBeatAudioFile(event, index) {
      event.preventDefault();
      let files = event.dataTransfer.files;
      if (files) {
        for (var file of files) {
          if (file.type === "audio/mpeg" || file.type === "audio/mp3") {
            if (this.validateBeat(file)) {
              this.uploadData[index].beatAudioFile = file;
              this.uploadData[index].beatAudioTitle = file.name;
              this.uploadData[index].beatValidated = true;
              if (!this.uploadData[index].beatTitle) {
                let name = file.name.slice(0, -4);
                this.uploadData[index].beatTitle = name;
              }
            } else {
              window.alert(
                "Please make sure your audio files are .mp3 format and less than 10MB"
              );
            }
          }
        }
      }
    },
    setBeatArtworkFile(event, index) {
      let data = event.target.files[0];
      if (this.validateImg(data)) {
        this.uploadData[index].beatArtworkFile = data;
        this.uploadData[index].beatArtworkTitle = data.name;
        this.uploadData[index].artworkValidated = true;
        let reader = new FileReader();
        reader.onload = event => {
          let dataUri = reader.result;
          this.uploadData[index].artwork = dataUri;
        };
        reader.readAsDataURL(data);
      } else {
        window.alert("Please make sure your img files are under 2MB");
      }
    },
    dropBeatArtworkFile(event, index) {
      event.preventDefault();
      let files = event.dataTransfer.files;
      if (files) {
        for (var file of files) {
          if (file.type.includes("image/")) {
            if (this.validateImg(file)) {
              this.uploadData[index].beatArtworkFile = file;
              this.uploadData[index].beatArtworkTitle = file.name;
              this.uploadData[index].artworkValidated = true;
              let reader = new FileReader();
              reader.onload = event => {
                let dataUri = reader.result;
                this.uploadData[index].artwork = dataUri;
              };
              reader.readAsDataURL(file);
            } else {
              window.alert("Please make sure your img files are under 2MB");
            }
          }
        }
      }
    },
    addTag(index) {
      let input = this.beatTagInput.trim().replace(",", "");
      if (input[input.length - 1] === ",") {
        input = input.slice(0, input.length - 1);
      }
      if (input[0] === "#") {
        input = input.slice(1);
      }
      if (input.trim().length > 1) {
        this.uploadData[index].beatTags.push(input);
        this.beatTagInput = "";
      }
    },
    removeTag(index, tagIndex) {
      this.uploadData[index].beatTags.splice(tagIndex, 1);
    },
    initSignature() {
      if (!this.signaturePad) {
        if (process.browser) {
          var canvas = document.querySelector("canvas");
          if (canvas) {
            var signaturePad = new SignaturePad(canvas, {
              penColor: "rgb(255,255,255)"
            });
            this.signaturePad = signaturePad;
          }
        }
      }
    },
    resetSignature() {
      // let today = new Date()
      // let date = today.toString()

      // let signatureFile = this.dataUrlToFile(this.signaturePad.toDataURL(), `${this.producer.username}-${this.uploadData[0].beatTitle}-signature-${date}`)
      this.signaturePad.clear();
      this.signature = null;
    },
    clickArtworkUpload(event, index) {
      if (process.browser) {
        let id = this.artworkInputId(index);
        let input = document.getElementById(id);
        input.click();
      }
    },
    clickAudioUpload(event, index) {
      if (process.browser) {
        let id = this.beatInputId(index);
        let input = document.getElementById(id);
        input.click();
      }
    },
    submitBeats() {
      //get the signature signaturePad.toDataURL()
      let today = new Date();
      let date = today.toString();
      // let signatureFile = this.dataUrlToFile(this.signaturePad.toDataURL('image/jpeg'), `${this.producer.username}-${this.uploadData[0].beatTitle}-signature-${date}`)
      let signatureFile = this.dataUrlToFile(this.signaturePad.toDataURL());
      if (this.validated && this.readLegal && !this.uploading) {
        this.$root.$emit("bv::hide::modal", "submitBeats");
        this.uploading = true;
        let self = this;
        let platinum = this.producer.isPlatinumProducer || false;
        // compose the POST data and send the beats for each obj.
        this.uploadData.forEach((beat, index) => {
          let formData = new FormData();
          const i = index;
          const options = [{ tier_type: "Free" }];

          let data = new Blob([beat.beatAudioFile], { type: "audio/mpeg" });
          formData.append("options", JSON.stringify(options));
          formData.append("title", beat.beatTitle);
          formData.append("artist", self.producer.username);
          formData.append("tags", JSON.stringify(self.uploadData[i].beatTags));
          formData.append("beatImage", beat.beatArtworkFile);
          formData.append("producerId", self.producer._id);
          formData.append("isPlatinumProducer", platinum);
          formData.append("beatSign", signatureFile);
          formData.append("free", data, "free");
          if ( beat.key ) {
          formData.append("key", beat.key);
          }
          if ( beat.bpm ) {
          formData.append("bpm", beat.bpm);
          }
          admin
            .post("/admin/producers/beats", formData, {
              headers: { "x-zumo-auth": this.producer.token },
              onUploadProgress: function(progressEvent) {
                self.uploadData[i].beatUploadStatus = Math.round(
                  (progressEvent.loaded * 100) / progressEvent.total
                );
              }
            })
            .then(res => {
              if (res.data.success) {
                this.logEvent("Beat Uploaded", {
                  userId: this.producer._id,
                  beatId: res.data.data.options[0]._id
                });
                self.uploadData[i].beatUploadStatus = 128;
                if (i === self.uploadData.length - 1) {
                  window.setTimeout(() => {
                    self.$store.state.uploadStatus = null;
                  }, 5000);
                }
                let b = res.data.data;
                self.$store.commit("addBeatUpload", b);
              } else {
                this.logEvent("Beat Uploaded Error", {
                  userId: this.producer._id,
                  error: e
                });
                console.log(e);
                self.uploadData[i].beatUploadStatus = 500;
                window.setTimeout(() => {
                  self.$store.state.uploadStatus = null;
                }, 5000);
                // reset the upload status for beats
                window.alert(
                  `Something went wrong while processing your beat  "${self.uploadData[i].beatTitle}", please try to upload again! Our engineers are working to resolve this issue. If the problem continues, please email support@rapchat.me`
                );
              }
            })
            .catch(e => {
              console.log(e.response);
              self.uploadData[i].beatUploadStatus = 500;
              window.setTimeout(() => {
                self.$store.state.uploadStatus = null;
              }, 5000);
              if (e.response.status === 400) {
                window.alert(e.response.data.message);
                this.logEvent("Upload Beat Error", {
                  userId: this.producer._id,
                  error: e.response.data.message
                });
              } else {
                window.alert(
                  `Something went wrong while processing your beat  "${self.uploadData[i].beatTitle}", please try to upload again! Our engineers are working to resolve this issue. If the problem continues, please email support@rapchat.me`
                );
                this.logEvent("Upload Beat Error", {
                  userId: this.producer._id,
                  error: e.response.data.message
                });
              }
            });
        });
      } else {
        // alert(this.errors)
      }
    },
    validateImg(file) {
      if (file.size < 2000000 && file.type.includes("image")) {
        return true;
      } else {
        return false;
      }
    },
    validateBeat(file) {
      //get the player element
      // let player = document.getElementById('mp3Player')
      // player.preload = 'auto'
      // player.type="audio/mp3"
      //
      // //open and read the audio file
      // let reader = new FileReader()
      // reader.onload = (e) => {
      //   player.src = e.target.result
      // }
      //
      // reader.readAsDataURL(file)
      //
      // player.ondurationchange = (e) => {
      // }
      if (
        (file.size < 10000000 &&( file.type === "audio/mp3") ||
        file.type === "audio/mpeg")
      ) {
        return true;
      } else {
        return false;
      }
    },
    dataUrlToFile(dataUrl) {
      let b = dataUrl.split(",");
      let byteCharacters = atob(b[1]);
      let byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      let byteArray = new Uint8Array(byteNumbers);
      let blob = new Blob([byteArray], { type: "image/png" });
      return blob;
    },
    resetFields() {
      this.uploadData = [
        {
          beatTitle: "",
          beatTags: [],
          beatArtworkFile: null,
          beatValidated: false,
          beatAudioFile: null,
          beatArtworkTitle: "or drag beat artwork file here",
          artworkValidated: false,
          beatAudioTitle: "or drag beat audio file here",
          artwork: null,
          beatUploadStatus: null
        }
      ];
      this.readLegal = false;
      try {
        this.signaturePad.clear();
      } catch (e) {
        console.log(e);
      }
    },
    toProfile() {
      this.$nuxt.$router.push({ path: `/profile/${this.producer._id}` });
    },
    returnFalse() {
      return false;
    },
    logEvent(event, data) {
      if (process.browser) {
        let ampl = amplitude.getInstance();
        ampl.init("e93869e9ffb55d729fa1eddcd851786f");
        ampl.logEvent(event, data);
      }
    },
    debounceLog: _.debounce((event, data, ctx) => {
      ctx.logEvent(event, data);
    }, 3000)
  }
};
</script>

<style lang='stylus' scoped>
.submit-beat {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #000000;
  margin: auto;
  padding: 23px;
  h6 {
    color: #6D6D6D;
      @media (max-width:480px){
          font-size: 12px;
          line-height: 18px;
        }
  }

  input[type='checkbox'] {
    display: none;
  }
  .cancel {
    &:hover {
      color: gray !important;
    }
  }
  .checkbox {
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    height: 23px;
    width: 23px;
    font-size: 20px;
    border: 0.54px solid #979797;
    border-radius: 3.46px;
    background-color: #171717;
    cursor: pointer;
  }

  .checkbox-tick {
    color: #171717;
  }

  label {
    color: #6D6D6D;
    font-family: Avenir;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    @media (max-width:480px)
    {
      font-size:18px;line-height:21px
    }
  }

  .upload-container {
    box-sizing: border-box;
    height: 160px;
    border: 0.5px solid #979797;
  }

  .button-primary {
    width: 150px;
    font-size: 13px;
    height: 31px;
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    cursor: pointer;
  }
  .w-108{max-width:108px!important}
@media (max-width:400px)
{
  .w-108{max-width:84px!important}
}
  .button-primary:focus {
    width: 150px;
    font-size: 13px;
    height: 31px;
    border: none !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
  }

  .button-primary:active {
    width: 150px;
    font-size: 13px;
    height: 31px;
    color: black;
    border: none !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
  }

  .button-primary:hover {
    color: rgb(0, 0, 0);
    width: 150px;
    font-size: 13px;
    height: 31px;
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
  }

  .button-muted {
    width: 240px;
    height: 60px;
    border-radius: 95px;
    background-color: #202323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    cursor: pointer;

    &:active {
      background-color: #171919 !important;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    &:focus {
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    &:hover {
      width: 240px;
      height: 60px;
      color: #8c8046;
      border-radius: 95px;
      background-color: #202323;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline: none;
      border: none;
    }
  }

  .button-outline-danger {
    border-radius: 45px;
    border: 1px solid #C14242;
    cursor: pointer;
  }

  .button-outline-danger:hover {
    background-color: #c14242;
  }

  .reset-button {
    border-radius: 45px;
    color: rgb(53, 161, 95);
    border: 1px solid rgb(53, 161, 95);

    &:hover {
      color: white;
      background-color: rgb(53, 161, 95);
    }
  }

  .done-button {
    border-radius: 45px;
    color: white;
    background-color: #202323;
    border: 1px solid #202323;

    &:hover {
      color: #8c8046;
      background-color: #202323;
    }
  }

  .tag-form {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    background-color: #363738;
    padding: 25px;
    color: white;

    &:focus {
      border: none !important;
      outline: none;
      border-radius: 2px;
      background-color: #363738;
      text-decoration: none;
      box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.9);
      color: white;
    }
  }

  .tag {
    color: white;
    background-color: transparent;
    border-radius: 4.5px;
    border: 1px solid #8c8046;
    margin: 3px;

    .tag-name {
      font-weight: 600;
    }

    span {
      display: block;
      margin: 3px;
    }

    .remove-tag {
      color: gray;

      &:hover {
        color: #8c8046;
        cursor: pointer;
      }
    }
  }

  .title-form {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    background-color: #363738;
    padding: 25px;
    color: white;
    box-sizing: border-box;
  }

  .title-form:focus {
    border: none !important;
    outline: none;
    border-radius: 2px;
    background-color: #363738;
    text-decoration: none;
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.9);
    color: white;
  }

  .form-error:focus {
    box-shadow: 0 0 0 0.1rem rgba(173, 0, 2, 0.9);
  }

  .form-success:focus {
    box-shadow: 0 0 0 0.1rem rgba(53, 161, 95, 0.9);
  }

  .link-primary {
    color: #FFFFFF;
  }

  .active {
    color: white;
  }

  .active:hover {
    text-decoration: none;
    color: white;
    cursor: default;
  }

  .inactive {
    color: gray;
  }

  .inactive:hover {
    color: white;
    text-decoration: none;
  }

  .beat-form-header {
    color: #8c8046;
  }

  .signature-canvas {
    width: 100%;
    height: 80px;
    background-color: #363738;
    border-radius: 6px;
    overflow: hidden;
  }

  .image-drop-zone {
        height: auto;
    padding: 0;
    margin: 0 auto 12px;
    max-width: 200px;
    min-height: 200px;
    position: relative;
    background-size: cover !important;
    cursor: pointer;
    border-radius: 0px;
    background-color: #000000;
    border: #333333 solid 2px;
    color:#ffffff;
    image-orientatin: from-image;

    &:hover {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9);
    }
  }

  .drop-label {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    .text-truncate {
    white-space: normal;
    text-align: center;
}
  }

  .file-drop-zone {
    width: 100%;
    padding-top: 100% !important;
    background-size: cover !important;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    background-color: #363738;
    color: white;

    &:hover {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9);
    }
  }

  .button-form {
    width: 120px;
    display: absolute;
    left: 0px;
    top: 0px;
  }

  .button-form:hover {
    width: 120px;
    display: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
  }

  .beat-label {
    letter-spacing: 0.3em;
    font-weight: 500;
  }

  .submit-header {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.3em;
  }

  .submit-sub-head {
    font-size: 3vh;
    color: #969696;
  }

  .link-primary:hover {
    text-decoration: underline;
    underlne: #8c8046;
  }

  .button-disabled {
    background-color: rgba(140, 128, 70, 0.4);
    color: rgba(255, 255, 255, 0.4);
  }

  .button-disabled:hover {
    background-color: rgba(140, 128, 70, 0.4);
    color: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
  }

  .button-disabled:active {
    background-color: rgba(140, 128, 70, 0.4) !important;
    color: rgba(255, 255, 255, 0.4) !important;
    cursor: not-allowed;
  }

  .button-muted-disabled {
    opacity: 0.4;

    &:hover {
      cursor: not-allowed;
    }

    &:active {
      cursor: not-allowed;
    }
  }

  .required-field {
    color: #ffffff;
  }

  .remove-beat-input {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #969696;

    &:hover {
      color: #8c8046;
      cursor: pointer;
    }
  }

  .upload-image {
    position: relative;
  }
}
</style>
