<template>
  <div class="m-4 recommended">
    <div class="font-weight-bold m-2 pt-1">Suggested Users</div>
    <ul v-for="(user, index) in suggestedUsers" class="list-unstyled m-2 text-left" v-if="suggestedUsers">
      <li>
        <div class="media">
          <img :src="`https://cdn.rapchat.me/images/${user.profilephoto}`" height="40" width="40" class="rounded-circle">
          <div class="media-body align-self-center ml-2">
            <router-link :to="`/profile/${user._id}`" class="link-primary">
              {{user.username}}
            </router-link>
            <span class="">
              <a href="" @click.prevent="follow(user._id, index)" class="follow ml-2" v-if="!user.isFollowing">follow</a>
              <span v-else class="following text-muted">
                following
              </span>
            </span>
          </div>
        </div>
      </li>
    </ul>
    <div class="text-center">
      <SmallSpinner :loading="!suggestedUsers || suggestedUsers.length ===0 "/>
    </div>
  </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
import SmallSpinner from '~/components/elements/SmallSpinner'

export default {
  computed: {
    ...mapState(['currentUser', 'suggestedUsers'])
  },
  components: {
    SmallSpinner
  },
  data () {
    return {
    }
  },
  methods: {
    ...mapActions({
      followUser: 'followUser'
    }),
    follow (userId, index) {
      if (this.currentUser.token) {
        this.followUser({userId: userId}).then(res => {
          if (res.data.success || res.status === 200) {
            this.suggestedUsers[index].isFollowing = true
          }
        }).catch(e => {
          console.log(e)
        })
      } else {
        // show download/sign up modal
        // can't follow if you're not logged in so do nothing
      }
    }
  }
}
</script>
<style lang="stylus">
.recommended
  border 2px solid #333
  border-radius 4.5px
  .follow
    color #8c8046
    font-size 12px
  .following
      font-size 12px
  /* img
    z-index -1 */

</style>
