<template>
  <span class="loading-header" v-if="uploadStatus">
      <span class="label-text m-2">{{ status }}</span>
      <SmallSpinner :loading="processing"/>
  </span>
</template>
<script>
import  {mapState} from 'vuex'
import SmallSpinner from './SmallSpinner'
export default {
  components: {
    SmallSpinner
  },
  data () {
    return {
      processing: false
    }
  },
  computed: {
    ...mapState({
      uploadStatus: state => state.uploadStatus
    }),
    status () {
      if (this.uploadStatus) {
        let total = []
        for (let i in this.uploadStatus){
          total.push(this.uploadStatus[i])
        }
        let sumTotal = total.reduce((a, b) => a + b, 0)
        if (sumTotal/(total.length*100) < 1) {
          return `Uploading ${((sumTotal/(total.length*100))*100).toFixed(0)}%`
        } else if (sumTotal === total.length*100) {
          this.processing = true
          return 'Processing...'
        } else if (sumTotal === total.length*128) {
          this.processing = false
          return 'Completed ✅'
        } else if (sumTotal === total.length*500) {
          this.processing = false
          return 'Error ⚠️'
        }
      }
    }
  }
}
</script>
<style lang="stylus">
  .loading-header {
    line-height: 90%;
    .loading-header {
      color: white;
    }
    .badge-gold {
      background-color: #8c8046;
    }
  }
</style>
