<template>
  <div class="upload-container" v-show="isUploading">
    <div v-for="upload in this.uploadData" v-if="upload.beatUploadStatus!==0">
      <div v-if="upload.beatUploadStatus<128" class="my-2">
        <h6 class=" text-truncate m-2">{{upload.beatTitle}}</h6>
        <b-progress :max="128" :value="upload.beatUploadStatus"  variant="info" class="mx-2">
        </b-progress>
      </div>
      <div v-else-if="upload.beatUploadStatus === 128" class="justify-content-center">
        <h6 class="m-2 text-truncate" title="success">✅ {{upload.beatTitle}}</h6>
      </div>
      <div v-else-if="upload.beatUploadStatus === 500">
        <h6 class="m-3 text-truncate" title="Something went wrong when uploading your beat. if the problem continues please contact support">⚠️ {{upload.beatTitle}}</h6>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-2" v-if="this.uploadComplete">
      <button class="btn btn-sm btn-outline-success reset-button mr-2" @click="this.resetFields">Submit More</button>
      <button class="btn btn-sm btn-outline-success done-button" @click="done">Done</button>
    </div>
  </div>
</template>
<script>
import Progress from 'bootstrap-vue/es/components/progress/progress'
export default {
  name: "UploadProgress",
  components: {'b-progress': Progress},
  props: {
    uploading: {type: Boolean, required: true},
    uploadData: {type: Array, required: true},
    uploadComplete: {type: Boolean, required: true},
    resetFields: {type: Function, required: true},
    userId: {type: String, required: true}
  },
  data () {
      return {
        isUploading: this.uploading
      }
  },
  watch: {
    uploading (newValue, oldValue)  {
      this.isUploading = newValue
    }
  },
  updated () {
    // console.log(this, this.isUploading)
  },
  methods: {
    done () {
      this.$nuxt.$router.go(`/profile/${this.userId}`)
    },

  }
}
</script>
<style lang="stylus">
  .upload-container{
    top: 20%;
    right: 15px;
    display: absolute;
    position: fixed;
    border-radius: 4.5px;
    border: 1px solid #202323;
    background-color: rgba(32,35,35, .5)
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    width:220px;
    height: auto !important;
    min-height: 120px;
    height 30px;
    z-index: 100000 !important;
  }
  .upload-Panel {
    position: relative;
  }
  .icon-done {
    color: rgba(53, 161, 95, .9);
  }
</style>
