<template>
    <div class="flex scrollbar wrap row mx-0" :class="isMobile ? 'no-gutters' : ''">
        <rc-video v-for="song in songss" :key="song.id" :song="song" :playerView="playerView"></rc-video>
    </div>
</template>

<script>
    import Video from '~/components/cards/Video'
    import storeSong from '~/mixins/storeSong'
    import isMobile from '~/mixins/isMobile'

    export default {
        mixins: [storeSong, isMobile],
        props: {
            'songs': {type: Array, required: true},
            'type': {type: String, required: false, default: 'beat'},
            'playerView': {type: String, required: false, default: 'beats'}
        },
        data () {
          return {
              songss: []
          }
        },
        components: {
            'rc-video': Video
        }
    }
</script>

<style lang="stylus">
    .beats {
        overflow-x: hidden;
    }
</style>
