<template>
  <div class="container welcome-modal">
    <h1 class="text-center head">Welcome to the Producer Platform!</h1>
    <div class="lead spaced text-center">Let's build fam! Here's how it works:</div>
    <div class="mx-5 my-4">
      <ul class="list-unstyled">
        <li class="list-unstyled-item m-2">📥 Submit your beats and update your profile. Your beats are now LIVE on the Rapchat app!</li>
        <li class="list-unstyled-item m-2">🔥 Our curation team picks the hottest beats to feature every day, so make sure you bring the heat! </li>
        <li class="list-unstyled-item m-2">📲 <router-link :to="`/download`" class="link-primary">Download</router-link> the app to check out raps created over your beat and connect with rappers! We are constantly updating our mobile app and web platform, so stay tuned for new features.</li>
        <li class="list-unstyled-item m-2">
          👑 Top producers will earn Platinum status! Instantly featured uploads, be considered to host contests, and other promotional opportunities.
        </li>
      </ul>
    </div>
    <div> </div>
    <div class="text-center mt-3">
      <button class="btn btn-secondary button-primary" @click="hide">
        LETS GET IT!
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'WelcomeModal',
  methods: {
    hide () {
      this.$root.$emit('bv::hide::modal','welcomeModal')
    }
  }
}
</script>
<style lang="stylus">
.welcome-modal {
  .button-primary {
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer
    &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
       color: black;
       height: 50px;
       border-radius: 95px;
       background-color: #8c8046;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
       outline:none;
       border:none;
     }
   }
   .head {
     font-weight: 600;
     color: #8c8046;
   }
   .spaced {
     font-size: 24px;
     letter-spacing: 2px;
     color: rgb(155,155,155);
   }
}
</style>
