<template>
    <div class="share-rap flex column align-center px-3">
        <template v-if="item">
            <template v-if="isMobile">
                <mobile-player :item="item" :type="type" :pageView="pageView"></mobile-player> </template>
            <template v-else>
                <desktop-player :item="item" :type="type" :pageView="pageView"></desktop-player>
            </template>
        </template>
        <template v-else>
            <span class="display-1">Hmm, we couldn't find this beat. Check out the latest beats <router-link :to="{ name: 'Beats'}">here</router-link></span>
        </template>
    </div>
</template>

<script>
    import axios from '~/plugins/axios'
    import isMobile from '~/mixins/isMobile.js'
    import storeSong from '~/mixins/storeSong.js'
    import mobilePlayer from '~/components/player/mobile/player'
    import desktopPlayer from '~/components/player/desktop/player'

    export default {
        mixins: [isMobile],
        // data () {
        //   return {
        //     songs: []
        //   }
        // },
        asyncData({params}) {
            return axios.get('/beat/' + params.id)
                .then(response => {
                  if (response.data.success) {
                    response.data.data.image = `https://cdn.rapchat.me/images/${response.data.data.imagefile}`
                    response.data.data.audio = `https://cdn.rapchat.me/beats/${response.data.data.blobname}`
                    response.data.data.type = 'beat'
                    response.data.data.id = response.data.data._id
                    return {
                        item: response.data.data,
                        title: response.data.data.title,
                        artist: response.data.data.artist,
                        playerInstance: null,
                        currentSecond: '00:00',
                        pageView: 'beats',
                        type: 'beat'
                    }
                  } else {
                    return {
                      item: null
                    }
                  }
                }).catch(error => {
                    console.log(error)
                })
        },
        components: {
            'mobile-player': mobilePlayer,
            'desktop-player': desktopPlayer
        },
        computed: {
            pageTitle () {
                if (this.title) {
                  return `${this.title} - produced by ${this.artist} on Rapchat`
                } else {
                  return 'Rapchat | No beat Found'
                }
            }
        },
        head() {
          if (this.item) {
            return {
                title: this.pageTitle,
                meta: [
                  {hid: 'description', name: 'description', content: `Listen to ${this.title} prod. by ${this.artist}. Rap on this instrumental beat for free with the Rapchat app!`},
                  {hid: 'og:title', property: 'og:title', content: this.pageTitle},
                  {hid: 'og:description',property: 'og:description', content: `Listen to ${this.title} prod. by ${this.artist}. Rap on this instrumental beat for free with the Rapchat app!`},
                  {hid: 'og:type', property: 'og:type', content: 'music.song'},
                  {hid: 'og:audio', property: 'og:audio', content: `https://cdn.rapchat.me/beats/${this.item._id}`},
                  {hid: 'og:image', property: 'og:url', content: `https://rapchat.me/beats/${this.item._id}`},
                  {hid: 'og:image', property: 'og:image', content: `https://cdn.rapchat.me/images/${this.item.imagefile}`},
                ]
               }
             } else {
               return {
                 title: 'Rapchat - Beat not Found'
               }
             }
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .share-rap {
        .primary-button{
            display: inline-block;
            background: #8c8046;
            border-radius: 8px;
            -webkit-transition: background .1s;
            transition: background .1s;
            border: none;
        }
        .secondary-button{
          display: inline-block;
          background: #35A15F;
          border-radius: 8px;
          -webkit-transition: background .1s;
          transition: background .1s;
          border: none;
        }
        .seeker-container {
            span {
                font-family: "museo-sans", sans-serif;
                font-size: 0.8em;
                font-weight: 300;
            }
            .audio-seek {
                height: 2px;
                cursor: pointer !important;
                -webkit-appearance: none;
                background: #777;
                border-radius: 2px;
                flex: 2;
                margin-left: 2.5rem !important;
                margin-right: 2.5rem !important;
            }
            .audio-seek::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 50%
                border: 1px solid #4c4016
                background: $theme.primary
                cursor: pointer;
            }
        }
        .rap {
            margin: 0 auto;
            border-radius: 11px;
            .image {
                padding-top: 4px;
            }
            .stat {
                font-size: 1.2em;
                span {
                    float: left;
                    font-size: 0.8em;
                }
                svg {
                    float: left;
                    margin-top: 2px;
                }
                .flame-icon {
                    float: left;
                    height: 22px;
                    vertical-align: middle;
                    &.like {
                        padding-bottom: 2px;
                    }
                    &.repeat {
                        height: 20px;
                    }
                    &.forward {
                        height: 16px;
                        margin-top: 2px;
                    }
                }
            }
            h4 {
                font-weight: 300;
                font-size: 24px;
                margin-top: 0!important;
                margin-bottom: 20px!important;
                text-overflow: ellipsis;
                overflow: hidden;
                word-wrap: normal;
                white-space: nowrap;
                max-width: 350px;
            }
            .control a.play {
                border: 3px solid #fff;
                width: 80px;
                height: 80px;
                font-size: 2em;
                font-weight: bold;
                border-radius: 100px;
                transition: 0.1s border-color;
            }
            a:hover {
                text-decoration: none;
                color: $theme.primary
            }
            a.play:hover, a.play:hover svg {
                fill: $theme.primary
                border-color: $theme.primary;
            }
            .time {
                width: 10%;
            }
            .rap-img {
                border-radius: 100% !important;
                width: 140px !important;
                min-height: 140px;
                padding: 8px;
                border: 1px solid;
            }
        }
        .subheading {
          font-size: 22px;
          margin-top: 0 !important;
          margin-bottom: 30px;
        }
        .subheading a {
          font-family: AvenirMedium;
          &:hover {
                text-decoration: none;
                color: $theme.primary
            }
        }
    }

    @media (max-width: 750px) {
        .share-rap {
            z-index: 5;
            padding-top: 94px;
            margin-bottom: 20px;
            #rap-player {
                width: 100%
            }
            .primary-button {
                height: 39px;
                width: 229px;
                border-radius: 4px;
                font-size: 14px;
            }
            .secondary-button {
                height: 39px;
                width: 229px;
                border-radius: 4px;
                font-size: 14px;
            }
            .rap {
                flex-direction: column;
                .image {
                    margin-top: 6px !important;
                }
                .stat {
                    span {
                        font-size: 12px
                    }
                    .flame-icon {
                        height: 18.7px;
                    }
                    span {
                        margin-top: 2px;
                    }
                }
                 h4 {
                    margin-top: 3px !important;
                    margin-bottom: 10px!important;
                }
            }
            h3:first-child {
                margin-bottom: 25px;
            }
            .seeker-container {
                span {
                    font-size: 10px;
                    font-family: 'Avenir Medium';
                }
            }
        }

        .info {
            padding-right: 15px;
        }
    }

    [v-cloak] {
        display: none;
    }

    .audio-loader {
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    span.gold {
        color: #8c8046;
        font-weight: bold;
    }

    h3.thin {
        font-weight: 200;
    }
</style>
