<template>
    <rc-container width="1200px">
        <div class="beats-header flex row align-center mx-sm-4" slot="rc-header">
          <div class="col-12 no-gutters">
            <ProducerSignUpCta/>
            <div class="flex row no-gutters align-center justify-content-between">
              <div class="col-6 col-sm-4 order-2">
                <h1 class="mb-0 test-req">Beats on the app</h1>
              </div>
              <div class="col-12 col-sm-4 order-1 order-sm-2">
                <b-form-input class="beat-search-input" v-model="search" type="text" placeholder="Search (Producer or Title)">
                </b-form-input>
                <div class="mt-2" v-if="isMobile">
                  <ul class="list-inline suggested-container-m text-center">
                    <li class="list-inline-item mx-2 search-link mt-0"  v-for="item in this.recommendedSearches">
                        <router-link :to="`/beats?search=${item}`" class="badge badge-pill badge-primary search-badge">
                          {{item}}
                        </router-link>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6  col-sm-4 flex justify-content-end order-3">
                <b-dropdown id="searchByDropdown" :text="active">
                  <b-dropdown-item @click="active = 'Featured'">
                    Featured
                  </b-dropdown-item>
                  <b-dropdown-item   @click="active = 'Recent'">
                    Recent
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>
          </div>
          <div class="flex row w-100 mx-4 my-2" v-if="!isMobile">
            <ul class="list-inline suggested-container text-center">
              <li class="list-inline-item mx-2 search-link mt-0"  v-for="item in this.recommendedSearches">
                <router-link :to="`/beats?search=${item}`" class="badge badge-pill badge-primary search-badge">
                  {{item}}
                </router-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="beats flex wrap "  slot="rc-content">
            <div v-show="isLoading" class="loader">
                <rc-loader></rc-loader>
            </div>
            <rc-grid :songs="songs" class="fill-width" v-show="!isLoading"></rc-grid>
            <infinite-loading @infinite="onInfinite" :active="active" v-show="!isLoading" windowScroll="true">
                <span slot="no-more">Finished</span>
                <span slot="no-results">Didn't find what you need? Request new beats <a href="mailto:beats@rapchat.me" target="_blank">here</a></span>
            </infinite-loading>
        </div>
    </rc-container>
</template>

<script>
    import {mapState} from 'vuex'
    import axios from '~/plugins/axios'
    import GreyButton from '~/components/elements/GreyButton'
    import rcGrid from '~/components/elements/Grid'
    import ProducerSignUpCta from '~/components/elements/ProducerSignUpCta'
    import InfiniteLoading from '~/utils/infiniteload.vue'
    import rcContainer from '~/components/layout/Container'
    import Loader from '~/components/layout/Loader'
    import _ from 'lodash'
    import isMobile from '~/mixins/isMobile.js'

    export default {
        name: "Beats",
        mixins: [isMobile],
        watchQuery: ['search'],
        components: {
            'rc-button': GreyButton,
            'rc-container': rcContainer,
            InfiniteLoading,
            'rc-grid': rcGrid,
            'rc-loader': Loader,
            ProducerSignUpCta
        },
        data() {
            return {
                isLoading: true,
                recommendedSearches: [
                  'Lil Baby',
                  'Drake',
                  'Juice Wrld',
                  'Travis Scott',
                  'Lil Pump',
                  'NBA YoungBoy',
                  'Type Beat',
                  'Stormz Kill It',
                  '4Four',
                  '808Sling',
                  'God Eli',
                  'SOB Production',
                  'ProdByScar'
                ]
            }
        },
        asyncData({query}) {
          if (!query.hasOwnProperty("search")) {
            return axios({
                url: `/Beats/all?limit=20`,
                method: 'get',
                headers: {
                    'x-zumo-auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQyODc5OTA4ODkwLCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.BjSOlfMcOT3iHOevhgAu9NiakSWDS_f8Dtg_WCgyVRY',
                },
            })
                .then(response => {
                    response.data.data.forEach(item => {
                      item.type = 'beat'
                    })
                    return {
                        beats: response.data.data,
                        songs: response.data.data,
                        recent: [],
                        premium: [],
                        search: [],
                        loading: false,
                        isLoading: false,
                        skip: 20,
                        limit: 20,
                        active: 'Featured',
                        search: ''
                    }
                }).catch(error => {
                    console.log(error)
                })
              } else {
                return axios({
                  url: `/beatsearch?search=${query.search}&limit=20&skip=0`,
                  method: 'get',
                  headers: {
                      'x-zumo-auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQyODc5OTA4ODkwLCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.BjSOlfMcOT3iHOevhgAu9NiakSWDS_f8Dtg_WCgyVRY',
                  },
              }).then(response => {
                response.data.data.beats.forEach(item => {
                  item.type = 'beat'
                  item.playsCount = item.options[0].plays
                })

                let orderedBeats = _.orderBy(response.data.data.beats, (beat)=>{return beat.options[0].plays}, 'desc')
                return {
                  beats: [],
                  songs: orderedBeats,
                  loading: false,
                  isLoading: false,
                  recent: [],
                  premium: [],
                  search: orderedBeats,
                  skip: 20,
                  limit: 20,
                  active: 'Search',
                  search: query.search
                }
              }).catch(error => {
                  console.log(error)
              })
            }
        },
        computed: {
          ...mapState({
            user: state => state.currentUser,
            producer: state => state.currentUser
          })
        },
        watch: {
            active() {
                switch (this.active) {
                    case 'Recent':
                        this.getRecent()
                        break;
                    case 'Premium':
                        this.getPremium()
                        break;
                    case 'Featured':
                        this.songs = this.beats
                        break;
                    case 'Search':
                      break
                }
            },
            search() {
              this.debounceSearch(this)
            }
        },
        head() {
            return {
                title: 'Rapchat | Featured Beats and Instrumentals',
                meta: [
                  {
                    hid: 'description', name: 'description', content: 'Listen to free rap beats and instrumentals featured on the Rapchat app. Download the app, pick a beat from our library, and hit the studio to record a rap over our beats!'
                  },
                  {
                      property: 'og:description',
                      content: 'Listen to free rap beats and instrumentals featured on the Rapchat app. Download the app, pick a beat from our library, and hit the studio to record a rap over our beats!'
                  },
                ]
            }
        },
        methods: {
            getRecent() {
                if (this.recent.length === 0) {
                    this.isLoading = true
                    axios({
                        url: `/Beats/recent?limit=20`,
                        method: 'get',
                        headers: {
                            'x-zumo-auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQyODc5OTA4ODkwLCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.BjSOlfMcOT3iHOevhgAu9NiakSWDS_f8Dtg_WCgyVRY',
                        },
                    }).then(response => {
                        let songs = []
                        response.data.data.forEach(song => {
                            song.type = 'beat'
                            songs.push(song)
                        })
                        this.songs = songs
                        this.recent = songs
                        this.isLoading = false
                    }).catch(error => {
                        console.log(error)
                        this.isLoading = false
                    })
                } else {
                    this.songs = this.recent
                    this.isLoading = false
                }
            },
            getPremium() {
                if (this.premium.length === 0) {
                    this.isLoading = true
                    axios({
                        url: `/Beats/premium?limit=20`,
                        method: 'get',
                        headers: {
                            'x-zumo-auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQyODc5OTA4ODkwLCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.BjSOlfMcOT3iHOevhgAu9NiakSWDS_f8Dtg_WCgyVRY',
                        },
                    }).then(response => {
                        let songs = []
                        response.data.data.forEach(song => {
                            song.type = "beat"
                            if(song.options){
                                let prices = []
                                song.options.forEach(option => {
                                    let price = option.iap_productId
                                    if(price){
                                        if (price === 'com.Rapchat.PremiumBeatsTier1') {
                                            if (!prices.find(p => p === '$0.99')) prices.push('$0.99')
                                        }
                                        if (price === 'com.Rapchat.PremiumBeatsTier2') {
                                            if (!prices.find(p => p === '$1.99')) prices.push('$1.99')
                                        }
                                    }
                                })
                                song.prices = prices
                            }
                            songs.push(song)
                        })
                        this.songs = songs
                        this.premium = songs
                        this.isLoading = false
                    }).catch(error => {
                        console.log(error)
                        this.isLoading = false
                    })
                } else {
                    this.songs = this.premium
                    this.isLoading = false
                }
            },
            onInfinite ($state) {
              if (this.active !== 'Search') {
                  setTimeout(() => {
                      let url = '/Beats/' + this.active
                      axios.get(`${url}?skip=${this.songs.length}&limit=${this.limit}`, {
                          headers: {
                              'x-zumo-auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQyODc5OTA4ODkwLCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.BjSOlfMcOT3iHOevhgAu9NiakSWDS_f8Dtg_WCgyVRY',
                          }
                      })
                          .then(response => {
                              const beats = response.data.data
                              this.skip += 20
                              this.isLoading = false;
                              this.songs = this.songs.concat(beats)
                              if (beats.length > 0) {
                                  beats.map(beat => {
                                      beat.type = 'beat'
                                      this.$store.commit('addSong', beat);
                                      if (this.active === 'featured') {
                                          this.beats.push(beat)
                                      } else if (this.active === 'recent') {
                                          this.recent.push(beat)
                                      } else if (this.active==='premium') {
                                          this.premium.push(beat)
                                      } else if (this.active ==='search'){
                                        this.search.push(beat)
                                      }
                                  })
                                  $state.loaded()
                              } else {
                                  $state.complete()
                              }
                          })
                          .catch(() => {
                              $state.loaded()
                          })
                  }, 1000)
                } else {
                  setTimeout(() => {
                      let url = `/beatsearch?search=${this.search}&limit=20&skip=${this.skip}`
                      axios.get(url, {
                          headers: {
                              'x-zumo-auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQyODc5OTA4ODkwLCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.BjSOlfMcOT3iHOevhgAu9NiakSWDS_f8Dtg_WCgyVRY',
                          }
                      })
                          .then(response => {
                              const beats = response.data.data.beats
                              beats.forEach(item => {
                                item.type = 'beat'
                                item.playsCount = item.options[0].plays
                              })

                              let orderedBeats = _.orderBy(beats, (beat)=>{return beat.options[0].plays}, 'desc')
                              this.skip += 20
                              this.isLoading = false;
                              this.songs = this.songs.concat(beats)
                              if (beats.length > 0) {
                                  beats.map(beat => {
                                      beat.type = 'beat'
                                      this.$store.commit('addSong', beat);
                                      if (this.active === 'featured') {
                                          this.beats.push(beat)
                                      } else if (this.active === 'recent') {
                                          this.recent.push(beat)
                                      } else {
                                          this.premium.push(beat)
                                      }
                                  })
                                  $state.loaded()
                              } else {
                                  $state.complete()
                              }
                          })
                          .catch(() => {
                              $state.loaded()
                          })
                  }, 1000)
                }
              },
              debounceSearch: _.debounce((ctx) => {
                ctx.$nuxt.$router.push({path: ctx.$nuxt.$route.path, query: {search: ctx.search}})
              }, 800)
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .beats-header {
        h1 {
            font-size: 1.4em;
            text-transform: uppercase;
             50%;
             font-weight:500px;
        }
        .beat-search-input {
            background: #272527 !important;
            border: 0px solid #999 !important;
            border-radius: 45px;
            color: white !important;
            &:focus {
              box-shadow: 0px 0px 0px 1px white !important;
            }
        }
        .suggested-container {
          max-height: 100px;
        }
        .search-badge {
          background-color: #8c8046;
          color: white;
          &:hover {
            background-color: #4a4a4a;
          }
        }
        #searchByDropdown {
          button.btn-secondary {
            background-color: rgba(0,0,0,0);
            border: none !important;
            box-shadow: none !important
            &:focus {
              outline: none;
              border: none !important;
              box-shadow: 0 0 black !important
            }
            &:active {
              outline: none !important;
              border: none !important;
              box-shadow: 0 0 black !important
            }
            &:hover{
              color: #8c8046
              cursor: pointer
            }
          }
          .dropdown-menu {
            background: rgb(0,0,0)
            a.dropdown-item {
              &:focus {
                outline: none
                background-color: rgb(0,0,0);
                border: none !important;
              }
              &:active {
                outline: none
                border: none !important;
              }
              color: white;
              &:hover {
                background-color: rgb(0,0,0);
                color: #8c8046;
              }
            }
          }
        }
    }

    .beats {
        .loader {
            margin: 20px auto;
        }
    }
    .btn-active {
        color: $theme.primary
    }

    .button-muted{
      width: 100%;
      height: 50px;
      border-radius: 95px;
      background-color: #202323;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
      cursor: pointer;
    }
    .button-muted:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    .button-muted:active {
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    .button-muted:hover {
      border-radius: 95px;
      background-color: #202323;
      color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }

    @media (max-width: 750px) {
        .beats-header {

            h1 {
                font-size: 1.1em;
            }
        }

        .grey-button {
            padding: 0.5em 1em !important
        }

    }
</style>
