<template>
    <rc-container width="1200px">
        <b-row slot="rc-content" class="mx-0" :class="isMobile ? 'no-gutters' : ''">
            <template v-if="user">
              <div class="profileDiv"
                :style="`background-image: url('${getImageURL(user.coverphoto)}');background-position: center; background-repeat: no-repeat;background-size: cover; border-radius: 8px;`">
                <div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5);"></div>
                <div class="row">
                  <div class="col-md-2 col-sm-2" style="min-height: 100px">
                    <div v-if="currentUser && currentUser.username == user.username" :style="`width: 150px;height: 150px;background: url('${user.profilephoto!==null ? getImageURL(currentUser.profilephoto) : defImg}') center;background-size: cover; background-position: center;border-radius: 50%; background-color: black`"></div>
                    <div v-else :style="`width: 150px;height: 150px;background: url('${user.profilephoto!==null ? getImageURL(user.profilephoto) : defImg}');background-size: cover; background-position: center;border-radius: 50%; background-color: black`"></div>
                  </div>
                  <div class="col-md-10 col-sm-10">
                    <div class="userName" v-if="currentUser && currentUser.username == user.username">{{currentUser.username}}</div>
                    <div class="userName" v-else>{{user.username}}</div>
                    <div class="userBio" v-if="currentUser && currentUser.username == user.username && this.currentUser.location">{{ location(this.currentUser.location) }}</div>
                    <div class="userBio" v-else>{{location(this.user.location) }}</div>
                    <div v-show="currentUser && currentUser.username == user.username" class="editIcon">
                          <img class="pencil-edit-img" src="~/static/img/pencil-edit.svg">
                          <div ><input type="file" name="cover" accept="image/*" @change="setProducerArtworkFile($event)">
                    </div>
                    </div>
                    <div v-show="currentUser && currentUser.username == user.username" class="editUploadBtn mobiNone">
                      <a href="#" class="" v-b-modal.editUser>Edit Profile</a>
                      <a href="#" v-if="currentUser && (currentUser.producer || currentUser.isProducer)" v-b-modal.submitBeats>Upload Beat</a>
                      <a href="#" v-else v-b-modal.activeUserModal>Upload Beat</a>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mb-3" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);" v-if="uploaded">
                      <img src="~/static/img/loader.gif" style="height:75px">
                    </div>
                  <div class="clearfix"></div>
                </div>

                </div>
                <div v-show="currentUser && currentUser.username == user.username" class="editUploadBtn mobiBlock">
                    <a href="#" class="" v-b-modal.editUser>Edit Profile</a>
                    <a href="#" v-if="currentUser && (currentUser.producer || currentUser.isProducer)" class="active" v-b-modal.submitBeats>Upload</a>
                    <a href="#" v-else class="active" v-b-modal.activeUserModal>Upload</a>
                </div>
                <div class="col-sm-12 col-xl-8 col-lg-8 col-md-8 rapDocs mt-3 pl-0">
                  <template v-if="songs.length > 0">
                    <div class="d-flex">
                      <span class="h1 pl-3 pr-3" :style="show=='track' ? 'border-bottom: 2px solid #8c8046; cursor: pointer; font-size: 2rem' : 'cursor: pointer'" @click="show='track'">Tracks</span>
                      <!-- <span class="h1 pl-3 pr-3" v-show="false" :style="show=='activity' ? 'border-bottom: 2px solid #8c8046; cursor: pointer' : 'cursor: pointer'" @click="show='activity'">Activity</span>
                      <span class="h1 pl-3 pr-3" v-show="false" :style="show=='stats' ? 'border-bottom: 2px solid #8c8046; cursor: pointer' : 'cursor: pointer'" @click="show='stats'">Stats</span> -->
                    </div>
                    <div>
                      <template v-if="show == 'track'">
                        <div class="row rapInfo p-3 mb-2" v-for="rap in songs" :key="rap._id">
                          <div class=" col-4 col-sm-2 text-center px-0" style="position: relative;">
                            <!-- <icon name="play" width="32px" height="32px" style="position: absolute; top: 50%; left: 50%; z-index: 1; opacity: 0.8; transform: translate(-50%, -50%)" />  -->
                            <!-- <img :src="getImageURL(rap.image)" style="width: 100%; max-width: 112px;position: relative; top: 50%; transform: translateY(-50%)"> -->
                            <rc-video v-if="rap.type=='rap'" :song="rap" :overlay="false" style="width: 100%" />
                            <rc-song v-if="rap.type=='beat'" style="width: 100%;" :info="false" :key="rap.id" :song="rap" v-on:beatdeleted="removeBeat($event)"></rc-song>
                          </div>
                          <div v-if="rap.type == 'beat'" class="col-8 col-sm-10 info p-3">
                            <router-link :to="`/beats/${rap._id}`"><h5>{{rap.title}}</h5></router-link>
                            <p class="mb-2">{{rap.artist}}</p>
                            <p class="mb-0">
                              <icon name="play" width="16px" height="16px" /> {{rap.plays | formatNumber}} &nbsp;
                              <icon name="heart" width="16px" height="16px" /> {{rap.likes | formatNumber}} &nbsp;
                              <icon name="comment" width="16px" height="16px" /> {{rap.commentCount | formatNumber}}</p>

                            <h6 v-if="false"><icon name="share" /> Share</h6>
                          </div>
                          <div v-if="rap.type == 'rap'" class="col-8 col-sm-10 info p-3">
                            <h5>{{rap.name}}</h5>
                            <router-link :to="`/beats/${rap.beat._id}`"><p class="mb-0  mt-3">{{rap.beat.title +" - " + rap.beat.artist}}</p></router-link>
                            <p class="mb-0  mt-3">
                              <icon name="play" width="16px" height="16px" /> {{rap.plays}} &nbsp;
                              <icon name="heart" width="16px" height="16px" /> {{rap.likes}} &nbsp;
                              <icon name="comment" width="16px" height="16px" /> {{rap.commentCount}}</p>
                            <h6 v-if="false"><icon name="share" /> Share</h6>
                          </div>
                        </div>
                        <infinite-loading @infinite="onInfinite" active='Profile' v-show="!loading" windowScroll="true" v-if="currentUser || user">
                      <span slot="no-more">Finished</span>
                      <span slot="no-results">This user hasn't recorded any raps yet!</span>
                    </infinite-loading>
                      </template>
                    </div>
                    <!-- {{user}} -->
                  </template>
                  <template v-else>
                    <div class="noRapMsg">
                      <div class="msg pl-2">
                      This is your profile. Your uploaded tracks will go here. After uploading your beats, millions around the world will be able to discover them and use them in the Rapchat app. Hit the Upload button to get started!
                      </div>
                      <div class="dummyRap">
                        <div class="row rapInfo p-3">
                          <div class=" col-3 col-sm-2 text-center icon">
                            <icon name="music" width="50" height="50" color="gray"></icon>
                          </div>
                          <div class="col-9 col-sm-10 info p-2">
                            <div class="empBar1" style="height: 19px;	width: 344px;	border-radius: 4px;	background-color: #171717;"></div>
                            <div class="empBar2 mt-2" style="height: 19px;	width: 220px;	border-radius: 4px;	background-color: #171717;"></div>
                            <div class="empBar3 mt-4" style="height: 19px;	width: 107px;	border-radius: 4px;	background-color: #171717;"></div>
                          </div>
                        </div>
                      </div>
                      <!-- {{user}} -->
                    </div>
                  </template>
                </div>
                <template v-if="true">
                <div class="col-md-4 userInfo mt-3 d-none d-md-block">
                    <div class="d-flex justify-content-around text-center userStats">
                      <div class="stats line">
                        <p>FOLLOWERS</p>
                        <span></span>
                        <p>{{ user.tags.followers | formatNumber }}</p>
                      </div>
                      <div class="stats line">
                        <p>FOLLOWING</p>
                        <span></span>
                        <p>{{ user.tags.following | formatNumber }}</p>
                      </div>
                      <div class="stats">
                        <p>TRACKS</p>
                        <p>{{ user.beatCount | formatNumber }}</p>
                      </div>
                    </div>
                  <template v-if="user.bio === null">
                    <div class="text-center mt-5" >
                      <icon name="link" width="64" height="64" color="gray"></icon>
                      <br>
                      <br>
                      Links, bio, and all that will go here once you update you profile
                    </div>
                    <!-- <div class="mr-5 ml-5 mt-5 p-3 text-center getAppDiv">
                      <div class="display-head">Get the app to stay plugged in on the go</div>
                      <div class="display-icon mt-3">
                        <img src="~/static/img/app_store.png" alt="apple-icon">
                        <img src="~/static/img/google_play.png" alt="play-store">
                      </div>
                    </div> -->
                  </template>
                  <template v-else>
                    <div class="mt-3 pl-3" v-if="(currentUser && currentUser.username == user.username && currentUser.bio) || user.bio">BIO</div>
                    <div class="pl-4 pr-4" v-if="currentUser && currentUser.username == user.username">{{currentUser.bio}}</div>
                    <div class="pl-4 pr-4" v-if="!currentUser">{{user.bio}}</div>
                    <div class="mt-3 pl-3" v-if="user.otherlink || user.soundcloud || user.twitter || user.youtube || user.instaURL || user.spotify > 0">LINKS</div>
                    <div class="pl-4 pr-4">
                      <ul class="sl">
                        <li v-if="user.otherlink"><a :href="user.otherlink" target="_blank"><icon name="globe" width="16px" height="16px"></icon><span>{{user.otherlink}}</span></a></li>
                        <li v-if="user.soundcloud"><a :href="user.soundcloud"  target="_blank"><img src="~/static/img/sc-mono-icon.svg" style="width: 16px"><span>{{user.soundcloud}}</span></a></li>
                        <li v-if="user.twitter"><a :href="user.twitter" target="_blank"><icon name='brands/twitter' width="16px" height="16px"></icon><span>{{user.twitter}}</span></a></li>
                        <li v-if="user.youtube"><a :href="user.youtubeURL" target="_blank"><icon name='brands/youtube' width="16px" height="16px"></icon><span>{{user.youtubeURL}}</span></a></li>
                        <li v-if="user.instaURL"><a :href="user.instaURL" target="_blank"><icon name='brands/instagram' width="16px" height="16px"></icon><span>{{user.instaURL}}</span></a></li>
                        <li v-if="user.spotify"><a :href="user.spotifyURL" target="_blank"><icon name='brands/spotify' width="16px" height="16px"></icon><span>{{user.spotifyURL}}</span></a></li>
                      </ul>
                    </div>
                    <!-- <div class="mr-5 ml-5 mt-5 p-3 text-center getAppDiv">
                      <div class="display-head">Get the app to stay plugged in on the go</div>
                      <div class="display-icon mt-3">
                        <img src="~/static/img/app_store.png" alt="apple-icon">
                        <img src="~/static/img/google_play.png" alt="play-store">
                      </div>
                    </div> -->
                  </template>
                </div>
                <div class="clearfix"></div>
                </template>
            </template>
            <template v-else>
                <b-col cols="12" class="text-center">
                    <span class="display-1">No User Found</span>
                </b-col>
            </template>
        </b-row>
    </rc-container>
</template>

<script>
    import rcContainer from '~/components/layout/Container'
    import axios from '~/plugins/axios'
    import admin from '~/plugins/adminApi'
    import Feed from '~/components/layout/Feed'
    import rcGrid from '~/components/elements/VideoGrid'
    import isMobile from '~/mixins/isMobile'
    import GreyButton from '~/components/elements/GreyButton'
    import { mapActions, mapState } from 'vuex'
    import filters from '~/utils/filters'
    import rcLoader from '~/utils/infiniteload'
    import Video from '~/components/cards/Video'
    import validators from '~/utils/validators.js'
    import Song from '~/components/cards/Song'
    import storeSong from '~/mixins/storeSong'

    export default {
        mixins: [isMobile, storeSong],
        data () {
          return {
            grid: true,
            loading: true,
            limit: 20,
            show:'track',
            defImg: '/img/group-4@3x.png',
            coverPic: null,
            uploaded: false,
            playerView: 'beats'
          }
        },
        asyncData({params}) {
            return admin.get(`/admin/producers/${params.id}`)
                .then(response => {
                    let beats = response.data.data.beats ? response.data.data.beats.map((rap) => rap) : []
                    beats.forEach(item => {
                      item.image = item.artworkUrl || item.imagefile
                      item.userId = item.producerId
                      item.plays = item.options[0].plays
                      item.id = item._id
                      item.owner = {
                        username: response.data.data.username,
                        profilephoto: response.data.data.profilephoto
                      }
                      item.type = 'beat'
                    })

                    let raps = response.data.data.raps ? response.data.data.raps.map((rap) => rap) : []
                    raps.forEach(item => {
                      item.image = item.artworkUrl || item.imagefile
                      item.userId = item.producerId
                      item.id = item._id
                      item.owner = {
                        username: response.data.data.username,
                        profilephoto: response.data.data.profilephoto
                      }
                      item.type = 'rap'
                    })
                    return {
                        user: response.data.data,
                        songs: [...beats, ...raps],
                        loading: false,
                        skip: 20,
                    }
                }).catch(error => {
                    console.log(error)
                })
        },
        head() {
            if (this.user) {
                return {
                    title: `Rapchat | ${this.user.username}`,
                    meta: [
                      { hid: 'description', name: 'description', content: `${this.user.username}'s profile on Rapchat`},
                      { hid: 'og:title', property: 'og:title', content: ` Rapchat | ${this.user.username}`},
                      { hid: 'og:description', name: 'og:description', content: `${this.user.username}'s profile on Rapchat.` },
                      { hid: 'og:type', name: 'og:type', content: 'profile'},
                      { hid: 'og:image', name: 'og:image', content: `https://cdn.rapchat.me/images/${this.user.profilephoto}`}
                    ]
                }
            }
        },
        components: {
            'rc-grid': rcGrid,
            'rc-container': rcContainer,
            'rc-button': GreyButton,
            Feed,
            'infinite-loading': rcLoader,
            'rc-video': Video,
            'rc-song': Song
        },
        computed: {
            ...mapState(['currentUser']),
        },
        methods: {
          ...mapActions ({
            followUser: 'followUser'
          }),
          getImageURL: function(id) {

            return `https://cdn.rapchat.me/images/${id}`
          },
          location (loc) {
            return `${loc.city? loc.city+', ' : ''}${loc.state? loc.state+', ' : ''}${loc.country? loc.country : ''}`
          },
          removeBeat (event) {
            //this is a hack @TODO fix this later using store
            this.songs = this.songs.filter((item) => {
              return item._id !== event
            })
          },
          submitEdit () {
            var userInfo = new FormData()
            userInfo.append("producerCoverPic", this.coverPic)
            admin.put(
              `/admin/producers/update/${this.currentUser._id}`,
              userInfo,
              {headers: {'X-ZUMO-AUTH': this.currentUser.token, 'Content-Type': 'multipart/form-data'}}
            ).then((res) => {
              if (res.data.success) {
                this.currentUser.coverphoto = res.data.data.coverphoto
                this.$store.dispatch('loginUser', this.currentUser);
                window.alert('Profile Updated')
                this.uploaded = false;
              } else {
                window.alert('hmm... something went wrong. try again later');
                this.uploaded = false;
              }
            })
            .catch((e) => {
              this.uploaded = false;
              console.log(e)
              window.alert("hmm something went wrong and we weren't able to update your data. try again later.")
            })
          },
          setProducerArtworkFile (event) {
          //log photo changed
          let imgFile = event.target.files[0]
          if (validators.validateImg(imgFile)) {
            this.uploaded =  true;
            this.coverPic = imgFile;
            var reader = new FileReader();

            reader.onload = (e) => {
              this.currentUser.coverphoto = e.target.result
            };
            reader.readAsDataURL(imgFile);
            this.submitEdit()
          } else {
            alert('Please keep image under 2MB')
          }
        },
          sendLink () {
              branch.link({
                  tags: [],
                  channel: 'Web',
                  feature: 'shareRapPrompt',
                  data: {
                      _id : this.$route.params.id,
                      og_canonical: 'profile/' + this.$route.params.id,
                      canonical_identifier:'profile/' + this.$route.params.id,
                      isDeepLinkedProfile: true,
                      android_url: 'https://www.rapchat.me/profile/' + this.$route.params.id,
                      ios_url: 'https://www.rapchat.me/profile/' + this.$route.params.id,
                      web_url: 'https://www.rapchat.me/profile/' + this.$route.params.id,
                      og_username: this.user.username,
                      og_image_url: this.user.profilephoto,
                      _id: this.$route.params.id,
                      username: this.user.username
                  }
              }, function (err, link) {
                  console.log(err, link);
                  window.open(link)
              });
            },
          onInfinite ($state) {
            setTimeout(() => {
               admin.get(`/admin/producers/${this.$route.params.id}`, {params: { skip: this.skip}}).then(res => {
                this.loading = false
                if (res.data.success) {
                  if (res.data.data.beats.length > 0 || res.data.data.raps.length > 0) {
                    this.skip += 20
                    let beats = res.data.data.beats
                    beats.forEach(item => {
                      item.image = item.artworkUrl || item.imagefile
                      item.userId = item.producerId
                      item.id = item._id
                      item.owner = {
                        username: res.data.data.username,
                        profilephoto: res.data.data.profilephoto
                      }
                      item.type = 'beat'
                    })
                    let raps = res.data.data.raps
                    raps.forEach(item => {
                      item.image = item.artworkUrl || item.imagefile
                      item.userId = item.producerId
                      item.id = item._id
                      item.owner = {
                        username: res.data.data.username,
                        profilephoto: res.data.data.profilephoto
                      }
                      item.type = 'rap'
                    })
                    this.songs = this.songs.concat([...beats, ...raps])
                  } else if (res.data.data.beats.length === 0) {
                    $state.complete()
                    this.loading = false
                  }
                  $state.loaded()
                }
              }).catch(e => {
                console.log(e)
                $state.loaded()
              })
            }, 1000)
          }
        },
        filters: {
          formatNumber (number) {
            return filters.bigNumber(number)
          },
          location: function(val) {
            return filters.location(val)
          }
        }
    }
</script>

<style lang="stylus">

    .profileDiv
      width 100%
      background-color #232323
      padding 1rem
      position relative
      .row
        @media screen and (max-width: 767px)
          .col-sm-2
            width 33.666667%
          .col-sm-10
            width 66.333333%
      .userName
        font-family Avenir
        font-size 36px
        font-weight 900
        line-height 49px
        @media screen and (max-width: 767px)
          font-size 24px
      .userBio
        font-family Avenir
        font-size 21px
        font-weight 300
        line-height: 29px
      .editIcon
        position absolute
        right 36px
        top 0
        border-radius 50%
        padding 13px
        width 50px
        height 50px
        text-align center
        overflow hidden
        input
          cursor pointer
          position absolute
          top 0
          left 0
          height 100%
          opacity 0
        img
          cursor pointer
          position absolute
          left 0
          top 0
        @media screen and (max-width: 767px)
          display none
      .editUploadBtn
        margin-top 0em
        text-align right
        width 100%
        position absolute
        bottom 5px
        right 10px
        @media screen and (max-width: 767px) and (min-width:320px)
          text-align center
          position absolute
          bottom -51px
          background black
          right 0
          padding-top 14px
        a
          background #000
          padding 13px
          margin 10px
          border-radius 54px
          transition 1s
          @media screen and (max-width: 767px) and (min-width:320px)
            border 1px solid #fff
          &:hover
            color #fff
            background #8c8046
            transition 1s
            text-decoration none
    .rapDocs
      overflow hidden
      padding 1rem
      border-right 1px solid rgba(255, 255, 255, 0.18)
      .noRapMsg
        position relative
       @media screen and (max-width: 767px) and (min-width:320px)
            margin-top 50px
            border none
        //  @media screen and (max-width: 1024px) and (min-width:768px)
        //     padding 0 20px




        .msg
          font-family Avenir
          font-size 21px
          font-weight 300
          line-height 29px
          @media screen and (max-width: 1024px) and (min-width:768px)
             padding 0 20px
             font-size 16px
           @media screen and (min-width: 1024px)
            padding 0 20px
          @media screen and (max-width: 767px)
            display none

      .dummyRap
          padding 0 20px
          margin-top 2em
         @media screen and (max-width: 1024px) and (min-width:768px)
           padding 0 20px
           font-size 16px
        @media screen and (max-width: 767px) and (min-width:320px)
            margin-top 2em
        .rapInfo
          .icon
            background-color #070707
            border-radius 4px
            width 112px
            height 112px
            svg
              position relative
              top 50%
              transform translateY(-50%)
              @media screen and (max-width: 767px)
                width 40%
                min-width 30px
          .info
            a
              &:hover
                color #ffffff
            @media screen and (max-width: 520px)
              .empBar1
                width 100%!important
              .empBar2
                width 63.95%!important
              .empBar3
                width 31.10%!important
    .userInfo
      .userStats
        .stats
          position relative
          span
              position absolute
              height 100%
              width 1px
              background rgba(255, 255, 255, 0.18)
              right -21px
              top 0
          @media screen and (max-width: 1024px) and (min-width:768px)
            padding 0
            p
              font-size 12px
            span
              right -15px
          &.line
            // border-right 0.5px solid rgba(255, 255, 255, 0.18)
      .getAppDiv
        background-color #171717
        .display-head
          font-family Avenir
          font-size 17px
          font-weight 900
          line-height 23px
        .display-icon
         @media screen and (max-width: 1024px) and (min-width:768px)
            display inline-grid
          img
           width 45%
           margin 0 5px
           @media screen and (max-width: 1024px) and (min-width:768px)
              width 100%
              margin 6px 0
    .mobiBlock
      display none
    .editUploadBtn.mobiBlock a
      background: #000;
      padding: 13px;
      margin: 10px;
      border-radius: 54px;
      -webkit-transition: 1s;
      transition: 1s;
      border: 1px solid #fff;

    @media screen and (max-width: 767px)
      .mobiBlock
        display block
        bottom 0!important
        position relative
        width 100%
        text-align center
        top 20px
        a
          min-width 150px
          display inline-block
          margin 0 10px !important
          &:hover,&.active
            color #ffffff
            background #8c8046
            text-decoration none
          @media screen and (max-width: 359px)
            min-width 120px!important
            padding 7px!important
            margin 0 5px!important

      .mobiNone
        display none
    @media screen and (max-width: 450px)
      .rapDocs div span
          font-size 18px




    .sl
      overflow hidden
      padding 0
      list-style none
      li
        white-space nowrap
        a
          span
            padding-left 10px
          &:hover, &:active
            color #fff

    @require '~assets/style/base.styl'
    .rc-avatar {
        border-radius: 50%
        width: 120px;
        height: 120px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sidebar {
      z-index: 0 !important
    }
    .btn-follow {
        border-radius: 4px
        height: 50px;
    }

    .f-hover:hover{
        color: #3b5998 !important;
    }
    /*.f-hover{
        color: white !important;
    }*/

    .t-hover:hover{
        color: #1dcaff !important;
    }
    /*.t-hover{
        color: white !important;
    }*/

    .s-hover:hover{
        color: #ff8800 !important;
    }
    /*.s-hover{
        color: white !important;
    }*/

    .grey-button {
        background: #4a4a4a;
        text-decoration: none;
        border-radius: 30px;
        display: inline-block;
        font-weight: 700;

        &:hover {
            text-decoration: none;
            color: $theme.primary
        }
    }
    .hero-player {
      width: 33%;
      padding-top : 55%;
    }
    .grid-container{
      width: 100%;
      /* @media(max-width: 1000px) {
        width: 50%
      } */
    }
    .flex-rect {
      width: 100%
      padding-top: 165%;
      max-height: 400px;
    }
    #submitBeats___BV_modal_header_ > button{
     display:none !important;
   }
</style>
