<template>
    <div>
        <!-- Navigation -->
        <div class="header-block"  :class="navActive && 'nav-active'">
            <div class="rc-header px-3">
                <b-row class="justify-content-between mx-0">
                    <div class="logo flex mr-0 justify-center">
                        <b-link href="/" class="title ">Rapchat</b-link>
                    </div>
                    <a href="#" id="toggle-menu" @click="navActive = !navActive" v-if="isMobile">
                        <rc-menu-close v-if="navActive"></rc-menu-close>
                        <rc-menu-open v-else></rc-menu-open>
                    </a>
                </b-row>
                <div v-if="navActive || !isMobile">
                    <b-nav :vertical="isMobile"  :justified="isMobile">
                        <b-nav-item href="https://blog.rapchat.me/">Blog</b-nav-item>
                        <b-nav-item href="https://rapchat.freshdesk.com/support/tickets/new">Support</b-nav-item>
                        <b-nav-item href="https://bnc.lt/m/RxArEoDbWr">Download</b-nav-item>
                        <b-nav-item href="terms">Privacy & Terms</b-nav-item>
                    </b-nav>
                </div>
            </div>
        </div>
        <article>
            <b-container class="bv-example-row">
                <b-row class="justify-content-center mx-0">
                    <b-col sm="8">
                        <nuxt/>
                    </b-col>
                </b-row>
            </b-container>
        </article>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="container">
                <b-row align-h="center mx-0">
                    <div class="col-lg-6">
                        <b-row class="mx-0" align-h="around" align-v="center">
                                 <div class="social"><img class="center-block" src="/images/facebook-icon.svg">
                                 </div>
                                <div class="social"><img class="center-block" src="/images/twitter-icon.png">
                                </div>
                                <div class="social"><img class="center-block" src="/images/youtube-icon.svg">
                                </div>
                                <div class="social"><img class="center-block" src="/images/instagram-icon.svg">
                                </div>
                                <div class="social"><img class="center-block" src="/images/email-icon.svg">
                                </div>
                        </b-row>
                    </div>
                    <div class="w-100">
                        <p class="copyright text-muted">Copyright &copy; RAPCHAT, INC 2016</p>
                    </div>
                </b-row>
            </div>
        </footer>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import {mapGetters} from 'vuex'
    import rcMenuOpen from '~/components/icons/Menu'
    import rcMenuClose from '~/components/icons/Close'
    export default {
        data() {
            return {
                navActive: false
            };
        },
        components: {
            'rc-menu-open': rcMenuOpen,
            'rc-menu-close': rcMenuClose
        },
        computed: mapState(['isMobile']),
        methods: {
            toggleMenu() {
                this.navActive = !this.navActive;
            }
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/typography/typography.styl'
    .rc-header {
        a {
            color: #777
        }
        a:hover {
            text-decoration: none;
            color:#333;
        }
    }
</style>
