<template>
    <div id="app" class="white--color flex column"
         :style="route.params.id && 'background: url(../img/share-bg.png) no-repeat center;background-size: cover;min-height: 100%;'">
        <rc-header></rc-header>
        <nuxt/>
        <rc-player v-if="visible" :playerRunning="false" @update="onPlayerUpdate"></rc-player>
        <rc-footer :playerRunning="playerRunning"></rc-footer>
    </div>
</template>

<script>
    import Header from '~/components/layout/Header'
    import Player from '~/components/layout/Player'
    import Footer from '~/components/layout/Footer'
    import {mapState} from 'vuex'

    export default {
        name: 'page-header',
        data() {
            return {
                navActive: false,
                route: this.$route,
                playerRunning: false
            };
        },
        components: {
            'rc-header': Header,
            'rc-player': Player,
            'rc-footer': Footer
        },
        watch: {
          '$route' () {
              this.route = this.$route
          }
        },
        computed: {
          ...mapState(['player']),
          visible () {
            if (this.player) {
              if (this.route.name !== 'raps-id' || this.route.name !== 'share-id') {
                return true
              } else {
                return false
              }
            } else {
              return false
            }
          }
        },
        methods: {
            onPlayerUpdate(newValue) {
                this.playerRunning = newValue
            },
            onDestroyPlayer () {
              this.playerRunning = false
            }
        }
    };
</script>

<style lang="stylus">
    @require '~assets/style/layout/layout.styl'
    @require '~assets/style/colors/colors.styl'
    @require '~assets/style/typography/typography.styl'

    .full-width{
        width: 100% !important
    }

    #app{
        background: black !important
    }

    .scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #000;
    }

    .scrollbar::-webkit-scrollbar {
        width: 12px !important;
        background-color: #000;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #616161;
    }

    /* ::-webkit-scrollbar {
        width: 0px !important;
    } */

    .clamp {
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .multiline-4 {
        max-height: 90px;
        -webkit-line-clamp: 3;
    }
    .multiline-2{
        max-height: 60px;
        -webkit-line-clamp: 2;
    }

    .fill-width {
        width: 100%;
    }
</style>
