<template>
 <div class="container mt-5-md">
    
      <div id="blog-post" class="" v-if="this.post.hasOwnProperty('data')">
        <h1 class="display-1 mb-3">{{ post.data.title }}</h1>
        <div class="body" v-html="post.data.body"></div>

        <div class="row d-flex justify-content-between">
            <router-link to="/blog" + class="button">
        &larr; Back to the Blog
        </router-link>
        <router-link v-if="false"  class="button">
        {{ post.meta.next_post.title }} &rarr;
        </router-link>
        </div>
    </div>
 </div>
</template>
<script>
  import Butter from 'buttercms'
  const butter = Butter("42bd3748f35ae4c3e6b1d93b0591af08824e2479");
  export default {
    data() {
      return {
        name: 'the Rapchat Blog',
        post: {}
      }
    },
    methods: {
      getPost() {
        butter.post.retrieve(this.$route.params.slug)
          .then((res) => {
            this.post = res.data
          }).catch((res) => {
            console.log(res)
          })
      }
    },
    created() {
      this.getPost()
    }
  }
</script>
<style>
    .body .image img {
        width: 100% !important;
    }
    .container .row a{
        padding-left: 12px
    }
    @media (max-width: 800px) {
        .container {
            margin-top: 60px;
            text-align: justify;
        }
    }
    @media (max-width: 480px) {
        .container #blog-title-single {
           font-size: 2rem;
        }

        .container #blog-post h1 {
            font-size: 1.5rem;
        }
    }

    .body a {
      text-decoration: underline;
    }

    .body a:active,
    .body a:visited,
    #blog-post .row a:active,
    #blog-post .row a:visited {
      color: #FFFFFF;
    }

    .body a:hover,
    #blog-post .row a:hover {
      color: #8c8046 !important;
    }
</style>