<template>
  <div class="container">
    <div class="col-md-7 padding-top-70" id="rapBlog">
      <h2>{{ page_title }}</h2>
    </div>
    <div class="mb-5" v-for="(post,index) in posts" :key="post.slug + '_' + index">
      <div class="col-md-9" id="rapDescriptions">
        <h4>
          <nuxt-link v-bind:to="'/blog/'+post.slug">{{ post.title }}</nuxt-link>
        </h4>
        <p>
          {{ post.summary }}
            <br />
           <nuxt-link v-bind:to="'/blog/'+post.slug">
            View All &rarr;
            <!-- <i class="fa fa-long-arrow-right" aria-hidden="true"></i> -->
         </nuxt-link>
        </p>
        <img v-bind:src="post.featured_image" v-show="post.featured_image" />
      </div>
      <!-- <div class="col-md-7" id="rapDescriptions">
        <h4>Producer of the month:&nbsp;&nbsp;{{post.published}} Edition</h4>
        <p>
          {{ post.summary }}
          <a href="#">
            View Post
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </a>
        </p>
        <img v-bind:src="post.featured_image" />
      </div> -->
    </div>
  </div>
</template>

<script>
import Butter from "buttercms";
const butter = Butter("42bd3748f35ae4c3e6b1d93b0591af08824e2479");
export default {
  name: "blog-home",
  data() {
    return {
      page_title: "the Rapchat Blog",
      posts: []
    };
  },
  head () {
    return {
      title: `Rapchat's Official Blog`,
      meta: [
        {hid: 'description', name: 'description', content: `The official blog for Rapchat, an app to record songs on your phone and share them anywhere.`},
        {hid: 'og:description', name: 'og:description', content: `The official blog for Rapchat, an app to record songs on your phone and share them anywhere.`},
        {hid: 'og:title', name: 'og:title', content: 'the Rapchat Blog'},
        {hid: 'og:type', name:'og:type', content: 'website'},
        {hid: 'og:image', name: 'og:image', content: 'https://cdn.rapchat.me/images/logo-white-2048.jpg'}
      ]
    }
  },
  methods: {
    getPosts() {
      butter.post
        .list({
          page: 1,
          page_size: 10
        })
        .then(res => {
          this.posts = res.data.data;
        });
    }
  },
  created() {
    this.getPosts();
  }
};
</script>

<style scoped>
/* .media {
    display: block !important;
    padding: 2vw;
    figure {
        display: block;
        width: 97vw;
        img {
            width: 100%
        }
    }
} */

a:active,
a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #8c8046 !important;
}

.container .padding-top-70 {
padding-top: 50px;
}
.container #rapBlog h2 {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
  padding: 30px 0;
}

.container #rapDescription h4 {
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 10px;
}
.container #rapDescription p {
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 25px;
}
.container #rapDescription p a {
  font-weight: bold;
}

.container #rapDescriptions h4 {
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 10px;
}
.container #rapDescriptions p a {
  font-weight: bold;
}
.container #rapDescriptions img {
  width: 76%;
  /* height: 191px; */
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  #rapBlog h2 {
    padding-top: 105px;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 1199px) {
  #rapDescriptions img {
    width: 86%;
  }
}
</style>
