<template>
    <div class="container">
        Error
    </div>
</template>

<script>
    export default {
        fetch({redirect, route}) {
            if (route.path === '/share-rap.html') {
                let redirectRoute = '/raps/' + route.query.rapid
                return redirect(redirectRoute)
            }
            if (route.path === '/faq') {
                let redirectRoute = 'https://rapchat.zendesk.com/hc/en-us'
                return redirect(redirectRoute)
            }
        }
    }
</script>