<template>
    <rc-container>
        <b-row slot="rc-content">
            <template v-for="(contest, i) in contests">
                <div class="w-100" v-if="i % 2 === 0 && i > 0"></div>
                <rc-contest :contest="contest" class="mb-4 mx-5 radius"></rc-contest>
                <div class="w-50" v-if="contests.length %2 === 1 &&  i === contests.length - 1"></div>
            </template>
        </b-row>
    </rc-container>
</template>

<script>
    import axios from '~/plugins/axios'
    import rcContainer from '~/components/layout/Container'
    import rcContest from '~/components/cards/Contest'

    export default {
        asyncData() {
            return axios.get('/discover/contests')
                .then(response => {
                    return {
                        contests: response.data
                    }
                }).catch(error => {
                    console.log(error)
                })
        },
        head(){
            return {
                title : 'Rapchat | Trending Contests',
                meta: [
                  {hid: 'description', name: 'description', content: 'Contests and challenges hosted on Rapchat featuring the top artists, producers, and more.'},
                  {hid: 'og:title', property: 'og:title', content: `Rapchat | Trending Contests`},
                  {hid: 'og:description', name: 'og:description', content: 'View the hottest freestyle challenges on Rapchat'},
                  {hid: 'og:type', name: 'og:type', content: 'website'},
                  {hid: 'og:image', name: 'og:image', content: 'https://cdn.rapchat.me/images/logo-white-2048.jpg'}
              ]
            }
        },
        components: {
            'rc-container': rcContainer,
            'rc-contest': rcContest
        },
    }
</script>
