<template>
  <rc-container width="1200px" >
    <div class="row d-flex justify-content-center text-me-app " slot="rc-content">
      <div class="col-12">
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <img src="~/static/img/dual-phone-2.png" class="phone-asset">
          </div>
          <div class="col-12 col-md-6 mx-5 mx-md-0">
            <h1 class="rapchat">The #1 Music Recording App - Record and Make Songs with Beats</h1>
            <h2 class="lede mb-4">Join millions around the world on Rapchat 🎤</h2>
            <div class="text-form d-flex align-items-center">
              <div class="mx-4 w-100">
                <div class="form-text mb-3">Text Me The Link</div>
                <div class="w-100">
                  <form class="form-inline">
                    <div class="form-group input-container">
                      <input type="text" placeholder="+1(281)-330-8004" class="phone-input" v-model="phoneInput" :disabled="linkSent ? true : false"/>
                    </div>
                    <div class="form-group button-container">
                      <button class="btn btn-secondary button-primary text-me mt-2" @click.prevent="sendSMS">
                        {{buttonText}}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <span class="text-muted">Find us On</span>
              <div class="btn-group ml-3" role="group">
                <a target="_blank" href="https://rapch.at/DesktopAndroid" class="btn btn-secondary btn-app-store d-flex justify-content-center align-items-center">
                  <img src="~/static/img/Google_Play_Arrow_logo.svg" class="app-store-image">
                </a>
                <a href="https://rapch.at/DesktopiOS" target="_blank" class="btn btn-secondary btn-app-store d-flex justify-content-center align-items-center">
                  <img src="~/static/img/Apple_logo_black.svg" class="app-store-image">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </rc-container>
</template>
<script>

import rcContainer from '~/components/layout/Container'
export default {
  components: {
    'rc-container': rcContainer
  },
  data () {
    return {
      phoneInput: '',
      loading: false,
      error: false,
      linkSent: false,
      buttonText: 'Send Link'
    }
  },
  head () {
    return {
      title: 'Download Rapchat | Rap Music Studio',
      meta: [
        {oid: 'ogtitle', name:'og:title', content:'Download Rapchat | Mobile Recording Studio with Beats'},
        {oid: 'description', name: 'description', content: "Download Rapchat, Rap Music Studio. Record raps, beats and songs."},
        {oid: 'ogdescription', name: 'og:description', content: "Record songs over beats on your phone and share them!"},
        {oid: 'ogimage', name:'og:image', content:'https://cdn.rapchat.me/images/logo-white-2048.jpg'}
      ]
    }
  },
  methods: {
    sendSMS () {
      let linkData = {
          tags: [],
          channel: 'Website',
          feature: 'TextMeTheApp',
      };
      this.loading = true
      this.buttonText = 'Sending...'
      branch.sendSMS(this.phoneInput, linkData, {}, (err, result) => {
        if (err) {
            console.log(err)
            this.error = true
            this.loading = false
            this.buttonText = '⚠️ Retry'
        } else {
            this.buttonText = 'Sent!'
            this.linkSent = true
            this.loading = false
            this.error = false
        }
      });
    },
  }
}
</script>
<style lang="stylus">
.text-me-app {
  .text-form {
    border-radius: 12px;
    background-color: #202323;
    height: 120px;
  }
  .button-primary {
    font-weight: 900;
    @media (max-width: 650px) {
      width: 100%;
    }
    height: 30px;
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer
    &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
       color: black;
       border-radius: 95px;
       background-color: #8c8046;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
       outline:none;
       border:none;
     }
  }
  .input-container {
    width: 100%;
  }
  .button-container {
    position: absolute;
    right: 44px
    top: 204.5px;
    @media (max-width: 836px) {
      top: 237.5px;
    }
    @media (max-width: 768px) {
      top: 171.5px
    }
    @media (max-width: 743px) {
      top: 204.5px;
    }
    @media (max-width: 576px) {
      top: 197px;
    }
    @media (max-width: 423px) {
      top: 230px;
    }
  }
  .phone-input {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 45px;
    background-color: white;
    color:  #202323;
    font-size: 22px;
    text-align: left !important;
    padding-left: 5%;
  }
  .phone-input:focus {
    border:none !important;
    outline:none;
    border-radius: 45px;
    text-decoration: none;
    box-shadow: 0 0 0 0.1rem rgba(140,128,70, .9);
  }
  .app-store-image {
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .lede {
    font-size: 22px;
  }
  .phone-asset {
    width: 100%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .rapchat {
    font-weight: 900
  }
  .form-text {
    font-size: 16px;
    font-weight: 500
  }
  .btn-app-store{
    height: 50px;
    background-color: white;
    border-radius: 40px;
    border: 1px solid rgba(170,170,170, .5);
    color: black;
    &:active {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }
  .text-me {
    width: 140px;
  }
}
/* .text-me-app::before {
  top: 0px;
  z-index: 0
  position: absolute
  width: 100%
  height: 80vh
  background-color: #202123
  opacity: .8
  display: block
  content:''
  clip-path: url(#svgPath)
  -webkit-clip-path: url()
  @media (max-width: 750px) {
    display: none;
  }
} */
/* .svg-box {
  position: absolute;
  width: 100%
} */
</style>
