<template>
  <div>
    <div class="studio-landing d-flex justify-content-center align-items-center">
      <div class="video-container">
        <img id="video" src="~/static/img/spacejunk-placeholder.png" v-show="!playing"/>
      </div>
      <div class="cta-overlay text-center">
        <h1 class="text-center mx-1 cta-copy">
          The #1 Music Making App
        </h1>
        <h2 class="lead mx-5 text-center">
          Record songs over free beats on your phone today! Drop some 🔥 using our mobile recording studio
        </h2>
        <div @click="sendLink()">
          <img src='~/static/img/app_store.png' class="mt-4 mr-2 app-store-icon" v-if="!deviceType || deviceType === 'iOS'" >
          <img src="~/static/img/google_play.png" class="mt-4 mr-2 app-store-icon" v-if="!deviceType || deviceType ==='AndroidOS'">
        </div>
        <div class="mute-icon border-white rounded-circle pt-5" @click="toggleMute()" style="height: 20px">
          <icon name="volume-mute" color="#d3d3d3" scale="2" v-if="muted"></icon>
        </div>
      </div>
      <div class="video-container">
        <video id="video" :src="require('~/assets/bjaxx-clip.mp4')" playsinline  loop autoplay muted @canplay="playVideo" v-show="playing" ref="video"></video>
      </div>
    </div>
    <div class="page-filler">
    </div>
  </div>
</template>
<script>
    import {mapState} from 'vuex'
    import {mapGetters} from 'vuex'
    import isMobile from '~/mixins/isMobile.js'
    import deviceType from '~/mixins/deviceType.js'
    import rcContainer from '~/components/layout/Container'
    import rcSpotlight from '~/components/elements/Spotlight'
    import axios from '~/plugins/axios'
    // import spotlightData from '~/static/spotlight.json'

    export default {
        mixins: [isMobile, deviceType],
        components: {'rc-container': rcContainer, 'rc-spotlight': rcSpotlight},
        data () {
          return {
            active: 'vocaltune',
            // video: require('~/assets/SpaceJunkVid.mp4'),
            playing: false,
            muted: true,
          }
        },
        head() {
            return {
                title : 'Rapchat | Record songs over free beats on our app',
                __dangerouslyDisableSanitizers: ['script'],
                script: [{
                    innerHTML: {
                        "@context": "http://schema.org",
                        "@type": "Organization",
                        "url": "https://rapchat.me",
                        "logo": "https://cdn.rapchat.me/images/logo-white-2048.jpg",
                        "sameAs" : [
                          "http://www.facebook.com/rapchat.me",
                          "http://www.twitter.com/rapchatapp"
                        ]
                    },
                    type: 'application/ld+json'
                }],
                meta: [
                  {hid: 'og:site', name: 'og:site', content: 'rapchat_app'},
                  {hid: 'og:type', name:'og:type', content: 'website'},
                  {hid: 'og:title', name: 'og:title', content: 'Rapchat | Music Recording Studio'},
                  {hid: 'og:description', name: 'og:description', content: 'Record raps over free beats and share them anywhere. Use vocal effects like auto vocal tune and radio to fine tune your song!'},
                  {hid: 'og:image', name: 'og:image', content: 'https://cdn.rapchat.me/images/logo-white-2048.jpg'}
                ]
            }
        },
        created () {
          if (this.currentUser && !this.currentUser.isProducer) {
            this.$nuxt.$router.push(`/profile/${this.currentUser._id}`)
          }
        },
        updated () {

        },
        computed: {
          ...mapState({
            currentUser: state => state.currentUser
          }),
        },
        methods: {
          scrollTop () {
            window.scroll({
              top: 150
            })
          },
          playVideo () {
            this.playing = true
            // this.$refs.video.load()
            // // this.$refs.video.play().then((req) => {
            // //   //
            // // }).catch(e => {
            // //   console.log(e)
            // // })
          },
          toggleMute () {
            this.$refs.video.muted = !this.muted
            this.muted = !this.muted
          },
          playingVideo () {
            console.log('playing')
          },

          // toTrending () {
          //   let path = {
          //     'vocaltune': 'C6FA04F0-E6A0-11E8-B8BC-BBAFB41A1E76',
          //     'chipmunk': '119881B0-D0DC-11E8-AF43-4B8663B37CD9',
          //     'cave': '16CCE770-D0DC-11E8-AF43-4B8663B37CD9',
          //     'radio': 'E97FEB50-D0DB-11E8-AF43-4B8663B37CD9',
          //     'screwed': 'ED01A980-D153-11E8-936B-1744BDB0FC64'
          //   }
          //   this.$nuxt.$router.push(`/trending?tagid=${path[this.active]}`)
          // },
          sendLink () {
            this.$nuxt.$router.push('download')
          },
        }
    }
</script>
<style lang="stylus">
    .page-filler {
      @media (min-width: 450px) {
        height: 110vh
      }
      height: 5vh
    }
    .studio-landing {
      @media (min-width: 450px) {
        position absolute
      }
      min-height 100vh
      width 100vw
      overflow hidden
      .cta-overlay {
        .cta-copy {
          @media (min-width 450px) {
            font-size 64px
          }
          font-size 48px
          font-weight 900
        }
        .app-store-icon {
          width: 220px;
          @media (max-width: 450px) {
            width: 60%
            &:hover {
              cursor pointer
              transform scale(1.03)
            }
          }
        }
        top 30%
        z-index 30
      }
      .video-container {
        position absolute
        #video {
          z-index: 20
          height 104vh;
          width 100vw;
          object-fit: cover
          overflow hidden
        }
      }

      .cover {
        /* background: url('~/static/img/spacejunk-placeholder.png') no-repeat center center */
        /* background url('~/assets/bjaxx-clip.mp4') no-repeat center center */
        /* background-size: cover !important; */
        position: absolute
        height 104vh
        width 100vw
        top 0
        overflow hidden
        object-fit cover
      }
      .button-primary {
        font-weight: 600;
        height: 60px;
        width: 180px;
        border-radius: 45px;
        color: white;
        background-color: #8c8046;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        &:hover{
          color: black;
          cursor: pointer;
        }
      }
      .button-secondary {
        height: 60px;
        font-weight: 600;
        width: 180px;
        border-radius: 45px;
        color: white;
        background-color: #202323;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        &:hover{
          color: #8c8046;
          cursor: pointer;
        }
      }
      .device{
        height: 400px;
      }
      .effect-icon{
        height: 25px;
        @media (max-width: 650px) {
          height: 22px;
        }
      }
      .screenshot-half {
        width: 100%;
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        mask-image: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(0,0,0,0.43881302521008403) 100%);
      }
      .body-copy {
        font-size: 16px;
      }
      .active {
        border-radius: 4px;
        background-color: rgb(32,33,35);
      }
      .effect-panel {
        width: 18vw;
        @media (min-width: 650px) {
          width: 12vw;
        }
        .text-muted {
          font-size: 12px;
        }
        &:hover{
          border-radius: 4px;
          background-color: rgb(32,33,35);
        }
      }
      .rapchat {
        font-weight: 500;
      }
      .phone-container {
        height: 400px;
        overflow: hidden;
      }
    }
</style>
