<template>
    <rc-container>
      <div slot="rc-header" class="rc-header flex row align-center justify-space-between mb-4 mx-0 px-2">
          <h1>Rapchat Beat Submission Licensing Agreement</h1>
      </div>
      <div class="privacy" slot="rc-content">
        <p class="p1"><span class="s1"><strong>Rapchat Licensing Agreement</strong></span></p>
          <p class="p2"><span class="s1"><strong>This Rapchat Licensing Agreement</strong> (this <strong>&ldquo;Agreement&rdquo;</strong>) is between Rapchat, Inc., a Delaware Corporation (<strong>&ldquo;Company&rdquo;</strong>), and the submitting music producer (<strong>&ldquo;You&rdquo; or &ldquo;Your&rdquo;</strong>). </span></p>
          <p class="p3">&nbsp;</p>
          <p class="p4"><span class="s1">Each term defined in this Agreement has its assigned meaning.</span></p>
          <p class="p5">&nbsp;</p>
          <p class="p6"><span class="s1"><strong>Your Acceptance</strong></span></p>
          <p class="p2"><span class="s1">By submitting audio file(s) of a sound recording and the embodied musical composition (&ldquo;<strong>Beat(s)</strong>&rdquo;) to the Company, You signify Your agreement to the terms, conditions and provisions of this Agreement.</span></p>
          <p class="p2"><span class="s1">Although we may attempt to notify You when major changes are made to this Agreement, you should periodically review the most up-to-date version (website). Company may, in its sole discretion, modify or revise this Agreement and policies at any time.<span class="Apple-converted-space">&nbsp; </span>If you do not wish to be bound by any such revisions to the Agreement, you must end the Agreement as provided below.<span class="Apple-converted-space">&nbsp; </span>By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Agreement.</span></p>
          <p class="p6"><span class="s1"><strong>Platforms</strong></span></p>
          <p class="p2"><span class="s1">Company operates the mobile application &ldquo;Rapchat&rdquo; (&ldquo;<strong>Mobile App</strong>&rdquo;), a website, a Facebook page, Twitter page, SoundCloud page, YouTube page, and other related platforms (together <strong>&ldquo;Platforms</strong>&rdquo;). Users of the Mobile App (<strong>&ldquo;Users</strong>&rdquo;) create raps by recording lyrics and melodies over instrumental sound recordings on the Mobile App.</span></p>
          <p class="p6"><span class="s1"><strong>Grant of License</strong></span></p>
          <p class="p7"><span class="s1"><strong>3.1 License</strong>. Subject to the provisions of this Agreement, You grant the Company a worldwide, non-exclusive, royalty-free, sublicensable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Beat(s) and any accompanying images (&ldquo;<strong>Artwork</strong>&rdquo;) in connection with the Mobile App. the Company&rsquo;s (and its successors&rsquo; and affiliates&rsquo;) business, and the Platforms. You also grant each User a non-exclusive license to access Your Beat(s) and Artwork through the Platforms, and, without any credit or consideration to you, to use, reproduce, distribute, display, perform and prepare derivative works of such Beat(s) and Artwork as permitted through the functionality of the Platforms and through the functionality of any third party platforms that properly import files from the Platforms.<span class="Apple-converted-space">&nbsp; </span></span><span class="s2">Please be aware Users may export, upload, display, link or share any Content created on the Services, including content that includes your Beat(s) to third party website or services, including without limitation the Triller.co website or mobile application, Facebook, Youtube or<span class="Apple-converted-space">&nbsp; </span>others.<span class="Apple-converted-space">&nbsp; </span>In such cases Your Beat(s) will be subject to the privacy policies terms and conditions of those websites and mobile apps, which may have different rights, rules and policies than provided herein.<span class="Apple-converted-space">&nbsp; </span>By submitting a Beat(s) pursuant to this Agreement you expressly agree to allow the Beat(s) to be used subject to the terms and conditions of those third party websites.<span class="Apple-converted-space">&nbsp; &nbsp;</span></span></p>
          <p class="p8">&nbsp;</p>
          <p class="p2"><span class="s1">The above licenses granted by You in the Beat(s) and Artwork You submit to the Company terminate within a commercially reasonable time after You provide notice to the Company of Your intent to terminate such licenses.<span class="Apple-converted-space">&nbsp; </span>Upon receiving notice of your intent to terminate, the Company will remove your Beat(s) from the library of beats available to Users. You understands and agrees, however, that the Company may retain, but not display, distribute, or perform, server copies of Your Beat(s) and Artwork.<span class="Apple-converted-space">&nbsp; </span>Once a User has created Content on the Platform using one of your Beat(s) you may not have the ability to revoke their license to use the Beat(s) or to remove the Beat(s) from being publically displayed on third party platforms.<span class="Apple-converted-space">&nbsp; &nbsp;</span></span></p>
          <p class="p4"><span class="s1"><strong>Company Discretion.</strong> Company may, at its sole discretion, decide whether or not to feature the Beat(s) on the Mobile App. If the Company removes the Beat(s) from the Mobile App, Company may still feature the Beat(s) on the Mobile App at a later time.</span></p>
          <p class="p4"><span class="s1"><strong>Artwork.</strong> If You do not provide Artwork to the Company, Company may use an image, chosen at its sole discretion, to accompany the Beat on the Platforms.</span></p>
          <p class="p2"><span class="s1"><strong>Modifications.</strong> Company may make modifications of the Beat and Artwork, at its sole discretion, to conform to its use in the Platforms.</span></p>
          <p class="p9"><span class="s1"><strong>Data</strong>. You agree that, as between You and Company, Company shall own and have the unfettered right to exploit any and all information and/or data arising from and/or generated, obtained, and/or acquired by Company in connection with the use of the Company or Users on the Platforms hereunder (the &ldquo;</span><span class="s3">Data</span><span class="s1">&rdquo;) (including, without limitation, demographic, statistical, usage, or anonymized Data relating to the Beat(s)).</span></p>
          <p class="p10">&nbsp;</p>
          <p class="p6"><span class="s1"><strong>Copyright Ownership</strong></span></p>
          <p class="p2"><span class="s1">You retain all of the Your copyright ownership rights in the Beat(s) and Artwork.</span></p>
          <p class="p2"><span class="s1">You shall not be considered an author, joint author, or copyright owner or have any other rights to the lyrics, melodies, or any other sounds created, written, produced in the recording over Your Beat(s) on the Mobile App by the Company or Users.</span></p>
          <p class="p6"><span class="s1"><strong>Compensation</strong></span></p>
          <p class="p2"><span class="s1"><strong>Fees. </strong>You agree to grant the license gratis and royalty free. You shall not be entitled to any monetary payment or other consideration from the Company or from Users. You acknowledge the promotion and exposure to the users on the Company&rsquo;s Platforms constitute full and valuable consideration.</span></p>
          <p class="p6"><span class="s1"><strong>Credits</strong></span></p>
          <p class="p2"><span class="s1"><strong>Promotion.</strong> Company shall use reasonable efforts to promote You and the Beat in connection with the use of the Beat on the Platforms. Company may use the Beat(s) and Artwork in connection with the promotion of Your association with the Company.<span class="Apple-converted-space">&nbsp; </span>Please be aware that, though the Company encourages its Users to fully credit and promote other Users, if a User exports your Beat(s) to a third party platform they may display the Beat(s) without crediting you as the creator or providing you with any other consideration.&nbsp;</span></p>
          <p class="p6"><span class="s1"><strong>Representations and Warranties</strong></span></p>
          <p class="p2"><span class="s1"><strong>Your Representations and Warranties.</strong> You represent and warrant to Company as of the date of Your submission of the Beat(s) and for the duration of the Term the following:</span></p>
          <p class="p4"><span class="s1"><strong>Ownership.</strong> Under 17 U.S.C. &sect; 101 of The Copyright Act, You own the Beat(s) or have the right to grant licenses of the Beat(s) and the Beat(s) do not contain third party copyrighted material, or material that is subject to other third party proprietary rights, unless You have the permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant Company all of the license rights granted herein.<span class="Apple-converted-space">&nbsp; </span>You affirm, represent, and warrant that You own or have the necessary licenses, rights, consents and permission to the Beat(s).</span></p>
          <p class="p4"><span class="s1"><strong>Composition. </strong>You have obtained the required consents or clearances in connection with the Beat(s), including, without limitation, from the artist and the publishers of the composition underlying the recording.</span></p>
          <p class="p4"><span class="s1"><strong>Third Party Clearances. </strong>You have obtained any applicable third party clearances including, but not limited to copyright clearances, that may be utilized in the Beat(s).</span></p>
          <p class="p4"><span class="s1"><strong>Artwork.</strong> Under 17 U.S.C. &sect; 101 of The Copyright Act, You own the Artwork or have the right to grant licenses of the Artwork.</span></p>
          <p class="p4"><span class="s1"><strong>Performing Rights Organization.</strong> The Beat(s) are not under the representation of any performing rights organization including, but not limited to, BMI, ASCAP or SESAC. You, as a songwriter, are not under the representation of any performing rights organization including, but not limited to, BMI, ASCAP or SESAC. </span></p>
          <p class="p4"><span class="s1"><strong>Conflicts.</strong> By signing this Agreement, You will not violate any other contract or agreement that You are a party to.</span></p>
          <p class="p6"><span class="s1"><strong>Indemnification</strong></span></p>
          <p class="p2"><span class="s1"><strong>Indemnification. </strong>You agree to indemnify and hold the Company and Users harmless from any and all claims, liabilities and costs, losses, damages or expenses (including reasonable attorney&rsquo;s fees) arising out of any breach or failure of any covenants or warranties made by You in this Agreement, any copyright infringement or other claim made by third parties relating to the use of unauthorized copyrighted material contained or utilized within the Beat(s) or Artwork, or any claims by third parties relating to the Company&rsquo;s use or User&rsquo;s use of the Beat(s) or Artwork on the Platforms.</span></p>
          <p class="p6"><span class="s1"><strong>Termination</strong></span></p>
          <p class="p2"><span class="s1"><strong>Company&rsquo;s Right to Terminate. </strong>Company may terminate this Agreement at any time for any reason. </span></p>
          <p class="p2"><span class="s1"><strong>Your Right to Terminate.</strong> You may terminate this Agreement at any time for any reason with written notice given to the Company. Company will remove the Beat(s) and Artwork from the Mobile App in a commercially reasonable time after receiving notice from You.</span></p>
          <p class="p2"><span class="s1"><strong>Effect of Termination. </strong>If this Agreement is terminated for any reason stated in this Article, this Agreement terminates and the parties have no further obligations under it, except that the provision stated in Section 4, Section 5, Section 7, and Section 8 shall survive termination.</span></p>
          <p class="p2"><span class="s1"><strong>Reservation of Rights.</strong> By terminating this Agreement in accordance with this Article, You waive any of their waivable rights to pursue any other remedies, including without limitation the right to recover damages for breach of harm suffered due to the other Company&rsquo;s breach. By terminating this Agreement in accordance with this Article, Company does not waive any right to pursue any other remedies, including without limitation the right to recover damages for breach of harm suffered due to Your breach.</span></p>
          <p class="p6"><span class="s1"><strong>General Provisions</strong></span></p>
          <p class="p2"><span class="s1"><strong>Status Change. </strong> If, at any time during the Term, the status of Your representations and warranties under Section 7 change, or are no longer true, You agree to give the Company prompt notice of the change. </span></p>
          <p class="p2"><span class="s1"><strong>Assignment and Delegation</strong>.</span> <span class="s1">The parties may not assign this agreement or any right or obligation of this agreement without the written consent of the other party, except that the Company may assign the Agreement to its successor, affiliates, partners, subsidiaries or any entity acquiring all or substantially all of the assets of the Company.</span></p>
          <p class="p2"><span class="s1"><strong>Severability</strong>. If any term or provision of this Agreement is invalid, illegal, or unenforceable in any jurisdiction, such invalidity, illegality, or unenforceability shall not affect any other term or provision of this Agreement or invalidate or render unenforceable such term or provision in any other jurisdiction. </span></p>
          <p class="p2"><span class="s1"><strong>Amendments, Waivers, Discharges, and Termination</strong>.<span class="Apple-converted-space">&nbsp; </span>No term of this Agreement may be changed, waived, discharged, or terminated by You, unless the change, waiver, discharge or termination is in writing and signed by an authorized representative of the Company. Company may, in its sole discretion, modify or revise this Agreement and policies at any time, and you agree to be bound by such modifications or revisions.</span></p>
          <p class="p2"><span class="s1"><strong>Notices</strong>. All notices, requests, consents, claims, demands, waivers, and other communication hereunder (each a &ldquo;<strong>Notice</strong>&rdquo;) shall be in writing and delivered to the other party by email. Notices shall be sent to:</span></p>
          <p class="p4"><span class="s5"><a href="mailto:Beats@rapchat.me">Beats@rapchat.me</a></span><span class="s1"> for Notice from the You to the Company; and</span></p>
          <p class="p4"><span class="s1">Your provided email for Notice from the Company to You.</span></p>
          <p class="p11"><span class="s1">Except as otherwise provided in this Agreement, a Notice is effective only if (i) the receiving party has received the Notice and (ii) the party giving Notice has complied with the requirements of this Section 10.4.</span></p>
          <p class="p2"><span class="s1"><strong>Entire Agreement</strong>. This Agreement:</span></p>
          <p class="p4"><span class="s1">embodies the final and exclusive agreement and understanding of the parties with respect to this Agreement&rsquo;s subject matter; and</span></p>
          <p class="p4"><span class="s1">supersedes any prior agreement or understanding between the parties with respect to this Agreement&rsquo;s subject matter.</span></p>
          <p class="p2"><span class="s1"><strong>Governing Law</strong>. This Agreement shall be governed, construed, and enforced in accordance with the laws of the state of Delaware, without regard to its conflict of laws rules.</span></p>
          <p class="p3">&nbsp;</p>

      </div>
    </rc-container>
</template>


<script>
    import rcContainer from '~/components/layout/Container'

    export default {
        components: {
            'rc-container': rcContainer,
        },
        head(){
            return {
                title : 'Rapchat | Licensing Agreement',
                meta: [
                  {hid: 'robots',  name: 'robots', content: 'noindex'}
                ]
            }
        }
    }
</script>


<style lang="stylus">
    .list-style{
        list-style-type: circle;
    }
    .privacy {
      color:#fff;
    }
</style>
