<template>
    <rc-container>
      <div slot="rc-header" class="rc-header flex row align-center justify-space-between mb-4 mx-0 px-2">
          <h1>Rapchat Privacy Policy</h1>
      </div>
      <div class="privacy" slot="rc-content">
                <p>This Privacy Policy was last modified on July, 1 2019.</p>
                <p>Rapchat, Inc. ("us", "we", or "our") operates rapchat.me and the rapchat mobile application (collectively the "Site"). This page informs you of our policies
                    regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
                <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to
                    the collection and use of information in accordance with this policy. Unless otherwise defined in this
                    Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
                    accessible at rapchat.me.</p>
                <p><strong>Information Collection And Use</strong><br/>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address and phone number ("Personal Information"). Also, since Rapchat is all about connecting with friends - we may-with your permission collect information from your device's phonebook.</p>
                <p><strong>Log Data</strong><br/>Like many site operators, we collect information that your browser sends
                    whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's
                    Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the
                    time and date of your visit, the time spent on those pages and other statistics.</p>
                <p><strong>Cookies</strong><br/>Cookies are files with small amount of data, which may include an anonymous
                    unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard
                    drive.</p>
                <p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies
                    or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to
                    use some portions of our Site.</p>
                <p><strong>DoubleClick Cookie</strong><br/>Google, as a third party vendor, uses cookies to serve ads on our
                    Site. Google's use of the DoubleClick cookie enables it and its partners to serve ads to our users based on
                    their visit to our Site or other sites on the Internet.</p>
                <p>You may opt out of the use of the DoubleClick Cookie for interest-based advertising by visiting the <a
                        href="http://www.google.com/ads/preferences/" rel="nofollow">Google Ads Settings</a> page.</p>
                <p>Rapchat, Inc. uses Remarketing with Google Analytics to advertise on third party sites to you after you visited
                    our Site. We and our third party vendors, like Google, use first party cookies (such as the Google Analytics
                    cookie) and third party cookies (such as the DoubleClick cookie) to inform, optimize and serve ads based on
                    your past visits to our Site.</p>
                <p>You can opt-out of Google Analytics for Display Advertising and customize the Google Display Network ads by
                    visiting the <a href="http://www.google.com/settings/ads" rel="nofollow">Google Ads Settings</a> page.
                    Google also recommends installing the <a href="https://tools.google.com/dlpage/gaoptout" rel="nofollow">Google
                        Analytics Opt-out Browser Add-on</a> for your browser. Google Analytics Opt-out Browser Add-on provides
                    visitors with the ability to prevent their data from being collected and used by Google Analytics.</p>
                <p><strong>Do Not Track Disclosure</strong><br/>Rapchat, Inc. does not respond to Do Not Track (DNT) signals.</p>
                <p>Do Not Track (DNT) is a preference you can set in your web browser to let the websites you visit know that
                    you do not want to be tracked. You can disable or enable this setting by visiting the Preferences or
                    Settings menu of your web browser.</p>
                <p><strong>Communications</strong><br/>We may use your Personal Information to contact you with newsletters,
                    marketing or promotional materials and other information that may be of interest to you. You may opt out of
                    receiving any, or all, of these communications from us by following the unsubscribe instructions provided in
                    any email we send.</p>
                <p><strong>Compliance With Laws</strong><br/>Rapchat, Inc. will disclose your Personal Information where required
                    to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the
                    reasonable requests of law enforcement or to protect the security or integrity of our Site.</p>
                <p><strong>Business Transaction</strong><br/>If Rapchat, Inc. is involved in a merger, acquisition or asset sale,
                    your Personal Information may be transferred. We will provide notice before your Personal Information is
                    transferred and becomes subject to a different Privacy Policy.</p>
                <p><strong>Security</strong><br/>The security of your Personal Information is important to us, but remember that
                    no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we
                    strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its
                    absolute security.</p>
                <p><strong>Links To Other Sites</strong><br/>Our Site may contain links to other sites that are not operated by
                    us. If you click on a third party link, you will be directed to that third party's site. We strongly advise
                    you to review the Privacy Policy of every site you visit.</p>
                    <p>Rapchat, Inc. has no control over, and assumes no responsibility for, the content, privacy policies, or
                        practices of any third party sites or services.</p>
                    <p>
                    Notwithstanding any other provision, we partner with third parties that collect information across various channels, including offline and online, for purposes of delivering more relevant advertising to you or your business. Our partners may place or recognize a cookie on your computer, device, or directly in our emails/communications, and we may share personal information with them if you have submitted such information to us, such as your name, postal address, email address, or device ID.  Our partners may link the hashed or obfuscated personal information we share with them to the cookie stored on your browser or device, and they may collect information such as your IP address, browser or operating system type and version, and demographic or inferred-interest information.  Our partners use this information to recognize you across different channels and platforms, including but not limited to, computers, mobile devices, and Smart TVs, over time for advertising, analytics, attribution, and reporting purposes. For example, our partners may deliver an ad to you in your web browser based on a purchase you made in a physical retail store, or they may send a personalized marketing email to you based on the fact that you visited a particular website. Your data may be transferred outside of the country from which it was originally collected. To learn more about interest-based advertising in general and to opt out, please visit http://www.aboutads.info/choices. To opt-out of the use of your mobile device ID for targeted advertising, please see http://www.aboutads.info/appchoices.
                  </p>
                <p><strong>Children's Privacy</strong><br/>Our Site does not address anyone under the age of 13 ("Children"). We
                    do not knowingly collect personally identifiable information from children under 13. If you are a parent or
                    guardian and are aware that your Children has provided us with Personal Information, please contact us. If
                    we discover that a Children under 13 has provided us with Personal Information, we will delete such
                    information from our servers immediately.</p>
                <p><strong>Changes To This Privacy Policy</strong><br/>Rapchat, Inc. may update this Privacy Policy from time to
                    time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to
                    review this Privacy Policy periodically for any changes.</p>
                <p><strong>Contact Us</strong><br/>If you have any questions about this Privacy Policy, please contact us.</p>

        </div>
    </rc-container>
</template>


<script>
    import rcContainer from '~/components/layout/Container'

    export default {
        components: {
            'rc-container': rcContainer,
        },
        head(){
            return {
                title : 'Rapchat | Privacy Policy',
                meta:[
                  {hid: 'robots',  name: 'robots', content: 'noindex'}
                ]
            }
        }
    }
</script>


<style lang="stylus">
    .list-style{
        list-style-type: circle;
    }
    .privacy {
      color:#fff;
    }
</style>
