<template>
    <rc-container class="px-2">
        <b-row class="justify-content-center" slot="rc-content">
            <div class="w-100"></div>
            <!--Step 2-->
            <b-col v-if="step === 2" cols="8" class="text-center mb-5">
                <span class="headline primary--text">{{ youRapperName }}</span>
            </b-col>
            <b-col :cols="isMobile ? '12' : '12'" class="text-center">
                <span class="rc-generator-title"
                      :class="{'primary--text': step > 2, 'rapper-name-text': step > 1, 'display-1': !isMobile, 'medium': isMobile}">{{ sectionTop }}</span>
            </b-col>
            <!--Step 3-->
            <b-col v-if="step === 3" :cols="isMobile ? '12' : '8'" class="text-center">
                <icon name='check-square' class="green--text mt-4" width="64px" height="64px"></icon>
            </b-col>
            <div class="w-100"></div>
            <b-col :cols="isMobile ? '12': '8'" class="text-center mt-5" v-if="step === 2">
                <span class="title" v-if="!isMobile && step === 1">{{ sectionMiddle }}</span>
                <b-row>
                    <b-col cols="6" class="pointer justify-content-center" @click="randomRapperName">
                        <div id="tryAgain" class="flex action align-center justify-center action-icon fill-height">
                            <img src="~/static/img/repeat-circle.svg" class="action-icon-img">
                            <p class="action-text mt-2">TRY AGAIN</p>
                        </div>
                    </b-col>
                    <!-- <div class="w-100" v-if="isMobile"></div> -->
                    <b-col cols="6" class="pointer justify-content-center"  v-b-modal.modal1>
                        <div id="shareName" class="flex align-center fill-height action-icon">
                            <img src="~/static/img/share-circle.svg" class="action-icon-img">
                            <p class="action-text action-blue mt-2">SHARE NAME</p>
                            <rc-modal :generatedName="rapperName"></rc-modal>
                        </div>
                    </b-col>
                </b-row>
                <b-row v-if='step === 2 && !isMobile' class="mt-2">
                  <b-col cols="12" class="text-center">
                    <span class="divider-text">- or -</span>
                  </b-col>
                </b-row>
            </b-col>
            <div class="w-100"></div>
            <b-col cols="10" class="mt-4">
                <b-row class="text-center mb-2">
                  <b-col cols="12">
                    <span v-if="!isMobile">
                      <p>{{this.sectionMiddle}}</p>
                    </span>
                    <span v-else>
                      <p v-if="step===1">{{this.sectionMiddle}}</p>
                    </span>
                    <b-col cols="12" class="text-center mt-5" v-if="step === 3">
                        <span class="grey--text text--darken-2 subheading pointer" @click="sendRapperNumber">{{ sectionBottom }}</span>
                    </b-col>
                  </b-col>
                </b-row>
                <b-row class="justify-content-center">
                    <b-col v-if="step === 1 || step === 2" :cols="isMobile ? '12' : '7'" :class="step < 2 ? 'input-container' : ''" >
                        <b-form-input
                                class="grey darken-4 white--text" size="lg"
                                v-model="originalName"
                                type="text"
                                style="height: 100%"
                                v-if="step === 1"
                                @focus.native="smoothScroll"
                                @keyup.enter.native="checkRapperName"
                        >
                        </b-form-input>
                        <b-form-input
                                class="grey darken-4 white--text" size="lg"
                                :class="error ? 'error' : ''"
                                v-model="rapperNumber"
                                type="text"
                                style="height: 100%"
                                v-if="step === 2 && !isMobile"
                                @keyup.enter.native="sendRapperNumber"
                                @focus.native="smoothScroll"
                        >
                        </b-form-input>
                    </b-col>
                    <b-col :cols="isMobile ? '12' : step === 2 ? '3' : '3'" :class="!isMobile && 'pl-4'"
                           class="text-center">
                        <b-button :block="isMobile"
                                  class="primary medium px-5"
                                  :class="isMobile ? 'py-3 mt-2' : 'fill-height'"
                                  @click="checkRapperName"
                                  @keyup.enter.native="checkRapperName"
                                  v-if="step === 1"
                                  id="GenerateName">
                                    <rc-loading-button
                                        initial="Go"
                                        :loading="loading"
                                        color="white">
                                    </rc-loading-button>
                        </b-button>
                        <b-button :block="isMobile"
                                  class="primary medium px-5"
                                  :class="isMobile ? 'py-3 mt-2' : 'fill-height'"
                                  @click="sendRapperNumber"
                                  v-if="step === 2 && !isMobile"
                                  id="SendRapperNumber">
                            <rc-loading-button
                                initial="Send"
                                :loading="loading"
                                color="white">
                            </rc-loading-button>
                        </b-button>
                        <b-button :block="isMobile"
                                  class="primary medium"
                                  @click="sendAppLink"
                                  v-if="step === 2 && isMobile"
                                  id="SendAppLink">
                            <rc-loading-button
                                initial="<span style='font-size:14px'>Sign up on Rapchat with this name</span>"
                                :loading="loading"
                                color="white">
                            </rc-loading-button>
                        </b-button>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </rc-container>
</template>

<script>
    import axios from '~/plugins/axios'
    import rcContainer from '~/components/layout/Container'
    import rcModal from '~/components/elements/SocialShare'
    import rcLoadingButton from '~/components/elements/LoadingButton'
    import isMobile from '~/mixins/isMobile'

    export default {
        mixins: [isMobile],
        head () {
            return {
                    title: 'Rapchat | Rap Name Generator',
                    meta: [
                        { hid: 'description', name: 'description', content: `Get your rap name today using Rapchat's Rap Name Generator. Who knows? You could be the next Childish Gambino`},
                        { hid: 'og:title', property: 'og:title', content: 'Rapchat | Rap Name Generator'},
                        {
                            property: 'og:description',
                            content: "Get your rap or producer name today using Rapchat's Rap Name Generator. Who knows? You could be the next Childish Gambino"
                        },
                        { hid: 'og:type', name: 'og:type', content: "website"},
                        { property: 'og:url', content: 'https://rapchat.me/rapnamegenerator'},
                        { property: 'og:image', content: "https://cdn.buttercms.com/h2hla5wQ160jXxKT5QRK"},
                    ],
                }
        },
        data() {
            return {
                sectionTop: 'Rap Name Generator',
                sectionMiddle: 'Enter your first name below and click Go!',
                youRapperName: 'What up...',
                sectionBottom: '',
                rapperName: '',
                rapperNumber: '',
                step: 1,
                originalName: '',
                loading: false,
                error:false
            }
        },
        components: {
            'rc-loading-button': rcLoadingButton,
            'rc-container': rcContainer,
            'rc-modal': rcModal
        },
        watch: {
            step(newStep) {
                if (newStep === 2) {
                    this.sectionMiddle = 'Enter your phone number to sign up with this name on the RAPCHAT APP'
                } else if (newStep === 3) {
                    this.sectionMiddle = 'Link sent, Download Rapchat to start with your Rapper name.'
                    this.sectionBottom = 'Resend link, I never received a text.'
                }
            }
        },
        methods: {
            smoothScrollToTop(duration) {
                let _this = this
                if (duration <= 0) return
                var pos = window.scrollY
                var perTick = pos / duration * 10
                setTimeout(() => {
                    var newPos = pos - perTick
                    window.scrollTo(0, newPos)
                    if (window.scrollY == 0) return
                        _this.smoothScrollToTop(duration - 10)
                }, 10);
            },
            randomRapperName() {
              if(this.originalName != ""){
                axios.post("https://api.rapchat.me/api/rappername", {
                    name: this.originalName
                }).then(response => {
                    this.sectionTop = response.data.data.rapperName.toUpperCase()
                    this.step === 1 && this.step++
                    this.rapperName = response.data.data.rapperName.toUpperCase()
                    this.smoothScrollToTop(300)
                }).catch(error => {
                    console.log(error)
                })
              }
            },
            checkRapperName() {
                let _this = this
                this.loading = true
                axios.post("https://api.rapchat.me/api/checkRapperName", {
                    name: this.originalName
                }).then(response => {
                    this.loading = false
                    _this.randomRapperName()
                }).catch(error => {
                    console.log(error)
                })
            },
            sendRapperNumber() {
                let _this = this
                let linkData = {
                    tags: [],
                    channel: 'Website',
                    feature: 'TextMeTheApp',
                    data: {
                      rappername: this.rapperName
                    }
                };
                this.loading = true
                branch.sendSMS(this.rapperNumber, linkData, {}, (err, result) => {
                    if (err) {
                        console.log(err)
                        this.error = true
                        this.loading = false
                    } else {
                        this.step === 2 && this.step++
                        this.loading = false
                        this.error = false
                        _this.smoothScrollToTop(300)
                    }
                });
            },
            sendAppLink () {
              branch.link({
                  tags: [],
                  channel: 'Web',
                  feature: 'rapNameGeneratorMobile',
                  data: {
                    rappername: this.rapperName
                  }
              }, function (err, link) {
                  console.log(err, link);
                  window.location.replace(link)
              });
            },
            smoothScroll(){
                if(this.isMobile)
                {
                    window.scrollBy(0,200);
                }
            }
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    @font-face {
      font-family: punkboy;
      src: url('~/static/fonts/punkboy/punkboy_tbs.ttf');
    }
    .container {
        max-width: 920px;
        margin: 20px auto;
        padding: 30px 0px 60px;
        .rc-generator-title {
            line-height: 1.5;
        }
        .repeat-icon:hover {
            color: $theme.primary;
            cursor: pointer
        }
        button {
            cursor: pointer
        }
    }
    input.form-control {
        &:focus{
            box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
          }
        }

    input.form-control.error {
      box-shadow: 0 0 0 0.1rem rgba(169,29,29,.9);
    }

    @media (max-width: 750px) {
        .container {
            margin-top: 90px;
        }
    }

    .material-design-icon__svg {
        position: relative;
        top: 4px;
        path {
            fill: white;
        }
    }

    .input-container{
      height: 75px;
    }

    .fill-height {
        height: 100%;
    }

    .rapper-name-text {
      font-size: 8vh;
      font-weight: 900;
      color: #8c8046;
    }

    .action-text {
      font-family: punkboy;
      color: white;
      text-align: justify-center;
      font-size:4vh;
    }

    .action-blue {
      color: #54c7fd
    }

    .action-icon {
      display: block;
    }

    .action-icon-img{
      height:10vh;
    }

    .sign-up{
      font-size: 5vh;
    }

    .divider-text {
      font-size: 4vh;
    }
</style>
