<template>
    <rc-container>
      <div slot="rc-header" class="rc-header flex row align-center justify-space-between mb-4 mx-0 px-2">
          <h1>Our Terms</h1>
      </div>
      <div class="terms" slot="rc-content">
            <p class="mb-1"><b>1. Basic Terms</b></p>
            <p>A.	By using or visiting the Rapchat website, Rapchat mobile application or any Rapchat products, software, data feeds, and services provided to you on or through the Rapchat website and mobile application (collectively the “Service”) you are entering a legally binding agreement with Rapchat, Inc. If you do not agree to any of these terms, please do not use the Service.  </p>
            <p>Although we may attempt to notify you when major changes are made to these Terms of Service, you should periodically review the most up-to-date version (https://www.rapchat.me/terms). Rapchat may, in its sole discretion, modify or revise these Terms of service at any time, and you agree to be bound by such modifications or revisions. </p>
            <p>Nothing in these Terms of Service shall be deemed to confer any third-party rights or benefits.</p>
            <p>B.	You are responsible for your use of the Services, for any information, including personal information, you post to the Services, and for any consequences thereof.  You may use the Services only if you are over eighteen (18) years of age and can form a binding contract with Rapchat or are using the Services under the direct direction of a parent or guardian that can accept these terms on your behalf.  No user under twelve (12) years of age may use the Services for any reason.  You also affirm that you are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so.  If you are using the Services on behalf of a company or other legal entity, you are nevertheless individually bound by this Agreement even if your company has a separate agreement with us.  You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.  </p>
            <p>C. In order to access some features of the Service, you will have to create a Rapchat Account. You may never use another’s account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify Rapchat immediately if any breach of security or unauthorized use of your account occurs.  Although Rapchat will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of Rapchat or others due to such unauthorized use.</p>
            <p>D. You are responsible for safeguarding the password or credentials that you use to access the Services and for any activities or actions under your account. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account and with other accounts that you may connect to your Rapchat account.  Rapchat cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.</p>
            <p>E. The Services that Rapchat provides are always evolving and the form and nature of the Services may change from time to time without prior notice to you. In addition, Rapchat may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.</p>
            <p>F. The Services may include advertisements, which may be targeted to the Content or information on the Services, queries made through the Services, or other information. The types and extent of advertising on the Services are subject to change. In consideration for Rapchat granting you access to and use of the Services, you agree that Rapchat and its parent, third party providers and partners may place such advertising on the Services or in connection with the display of Content or information from the Services whether submitted by you or others.</p>
            <p>G. These Terms of Service apply to all users of the Service, including users who are also contributors of Content on the Service. “Content” includes the text, software, scripts, graphics, photos, sounds, music, lyrics, raps, melodies, interactive features, and other materials you may view on, access through, or contribute to the Service. The Service includes all aspects of Rapchat.</p>

            <p class="mb-1"><b>2. Privacy</b></p>
            <p>A. Any information that you provide to Rapchat is subject to the Rapchat Privacy Policy, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by Rapchat. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your Rapchat account, which you may not be able to opt-out from receiving.</p>
            <p>B. As a Rapchat account holder you may submit Content to the Service, including raps, lyrics, sounds and user comments. You understand that Rapchat does not guarantee any confidentiality with respect to any Content you submit and that any Content you upload to the Services may be publically available.</p>

            <p class="mb-1"><b>3. Content on the Services</b></p>
            <p>All Content is the sole responsibility of the person who originated such Content. We may, but are not required to monitor or control the Content posted via the Services and we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.</p>
            <p>We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will Rapchat be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.</p>

            <p class="mb-1"><b>4. Your Rights</b></p>

            <p>You retain your rights to any Content you submit or post or display on or through the Services. In order to make the Services available to you and other users, Rapchat needs a license from you. By submitting, posting or displaying Content on or through the Services, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).</p>

            <p>You agree that this license includes the right for Rapchat to provide, promote, and improve the Services and to make Content submitted to or through the Services available to other companies, organizations or individuals who partner with Rapchat for the syndication, broadcast, distribution or publication of such Content on other media and services, subject to our terms and conditions for such Content use. Such additional uses by Rapchat, or other companies, organizations or individuals who partner with Rapchat, may be made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through the Services.</p>

            <p>We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.</p>

            <p>You are responsible for your use of the Services, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party partners.  Rapchat will not be responsible or liable for any use of your Content by Rapchat in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit.</p>

            <p>The above licenses granted by you in Content you submit to the Service terminate within a commercially reasonable time after you remove or delete your Content from the Service. You understand and agree, however, that Rapchat may retain, display, distribute or perform, server copies of your Content that have been removed or deleted. The above licenses granted to you in user comments you submit are perpetual and irrevocable.</p>

            <p class="mb-1"><b>5. Your License to Use the Services</b></p>

            <p>Rapchat gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by Rapchat as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services, in the manner permitted by these Terms.</p>


            <p class="mb-1"><b>6.  Rapchat’s Rights</b></p>

            <p>All right, title, and interest in and to the Services (excluding Content provided by users) are and will remain the exclusive property of Rapchat  and its licensors. The Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. Rapchat reserves all rights not expressly granted in these Terms. You acknowledge and agree that any feedback, comments, or suggestions you may provide regarding Rapchat, or the Services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>


            <p class="mb-1"><b>7. Restrictions On Content And Use Of The Services</b></p>

            <p>A.  We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services and to suspend and or terminate users or reclaim usernames without liability to you.  You shall be solely responsible for your own Content and the consequences of submitting and publishing your Content on the Service. You affirm, represent, and warrant that you own or have all the necessary licenses, rights, consents, and permissions to publish Content you submit; and you license to Rapchat all patent, trademark, trade secret, copyright or other proprietary rights in and to such Content for publication on the Service pursuant to these Terms of Service.</p>

            <p>B. You may NOT post Content that:</p>
            <ul class="list-style">
                <li>Impersonates another person or entity in a manner that does or is intended to mislead, confuse, or deceive others;</li>
                <li>Violates the rights of a third party, including copyright, trademark, privacy, and publicity rights;</li>
                <li>Is a direct and specific threat of violence to others;</li>
                <li>Violates any contractual obligation to refrain from photographing, filming or streaming any performance, event, film, concert, sporting event or other happening;</li>
                <li>Is furtherance of illegal activities; or</li>
                <li>Is harassing, abusive, promotes bullying, or constitutes spam.</li>
            </ul>

            <p>Rapchat may remove Content that it determines, in its sole discretion, to violate this section.</p>


            <p>C. You agree not to distribute in any medium any part of the Service or the Content without Rapchat’s prior written authorization, unless Rapchat makes available the means for such distribution through functionality offered by the Service (such as a link to embed on other social media platforms).  You agree not to access Content through any technology means or means other than the content playback pages of the Service itself or other explicitly authorized means Rapchat may designate.  You shall not download any Content unless you see or are provide a “download” or similar link displayed by Rapchat on the Service for that Content. You shall not copy, reproduce, distribute, transmit, broadcast, display, sell, license, or otherwise exploit any Content for any other purposes without the prior written consent of Rapchat or the respective licensors of the Content. Rapchat and its licensors reserve all rights not expressly granted in and to the Service and the Content.</p>

            <p>D. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of Rapchat, its users and the public. Rapchat does not disclose personally identifying information to third parties except in accordance with our Privacy Policy.</p>

            <p>E. You may not do any of the following while accessing or using the Services: (i) access, tamper with, or use non-public areas of the Services, Rapchat's computer systems, or the technical delivery systems of Rapchat providers; (ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (iii) access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by Rapchat (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Rapchat (NOTE: scraping the Services without the prior consent of Rapchat is expressly prohibited); (iv) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information; or (v) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Services.</p>
            <p>F. You agree not to use the Service for any of the following uses unless you obtain Rapchat’s prior written approval:</p>
            <ul class="list-style">
                <li>the sale of access to the Service;</li>
                <li>the sale of advertising, sponsorships, or promotions placed on or within the Service or Content; or</li>
                <li>the sale of advertising, sponsorships, or promotions on any page of an ad-enabled blog, website or application containing Content delivered via the Service, unless other material not obtained from Rapchat appears on the same page and is sufficient of value to be the basis for such sales.</li>
            </ul>

            <p>G. Prohibited commercial uses do not include:</p>

            <ul class="list-style">
                <li>recording original lyrics, melodies, raps or sounds to Rapchat, or maintaining an original profile on Rapchat, to promote yourself, your business or artistic enterprise;</li>
                <li>playing recorded Rapchat raps through an embeddable link on an ad-enabled blog, website or application, subject to the advertising restrictions set forth in Section 4.0 of these Terms of Service; or</li>
                <li>any use Rapchat expressly authorizes in writing.</li>
            </ul>

            <p>H. In your use of the Service, you will comply with all applicable laws.</p>

            <p class="mb-1"><b>8. Digital Millennium Copyright Act</b></p>

            <p>A. If you are a copyright owner on an authorized agent thereof and believe that any Content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (“DMCA”) by providing our Copyright Agent with the following information in writing (see § 17 U.S.C. 512(c)(3) for further detail):</p>

            <ul class="list-style">
                <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that allegedly infringed;</li>
                <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
                <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which his to be disabled and information reasonably sufficient to permit the service provider to locate the material;</li>
                <li>Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and if available, an e-mail address;</li>
                <li>A statement that you have a good faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
                <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
            </ul>

            <p>You may direct copyright infringement notifications to our DMCA Agent at 20 South Front Street, Columbus, OH 43215 or <a href="mailto:copyright@rapchat.me">email: copyright@rapchat.me.</a> For clarity only DMCA notices should go to the Copyright Agent; any other feedback, comments, requests for technical support, and other communications should be directed to Rapchat customer service through: <a href="mailto:support@rapchat.me">support@rapchat.me.</a> You acknowledge that if you fail to comply with all of the requirements of this Section, your DMCA notice may not be valid.</p>
            <p>B. Counter-Notice. If you believe that your Content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner’s agent, or pursuant to the law, to post and use the material in your Content, you may send a counter-notice containing the following information to the Copyright Agent:</p>

            <ul class="list-style">
                <li>Your physical or electronic signature;</li>
                <li>Identification of the Content that has been removed or to which access has been disabled and the location at which the Content appeared before it was it was removed or disabled;</li>
                <li>A statement that you have a good faith belief that the Content was removed or disabled as a result of mistake or a misidentification of the Content; and</li>
                <li>Your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in Columbus, Ohio, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.</li>
            </ul>

            <p>If a counter-notice is received by the Copyright Agent, Rapchat may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed Content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the Content provider, member or user, the removed Content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at Rapchat’s sole discretion.</p>
            <p class="mb-1"><b>9.	Using Content from the Services</b></p>
            <p>You acknowledge, understand and agree that you do not retain any ownership rights in the music and beats provided to you by Rapchat to record raps, lyrics, melodies over, on the Service. Rapchat obtains licenses from third party providers of the music and beats provided on the Service. The third party providers of music retain all ownership rights to their music and beats. Rapchat and the third party providers of music and beats grant you and each user of the Service a non-exclusive license to access the music and beats through the Service, and to use, reproduce, distribute, display and perform such music and beats as permitted through the functionality of the Service and under these Terms of Service. For clarity, each rap recorded by you is to be treated as two separate pieces of content: 1. Content submitted by you, which you retain all ownership rights in, and 2. music and beats provided by you by Rapchat and third parties, which all ownership rights are retained by the third party providers.</p>

            <p class="mb-1"><b>10. Account Termination Policy</b></p>
            <p>The Terms will continue to apply until terminated by either you or Rapchat as follows.</p>
            <p>You may end your legal agreement with Rapchat at any time for any reason by deactivating your accounts and discontinuing your use of the Services. In order to deactivate your account, please contact us at <a href="mailto:Support@rapchat.me">Support@rapchat.me.</a></p>
            <p>We may suspend or terminate your accounts or cease providing you with all or part of the Services at any time for any reason, including, but not limited to, if we reasonably believe: (i) you have violated these Terms, (ii) you create risk or possible legal exposure for us; or (iii) our provision of the Services to you is no longer commercially viable. We will make reasonable efforts to notify you by the email address associated with your account or through the Services the next time you attempt to access your account.</p>
            <p>In all such cases, the Terms shall terminate, including, without limitation, your license to use the Services, except those terms you would expect to survive termination of this Agreement.</p>
            <p>Nothing in this section shall affect Rapchat's rights to change, limit or stop the provision of the Services without prior notice, as provided above in section 1.</p>
            <p class="mb-1"><b>11. Billing</b></p>
            <p>If you purchase products or services directly from Rapchat, you authorize Rapchat to charge the applicable fees to you, including any ongoing charges for subscription renewals, through the designated payment method. You understand and acknowledge that Rapchat may adjust the pricing for its products and services in the future and that you will be charged such adjusted fees on a going forward-basis after notice to you from Rapchat. If you purchase a subscription from Rapchat, your subscription will automatically renew at the end of each subscription term until you cancel the subscription. If you cancel a subscription, your subscription will terminate at the end of your current subscription period. You acknowledge that any payments you make to Rapchat are non-refundable. Rapchat may, at its discretion, provide you with a credit or refund, but such issuance of a credit or refund does not obligate Rapchat to provide you credits or refunds in the future.</p>
            <p>For in app purchases, Rapchat adheres to the refund policy from the digital store where the purchase was made.</p>
            <p class="mb-1"><b>12. Warranty Disclaimed</b></p>
            <p>YOU AGREE THAT YOUR USE OF THE SERVICES SHALL BE AT YOUR SOLE RISK AND AGREE THAT THE SERVICES IS PROVIDED TO YOU ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE FULLEST EXTENT PERMITTED BY LAW, RAPCHAT, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICES AND YOUR USE THEREOF. RAPCHAT MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS SITE'S CONTENT OR THE CONTENT OF ANY SITES LINKED TO THIS SITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICES, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICES, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICES BY ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES. RAPCHAT DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SERVICES OR ANY HYPERLINKED SERVICES OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND RAPCHAT WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.</p>
            <p class="mb-1"><b>13. Limitation of Liability</b></p>
            <p>IN NO EVENT SHALL RAPCHAT, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICES, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICES, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICES BY ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.</p>
            <p>YOU SPECIFICALLY ACKNOWLEDGE THAT RAPCHAT SHALL NOT BE LIABLE FOR CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>
            <p>YOU AND RAPCHAT AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>
            <p>The Service is controlled and offered by Rapchat from its facilities in the United States of America. Rapchat makes no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and are responsible for compliance with local law.</p>

            <p class="mb-1"><b>14. Links and Third Party Websites</b></p>
            <p>The Services may contain links to third-party websites or resources. Please be aware that if you upload, link or share any Content created on the Services to any third party website or services, including without limitation the Triller.co website or mobile application, Facebook or YouTube your Content will be subject to the privacy policies terms and conditions of those websites and mobile apps, which may have different rights, rules and policies than provided herein.   You acknowledge and agree that we are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Rapchat Entities of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.  Please review all applicable terms and policies before uploading your Content to any third party website.</p>

            <p class="mb-1"><b>15. Indemnity</b></p>
            <p>To the extent permitted by applicable law, you agree to defend, indemnify, and hold harmless Rapchat, its parent corporation, officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debts, and expenses (including but not limited to attorney’s fees) arising from: (i) your use of and access to the Service; (ii) your violation of any term of these Terms of Service; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that your Content caused damage to a third party. This defense and indemnification obligation will survive these Terms of Service and your use of the Service.</p>
            <p class="mb-1"><b>16. Assignment</b></p>
            <p>These Terms of Service, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Rapchat without restriction.</p>
            <p class="mb-1"><b>17.	General Terms: Waiver and Severability</b></p>
            <p>A. Waiver</p>
            <p>No waiver of any term of this these Terms of Service shall be deemed a further or continuing waiver of such term or any other term, and Rapchat's failure to assert any right or provision under these Terms of Service shall not constitute a waiver of such right or provision.</p>
            <p>B.  Controlling Law and Jurisdiction</p>
            <p>These Terms and any action related thereto will be governed by the laws of the State of Ohio without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in the federal or state courts located in Franklin County, Ohio, United States, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum.</p>
            <p>If you are a federal, state, or local government entity in the United States using the Services in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of Ohio (excluding choice of law).</p>
            <p>You agree that: (i) the Service shall be deemed solely based in Ohio; and (ii) the Service shall be deemed a passive website that does not give rise to personal jurisdiction over Rapchat, either specific or general, in jurisdictions other than Ohio.</p>
            <p>C. Entire Agreement and Severability</p>
            <p>These Terms of Service, together with the Privacy Notice at <a href="https://www.rapchat.me/privacy">https://www.rapchat.me/privacy</a>  as applicable, the Rapchat Licensing Agreement, and any other legal notices published by Rapchat on the Service, shall constitute the entire agreement between you and Rapchat concerning the Service. If any provision of these Terms of Service is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Service, which shall remain in full force and effect.</p>
            <p>D. Changes to the Agreement</p>

            <p>We may revise these Terms from time to time, the most current version will always be at https://www.rapchat.me/terms. If the revision, in our sole discretion, is material we will notify you via email to the email associated with your account or through the Services. If you do not wish to be bound by any such revisions to the Terms, you must end these Terms with us as set forth above. By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Terms.</p>

            <p>These Services are operated and provided by Rapchat, Inc. located at 20 S. Front St. Columbus, Ohio 43215. If you have any questions about these Terms, please contact us. </p>

            <p class="mt-5"><b>Effective: January 24, 2018</b></p>

        </div>
    </rc-container>
</template>


<script>
    import rcContainer from '~/components/layout/Container'

    export default {
        components: {
            'rc-container': rcContainer,
        },
        head(){
            return {
                title : 'Rapchat | Terms of Service',
                meta: [
                  {hid: 'robots',  name: 'robots', content: 'noindex'}
                ]
            }
        }
    }
</script>


<style lang="stylus">
    .list-style{
        list-style-type: circle;
    }
    .terms {
      color:#fff;
    }
</style>
