<template>
    <rc-container width="862px">
        <b-row slot="rc-content" class="mx-0 rc-trending">
            <b-col cols="12" class="pb-3 trending-highlight" :class="isMobile ? 'mb-3 pt-0' : 'mb-5 pt-2'">
                <b-row>
                    <b-col :cols="isMobile ? 12 : 2" v-if="!isMobile" class="col-2 mx-0 py-2 px-0 text-center">
                        <span class="medium">Trending Tags</span>
                    </b-col>
                    <b-col :cols="isMobile ? 12 : 10" class="trending-tags">
                        <div v-for="tag in tags"
                             :key="tag._id"
                             class="chip body--2 py-1 px-3 mx-2 mt-2 white--text pointer"
                             :class="tag.active ? 'primary' : 'grey darken-3'"
                             @click="selectTag(tag)">
                            #{{ tag.name }}
                        </div>
                    </b-col>
                </b-row>
            </b-col>
            <b-col cols="12">
                <b-row align-v="center" :class="isMobile ? 'mb-2' : 'mb-5'">
                    <b-col cols="12" class="text-center mb-3">
                        <span class="headline">{{ headline }}</span>
                    </b-col>
                </b-row>
            </b-col>
            <b-col cols="12" class="px-0">
                 <div v-show="isLoading" class="loader">
                    <rc-loader></rc-loader>
                </div>
                <rc-grid :songs="songs" type='rap' class="beats" v-show="!isLoading" :playerView="playerView"></rc-grid>
            </b-col>
        </b-row>
    </rc-container>
</template>

<script>
    import rcContainer from '~/components/layout/Container'
    import axios from '~/plugins/axios'
    import videoGrid from '~/components/elements/VideoGrid'
    import GreyButton from '~/components/elements/GreyButton'
    import isMobile from '~/mixins/isMobile'
    import Loader from '~/components/layout/Loader'
    import {mapState} from 'vuex'

    export default {
        mixins: [isMobile],
        data() {
            return {
                isLoading: true,
                playerView: 'trending'
            }
        },
        computed: {
          ...mapState(['currentUser'])
        },
        asyncData({route}) {
            let url = route.query.tagid ? '/discover/tagtrending?tagid=' + route.query.tagid : '/discover/rapstrending'
            return axios.get(url)
                .then(response => {
                    let songs = []
                    let raps = route.query.tagid ? response.data.raps : response.data;
                    let tag = route.query.tagid ? {_id: route.query.tagid, name: response.data.name, active: true} : '';
                    raps.forEach(song => {
                        song.userId = (song.owner && song.owner["_id"]) ? song.owner["_id"] : "";
                        song.image = song.artworkUrl || song.beat.imagefile
                        song.type = 'rap'
                        songs.push(song)
                    })
                    return {
                        songs: songs,
                        beats: songs,
                        tags: [],
                        tag: tag,
                        headline: 'TRENDING RAPS ON RAPCHAT',
                        isLoading: false
                    }
                }).catch(error => {
                    console.log(error)
                    return {
                      songs: [],
                      beats: [],
                      tags:[],
                      tag:null,
                      headline: 'NO TRENDING RAPS FOUND',
                      isLoading: false,
                      response: error.response
                    }
                })
        },
        beforeCreate() {
            axios.get('/discover/tagstrending')
                .then(response => {
                    response.data.map(tag => tag.active = false)
                    this.tags = response.data
                    if (this.$route.query.tagid) {
                        let activeTag = this.tags.find(t => t._id === this.tag._id)
                        if (activeTag) this.tags.splice(this.tags.indexOf(activeTag), 1)
                        this.headline = '#' + this.tag.name
                        this.tags.push(this.tag)
                    }
                }).catch(error => {
                    console.log(error)
            })
        },
        head () {
            return {
                meta: [
                  {hid: 'description', name: 'description', content: 'View the hottest raps recorded on the Rapchat app'},
                  {hid: 'og:title', property: 'og:title', content: `Rapchat | Trending Raps`},
                  {hid: 'og:description', name: 'og:description', content: 'View the hottest raps recorded on the Rapchat app.'},
                  {hid: 'og:type', name: 'og:type', content: 'website'},
                  {hid: 'og:image', name: 'og:image', content: 'https://cdn.rapchat.me/images/logo-white-2048.jpg'}
                ],
                title: 'Rapchat | Trending Raps'
            }
        },
        components: {
            'rc-button': GreyButton,
            'rc-grid': videoGrid,
            'rc-container': rcContainer,
            'rc-loader': Loader
        },
        methods: {
            selectTag(tag) {
                this.isLoading = true
                if(tag.active){
                    tag.active = false
                    this.songs = this.beats
                    this.headline = 'TRENDING RAPS ON RAPCHAT'
                    this.isLoading = false
                }else{
                    this.tags.map(tag => tag.active = false)
                    tag.active = true
                    this.headline = '#' + tag.name
                    axios.get('/discover/tagtrending?tagid=' + tag._id)
                        .then(response => {
                            let songs = []
                            response.data.raps.map(rap => {
                                rap.userId = (rap.owner && rap.owner["_id"]) ? rap.owner["_id"] : "";
                                rap.image = rap.artworkUrl || rap.beat.imagefile
                                songs.push(rap)}
                            )
                            this.songs = songs
                            this.isLoading = false
                        })
                }
            }
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .chip {
        display: inline-block;
        border-radius: 30px;
    }

    .rc-trending {
        .loader {
            margin: 20px auto;
        }
    }

    .grey-button {
        background: #4a4a4a;
        text-decoration: none;
        border-radius: 30px;
        display: inline-block;
        font-weight: 700;
        position: absolute;
        top: -10px;
        right: 0;
        &:hover {
            text-decoration: none;
            color: $theme.primary
        }
    }

    @media (min-width: 750px) {
        .trending-highlight {
            background-color: #141414;
            border-radius: 33px;
            span.medium {
                font-size: 14px;
            }
        }
        .rc-trending {
            .beat {
                width: 20%;
            }
        }
    }

    @media (max-width: 750px) {
        .trending-highlight {
            span.medium {
                /*width: 95%;
                float: left;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 14px;*/
            }
        }
        .grey-button {
            position: initial;
            margin-top: 20px;
        }
        .headline {
            float: left;
            font-size: 18px;
            text-align: center;
            width: 100%;
        }
        .trending-tags {
            white-space: nowrap; overflow: scroll;overflow-x: scroll;
        }
    }
</style>
