<template>
    <div class="share-rap flex column align-center">
        <template v-if="item">
            <template v-if="isMobile">
                <template v-if="item.filters.includes(4)">
                  <mobile-player-share-video :item="item" :shared="sharedLink">
                  </mobile-player-share-video>
                </template>
                <template v-else>
                  <mobile-player-share :item="item" pageView="raps" v-if="sharedLink"></mobile-player-share>
                  <mobile-player :item="item" pageView="raps" class="py-3" v-else></mobile-player>
                </template>
            </template>
            <template v-else>
                <template v-if="item.filters.includes(4)">
                  <desktop-player-share-video :item="item" pageView="raps"></desktop-player-share-video>
                </template>
                <template v-else>
                  <desktop-player :item="item" pageView="raps"></desktop-player>
                </template>
            </template>
        </template>
        <template v-else>
            <span class="display-1">No Rap Found</span>
        </template>
    </div>
</template>

<script>
    import axios from '~/plugins/axios'
    import isMobile from '~/mixins/isMobile.js'
    import mobilePlayer from '~/components/player/mobile/player'
    import mobilePlayerShare from '~/components/player/mobile/share-player'
    import mobilePlayerShareVideo from '~/components/player/mobile/share-player-video'
    import desktopPlayer from '~/components/player/desktop/player'
    import desktopPlayerShareVideo from '~/components/player/desktop/share-player-video'
    import Loader from '~/components/layout/Loader'
    import Grid from '~/components/elements/Grid'
    import filters from '~/utils/filters.js'
    import {mapState} from 'vuex'

    export default {
        mixins: [isMobile],
        asyncData({params}) {
            return axios.get(`/raps/${params.id}`)
                .then(response => {
                  if (response.data.success) {
                      let img = response.data.data.artworkUrl ? response.data.data.artworkUrl : response.data.data.beat.imagefile
                      response.data.data.image = `https://cdn.rapchat.me/images/${img}`
                      response.data.data.audio = response.data.data.featuring.length > 0 ? `https://cdn.rapchat.me/raps/${response.data.data._id}:${response.data.data._id}` : `https://cdn.rapchat.me/raps/${response.data.data._id}`
                      response.data.data.profileLink = `/profile/${response.data.data.owner["_id"]}`
                      response.data.data.blobname = response.data.data._id
                      response.data.data.id = response.data.data._id
                      return {
                          item: response.data.data,
                          title: response.data.data.name,
                          artist: response.data.data.owner.username,
                          playerInstance: null,
                          currentSecond: '00:00'
                      }
                    } else {
                      return {
                        item: null
                      }
                    }
                }).catch(error => {
                    console.error(error)
                    return {
                      item: null,
                      title: null,
                      artist: null
                    }
                })
        },
        components: {
            Loader,
            'mobile-player': mobilePlayer,
            'desktop-player': desktopPlayer,
            'mobile-player-share': mobilePlayerShare,
            'mobile-player-share-video': mobilePlayerShareVideo,
            'desktop-player-share-video': desktopPlayerShareVideo,
            'rc-grid': Grid
        },
        computed: {
            ...mapState({
              shareVariation: state => state.shareVariation,
              shareExp: state => state.shareExp
            }),
            pageTitle() {
              if (this.item) {
                let title = this.title ? filters.formatTitle(this.title) : 'Untitled'
                let artist = this.artist ? this.artist : ''
                return `Rapchat • ${artist} - ${title}`
              } else {
                return 'Rapchat • No Rap Found'
              }
            },
            ogImage () {
              if (this.item) {
                return (this.item.image ? this.item.image : null)
              }
            },
            robots () {
              if (this.item) {
                if (this.item.plays < 400) {
                  return 'noindex'
                } else {
                  return ''
                }
              } else {
                return 'noindex'
              }
            },
            sharedLink  () {
              try {
                if (this.$nuxt.$route.query._branch_match_id) {
                  return true
                } else {
                  return false
                }
              } catch (e) {
                console.log(e)
                return false
              }
            }
        },
        head() {
            return {
                title: this.pageTitle,
                meta: [
                  {hid: 'description', name: 'description', content: `${this.title} by ${this.artist} - recorded on the Rapchat app`},
                  {hid: 'og:title', property:'og:title', content:this.pageTitle},
                  {hid: 'og:image', property:'og:image', content:this.ogImage},
                  {hid: 'og:description', name: 'og:description', content: `${this.title} by ${this.artist} - recorded on the Rapchat app`},
                  {hid: 'og:type', name: 'og:type', content: 'profile'}
                ]
            }
        },
        mounted () {
          if (process.browser) {
            let ampl = amplitude.getInstance()
            ampl.init('e93869e9ffb55d729fa1eddcd851786f')
            let shareRapVariation = this.shareVariation && this.sharedLink
            ampl.logEvent('Rap Viewed', {...this.item, shared: this.sharedLink, view: this.$nuxt.$route.name, route: this.$nuxt.$route.path})
          }
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .share-rap {
        .primary-button{
            display: inline-block;
            background: #8c8046;
            border-radius: 8px;
            -webkit-transition: background .1s;
            transition: background .1s;
            border: none;
        }
        .secondary-button{
          display: inline-block;
          background: #35A15F;
          border-radius: 8px;
          -webkit-transition: background .1s;
          transition: background .1s;
          border: none;
        }
        .seeker-container {
            span {
                font-family: "museo-sans", sans-serif;
                font-size: 0.8em;
                font-weight: 300;
            }
            .audio-seek {
                height: 2px;
                cursor: pointer !important;
                -webkit-appearance: none;
                background: #777;
                border-radius: 2px;
                flex: 2;
                margin-left: 2.5rem !important;
                margin-right: 2.5rem !important;
            }
            .audio-seek::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 50%
                border: 1px solid #4c4016
                background: $theme.primary
                cursor: pointer;
            }
        }
        .rap {
            margin: 0 auto;
            border-radius: 11px;
            .image {
                padding-top: 4px;
            }
            .stat {
                font-size: 1.2em;
                span {
                    float: left;
                    font-size: 0.8em;
                }
                svg {
                    float: left;
                    margin-top: 2px;
                }
                .flame-icon {
                    float: left;
                    height: 22px;
                    vertical-align: middle;
                    &.like {
                        padding-bottom: 2px;
                    }
                    &.repeat {
                        height: 20px;
                    }
                    &.forward {
                        height: 16px;
                        margin-top: 2px;
                    }
                }
            }
            h4 {
                font-weight: 300;
                font-size: 24px;
                margin-top: 0!important;
                margin-bottom: 20px!important;
                text-overflow: ellipsis;
                overflow: hidden;
                word-wrap: normal;
                white-space: nowrap;
                max-width: 350px;
            }
            .control a.play {
                border: 3px solid #fff;
                width: 80px;
                height: 80px;
                font-size: 2em;
                font-weight: bold;
                border-radius: 100px;
                transition: 0.1s border-color;
            }
            a:hover {
                text-decoration: none;
                color: $theme.primary
            }
            a.play:hover, a.play:hover svg {
                fill: $theme.primary
                border-color: $theme.primary;
            }
            .time {
                width: 10%;
            }
            .rap-img {
                border-radius: 100% !important;
                width: 140px !important;
                padding: 8px;
                border: 1px solid;
            }
        }
        .subheading {
          font-size: 22px;
          margin-top: 0 !important;
          margin-bottom: 30px;
        }
        .subheading a {
          font-family: AvenirMedium;
          &:hover {
	            text-decoration: none;
	            color: $theme.primary
	        }
        }
    }

    @media (max-width: 750px) {
        .share-rap {
            z-index: 5;
            padding-top: 20%;
            margin-bottom: 20px;
            #rap-player {
                width: 100%
            }
            .primary-button {
                height: 39px;
                width: 229px;
                border-radius: 4px;
                font-size: 14px;
            }
            .secondary-button {
                height: 39px;
                width: 229px;
                border-radius: 4px;
                font-size: 14px;
            }
            .rap {
                .image {
                    margin-top: 6px !important;
                }
                .stat {
                    span {
                        font-size: 12px
                    }
                    .flame-icon {
                        height: 18.7px;
                    }
                    span {
                        margin-top: 2px;
                    }
                }
                 h4 {
                    margin-top: 3px !important;
                    margin-bottom: 10px!important;
                }
            }
            h3:first-child {
                margin-bottom: 25px;
            }
            .seeker-container {
                span {
                    font-size: 10px;
                    font-family: 'Avenir Medium';
                }
            }
        }

        .info {
            padding-right: 15px;
        }
    }

    [v-cloak] {
        display: none;
    }

    .audio-loader {
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    span.gold {
        color: #8c8046;
        font-weight: bold;
    }

    h3.thin {
        font-weight: 200;
    }
</style>
