<template>
    <rc-container width="1200px" class="studio-landing">
      <div slot="rc-content" class="beats-landing">
        <div class="row" v-if="!isMobile">
          <div class="col-12 col-md-3 offset-md-1 d-flex justify-content-center justify-conent-start-md">
            <img src="~/static/img/beats-device.png" style="height: 400px;" alt="app screenshot">
          </div>
          <div class="col-12 col-sm-7 d-flex align-items-center">
            <div>
              <h1 class="rapchat">Beats By Rapchat</h1>
              <h4>Over 5k+ Free Rap Beats and Hip-Hop Instrumentals</h4>
              <div class="mt-1 body-copy">
                <div class="body-container">
                  Download the Rapchat app to listen to, and rap over 5000+ free beats. We have featured beats in every genre: from LoFi, old school, and chill, to 808, trap, and type beats. Pick a beat and vibe out, or drop a verse! Follow your favorite producers to stay up to date on all of their latest releases!
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-12 col-sm-8 d-flex justify-content-around">
                  <router-link :to="{name: 'download'}">
                    <button class="btn btn-default button-primary">
                      Get the App
                    </button>
                  </router-link>
                  <router-link :to="{ name: 'beats' }">
                    <button class="btn btn-default button-secondary ml-2">
                      Listen Now
                    </button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3" v-else>
          <div class="col-12">
            <div class="row">
              <div class="col-12 text-center">
                <h1 class="rapchat">Beats by Rapchat</h1>
                <h4>Over 5k+ Free Rap Beats and Hip-Hop Instrumentals</h4>
              </div>
            </div>
            <div class="row d-flex justify-content-center mt-2">
              <div class="col-8">
                <img src="~/static/img/beat-device-half.png" class="screenshot-half">
              </div>
            </div>
            <div class="row no-gutters mt-3 d-flex justify-content-center">
              <div class="col-12 text-center">
                  <button class="btn btn-default button-primary" @click="sendLink">
                    Listen Now
                  </button>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 mx-2">
                <h4>Pick a beat and hit the studio.</h4>
                <div class="body-copy">
                  <div class="body-container">
                    Download the Rapchat app to listen to, and rap over 5000+ free beats. We have featured beats in every genre: from LoFi, old school, and chill, to 808, trap, and type beats. Pick a beat, vibe out, then drop a verse! Connect with your favorite producers to stay up to date on all of their latest releases!
                  </div> </div>
              </div>
            </div>
            <div class="row no-gutters mt-3 d-flex justify-content-center">
              <div class="col-12 text-center">
                <router-link to="/beats">
                  <button class="btn btn-default button-secondary">
                    More Beats
                  </button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </rc-container>
</template>
<script>
  import rcContainer from '~/components/layout/Container'
  import isMobile from '~/mixins/isMobile.js'
  export default {
     mixins:[isMobile],
     components: {'rc-container': rcContainer},
     head () {
       return {
         title: 'Rapchat | Free Beats and Instrumentals',
         meta: [
           {hid: 'description', name:"description", content: 'Listen to more than 3k+ free rap beats and hip-hop instrumentals. We have beats from all genres, from chill and lo-fi, to trap and type beats. Download now to record music over free beats from 1k+ producers!'},
           {hid: 'og:title', name:"og:title", content: 'Rapchat | Free Beats and Instrumentals'},
           {hid: 'og:description', name:'og:description', content: 'Listen to more than 3000+ free rap beats and hip-hop instrumentals. We have beats from all genres, from chill and lofi to trap and type beats. Download now to record music over free beats from 1k+ producers.'},
           {hid: 'og:image', name: 'og:image', content: 'https://cdn.rapchat.me/images/logo-white-2048.jpg'},
           {hid: 'og:type', name: 'og:type', content: 'website'},
         ]
       }
     },
     methods: {
       sendLink () {
         branch.link({
             tags: [],
             channel: 'Web',
             feature: 'landingPageStudio',
         }, function (err, link) {
             console.log(err, link);
             window.location.replace(link)
         });
       }
     }
  }
</script>
<style lang="stylus">
.beats-landing {
  .rapchat {
    font-weight: 600;
  }
  .button-primary {
    font-weight: 600;
    height: 60px;
    width: 180px;
    border-radius: 45px;
    color: white;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &:hover{
      color: black;
      cursor: pointer;
    }
  }
  .button-secondary {
    font-weight: 600;
    height: 60px;
    width: 180px;
    border-radius: 45px;
    color: white;
    background-color: #202323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &:hover{
      color: #8c8046;
      cursor: pointer;
    }
  }
  .body-copy {
    background-color: #202323;
    border-radius: 4.5px;
  }
  .body-container{
    padding: 2%;
  }
  .screenshot-half{
    width: 100%;
  }
}
</style>
