<template>
    <rc-container width="1200px" class="studio-landing">
      <div slot="rc-content" class="beats-landing">
        <div class="row" v-if="!isMobile">
          <div class="col-12 col-md-3 offset-md-1 d-flex justify-content-center justify-conent-start-md">
            <img src="~/static/img/producer-profile-device.png" style="height: 400px;" alt="app screenshot">
          </div>
          <div class="col-12 col-sm-7 d-flex align-items-center">
            <div>
              <h1 class="rapchat">Rapchat Producer Platform</h1>
              <h4>Upload beats, and get featured on the app. Join the community of over 3M+ rappers, singers, producers, and beatmakers.</h4>
              <div class="mt-1 body-copy">
                <div class="body-container">
                  <ul class="list-unstyled">
                    <span class="list-strong">The Rapchat Producer Platform Provides:</span>
                    <li class="list-unstyled-item m-2">📥 Free beat uploads and  hosting.</li>
                    <li class="list-unstyled-item m-2">👥 A community of over 3M+ artists to connect and collaborate with.</li>
                    <li class="list-unstyled-item m-2">📲 Shareable web and app profiles to help build your audience across multiple platforms.</li>
                    <li class="list-unstyled-item m-2">
                      💎 Platform to promote your music and sell your beats.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-12 col-sm-8 d-flex justify-content-around">
                  <router-link :to="{name: 'producers', query: {signup: true}}">
                    <button class="btn btn-default button-primary">
                      Sign Up
                    </button>
                  </router-link>
                  <router-link :to="{ name: 'beats' }">
                    <button class="btn btn-default button-secondary ml-2">
                      Listen to Beats
                    </button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3" v-else>
          <div class="col-12">
            <div class="row">
              <div class="col-12 text-center">
                <h1 class="rapchat">Rapchat Producer Platform</h1>
                <h4>Upload beats, and get featured on the app</h4>
              </div>
            </div>
            <div class="row d-flex justify-content-center mt-2">
              <div class="col-8">
                <img src="~/static/img/producer-profile-device-half.png" class="screenshot-half">
              </div>
            </div>
            <div class="row no-gutters mt-3 d-flex justify-content-center">
              <div class="col-12 text-center">
                <router-link :to="{name: 'producers', query:{signup: true}}">
                  <button class="btn btn-default button-primary">
                    Sign Up
                  </button>
                </router-link>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 mx-2">
                <h4>Join the community of over 3M+ rappers, singers, producers, and beatmakers.</h4>
                <div class="body-copy">
                  <div class="body-container">
                    <ul class="list-unstyled" >
                      The Rapchat Producer Platform Provides:
                      <li class="list-unstyled-item m-2">📥 Free beat hosting and uploads.</li>
                      <li class="list-unstyled-item m-2">👥 A community of over 3M+ artists to connect with and collaborate with.</li>
                      <li class="list-unstyled-item m-2">📲 Shareable web and app profiles to build your audience across multiple platforms. </li>
                      <li class="list-unstyled-item m-2">
                        💎 Platform to promote your music and sell your beats.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-gutters mt-3 d-flex justify-content-center">
              <div class="col-12 text-center">
                <router-link to="/beats">
                  <button class="btn btn-default button-secondary">
                    Listen to Beats
                  </button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </rc-container>
</template>
<script>
  import rcContainer from '~/components/layout/Container'
  import isMobile from '~/mixins/isMobile.js'
  export default {
     mixins:[isMobile],
     components: {'rc-container': rcContainer},
     head () {
       return {
         title: 'Rapchat | Producer Platform',
         meta: [
           {hid: 'og:title', name:"og:title", content: 'Rapchat | Producer Platform'},
           {hid: 'description', name:"description", content: 'Upload, submit, and host your hip-hop, rap, and r&b beats and instrumentals on the Rapchat Producer Platform. Connect with artists, and promote your music to over 3M+ rappers, and singers.'},
           {hid: 'og:description', name:'og:description', content: 'Upload, submit, and host your hip-hop, rap, and r&b beats and instrumentals on the Rapchat Producer Platform. Connect with artists, and promote your music to over 3M+ rappers, and singers.'},
           {hid: 'og:type', name: 'og:type', content: 'website'},
           {hid: 'og:image', name: 'og:image', content: 'https://cdn.rapchat.me/images/logo-white-2048.jpg'}
         ]
       }
     },
     methods: {
       sendLink () {
         branch.link({
             tags: [],
             channel: 'Web',
             feature: 'landingPageProducers',
         }, function (err, link) {
             console.log(err, link);
             window.location.replace(link)
         });
       }
     }
  }
</script>
<style lang="stylus">
.beats-landing {
  .rapchat {
    font-weight: 600;
  }
  .button-primary {
    font-weight: 600;
    height: 60px;
    width: 180px;
    border-radius: 45px;
    color: white;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &:hover{
      color: black;
      cursor: pointer;
    }
  }
  .button-secondary {
    font-weight: 600;
    height: 60px;
    width: 180px;
    border-radius: 45px;
    color: white;
    background-color: #202323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &:hover{
      color: #8c8046;
      cursor: pointer;
    }
  }
  .body-copy {
    background-color: #202323;
    border-radius: 4.5px;
  }
  .body-container{
    padding: 2%;
  }
  .list-strong {
    font-weight: 600;
  }
  .screenshot-half{
    width: 100%;
  }
}
</style>
