<template>
  <rc-container width="1200px" class="studio-landing">
    <div slot="rc-content">
      <div class="row" v-if="!isMobile">
        <div class="col-12 col-md-3 offset-md-1 d-flex justify-content-center justify-conent-start-md">
          <img :src="phoneAsset" class="device" alt="vocal effect device screenshot">
        </div>
        <div class="col-12 col-sm-7">
          <h1 class="rapchat">Rapchat Studio 2.0</h1>
          <h4>The dopest music app in the game just got better.</h4>
          <div class="mt-1">
              We rebuilt our mobile recording studio from scratch, adding dope new vocal effects like auto Vocal Tune, Screwed, and Radio. Pick a beat from thousands of free hip hop and rap instrumentals, and hit the studio. Add up to 5 tracks to layer your vocals, add ad-libs, and create your signature sound. We have all of the tools you need to sound like T-Pain, Travi$ Scott, Lil Wayne, Future, and your favorite artists.
          </div>
          <div class="d-flex justify-content-around mt-4">
            <div class="text-center effect-panel mx-1" :class="active === 'vocaltune' ? 'active' : ''" @click="active='vocaltune'">
              <img src="~/static/img/flash1@3x.png" class="effect-icon m-1">
              <div class="m-1 text-muted">Vocal Tune</div>
            </div>
            <div class="text-center effect-panel mx-1" :class="active === 'radio' ? 'active' : ''" @click="active='radio'" >
                <img src="~/static/img/group10@3x.png" class="effect-icon m-1">
                <div class="m-1 text-muted">Radio</div>
            </div>
            <div class="text-center effect-panel mx-1" :class="active === 'screwed' ? 'active' : ''" @click="active='screwed'">
              <img src="~/static/img/screwed.png" class="effect-icon m-1">
              <div class="m-1 text-muted">Screwed</div>
            </div>
            <div class="text-center effect-panel mx-1" :class="active === 'chipmunk' ? 'active' : ''" @click="active='chipmunk'">
              <img src="~/static/img/chipmunk1@3x.png" class="effect-icon m-1">
              <div class="m-1 text-muted">Chipmunk</div>
            </div>
            <div class="text-center effect-panel mx-1" :class="active === 'cave' ? 'active' : ''" @click="active='cave'">
              <img src="~/static/img/group15@3x.png" class="effect-icon m-1">
              <div class="m-1 text-muted">Cave</div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-sm-8 d-flex justify-content-around">
              <button class="btn btn-default button-primary" @click="sendLink">
                Hit the Studio
              </button>
              <a :href="blogLink" target="_blank">
                <button class="btn btn-default button-secondary ml-2">
                  Learn More
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3" v-else>
        <div class="col-12">
          <div class="row">
            <div class="col-12 text-center">
              <h1>Rapchat Studio 2.0</h1>
              <h4>The dopest music app in the game just got better.</h4>
            </div>
          </div>
          <div class="row d-flex justify-content-center mt-2">
            <div class="col-8">
              <img :src="phoneAsset" class="screenshot-half">
            </div>
          </div>
          <div class="row no-gutters mt-3 d-flex justify-content-center">
            <div class="col-12 text-center">
              <button class="btn btn-default button-primary" @click="sendLink">
                Hit the Studio
              </button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 d-flex justify-content-around mt-4">
              <div class="text-center effect-panel" @click="active='vocaltune'">
                <img src="~/static/img/flash1@3x.png" class="effect-icon m-1">
                <div class="m-1 text-muted">Vocal Tune</div>
              </div>
              <div class="text-center effect-panel" @click="active='radio'">
                  <img src="~/static/img/group10@3x.png" class="effect-icon m-1">
                  <div class="mt-1 text-muted m-1">Radio</div>
              </div>
              <div class="text-center effect-panel" @click="active='screwed'">
                <img src="~/static/img/screwed.png" class="effect-icon m-1">
                <div class="mt-1 text-muted m-1">Screwed</div>
              </div>
              <div class="text-center effect-panel" @click="active='chipmunk'">
                <img src="~/static/img/chipmunk1@3x.png" class="effect-icon m-1">
                <div class="mt-1 text-muted m-1">Chipmunk</div>
              </div>
              <div class="text-center effect-panel" @click="active='cave'">
                <img src="~/static/img/group15@3x.png" class="effect-icon m-1">
                <div class="mt-1 text-muted m-1">Cave</div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 mx-2">
              <h4>Studio Quality Audio Recording on Your Phone</h4>
              <div class="body-copy">
                We rebuilt our mobile recording studio from scratch, adding dope new vocal effects like auto Vocal Tune, Screwed, and Radio. Pick a beat from thousands of free hip hop and rap instrumentals, and hit the studio. Add up to 5 tracks to layer your vocals, add ad-libs, and create your signature sound. We have all of the tools you need to sound like T-Pain, Travi$ Scott, Lil Wayne, Future, and your favorite artists.
              </div>
            </div>
          </div>
          <div class="row no-gutters mt-3 d-flex justify-content-center">
            <div class="col-12 text-center">
              <a :href="blogLink" target="_blank">
                <button class="btn btn-default button-secondary">
                  Learn More
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </rc-container>
</template>
<script>
import rcContainer from '~/components/layout/Container'
import isMobile from '~/mixins/isMobile.js'
export default {
  mixins:[isMobile],
  components: {'rc-container': rcContainer},
  data () {
    return {
      active: 'vocaltune',
      deviceAsset: {
        vocaltune: require('~/static/img/white-device-vocal-tune.svg'),
        radio: require('~/static/img/white-device-radio.svg'),
        screwed: require('~/static/img/white-device-screwed.svg'),
        chipmunk: require('~/static/img/white-device-chipmunk.svg'),
        cave: require('~/static/img/white-device-cave.svg')
      },
      deviceAssetHalf: {
        vocaltune: require('~/static/img/vocal-tune-device-half.png'),
        radio: require('~/static/img/radio-device-half.png'),
        screwed: require('~/static/img/screwed-device-half.png'),
        chipmunk: require('~/static/img/chipmunk-device-half.png'),
        cave: require('~/static/img/cave-device-half.png')
      },
      blogLink: 'https://medium.com/@rapchat/new-studio-alert-e9b94d7f0c2a'
    }
  },
  head () {
      return {
              title: 'Rapchat | Studio 2.0',
              meta: [
                  {hid: 'description', name: 'description', content: `Introducing the new studio from Rapchat: the best mobile music recording studio app in the game.`},
                  {hid: 'og:title', name: 'og:title', content: `Introducing the new studio from Rapchat: the best mobile music recording studio app in the game.`},
                  {hid: 'og:description',name: 'og:description', content: "Download Rapchat the #1 recording studio app in the game. We rebuilt our studio from scratch adding dope new features like vocal effects, multi-track recording, and more, to help you create your own sound, or sound like your favorite rappers. Choose from thousands of free beats and instrumentals and start recording on your phone!"},
                  {hid: 'og:url', name: 'og:url', content: 'https://www.rapchat.me/landing/studio2'},
                  {hid: 'og:image', name: 'og:image', content: "~/static/img/device-screenshot-half.png"},
              ],
          }
  },
  watch: {
    active () {
      console.log(this.active)
    }
  },
  computed: {
    phoneAsset () {
      let active = this.active
      if (this.active) {
        if (this.isMobile) {
          console.log('halfSize')
          const path = this.deviceAssetHalf[active]
          return path
        } else {
          console.log('fullSize')
          const path = this.deviceAsset[active]
          return path
        }
      }
    }
  },
  methods: {
    sendLink () {
      branch.link({
          tags: [],
          channel: 'Web',
          feature: 'landingPageStudio',
      }, function (err, link) {
          console.log(err, link);
          window.location.replace(link)
      });
    }
  }
}
</script>
<style lang="stylus">
  .studio-landing {
    .button-primary {
      height: 60px;
      width: 180px;
      border-radius: 45px;
      color: white;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      &:hover{
        color: black;
        cursor: pointer;
      }
    }
    .button-secondary {
      height: 60px;
      width: 180px;
      border-radius: 45px;
      color: white;
      background-color: #202323;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      &:hover{
        color: #8c8046;
        cursor: pointer;
      }
    }
    .device{
      height: 400px;
    }
    .effect-icon{
      height: 25px;
      @media (max-width: 650px) {
        height: 22px;
      }
    }
    .screenshot-half {
      width: 100%;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(0,0,0,0.43881302521008403) 100%);
    }
    .body-copy {
      font-size: 16px;
    }
    /* .body-container{
      background-color: #232323
      border-radius: 4.5px;
    } */
    .active {
      border-radius: 12px;
      background-color: rgb(32,33,35);
    }
    .effect-panel {
      width: 18vw;
      @media (min-width: 650px) {
        width: 12vw;
      }
      .text-muted {
        font-size: 12px;
      }
      &:hover{
        border-radius: 12px;
        background-color: rgb(32,33,35);
      }
    }
    .rapchat {
      font-weight: 900;
    }
    .phone-container {
      height: 400px;
      overflow: hidden;
    }
  }
</style>
