<template>
  <rc-container width="1200px;margin:0 auto">
    <div slot="rc-content" class="row feed mx-0 d-flex justify-content-center no-gutters">
      <div class="col-sm-12 col-md-5 col-lg-4" id="userDetail" refs="userDetail" v-if="!isMobile">
        <div class="sticky-top side-bar" :style="{position: loading ? 'sticky !important' : 'fixed'}">
          <ProfileSidebar :user="currentUser" view="small"/>
          <SuggestedUsers :suggestedUsers="suggestedUsers"/>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-5" :class="isMobile ? 'no-gutters' : ''">
        <div class="feed-width">
          <HomeFeedNav :active="active"/>
          <Feed :items='activeItems' v-if="!loading"/>
          <div class="spacer"></div>
          <infinite-loading @infinite="onInfinite" :active="active" v-show="!loadingInfinite" windowScroll="true" v-if="didLoad">
            <span slot="no-more">You reached the end!</span>
            <span slot="no-results">Thats it! Follow other rappers or producers and their music will show up in your feed.
              <SuggestedUsers :suggestedUsers="suggestedUsers" v-if="isMobile"/>
              <DownloadModal/>
            </span>
          </infinite-loading>
          <div v-if="loading">
            <Loader/>
          </div>
        </div>
      </div>
    </div>
  </rc-container>
</template>
<script>
import HomeFeedNav from '~/components/elements/HomeFeedNav'
import Feed from '~/components/layout/Feed'
import Container from '~/components/layout/Container'
import ProfileSidebar from '~/components/elements/ProfileSidebar'
import SuggestedUsers from '~/components/elements/SuggestedUsers'
import DownloadModal from '~/components/elements/DownloadModal'
import storeSong from '~/mixins/storeSong'
import storeFeed from '~/mixins/storeFeed'
import {mapState, mapActions} from 'vuex'
import store from '~/store/index.js'
import axios from '~/plugins/axios'
import isMobile from '~/mixins/isMobile'
import loginRequired from '~/middleware/loginRequired'
import InfiniteLoading from '~/utils/infiniteload.vue'
import _ from 'lodash'
import Loader from '~/components/layout/Loader'



export default {
  mixins: [isMobile, storeSong, storeFeed],
  middleware: 'loginRequired',
  components: {
    Feed,
    'rc-container': Container,
    ProfileSidebar,
    SuggestedUsers,
    HomeFeedNav,
    InfiniteLoading,
    Loader,
    DownloadModal
  },
  data () {
    return {
      loading: true,
      loadingInfinite: false,
      items: [],
      skip: 0,
      songs: [],
      active: 'following',
      didLoad: false
    }
  },
  watch: {
    currentUser () {
      if (!this.currentUser) {
        this.$nuxt.$router.push({path: '/login'})
      }
    },
    didLoad () {
      this.smoothScrollToTop(250)
    },
    '$route.query.view' () {
      this.loading = true
      this.didLoad = false
      this.active = this.$nuxt.$router.currentRoute.query.view || ''
      this.loadData()
    }
  },
  // watchQuery: ['view'],
  computed: {
    ...mapState(['currentUser', 'feed', 'suggestedUsers']),
    activeItems () {
      return this.feed[this.active]
    },
  },
  mounted () {
    this.loadData()
    document.addEventListener("scroll", (e) => {
      let screenHeight = e.target.documentElement.scrollHeight
      let scrollTop = e.target.documentElement.getBoundingClientRect().top-e.target.documentElement.clientHeight 
      if (screenHeight+scrollTop < 100 ) {
        console.log(document.querySelector('.sticky-top.side-bar'))
        document.querySelector('.sticky-top.side-bar').style.top = '0px'
        document.querySelector('.sticky-top.side-bar').style.bottom = '100px'
      } else {
        document.querySelector('.sticky-top.side-bar').style.top = '80px'
        document.querySelector('.sticky-top.side-bar').style.bottom = '0px'
      }
    })
    
  },
  updated () {
    console.log('updated')
    console.log(this.$refs)
  },
  methods: {
    ...mapActions({
      setSuggestedUsers: 'setSuggestedUsers'
    }),
    async loadData () {
      if (this.currentUser.token) {
        let responses = {}

        let headers = {'x-zumo-auth': this.currentUser.token}
        let query = this.$router.currentRoute.query

        if (query.view === 'following' || !query.view) {
          const followingRes = await axios.get('/feed/followingV4?skip=0&limit=50', {headers: headers}).then(res => {
            res.data.data.skip = 50
            let data = this.processData(res.data.data, 'following')
            this.items = data.items,
            this.songs = data.songs,
            this.skip = data.skip,
            this.active = data.active,
            this.loading = false
          }).catch(e => {
            console.log(e)
            return {
              songs: [],
              loading: false,
              error: true,
              errorMessage: 'Error'
            }
          })
          responses = {...responses, ...followingRes}
        } else if (query.view === 'featured') {
         const featuredRes = await axios.get('/feed/featuredV2?skip=0&limit=50', {headers: headers}).then(res => {
            res.data.data.skip = 50
            let data = this.processData(res.data.data, 'featured')
            this.items = data.items,
            this.songs = data.songs,
            this.skip = data.skip,
            this.active = data.active,
            this.loading = false
          }).catch(e => {
            console.log(e)
              this.songs = [],
              this.loading = false,
              this.error = true,
              this.errorMessage = e.response.data.message
          })
          // responses = {...responses, ...featuredRes}
        } else if (query.view === 'beats') {
          const beatsRes = await axios.get('/beats/featured?skip=0&limit=50', {headers: headers}).then(res => {
            if (res.data.success) {
              res.data.data.forEach(item => {
                item.type = 'beat'
              })
              res.data.data.skip = 50
              let data = this.processData(res.data.data, 'beats')
              this.items = data.items,
              this.songs = data.songs,
              this.skip = data.skip,
              this.active = data.active,
              this.loading = false
            }
          }).catch(e => {
            console.log(e)
            this.songs = [],
            this.loading = false,
            this.error = true,
            this.errorMessage = e.response.data.message
          })
          // responses = {...responses, ...beatsRes}
        }
        if (this.suggestedUsers.length === 0) {
          const suggestedRes = await axios.get('/suggestedartists', {headers: {'x-zumo-auth':this.currentUser.token}}).then(res => {
            let filtered = _.filter(res.data.data, {'isFollowing': false})
            let shuffled = _.shuffle(filtered)
            let suggested = shuffled.slice(0,4)
            this.setSuggestedUsers(suggested)
          }).catch(e => {
            console.log(e)
          })
          // responses = {...responses, ...suggestedRes}
        }
        // return {
        //   ...responses,
        //   didLoad: true
        // }
        this.didLoad = true
      }
    },
    processData (responseData, active) {
      let songs = []
      responseData.forEach(item => {
        if (item.type === 'beat') {
          item.playsCount = item.options[0].plays
          item.image = `https://cdn.rapchat.me/images/${item.imagefile}`
          item.imagefile = `https://cdn.rapchat.me/images/${item.imagefile}`
          item.id = item._id
        } else {
          item.userId = (item.owner && item.owner["_id"]) ? item.owner["_id"] : ""
          let image = item.artworkUrl || item.beat.imagefile
          item.image = `https://cdn.rapchat.me/images/${image}`
        }
        songs.push(item)
      })
      return {
        songs: songs,
        items: songs,
        skip: responseData.skip,
        active: active,
        loading: false
      }
    },
    onInfinite ($state) {
      setTimeout(() => {
        let url
        let type = 'rap'
        switch (this.active) {
          case 'following':
            url = '/feed/followingv4?limit=50'
            break
          case 'featured':
            url = '/feed/featuredV2?limit=50'
            break
          case 'beats':
            url = '/beats/all?limit=50'
            type = 'beat'
            break
        }
        axios({
          method: 'GET',
          url: url.concat(`&skip=${this.skip}`),
          headers: {'x-zumo-auth': this.currentUser.token}
        }).then(res => {
          if (res.data.success && res.data.data.length > 0) {
            if (type === 'beat') {
              res.data.data.forEach(item => {
                item.type = type
              })
            }
            this.skip += this.skip
            let results = this.processData(res.data.data)
            this.songs = [...this.songs, ...results.songs]
            this.items = [...this.songs, ...results.items]
            this.loadingInfinite = false
            $state.loaded()
          } else if (res.data.data.length === 0) {
            $state.complete()
          }
        }).catch(e => {
          $state.loaded()
        })
      }, 1000)
    },
    smoothScrollToTop (duration) {
        let _this = this
        if (duration <= 0) return
        var pos = window.scrollY
        var perTick = pos / duration * 10
        setTimeout(() => {
            var newPos = pos - perTick
            window.scrollTo(0, newPos)
            if (window.scrollY == 0) return
                _this.smoothScrollToTop(duration - 10)
        }, 10);
    },
  }
}

</script>
<style lang="stylus" scoped>
.feed
  overflow-x hidden
  @media (max-width: 450px)
    overflow hidden
  @media (min-width: 450px)
    min-width 280px
  .side-bar
    z-index 0 !important
  .feed-width    
    @media(min-width: 575px)
      width 450px
      overflow hidden

.rc-container
  padding 0 !important

.cont
  min-height: 100vh
  @media (min-width: 450px)
    height 500px
    min-height 0

.spacer
  height 16vh
  @media(max-width: 800px)
    height 15vh
.sticky-top.side-bar {
    transition: 100ms all;
}
@media(max-width: 1199px)
  .sticky-top.side-bar{width:330px}
@media(max-width: 767px)
  .sticky-top.side-bar {
    position:static;
    width: 300px;
    margin: 60px auto;
}
.feed .feed-width {
    width:100%;
}
</style>
