<template>
  <rc-container width="1200px">
    <div class="flex row align-center login-signup" slot="rc-content">
      <div class="col-12 producers-header mb-4">
        <div class="mx-3">
          <div class="row d-flex justify-content-between">
            <div class="col-12 col-sm-6 d-flex align-items-end" :class="isMobile ? 'justify-content-center' : ''" >
              <h1 class="header" :class="isMobile ? 'text-center' : ''">Featured Producers</h1>
            </div>
            <div class="col-12 col-sm-6 d-flex" :class="isMobile ? 'justify-content-center' : 'justify-content-end'">
              <!-- <button class="btn btn-outline-secondary button-muted outline text-center mr-2" :class="isMobile ? 'w-50' : ''" v-b-modal.producerLoginModal v-if="!user" @click="active='signIn'">Sign In</button>
              <router-link :to="user ? `/producers/${user._id}` : `/login`" class="btn btn-secondary button-primary prod-sign-up  text-center" :class="isMobile ? 'w-50' : ''">Upload Beats</router-link> -->
            </div>
          </div>
        </div>
      </div>
      <GridUser :users="producers"/>
      <div class="row w-100 mx-0">
        <div class="col-12 d-flex justify-content-center">
          <button class="btn btn-secondary button-primary" @click="sendLink">
            See More
          </button>
        </div>
      </div>
      <b-modal id="producerLoginModal" :hide-footer="true" :busy="true" size="lg">
        <div class="col-12">
          <Login/>
        </div>
      </b-modal>
      <b-modal id="activeUser" :busy="true" size="md" v-model="showModal" hide-footer @hidden="logoutUser">
        <ActiveUserModal/>
      </b-modal>
    </div>
  </rc-container>
</template>
<script>
import axios from '~/plugins/axios'
import { mapActions, mapState } from 'vuex'
import SignUpHeader from '~/components/elements/SignUpHeader'
import rcContainer from '~/components/layout/Container'
import ActiveUserModal from '~/components/elements/ActiveUserModal'
import LoadingButton from '~/components/elements/LoadingButton'
import GridUser from '~/components/elements/GridUser'
import isMobile from '~/mixins/isMobile'
import Login from '~/components/elements/Login'
  export default {
    mixins: [isMobile],
    components: {
      SignUpHeader,
      'rc-container': rcContainer,
      ActiveUserModal,
      LoadingButton,
      GridUser,
      Login
    },
    data () {
      return {
        loading: true,
        showModal: false
      }
    },
    asyncData () {
      return axios({
          url: `/producers/all`,
          method: 'get',
          headers: {
              'x-zumo-auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQyODc5OTA4ODkwLCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.BjSOlfMcOT3iHOevhgAu9NiakSWDS_f8Dtg_WCgyVRY',
          },
      }).then(res => {
        if (res.data.success) {
          return {
            producers: res.data.data
          }
        }
      }).catch(e => {
        console.log(e)
      })
    },
    head () {
      return {
        title: 'Rapchat | Producers',
        meta: [
          {hid: 'description', name: 'description', content: `Become a producer on Rapchat, the #1 hip hop app in the game. Upload your beats to get featured in front of millions of rappers`},
          {hid: 'og:description', name: 'og:description', content: `Become a producer on Rapchat, the #1 hip hop app in the game. Upload your beats to get featured in front of millions of rappers`},
          {hid: 'og:title', name: 'og:title', content: 'Rapchat Producer Platform'},
          {hid: 'og:type', name:'og:type', content: 'website'},
          {hid: 'og:image', name: 'og:image', content: 'https://cdn.rapchat.me/images/logo-white-2048.jpg'}
        ]
      }
    },
    watch: {
      active () {
        window.scrollTo(0, 0)
        this.loginError = null
        this.signUpError = null
        if (this.active === 'signUp') {
          this.logEvent('Sign Up Viewed', null)
        } else {
          this.logEvent('Login Viewed', null)
        }
      }
    },
    beforeMount () {
      this.loading = false
      // if (this.user) {
      //   this.$nuxt.$router.push({path:`/producers/${this.user._id}`})
      // } else if (this.loggedInUser) {
      //   this.$nuxt.$router.push({path:`/producers/${this.loggedInUser._id}`})
      // }
    },
    mounted () {
      this.logEvent('Sign Up Viewed', null)
      if (this.$nuxt.$router.currentRoute.query.signup) {
        this.$root.$emit('bv::show::modal','producerLoginModal')
      }
    },
    computed: {
      ...mapState({
        authenticated: state => state.authenticated,
        user: state => state.currentUser
      }),
      nextRoute () {
        return this.$nuxt.$route.query.next
      },
    },
    methods: {
      ...mapActions({
        setUser: 'loginUser',
        logout: 'logoutUser'
      }),
      submitClickHandler() {
        if (this.user) {
          this.$root.$emit('bv::show::modal','submitBeats')
        } else {
          this.active = 'signUp'
          this.$root.$emit('bv::show::modal','producerLoginModal')
        }
      },
      logoutUser () {
        this.logout()
      },
      sendLink () {
        if (this.isMobile) {
          branch.link({
              tags: [],
              channel: 'Web',
              feature: 'landingPageStudio',
          }, function (err, link) {
              console.log(err, link);
              window.location.replace(link)
          });
        } else {
          this.$nuxt.$router.push('/download')
        }
      },
      logEvent (event, data) {
        if (process.browser) {
          if (this.user) {
            let id = new amplitude.Identify()
              .set('username', this.user.username)
              .set('userid', this.user._id)
              .set('email', this.user.email)
              .set('beats uploaded', this.user.beatCount)
              .set('twitter url', this.user.twitter)
              .set('website url', this.user.otherlink)
              .set('soundcloud url', this.user.soundcloud)
              .set('platinum', this.user.isPlatinumProducer)
              // .set('followers', this.user.followers.length)
              // .set('following', this.user.following.length) amplitude.getInstance().identify(id)
          }
          let ampl = amplitude.getInstance()
          ampl.init('e93869e9ffb55d729fa1eddcd851786f')
          ampl.logEvent(`${event}`, data)
        }
      }
    },
  }
</script>
<style lang='stylus'>
.login-signup{
  .header {
    font-size: 1.4em;
    text-transform: uppercase;
    50%;
    font-weight:500px;
  }
  .button-primary {
    width: 240px;
    height: 60px;
    border-radius: 95px;
    background-color: #8c8046;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer;
    &:hover {
      color: black;
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
    &:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      color: black;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }
  .button-primary.prod-sign-up{
    width: auto;
    border: 2px solid #8c8046;
    height: inherit;
    color: white;
    &:hover {
      color: black;
    }
    &:focus{
      border: 2px solid #8c8046 !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      color: black;
      border: 2px solid #8c8046 !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }
  .button-muted {
    width: 240px;
    height: 60px;
    border-radius: 95px;
    background-color: #202323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline:none;
    border:none;
    cursor: pointer;
    &:focus{
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      background-color: #171919 !important;
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:hover {
      color: #8c8046;
      border-radius: 95px;
      background-color: #202323;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
  }
  .button-muted.outline{
    width: auto;
    height: inherit;
    color: white;
    background-color: rgba(255,255,255,0);
    border: 2px solid #202323;;
    &:hover {
      background-color: #202323;;
      color: white;
      transition: all .3s ease;
    }
    &:focus{
      border: 2px solid #202323; !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
      color: black;
      border: 2px solid #202323; !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }
  .disabled {
    &:hover{
      color: white;
      cursor: not-allowed;
    }
  }
  .login-signup-form {
    width: 100%;
    height: 60px;
    border:none;
    border-radius: 45px;
    background-color: #202123;
    padding-left: 25px;
    color: white;
  }
  .login-signup-form:focus {
    width: 100%;
    height: 60px;
    border:none !important;
    outline:none;
    border-radius: 45px;
    background-color: #202123;
    text-decoration: none;
    box-shadow: 0 0 0 0.1rem rgba(255,255,255,.9);
    color: white;
  }
  .form-error:focus{
    box-shadow: 0 0 0 0.1rem rgba(173,0,2,.9);
  }
  .form-success:focus{
    box-shadow: 0 0 0 0.1rem rgba(53, 161, 95, .9)
  }
  .link-primary{
    color:#8c8046;
  }
  .active {
    color: white;
    &:hover{
      text-decoration: none;
      color: white;
      cursor: default;
    }
  }

  .inactive {
    color: gray;
    &:hover {
      color: white;
      text-decoration:none;
    }
  }

  .login-title {
    font-size: 1.7em;
    letter-spacing: .2em;
  }
  .link-primary:hover {
    text-decoration:underline;
    underlne: #8c8046;
  }
  .divider {
    width: 40%;
    height: 1px;
    border: 1px solid rgba(155, 155, 155, .3)
  }
  .header-icon {
    margin: auto;
  }
  .signup-header {
    font-size: 28px;
    font-weight: 500;
    color: #969696
  }
  .error-text {
    color: #C14242;
    font-size: 14px;
  }
}
</style>
