<template>
    <div class="share-rap flex column align-center no-gutters">
        <template v-if="item">
            <template v-if="isMobile">
                <mobile-player-video :item="item" v-if="item.recType === 'video'"></mobile-player-video>
                <mobile-player :item="item" v-else></mobile-player>
            </template>
            <template v-else>
                <desktop-player-video :item="item" v-if="item.recType === 'video'"></desktop-player-video>
                <desktop-player :item="item" v-else></desktop-player>
            </template>
        </template>
        <template v-else>
          <div class="text-center" v-if="!item">
            <h4>We couldn't find the rap you were looking for. It may have been deleted by the owner.</h4>
            <div>
              <p>Check out some <router-link to="/trending" class="font-weight-bold">trending</router-link> raps.</p>
            </div>
          </div>
        </template>
    </div>
</template>

<script>
    import axios from '~/plugins/axios'
    import isMobile from '~/mixins/isMobile.js'
    import sharePlayerVideoMobile from '~/components/player/mobile/share-player-video'
    import sharePlayerVideoDesktop from '~/components/player/desktop/share-player-video'
    import sharePlayerMobile from '~/components/player/mobile/share-player'
    import sharePlayerDesktop from '~/components/player/desktop/share-player'

    export default {
        mixins: [isMobile],
        asyncData({params}) {
            return axios.get(`/raps/${params.id}`)
                .then(response => {
                  if (response.data.success) {
                      let img = response.data.data.artworkUrl ? response.data.data.artworkUrl : response.data.data.beat.imagefile
                      response.data.data.image = `https://cdn.rapchat.me/images/${img}`
                      response.data.data.audio = response.data.data.featuring.length > 0 ? `https://cdn.rapchat.me/raps/${response.data.data._id}:${response.data.data._id}` : `https://cdn.rapchat.me/raps/${response.data.data._id}`
                      response.data.data.profileLink = `/profile/${response.data.data.owner["_id"]}`
                      response.data.data.blobname = response.data.data._id
                      response.data.data.id = response.data.data._id
                      console.log(response.data.data)
                      return {
                          item: response.data.data,
                          title: response.data.data.name,
                          artist: response.data.data.owner.username,
                          playerInstance: null,
                          currentSecond: '00:00'
                      }
                    } else {
                      return {
                        item: null
                      }
                    }
                }).catch(error => {
                    console.log(error)
                })
        },
        computed: {
          pageTitle() {
              return (this.title ? ('Rapchat | Check out "' + this.title + '" by ' + this.artist + ' on Rapchat!') : ('Rapchat | No Rap Found'))
          },
          ogImage () {
            if (this.item) {
              return (this.item.image ? this.item.image : null)
            }
          },
          robots () {
            if (this.item) {
              if (this.item.plays < 400) {
                return 'noindex'
              } else {
                return ''
              }
            } else {
              return 'noindex'
            }
          }
        },
        components: {
            'mobile-player-video': sharePlayerVideoMobile,
            'desktop-player-video': sharePlayerVideoDesktop,
            'mobile-player': sharePlayerMobile,
            'desktop-player': sharePlayerDesktop,
        },
        head() {
            return {
              meta: [
                {hid: 'description', name: 'description', content: `${this.title} by ${this.artist} - recorded exclusively on the Rapchat app`},
                {hid: 'og:title', property:'og:title', content:this.pageTitle}, {hid: 'ogimage', property:'og:image', content:this.ogImage},
                {hid: 'og:description', name: 'og:description', content: `${this.title} by ${this.artist} - recorded exclusively on the Rapchat app`},
                {hid: 'og:video', name: 'og:video', content: `https://cdn.rapchat.me/raps/${this.item._id}`},
                {hid: 'og:type', name: 'og:type', content: 'profile'}
              ]
            }
        },
        mounted () {
          console.log(this.item)
        }
    }
</script>

<style lang="stylus">
    @require '~assets/style/base.styl'
    .share-rap {
        .primary-button{
            display: inline-block;
            background: #8c8046;
            border-radius: 8px;
            -webkit-transition: background .1s;
            transition: background .1s;
            border: none;
        }
        /* padding-top: 100px; */
        .seeker-container {
            span {
                font-family: "museo-sans", sans-serif;
                font-size: 0.8em;
                font-weight: 300;
            }
            .audio-seek {
                height: 2px;
                cursor: pointer !important;
                -webkit-appearance: none;
                background: #777;
                border-radius: 2px;
                flex: 2;
            }
            .audio-seek::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 50%
                border: 1px solid #4c4016
                background: $theme.primary
                cursor: pointer;
            }
        }
        .rap {
            margin: 0 auto;
            border-radius: 11px;
            .stat {
                font-size: 1.2em;
                span {
                    font-size: 0.8em;
                }
                .flame-icon {
                    height: 22px;
                    vertical-align: middle;
                }
            }
            h4 {
                font-weight: 300;
                font-size: 1.2em;
            }
            .control a.play {
                border: 3px solid #fff;
                width: 80px;
                height: 80px;
                font-size: 2em;
                font-weight: bold;
                border-radius: 100px;
                transition: 0.1s border-color;
            }
            a:hover {
                text-decoration: none;
                color: $theme.primary
            }
            a.play:hover, a.play:hover svg {
                fill: $theme.primary
                border-color: $theme.primary;
            }
            .time {
                width: 10%;
            }
        }
    }

    @media (max-width: 750px) {

        .share-rap {
            z-index: 5;
            padding-top: 20%;
            margin-bottom: 20px;
            #rap-player {
                width: 100%
            }
            .rap {
                flex-direction: column;
            }
            h3:first-child {
                margin-bottom: 25px;
            }
        }

        .info {
            padding-right: 15px;
        }
    }

    [v-cloak] {
        display: none;
    }

    .audio-loader {
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    span.gold {
        color: #8c8046;
        font-weight: bold;
    }

    h3.thin {
        font-weight: 200;
    }
</style>
