<template>
  <div>
    <!-- <transition name="fade">
      <div id="popover" class="modal modal-popover" v-if="popoverVisible">
          <div class="popover-body white--text">
            <div>
              <icon class="popover-close white--text" @click.native="popoverVisible = false" name='close' height="24"
                    width="24"></icon>
            </div>
            <div class="pt-4">
              <img src="~/static/img/RC-small.svg" class="popover-header-img text-center"/>
              <p class="text-center mt-4 popover-title">Got Bars?</p>
              <p class="text-center mt-2">
                 Try out the <em>free</em> Rapchat app yourself to rap over thousands of beats
              </p>
              <a href="https://rapch.at/m65UsnNuHK">
                <button class="popover-button primary-button white--text" @click="handlePopoverButtonClick">
                  GET THE APP
                </button>
              </a>
            </div>
          </div>
      </div>
    </transition> -->
    <div class="detail-container" v-if="pageView==='beats'">
      <div class="row beat-detail">
        <div class="col-12 d-flex justify-content-center">
          <div class="beat-detail" v-if="item">
            <div id="playBeat" class="beat-artwork d-flex justify-content-center align-items-center" :style="{
                'background': 'url(' + beatArtwork + ') no-repeat center center',
                }"  @click.prevent="playAudio(item, 'beat')">
                  <PlayButton :playing="playing"/>
            </div>
            <div class="beat-meta mt-2">
              <ul class="list-inline d-flex justify-content-around">
                <li class="list-inline-item">
                  <img src="~/static/img/play-icon-sm.png" class="icon-sm action-icon" v-b-modal.downloadModal>
                  {{item.options[0].plays | bigNumber}}
                </li>
                <li class="list-inline-item">
                  <div>
                  <img src="~/static/img/microphone.svg" class="svg icon-sm action-icon" v-b-modal.downloadModal/>
                  {{item.beatRapsCount | bigNumber}}
                  </div>
                </li>
                <li class="list-inline-item">
                  <span @click="likeOrDislikeBeat(true)" v-if="!item.isFavorite">
                    <icon name="regular/heart" class="action-icon icon-sm"></icon>
                  </span>
                  <span @click="likeOrDislikeBeat(false)" v-else-if="item.isFavorite">
                    <img src="~/static/img/beat-favorite-icon.png" class="svg icon-sm action-icon">
                  </span>
                  {{item.beatFavoritesCount | bigNumber}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 d-flex justify-content-center">
        <div class="col-12">
          <div class="beat-title text-center">
            {{item.title}}
          </div>
          <div class="d-flex justify-content-center mt-3">
            <div class="media beat-artist d-flex align-items-center">
              <div class="align-self-center artist-avi" :style="{
                  'background': 'url(https://cdn.rapchat.me/images/' + producerAvi + ') no-repeat center center',
                  }" @click="toProducer" v-if="producerAvi" >
              </div>
              <img class="placeholder-avi" src="~/static/img/group-4@3x.png" @click="toProducer" v-else>
              <div class="media-body artist-name ml-2">
                <router-link :to="`/profile/${item.producerId}`" class="link-primary producer-link" v-if="item.producerId">
                  {{item.artist}}
                </router-link>
                <div v-else>
                  {{item.artist}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <div class="col-8 cta-button">
          <button id="downloadButton" class="btn btn-primary button-primary" @click="sendLink">RAP ON THIS BEAT</button>
        </div>
      </div>
      <div class="row mt-5" v-if="item && beatTrendingRaps">
        <div class="col-12 text-left">
          <span class="section-header" v-if="beatTrendingRaps">TRENDING RAPS OVER THIS BEAT</span>
          <BeatTrendingRaps :beatTrendingRaps="beatTrendingRaps" :loadingFirst="loadingFirst" :loadingRaps="loadingRaps" v-on:load-more="loadMoreTrendingRaps"/>
        </div>
      </div>
      <div class="row mt-5 d-flex justify-content-center" v-if="!currentUser">
        <div class="col-10 text-center">
          <h4 class="download-header">Explore and Record Over More Rap Beats</h4>
          <div class="download-copy mt-3">Thousands of free instrumentals available on the Rapchat app</div>
        </div>
      </div>
      <div class="row mt-4 d-flex justify-content-center" v-if="!currentUser">
        <div class="col-12 text-center">
          <button id="downloadButton" class="btn btn-primary button-primary w-75" @click="sendLink">GET THE APP</button>
          <div>
            <div class="dynamic-image-overlay" :style="{
                'background': 'url(' + beatArtwork + ') no-repeat center center',
                }">
            </div>
            <img src="~/static/img/half-iphone-screenshot.png" class="device-screenshot mt-4">
          </div>
          <div class="screenshot-container">
          </div>
        </div>
      </div>
      <div class="" v-if="!item">
        No Beat Found
      </div>
    </div>
    <div v-else-if="pageView==='raps'">
      <div class="detail-container" v-if="pageView==='raps'">
        <div class="row beat-detail">
          <div class="col-12 d-flex justify-content-center">
            <div class="beat-detail" v-if="item">
              <div id="playRap" class="beat-artwork d-flex justify-content-center align-items-center" :style="{
                  'background': 'url(' + rapArtwork + ') no-repeat center center',
                  }" @click.prevent="playAudio(item, 'rap')">
                <PlayButton :playing="playing"/>
                <router-link :to ="`/beats/${this.item.beat._id}`">
                  <div class="beat-overlay-img d-flex justify-content-center align-items-center"  :style="{
                      'background': 'url(' + `https://cdn.rapchat.me/images/${this.item.beat.imagefile}` + ') no-repeat center center'}"
                      >
                      <div class="blur-overlay d-flex justify-content-center align-items-center">
                        beat
                      </div>
                  </div>
                </router-link>
              </div>
              <div class="beat-meta mt-3">
                <ul class="list-inline d-flex justify-content-around">
                  <li class="list-inline-item">
                    <img src="~/static/img/play-icon-sm.png" class="icon-sm mb-1" v-b-modal.downloadModal>
                    {{item.plays | bigNumber}}
                  </li>
                  <li class="list-inline-item">
                    <img src="~/static/img/comment-icon.png" class="icon-sm mb-1" v-b-modal.downloadModal>
                    {{item.comments.length | bigNumber}}
                  </li>
                  <li class="list-inline-item">
                    <img src="~/static/img/flame-icon.svg" class="icon-sm mb-1" v-b-modal.downloadModal>
                    {{item.likes | bigNumber}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 d-flex justify-content-center">
          <div class="col-12">
            <div class="beat-title text-center">
              {{item.name | formatTitle}}
              <ul class="list-inline tag-list">
                <li class="list-inline-item ml-2" v-for="tag in item.tags">
                  <router-link :to="{ name: 'trending', query: {'tagid': tag._id}}" class="tag-link">
                    #{{tag.name}}
                  </router-link>
                </li>
              </ul>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <div class="media beat-artist d-flex align-items-center">
                <div class="align-self-center artist-avi" :style="{
                    'background': 'url(https://cdn.rapchat.me/images/' + item.owner.profilephoto+ ') no-repeat center center',
                    }" @click="toArtist">
                </div>
                <div class="media-body artist-name ml-2">
                  <router-link :to="`/profile/${item.owner._id}`" class="link-primary rap-artist-link">
                    {{item.owner.username}}
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
          <div class="col-8 cta-button">
            <button id="downloadButton" class="btn btn-primary button-primary cta-button" @click="sendLink">RAP ON THIS BEAT</button>
          </div>
        </div>
        <div class="row mt-5" v-if="item && beatTrendingRaps">
          <div class="col-12 text-left">
            <span class="section-header" v-if="beatTrendingRaps">MORE RAPS OVER THIS BEAT</span>
            <BeatTrendingRaps :beatTrendingRaps="beatTrendingRaps" :loadingFirst="loadingFirst" :loadingRaps="loadingRaps" v-on:load-more="loadMoreTrendingRaps"/>
          </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
          <div class="col-10 text-center">
            <h4 class="download-header">CREATED WITH RAPCHAT</h4>
            <div class="download-copy mt-3">Thousands of free beats, studio quality recording, vocal effects, and over 2M rappers to collab with.</div>
          </div>
        </div>
        <div class="row mt-4 d-flex justify-content-center">
          <div class="col-12 text-center">
            <button id="downloadButton" class="btn btn-primary button-primary w-75" @click="sendLink">GET THE APP</button>
            <div class="screenshot-container">
              <img src="~/static/img/half-iphone-screenshot.png" class="device-screenshot mt-4">
              <div class="dynamic-image-overlay" :style="{
                  'background': 'url(' + beatArtwork + ') no-repeat center center',
                  }">
              </div>
            </div>
          </div>
        </div>
        <div class="" v-if="!item">
          No Beat Found
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import isPlayer from '~/mixins/isPlayer'
    import { PopoverTest } from '~/utils/ab-tester.js'
    import BeatTrendingRaps from '~/components/elements/BeatTrendingRaps'
    import PlayButton from '~/components/elements/PlayButton'
    import storeSong from '~/mixins/storeSong.js'
    import axios from '~/plugins/axios'
    import filters from '~/utils/filters'
    import { mapState, mapActions } from 'vuex'

    export default {
        name: "RapPlayerMobile",
        mixins: [isPlayer, storeSong],
        components: {
          BeatTrendingRaps,
          PlayButton
        },
        props: {
            'pageView': {type: String, required: false, default: 'raps'}
        },
        data () {
            return {
                modal: false,
                route: this.$route,
                popoverVisible: false,
                popover: false,
                popoverShown: false,
                audio: null,
                beatTrendingRaps: null,
                rapsHidden: true,
                songs: [],
                loadingFirst: true,
                loadingRaps: false,
                limit: 10,
                skip: 0
            }
        },
        computed: {
          ...mapState({
            currentUser: state => state.currentUser,
            currentTrack: state => state.song,
            isPlaying: state => state.isPlaying
          }),
          beatArtwork () {
            if (this.item.image.slice(-6) === '-thumb') {
              //trimming of '-thumb' to get the full size image
              return this.item.image.slice(0,-6)
            } else {
              return this.item.image
            }
          },
          producerAvi () {
            if (this.item.producerInfo) {
              return this.item.producerInfo.profilephoto || null
            } else {
              return null
            }
          },
          rapArtwork () {
            let blob = this.item.artworkUrl || this.item.beat.imagefile
            return `https://cdn.rapchat.me/images/${blob}`
          },
          audioSource () {
            return `https://cdn.rapchat.me/beats/${item.blobname}`
          },
          playing () {
            if (this.currentTrack) {
              if (this.currentTrack.id === this.item.id && this.isPlaying) {
                return true
              } else {
                return false
              }
            } else {
              return false
            }
          }
        },
        watch: {
        //   playing () {
        //       let self = this
        //       setTimeout(function () {
        //         if (self.popover) {
        //           self.showPopover()
        //         }
        //       }, 8000 )
        //     }
        // },
        },
        beforeMount () {
          let beatId;
          if (this.pageView === 'beats') {
            beatId = this.$nuxt.$router.currentRoute.params.id
            this.item.type = 'beat'
          } else {
            beatId = this.item.beat._id
            this.item.type='rap'
          }
          axios.get(`https://api.rapchat.me/api/discover/beattrending?beatid=${beatId}&limit=10&skip=0`, {headers:{ 'X-ZUMO-AUTH':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQ1MjAxMDQ0NTI2LCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.Kxq4rOa8dwWo-jMKi64SlHOO6C5_RJiaBILyKa2Adgg'}}).then(res => {
            this.beatTrendingRaps = res.data.raps
            this.beatTrendingRaps.forEach(rap => {
              rap.id = rap.id
              rap.title = rap.name
              let img = rap.artworkUrl ? rap.artworkUrl : rap.beat.imagefile
              rap.image = `https://cdn.rapchat.me/images/${img}`
              rap.artist = rap.owner.username
              rap.audio = rap.id
              rap.likes = rap.likes,
              rap.plays = rap.plays,
              rap.blobname = rap.id,
              rap.userId = rap.owner._id,
              rap.type = 'rap'
            })
            this.songs = this.beatTrendingRaps
            this.loadingFirst = false
          }).catch(e => {
            console.log(e.response)
            this.loadingFirst = false
          })
        },
        methods: {
            ...mapActions({
              likeBeat: 'likeBeat',
              likeRap: 'likeRap'
            }),
            sendLink(event) {
              this.logEvent(event)
              if (this.pageView === "beats") {
                branch.link({
                    tags: [],
                    channel: 'Web',
                    feature: 'shareBeatPrompt',
                    data: {
                        _id : this.$route.params.id,
                        og_canonical: 'beats/' + this.$route.params.id,
                        canonical_identifier:'beats/' + this.$route.params.id,
                        isDeepLinkedBeat: true,
                        android_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        ios_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        web_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        og_title: this.title,
                        og_artist: this.artist,
                        og_image_url: 'https://cdn.rapchat.me/images/' + this.item.imagefile,
                        _id: this.$route.params.id,
                    }
                }, function (err, link) {
                    console.log(err, link);
                    window.location.replace(link)
                });
              } else {
                branch.link({
                    tags: [],
                    channel: 'Web',
                    feature: 'shareRapPrompt',
                    data: {
                        _id : this.$route.params.id,
                        og_canonical: 'rap/' + this.$route.params.id,
                        canonical_identifier:'rap/' + this.$route.params.id,
                        isDeepLinkedRap: true,
                        android_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        ios_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        web_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        og_title: this.title,
                        og_artist: this.artist,
                        og_image_url: 'https://cdn.rapchat.me/images/' + this.imagefile,
                        likes: this.likes,
                        plays: this.plays,
                        isPublic: true,
                        _id: this.$route.params.id,
                        beatId: this.item.beat._id,
                        beat: this.item.beat._id,
                        producerName: this.item.beat.artist,
                        beatImageFile: this.imagefile,
                        beatName: this.item.beat.title,
                        ownerProfileImagePath: this.item.owner.profilephoto,
                        owner: this.item.owner._id,
                        name: this.title,
                        username: this.item.owner.username
                    }
                }, function (err, link) {
                    console.log(err, link);
                    window.location.replace(link)
                });
              }
            },
          loadMoreTrendingRaps () {
            this.skip += 10
            let beatId
            if (this.pageView === 'beats') {
              beatId = this.$nuxt.$router.currentRoute.params.id
            } else {
              beatId = this.item.beat._id
            }
            this.loadingRaps = true
            let queryString =  `${beatId}&limit=${this.limit}&skip=${this.skip}`
            axios.get(`https://api.rapchat.me/api/discover/beattrending?beatid=${queryString}`, {headers:{ 'X-ZUMO-AUTH':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6MH0.eyJleHAiOjM2MDQ1MjAxMDQ0NTI2LCJpc3MiOiJ1cm46bWljcm9zb2Z0OndpbmRvd3MtYXp1cmU6enVtbyIsInZlciI6MiwiYXVkIjoiQ3VzdG9tIiwidWlkIjoiQ3VzdG9tOkU1NUQ4RDBELTZDRjAtNDk3Ny1CNkZELUFGREFCOEVBM0RFMSJ9.Kxq4rOa8dwWo-jMKi64SlHOO6C5_RJiaBILyKa2Adgg'}}).then(res => {
              let raps = res.data.raps
              raps.forEach(rap => {
                rap.id = rap.id
                rap.title = rap.name
                let img = rap.artworkUrl ? rap.artworkUrl : rap.beat.imagefile
                rap.image = `https://cdn.rapchat.me/images/${img}`
                rap.artist = rap.owner.username
                rap.audio = rap.id
                rap.likes = rap.likes
                rap.plays = rap.plays
                rap.blobname = rap.id
                rap.userId = rap.owner._id
                rap.type = 'rap'
              })
              this.beatTrendingRaps = this.beatTrendingRaps.concat(raps)
              this.songs = this.beatTrendingRaps
              this.loadingRaps = false
            }).catch(e => {
              console.log(e)
              this.loadingRaps = false
            })
          },
          playAudio (track, type) {
            if (this.item.id !== this.currentTrack.id ) {
              //change the track
              this.$store.commit('updateSong', track)
              this.$store.commit('updateView', type)
            } else if (this.item.id === this.currentTrack.id) {
              //toggle playing
              this.$store.commit('togglePlaying')
            }
          },
          toBeat () {
            this.$nuxt.$router.push({path:`/beats/${this.item.beat._id}`})
          },
          toArtist () {
            this.$nuxt.$router.push({path:`/profile/${this.item.owner._id}`})
          },
          toProducer () {
            if (this.item.producerId) {
              this.$nuxt.$router.push({path: `/profile/${this.item.producerId}`})
            }
          },
          handleButtonClick (event) {
            this.modal = true
            this.logEvent(event)
          },
          handleDownloadClick (event) {
            this.logEvent(event)
          },
          showPopover (event) {
            if (!this.popoverShown) {
              this.popoverVisible = true
              this.popoverShown = true
              this.logEvent('Popover Shown')
            }
          },
          handlePopoverButtonClick (event) {
            this.logEvent('Popover Download Button Click')
          },
          likeOrDislikeBeat (liked) {
            if (this.currentUser) {
              this.likeBeat({beatId: this.item._id, favorite: liked}).then(res => {
                if (res.data.success) {
                  this.item.isFavorite = liked
                  if (liked) {
                    this.item.beatFavoritesCount += 1
                  } else {
                    this.item.beatFavoritesCount -= 1
                  }
                }
              }).catch(e => {
                console.log(e)
              })
            } else {
              this.$root.$emit('bv::show::modal', 'downloadModal')
            }
          },
          likeOrDislikeRap (liked) {
            if (this.currentUser) {
              this.likeRap({rapId: this.item._id, liked: liked}).then(res => {
                if (res.data.success) {
                  this.item.liked = liked
                  if (liked) {
                    this.item.likes += 1
                  } else {
                    this.item.likes -= 1
                  }
                }
              }).catch(e => {
                console.log(e)
              })
            } else {
              this.$root.$emit('bv::show::modal', 'downloadModal')
            }
          },
          logEvent (event) {
            let variant = this.popover
            let data = {'popoverVisible': variant}
            amplitude.logEvent('Rap View - ' + event, data)
          }
        },
        filters: {
          bigNumber (number) {
            return filters.bigNumber(number)
          },
          formatTitle (title) {
            return filters.formatTitle(title)
          }
        }
      }
</script>
<style lang="stylus">
  .detail-container {
    width: 100%;
    color: white
    .beat-artwork {
      width: 175px;
      height: 175px;
      background: #333;
      border-radius: 12px;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
      cursor: pointer;
    }
    .play-icon{
      transition: 0.1s opacity;
      opacity: .6;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
    .play-button {
        opacity: 1;
        z-index: 10;
        transition: 0.1s opacity;
        cursor: pointer;
    }
    .beat-title {
      font-size: 20px;
      font-weight: 900;
    }
    .artist-name {
      color: #8c8046;
      font-size: 14px;
      font-weight: 900;
    }
    .button-primary {
      width: 100%;
      height: 45px;
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      font-weight: 900;
      outline:none;
      border:none;
      cursor: pointer;
    }
    .button-primary:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    .button-primary:active {
      color:black
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    .button-primary:hover {
      color: rgb(0,0,0)
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
    .section-header {
      font-size: 14px;
      color: gray;
      letter-spacing: 3px;
    }
    .rap-index {
      color: #93a8b3;
    }
    .rap-artwork {
      height: 40px;
      width: 40px;
      background: #333;
      border-radius: 12px;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .beat-overlay-img{
      height:50px;
      width: 50px;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: absolute;
      background-size: cover !important;
      z-index: 100;
      right: -15px;
      bottom: -15px;
      color: white;
      font-weight: 900;
      &:hover {
        cursor: pointer;
      }
    }
    .rap-title {
      font-size: 14px;
      font-weight: bold;
    }
    .rap-artist{
      font-size: 12px;
      opacity: .6;
    }
    .beat-detail-rap-container{

    }
    .download-header{
      font-size: 22px;
      font-weight: 900;
    }
    .download-copy {
      font-size: 18px;
      font-weight: 300;
    }
    .artist-avi {
      height: 40px;
      width: 40px;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .options-icon {
      color: #93a8b3;
    }
    .icon-sm {
       margin-bottom: 8px;
       bottom: 0px;
       height: 16px;
       svg, img, {
         stroke-width: 20px;
       }
     }
    .device-screenshot {
      position: relative;
      top: 0;
      left: 0;
      width: 80%;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(0,0,0,0.43881302521008403) 90%);
    }
    .tag-list{
      font-size: 12px;
      color:  #93a8b3;
    }
    .tag-link {
      color:  #93a8b3;
      underline: none !important;
      text-decoration: none !important;
      &:active {
        color: #93a8b3;
        underline: none !important;
      }
    }
    .placeholder-avi {
      height: 40px;
      width: 40px;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .blur-overlay {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: rgba(0,0,0,.3)
    }
  }
    .mobile-player{
        .player {
            position: static;
            z-index: 0 !important;
        }
        .item-name {
            font-size: 16px;
        }
        .beats-view {
            .item-name {
                width: 85%;
                float: left;
            }
            img {
                float: right;
            }
        }
        .user-name {
            font-size: 13px !important;
        }
        /* The Modal (background) */
        .modal {
            display: block; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 75px;
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(16, 16, 16, 0.8); /* Black w/ opacity */

            /* Modal Content */
            .modal-content {
                width: 65%;
                margin: auto;
                background-color: transparent
                .modal-buttons {
                    position: relative
                    .close {
                        position: absolute;
                        top: -10px;
                        right: -20px;
                    }
                    .close:hover, .close:focus {
                        cursor: pointer;
                    }
                }
                .primary-button, a {
                    margin: 0 auto;
                    font-size: 15px !important;
                }
                .secondary-button, a {
                    margin: 0 auto;
                    font-size: 15px !important;
                }
            }
        }
        .image{
            width: 115px;
            height: 115px;
            border-radius: 4px;
            position: relative;
            background-size: cover !important;
            .play-button {
                opacity: 1;
                background: hsla(0,0%,55%,.3);
                height: 69px;
                width: 69px;
                border-radius: 50%;
                border: 3px solid #fff;
                -webkit-transition: opacity .1s;
                transition: opacity .1s;
                svg {
                   width: 28px;
                   height: 28px;
                }
            }
        }
    }
    /* popover transition animation */
    .fade-enter-active, .fade-leave-active {
      transition: opacity .7s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }

    .popover-body {
      position:fixed
      width: 250px;
      height: 310px;
      border-radius: 5px;
      background-color: #161616;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      .popover-button {
        bottom: 10px;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .popover-title{
      font-weight: bold;
    }
    .popover-header-img-container{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .popover-header-img{
      width: 50px;
      margin-left: auto;
      margin-right: auto;
      display:block;
    }
    .popover-close {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .popover-close:hover, .popover-close:focus {
        cursor: pointer;
    }
</style>
