<template>
  <div class="row">
    <div class="share-detail-container col-12">
      <div class="row beat-detail">
        <div class="col-12 artist-header d-flex justify-content-center align-items-end py-0">
          <div class="d-flex justify-content-center mb-3">
            <div class="media beat-artist d-flex align-items-center">
              <div class="artist-avi" :style="{
                  'background': 'url(https://cdn.rapchat.me/images/' + item.owner.profilephoto+ ') no-repeat center center',
                  }" @click="toArtist">
              </div>
              <div class="media-body artist-name ml-2">
                <router-link :to="`/profile/${item.owner._id}`" class="link-primary rap-artist-link">
                  {{item.owner.username}}
                </router-link>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex h-100 justify-content-center share-body py-0">
          <img src="~/static/img/soundwave_white.svg" height="" class="sound-wave mx-0">
          <div class="rap-item w-100" v-if="item">
            <div class="row d-flex justify-content-center">
              <div class="col-6">
                <div id="playRap" class="beat-artwork d-flex justify-content-center text-center" :style="{
                    'background': `url(${rapArtwork}) no-repeat center center`,
                    }" @click.prevent="playSound(item)">
                  <PlayButton :playing="isPlaying" style="top: 50%;
                  transform: translateY(-50%);"/>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center rap-title text-center mt-2" ref="titleBox">
              {{item.name | formatTitle}}
            </div>
            <div class="seeker mx-2">
                <div class="flex column">
                    <div class="flex row justify-space-between mx-0">
                        <input type="range" class="seek-bar audio-seek mt-2" id="sh-seek-bar" value="0"/>
                    </div>
                    <div class="flex row justify-space-between mx-0 mt-2">
                      <span class="white--color body--1" v-if="currentTime">{{ currentTime }}</span>
                      <span class="white--color body--1"
                            v-html="duration !== 'NaN:NaN' ? duration: '0:00'">
                          </span>
                    </div>
                </div>
            </div>
            <div class="beat-meta text-center d-flex justify-content-center">
              <div class="like-container">
                <div class="rap-like-button d-flex justify-content-center align-items-center">
                  <div @click="flameRap" class="flame-img d-flex align-items-center">
                    <!-- <img src="~/static/img/flame-icon.svg" class="icon-lg" v-if="!liked"> -->
                    <!-- <template v-else-if="finished && liked"> -->
                      <!-- <transition name="fade"> -->
                    <img src="~/static/img/fire emoji.svg">
                      <!-- </transition> -->
                    <!-- </template> -->
                    <div id="flameContainer" class="flames">
                      <AnimatedFlame v-for="(flame, index) in flames" v-if="flames.length > 0" :key="index"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center likes-count mt-2">
              {{item.likes | bigNumber}}
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-4 cta-button-container">
          <transition name="slide-up" v-on:after-enter="animationFinished">
            <template v-if="didPlay">
              <button id="downloadButton" class="btn btn-primary button-primary cta-button d-flex justify-content-center" @click="sendLink">
                <span v-if="finished" class="d-flex align-items-center justify-content-center text-center">
                  RECORD YOUR OWN
                <!-- <img src="~/static/img/arrow-pointing-to-right.svg" height="40px" class="mb-1"> -->
                  <icon name="long-arrow-alt-right" class="ml-2 mb-1" color="white" scale="2"></icon>
                </span>
              </button>
            </template>
          </transition>
        </div>
      </div>
      <div class="text-center" v-if="!item">
        <h1>Hmm, we couldn't find what you were looking for. It may have been deleted by the owner.</h1>
        <div>
          <p>Check out some <router-link path="/trending">trending</router-link> raps.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import Icon from 'vue-awesome/components/Icon'

    import isPlayer from '~/mixins/isPlayer'
    import { PopoverTest, ButtonCopyTest } from '~/utils/ab-tester.js'
    import BeatTrendingRaps from '~/components/elements/BeatTrendingRaps'
    import PlayButton from '~/components/elements/PlayButton'
    import AnimatedFlame from '~/components/elements/AnimatedFlame'
    import storeSong from '~/mixins/storeSong.js'
    import axios from '~/plugins/axios'
    import filters from '~/utils/filters'
    import { mapState, mapActions } from 'vuex'

    export default {
        name: "SharePlayerMobile",
        mixins: [isPlayer, storeSong],
        components: {
          Icon,
          BeatTrendingRaps,
          PlayButton,
          AnimatedFlame
        },
        props: {
            'pageView': {type: String, required: false, default: 'raps'}
        },
        data () {
            return {
                modal: false,
                route: this.$route,
                popoverVisible: false,
                popover: false,
                popoverShown: false,
                audio: null,
                flames: [],
                liked: false,
                finished: false,
                songs: [],
                limit: 10,
                skip: 0,
                currentTime: '0:00',
                duration: '0:00',
                didPlay: false,
                playerInstance: {},
                seekedTo: 0,
                playCounted: false
            }
        },
        computed: {
          ...mapState({
            currentUser: state => state.currentUser,
            currentTrack: state => state.song,
            isPlaying: state => state.isPlaying
          }),
          beatArtwork () {
            if (this.item.image.slice(-6) === '-thumb') {
              //trimming of '-thumb' to get the full size image
              return this.item.image.slice(0,-6)
            } else {
              return this.item.image
            }

          },
          producerAvi () {
            if (this.item.producerInfo) {
              return this.item.producerInfo.profilephoto || null
            } else {
              return null
            }
          },
          rapArtwork () {
            let blob = this.item.artworkUrl || this.item.beat.imagefile
            return `https://cdn.rapchat.me/images/${blob}`
          },
          audioSource () {
            return `https://cdn.rapchat.me/beats/${item.blobname}`
          },
          playing () {
            if (this.currentTrack) {
              if (this.currentTrack.id === this.item.id && this.isPlaying) {
                return true
              } else {
                return false
              }
            } else {
              return false
            }
          },
        },
        watch: {
          isPlaying () {
            if (this.isPlaying) {
              this.playerInstance.paused ? this.playerInstance.play() : ''
            } else {
              !this.playerInstance.paused ? this.playerInstance.pause() : ''
            }
          },
          currentTime () {
            if (this.playerInstance.currentTime >= 2 && this.isPlaying && !this.playCounted && !this.seekedTo) {
              this.incrementPlayCount(this.item)
            } else if (this.seekedTo && !this.playCounted) {
              if (this.playerInstance.currentTime - this.seekedTo >= 2) {
                this.incrementPlayCount(this.item)
              }
            }
          }
        },
        beforeMount () {
          this.item.type='rap'
        },
        mounted () {
          // create the seek bar
          this.playerInstance = document.createElement("AUDIO");
          let seekBar = document.getElementById('sh-seek-bar')
          seekBar.addEventListener('input', () => {
              let seconds = this.playerInstance.duration * seekBar.value / 100
              this.playerInstance.currentTime = seconds
              this.changeSeek(seconds)
          })
          if (!process.server) {
            window.player = this;
          }
          this.playerInstance.onplay = () => {
              this.$store.state.isPlaying = true;
          }
          this.playerInstance.onpause = () => {
              this.$store.state.isPlaying = false;
          }
          this.setAudioDuration()
        },
        methods: {
            ...mapActions({
              likeBeat: 'likeBeat',
              likeRap: 'likeRap'
            }),
            sendLink (event) {
              this.logEvent('App Link Clicked', {...this.item, path: this.$nuxt.$route.path})
              if (this.pageView === "beats") {
                branch.link({
                    tags: [],
                    channel: 'Web',
                    feature: 'shareBeatPrompt',
                    data: {
                        _id : this.$route.params.id,
                        og_canonical: 'beats/' + this.$route.params.id,
                        canonical_identifier:'beats/' + this.$route.params.id,
                        isDeepLinkedBeat: true,
                        android_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        ios_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        web_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        og_title: this.title,
                        og_artist: this.artist,
                        og_image_url: 'https://cdn.rapchat.me/images/' + this.item.imagefile,
                        _id: this.$route.params.id,
                    }
                }, function (err, link) {
                    console.log(err, link);
                    window.location.replace(link)
                });
              } else {
                branch.link({
                    tags: [],
                    channel: 'Web',
                    feature: `shareRapWeb`,
                    data: {
                        _id : this.$route.params.id,
                        og_canonical: 'rap/' + this.$route.params.id,
                        canonical_identifier:'rap/' + this.$route.params.id,
                        isDeepLinkedRap: false,
                        android_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        ios_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        web_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        og_title: this.title,
                        og_artist: this.artist,
                        og_image_url: 'https://cdn.rapchat.me/images/' + this.imagefile,
                        likes: this.likes,
                        plays: this.plays,
                        isPublic: true,
                        _id: this.$route.params.id,
                        beatId: this.item.beat._id,
                        beat: this.item.beat._id,
                        producerName: this.item.beat.artist,
                        beatImageFile: this.imagefile,
                        beatName: this.item.beat.title,
                        ownerProfileImagePath: this.item.owner.profilephoto,
                        owner: this.item.owner._id,
                        name: this.title,
                        username: this.item.owner.username
                    }
                }, function (err, link) {
                    console.log(err, link);
                    window.location.replace(link)
                });
              }
          },
          formatTime (seconds) {
              let minutes = Math.floor(seconds / 60)
              let sec = Math.round(seconds - minutes * 60)
              if (sec < 10) sec = '0' + sec
              return minutes + ':' + sec
          },
          togglePlay () {
              this.$store.commit('togglePlaying')
              this.playerInstance.paused ? this.playerInstance.play() : this.playerInstance.pause();
          },
          updateSeek () {
              this.seekTrack(this.playerInstance.currentTime)
              this.currentTime = this.formatTime(this.playerInstance.currentTime)
              this.duration = this.formatTime(this.playerInstance.duration)
          },
          seekTrack (seconds) {
              let percentageComplete = seconds / this.playerInstance.duration * 100
              let val = this.playerInstance.currentTime / this.playerInstance.duration
              let seekBar = document.getElementById('sh-seek-bar')
              seekBar.style.backgroundImage = '-webkit-gradient(linear, left top, right top, color-stop(' + val + ', white), color-stop(' + val + ', #777))'
              seekBar.value = percentageComplete
          },
          changeSeek (seconds) {
              this.$store.state.isPlaying = false
              this.playerInstance.paused && this.playerInstance.play();
              this.seekTrack(seconds)
              // this.playing = true
              this.$store.state.isPlaying = true
              this.seekedTo = this.playerInstance.currentTime
          },
          setAudioDuration () {
            this.playerInstance.addEventListener('loadedmetadata', () => {
              var seconds = this.duration
              var duration = this.formatTime(seconds)
              this.duration = duration
              this.currentTime = this.formatTime(0)
            })
          },
          playSound (track) {
            if (!this.didPlay) {
              try {
                this.logEvent('rap played', {
                  view: this.$nuxt.$route.name,
                  rap_id: track._id,
                  name: track.name
                })
              } catch (e) {
                console.log(e)
              }
              track.blobname = track.blobname ? track.blobname : track._id
              track.src = track.type === 'rap' ? `https://cdn.rapchat.me/raps/${track.blobname}` : `https://cdn.rapchat.me/beats/${track.blobname}.m4a`
              this.playerInstance.src = track.src
              this.playerInstance.load()
              this.playerInstance.ontimeupdate = this.updateSeek
              this.playerInstance.play();
              this.$store.state.isPlaying = true;

              setTimeout(()=> {
                this.didPlay = true
              }, 5000)
            } else {
              this.togglePlay()
            }
          },
          incrementPlayCount (track) {
            let headers = {}
            if (this.currentUser) {
              headers = {'x-zumo-auth': this.currentUser.token}
            }
            if (track.type === 'beat') {
              let id = track.beatId || track.options[0]._id
              axios({
                method: 'POST',
                headers: headers,
                url: '/beats/plays',
                data: {beatId: id}
              }).then((response) => {
              }).catch((error) => {
                console.log(error);
              });
            } else {
              axios({
                method: 'POST',
                headers: headers,
                url: '/rapincreaseplays?deviceType=Web',
                data: {
                  rapid: track.id || track._id,
                  arrayIndex: this.songIndex,
                  playIndex: this.playIndex
                }
              }).then(res => {
                if (res.data.success) {
                  // do nothing
                }
              }).catch(e => {
                console.log(e)
              })
              // do this here so we don't double count.

            }
            this.playCounted = true
          },
          toBeat () {
            this.$nuxt.$router.push({path:`/beats/${this.item.beat._id}`})
          },
          toArtist () {
            this.$nuxt.$router.push({path:`/profile/${this.item.owner._id}`})
          },
          toProducer () {
            if (this.item.producerId) {
              this.$nuxt.$router.push({path: `/profile/${this.item.producerId}`})
            }
          },
          handleButtonClick (event) {
            this.modal = true
            this.logEvent(event)
          },
          handleDownloadClick (event) {
            this.logEvent(event)
          },
          showPopover (event) {
            if (!this.popoverShown) {
              this.popoverVisible = true
              this.popoverShown = true
              this.logEvent('Popover Shown')
            }
          },
          handlePopoverButtonClick (event) {
            this.logEvent('Popover Download Button Click')
          },
          likeOrDislikeBeat (liked) {
            if (this.currentUser) {
              this.likeBeat({beatId: this.item._id, liked: liked}).then(res => {
                if (res.data.success) {
                  this.item.isFavorite = true
                }
              }).catch(e => {
                console.log(e)
              })
            } else {
              this.$root.$emit('bv::show::modal', 'downloadModal')
            }
          },
          likeOrDislikeRap (liked) {
            if (this.currentUser) {
              this.likeRap({rapId: this.item._id, liked: liked}).then(res => {
                if (res.data.success) {
                  this.item.liked = liked
                  if (liked) {
                    this.item.likes += 1
                  } else {
                    this.item.likes -= 1
                  }
                }
              }).catch(e => {
                console.log(e)
              })
            } else {
              this.$root.$emit('bv::show::modal', 'downloadModal')
            }
          },
          flameRap () {
            this.logEvent('flame clicked', {view: this.$nuxt.$route.name, ...this.item})
            let c = (Math.random() * (1.6-1.2) + 1.2).toFixed(1)
            this.flames.push(c)
            this.item.likes += 1
            // let len = this.flames.length
            // window.setTimeout(() => {
            //   this.flames.splice(len-1,1)
            // }, 900)
          },
          animationFinished () {
            this.finished = true
            let shareRapVariation = this.shareVariation && this.sharedLink
            let shared = this.sharedLink
          },
          logEvent (event, data) {
            if (process.browser) {
              if (this.currentUser) {
                let id = new amplitude.Identify()
                  .set('username', this.currentUser.username)
                  .set('user_id', this.currentUser._id)
                  .set('email', this.currentUser.email)
                amplitude.getInstance().identify(id)
              }
              let ampl = amplitude.getInstance()
              ampl.init('e93869e9ffb55d729fa1eddcd851786f')
              ampl.logEvent(`${event}`, data)
            }
          }
        },
        filters: {
          bigNumber (number) {
            return filters.bigNumber(number)
          },
          formatTitle (title) {
            return filters.formatTitle(title)
          }
        }
      }
</script>
<style lang="stylus" scoped>
  .share-detail-container {
    width: 100%;
    min-height: 90vh
    color: white
    overflow: hidden
    .beat-artwork {
      width 100%
      padding-top: 100%
      background: #333
      border-radius: 12px;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
      cursor: pointer;
    }
    .play-icon{
      transition: 0.1s opacity;
      opacity: .6;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
    .play-button {
        opacity: 1;
        z-index: 10;
        transition: 0.1s opacity;
        cursor: pointer;
    }
    .rap-title {
      font-size = 24px
      line-height = 1.4
      lines-to-show = 1
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: font-size*line-height*lines-to-show
      margin: 0 auto;
      font-size: font-size;
      line-height: line-height;
      -webkit-line-clamp: lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 900
    }
    .artist-name {
      color: #8c8046;
      font-size: 22px;
      font-weight: 400;
    }
    .button-primary {
      width: 300px;
      height: 8vh;
      max-height: 65px;
      border-radius: 95px;
      background: linear-gradient(rgb(6, 179, 240), rgb(1, 118, 255))
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      font-weight: 900;
      font-size: 20px;

      outline:none;
      border:none;
      cursor: pointer;
    }
    .button-primary:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    .button-primary:active {
      color: white
      border: none !important;
      bckground: linear-gradient(rgb(6, 179, 240), rgb(1, 118, 255))
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    .button-primary:hover {
      color: rgb(0,0,0)
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
    .cta-button-container {
      position absolute
      bottom 17%
      left 0
      right 0
      margin-left auto
      margin-right auto
    }
    .section-header {
      font-size: 14px;
      color: gray;
      letter-spacing: 3px;
    }
    .rap-index {
      color: #93a8b3;
    }
    .rap-artwork {
      height: 40px;
      width: 40px;
      background: #333;
      border-radius: 12px;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .beat-overlay-img{
      height:50%;
      width: 50%;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: absolute;
      background-size: cover !important;
      z-index: 100;
      right: -15px;
      bottom: -15px;
      color: white;
      font-weight: 900;
      &:hover {
        cursor: pointer;
      }
    }
    .share-body {
      flex 0 1 auto
    }
    .artist-header {
      max-height 70px
      flex 0 0 auto
    }
    .rap-artist{
      font-size: 12px;
      opacity: .6;
    }
    .beat-detail {
      height calc(80vh - 65px)
    }
    .download-header{
      font-size: 22px;
      font-weight: 900;
    }
    .download-copy {
      font-size: 18px;
      font-weight: 300;
    }
    .artist-avi {
      height: 45px;
      width: 45px;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .options-icon {
      color: #93a8b3;
    }
    .icon-sm {
       margin-bottom: 8px;
       bottom: 0px;
       height: 16px;
       svg, img, {
         stroke-width: 20px;
       }
     }
     .beat-meta {
       margin-top: 1vh
     }
     .icon-lg {
       height: 60px;
     }
     .like-container {
       width 12vh
     }
     .rap-like-button {
       width 100%
       padding-top 100%
       border-radius 100%
       background rgb(45,45,45)
     }
     .flame-img {
       position absolute
       img {
         width 10.5vh
         transform translateY(-50%)
         left 0
         right 0
       }
     }
     .likes-count {
      font-size 22px
     }
    .device-screenshot {
      position: relative;
      top: 0;
      left: 0;
      width: 80%;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(0,0,0,0.43881302521008403) 90%);
    }
    .tag-list{
      font-size: 12px;
      color:  #93a8b3;
    }
    .tag-link {
      color:  #93a8b3;
      underline: none !important;
      text-decoration: none !important;
      &:active {
        color: #93a8b3;
        underline: none !important;
      }
    }
    .placeholder-avi {
      height: 40px;
      width: 40px;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .blur-overlay {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: rgba(0,0,0,.3)
    }
    .sound-wave {
      width: 150%;
      height: 50px;
      opacity .25
      position absolute
      top 10%
    }
    .seeker {
      .seek-bar {
          flex: 2
          height: 2px;
          cursor: pointer !important;
          -webkit-appearance: none;
          background: #fff;
          width: 100%;
          border: 0px solid #fff
          &:focus{
            outline: none;
          }
      }

      .seek-bar::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 10px;
          height: 10px;
          border-radius: 50%
          background: white
          cursor: pointer;
          &:focus{
            outline: none;
          }
      }
      .seek-bar::-ms-track {
        height .1px;
        background transparent
        border-color transparent
        color transparent
      }
    }
    .slide-up-enter-active {
      animation: slideUp .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      /* animation-delay: 2.5s */
      /* transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
    }
    @keyframes slideUp {
      0% {
        opacity: 0
        transform: translateY(20%) scaleX(.4)
      }
      50% {
        transform: translateY(0%) scaleX(.4)
        opacity: 1
      }
      100% {
        color: white
        transform: scaleX(1)
      }
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  }
    .mobile-player{
        .player {
            position: static;
            z-index: 0 !important;
        }
        .item-name {
            font-size: 16px;
        }
        .beats-view {
            .item-name {
                width: 85%;
                float: left;
            }
            img {
                float: right;
            }
        }
        .user-name {
            font-size: 13px !important;
        }
        /* The Modal (background) */
        .modal {
            display: block; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 75px;
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(16, 16, 16, 0.8); /* Black w/ opacity */

            /* Modal Content */
            .modal-content {
                width: 65%;
                margin: auto;
                background-color: transparent
                .modal-buttons {
                    position: relative
                    .close {
                        position: absolute;
                        top: -10px;
                        right: -20px;
                    }
                    .close:hover, .close:focus {
                        cursor: pointer;
                    }
                }
                .primary-button, a {
                    margin: 0 auto;
                    font-size: 15px !important;
                }
                .secondary-button, a {
                    margin: 0 auto;
                    font-size: 15px !important;
                }
            }
        }
        .image{
            width: 115px;
            height: 115px;
            border-radius: 4px;
            position: relative;
            background-size: cover !important;
            .play-button {
                opacity: 1;
                background: hsla(0,0%,55%,.3);
                height: 69px;
                width: 69px;
                border-radius: 50%;
                border: 3px solid #fff;
                -webkit-transition: opacity .1s;
                transition: opacity .1s;
                svg {
                   width: 28px;
                   height: 28px;
                }
            }
        }
    }
    /* popover transition animation */
    .fade-enter-active, .fade-leave-active {
      transition: opacity .7s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }

    .popover-body {
      position:fixed
      width: 250px;
      height: 310px;
      border-radius: 5px;
      background-color: #161616;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      .popover-button {
        bottom: 10px;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .popover-title{
      font-weight: bold;
    }
    .popover-header-img-container{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .popover-header-img{
      width: 50px;
      margin-left: auto;
      margin-right: auto;
      display:block;
    }
    .popover-close {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .popover-close:hover, .popover-close:focus {
        cursor: pointer;
    }

</style>
