<template>
  <div class="row no-gutters w-100">
    <div class="share-detail-container col-12 w-100">
      <div class="video-container" :class="didPlay ? 'active' : ''" :style="{'background': `url(${rapArtwork}) no-repeat center center`}">
        <div class="" @click="playVideo()">
            <video id="video" class="share-video-player" :src="`https://cdn.rapchat.me/raps/${item.blobname}`" ref="videoPlayer" height="100%" v-show="didPlay" playsinline>
            </video>
            <PlayButton :playing="playing" class="video-play-button" v-if="!playing" style="{width: 10%}"/>
            <div v-if="videoLoading && playing && !videoLoading" class="small-spinner d-flex justify-content-center align-items-center"></div>
          <div class="video-overlay d-flex justify-content-between mb-2">
            <div class="media align-self-end d-flex align-items-center">
              <img :src="`https://cdn.rapchat.me/images/${item.owner.profilephoto}`" height="40px" width="40px" class="rounded-circle m-2"/>
              <div class="media-body font-weight-bold">
                <img class="verified-check" src="~/static/img/verified-check-blue.png" height="20px" v-if="item.owner.verifiedArtist">
                {{item.owner.username}} <a href="#" @click.stop="sendLink()" class="link-secondary follow-link">follow</a>
              </div>
            </div>
            <div class="control-sidebar d-flex" v-if="didPlay" @click.stop="sendLink()">
              <ul class="list-unstyled mr-3">
                <li class="mb-3 text-center">
                  <img :src="`https://cdn.rapchat.me/images/${item.beat.imagefile || item.beat['imagefile-small']}`" height="40px" width="40px" class="rounded-circle beat-small-img" :class="playing ? 'spin' : ''"/>
                </li>
                <li class="mb-1 text-center">
                  <img src="~/static/img/flame-icon-filled.svg" height="30px"/>
                </li>
                <li class="mb-1 text-center">
                  <img src="~/static/img/share-icon-filled.svg" height="30px"/>
                </li>
                <li class="mb-1 text-center">
                  <img src="~/static/img/comment-icon-filled.svg" height="30px"/>
                </li>
                <li class="text-center">
                  <img src="~/static/img/more.svg" height="30px"/>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="button-primary mt-3 font-weight-bold" @click="sendLink()">
          CREATE YOUR OWN <icon name="long-arrow-alt-right" class="mb-1" scale="2"/>
        </button>
      </div>
    </div>
    <!-- <b-modal  centered no-close-on-backdrop >
      <div slot="modal-header-close"></div>
      <div slot="default" class="cta-modal">
        <h4 class="text-center">Record Your Own Songs And Music Videos</h4>
      </div>
      <div slot="modal-footer"></div>
    </b-modal> -->
  </div>
</template>

<script>

    import isPlayer from '~/mixins/isPlayer'
    import { PopoverTest, ButtonCopyTest } from '~/utils/ab-tester.js'
    import BeatTrendingRaps from '~/components/elements/BeatTrendingRaps'
    import PlayButton from '~/components/elements/PlayButton'
    import AnimatedFlame from '~/components/elements/AnimatedFlame'
    import storeSong from '~/mixins/storeSong.js'
    import axios from '~/plugins/axios'
    import filters from '~/utils/filters'
    import SmallSpinner from '~/components/elements/SmallSpinner'
    import { mapState, mapActions } from 'vuex'

    export default {
        name: "SharePlayerMobileVideo",
        mixins: [isPlayer, storeSong],
        components: {
          BeatTrendingRaps,
          PlayButton,
          AnimatedFlame,
          SmallSpinner
        },
        props: {
            'pageView': {type: String, required: false, default: 'raps'},
            'shared': {type: Boolean, required: false, default: false}
        },
        data () {
            return {
                modal: false,
                route: this.$route,
                flames: [],
                liked: false,
                finished: false,
                songs: [],
                currentTime: '0:00',
                duration: '0:00',
                didPlay: false,
                videoLoading: false,
                playerInstance: {},
                seekedTo: 0,
                playCounted: false,
                playing: false,
            }
        },
        computed: {
          ...mapState({
            currentUser: state => state.currentUser,
            currentTrack: state => state.song,
            isPlaying: state => state.isPlaying
          }),
          rapArtwork () {
            let blob = this.item.artworkUrl || this.item.beat.imagefile
            return `https://cdn.rapchat.me/images/${blob}`
          },
        },
        watch: {
          currentTime () {
            if (this.playerInstance.currentTime >= 2 && this.isPlaying && !this.playCounted && !this.seekedTo) {
              this.incrementPlayCount(this.item)
            } else if (this.seekedTo && !this.playCounted) {
              if (this.playerInstance.currentTime - this.seekedTo >= 2) {
                this.incrementPlayCount(this.item)
              }
            }
          }
        },
        beforeMount () {
          this.item.type='rap'
        },
        mounted () {
          // // create the seek bar
          // this.playerInstance = document.createElement("AUDIO");
          // let seekBar = document.getElementById('sh-seek-bar')
          // seekBar.addEventListener('input', () => {
          //     let seconds = this.playerInstance.duration * seekBar.value / 100
          //     this.playerInstance.currentTime = seconds
          //     this.changeSeek(seconds)
          // })
          // if (!process.server) {
          //   window.player = this;
          // }
          // this.playerInstance.onplay = () => {
          //     this.$store.state.isPlaying = true;
          // }
          // this.playerInstance.onpause = () => {
          //     this.$store.state.isPlaying = false;
          // }
          // this.setAudioDuration()
        },
        methods: {
            ...mapActions({
              likeBeat: 'likeBeat',
              likeRap: 'likeRap'
            }),
            scrollTop () {
              window.scroll({
                top: 80,
                behavior: 'smooth'
              })
            },
            sendLink (event, location) {
              this.logEvent('App Link Clicked', {...this.item, path: this.$nuxt.$route.path, clickLocation: location})
              if (this.pageView === "beats") {
                branch.link({
                    tags: [],
                    channel: 'Web',
                    feature: 'shareBeatPrompt',
                    data: {
                        _id : this.$route.params.id,
                        og_canonical: 'beats/' + this.$route.params.id,
                        canonical_identifier:'beats/' + this.$route.params.id,
                        isDeepLinkedBeat: true,
                        android_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        ios_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        web_url: 'https://www.rapchat.me/beats/' + this.$route.params.id,
                        og_title: this.title,
                        og_artist: this.artist,
                        og_image_url: 'https://cdn.rapchat.me/images/' + this.item.imagefile,
                        _id: this.$route.params.id,
                    }
                }, function (err, link) {
                    console.log(err, link);
                    window.location.replace(link)
                });
              } else {
                branch.link({
                    tags: [],
                    channel: 'Web',
                    feature: `shareRapWebVideo`,
                    data: {
                        _id : this.$route.params.id,
                        og_canonical: 'rap/' + this.$route.params.id,
                        canonical_identifier:'rap/' + this.$route.params.id,
                        isDeepLinkedRap: false,
                        android_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        ios_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        web_url: 'https://www.rapchat.me/raps/' + this.$route.params.id,
                        og_title: this.title,
                        og_artist: this.artist,
                        og_image_url: 'https://cdn.rapchat.me/images/' + this.imagefile,
                        likes: this.likes,
                        plays: this.plays,
                        isPublic: true,
                        _id: this.$route.params.id,
                        beatId: this.item.beat._id,
                        beat: this.item.beat._id,
                        producerName: this.item.beat.artist,
                        beatImageFile: this.imagefile,
                        beatName: this.item.beat.title,
                        ownerProfileImagePath: this.item.owner.profilephoto,
                        owner: this.item.owner._id,
                        name: this.title,
                        username: this.item.owner.username
                    }
                }, function (err, link) {
                    console.log(err, link);
                    window.location.replace(link)
                });
              }
          },
          formatTime (seconds) {
              let minutes = Math.floor(seconds / 60)
              let sec = Math.round(seconds - minutes * 60)
              if (sec < 10) sec = '0' + sec
              return minutes + ':' + sec
          },
          togglePlay () {
              this.$store.commit('togglePlaying')
              this.playerInstance.paused ? this.playerInstance.play() : this.playerInstance.pause();
          },
          updateSeek () {
              this.seekTrack(this.playerInstance.currentTime)
              this.currentTime = this.formatTime(this.playerInstance.currentTime)
              this.duration = this.formatTime(this.playerInstance.duration)
          },
          seekTrack (seconds) {
              let percentageComplete = seconds / this.playerInstance.duration * 100
              let val = this.playerInstance.currentTime / this.playerInstance.duration
              let seekBar = document.getElementById('sh-seek-bar')
              seekBar.style.backgroundImage = '-webkit-gradient(linear, left top, right top, color-stop(' + val + ', white), color-stop(' + val + ', #777))'
              seekBar.value = percentageComplete
          },
          changeSeek (seconds) {
              this.$store.state.isPlaying = false
              this.playerInstance.paused && this.playerInstance.play();
              this.seekTrack(seconds)
              // this.playing = true
              this.$store.state.isPlaying = true
              this.seekedTo = this.playerInstance.currentTime
          },
          setAudioDuration () {
            this.playerInstance.addEventListener('loadedmetadata', () => {
              var seconds = this.duration
              var duration = this.formatTime(seconds)
              this.duration = duration
              this.currentTime = this.formatTime(0)
            })
          },
          playSound (track) {
            if (!this.didPlay) {
              try {
                this.logEvent('rap played', {
                  view: this.$nuxt.$route.name,
                  rap_id: track._id,
                  name: track.name
                })
              } catch (e) {
                console.log(e)
              }
              track.blobname = track.blobname ? track.blobname : track._id
              track.src = track.type === 'rap' ? `https://cdn.rapchat.me/raps/${track.blobname}` : `https://cdn.rapchat.me/beats/${track.blobname}.m4a`
              this.playerInstance.src = track.src
              this.playerInstance.load()
              this.playerInstance.ontimeupdate = this.updateSeek
              this.playerInstance.play();
              this.$store.state.isPlaying = true;

              setTimeout(()=> {
                this.didPlay = true
              }, 5000)
            } else {
              this.togglePlay()
            }
          },
          playVideo () {
            if (!this.didPlay) {
              this.scrollTop()
              this.incrementPlayCount(this.item)
              this.videoLoading = true
              // disable the modal for now
              // this.$refs.videoPlayer.addEventListener('ended', () => {
              //   if (this.shared) {
              //     this.modal = true
              //   }
              //   this.playing = false
              // })
              this.$refs.videoPlayer.addEventListener('waiting', () => {
                this.videoLoading = true
              })
              this.$refs.videoPlayer.addEventListener('playing', () => {
                this.videoLoading = false
              })
              this.$refs.videoPlayer.addEventListener('canplay', () => {
                this.videoLoading = false
              })
              let video = document.getElementById('video')
              video.scrollTop = 0
            }
            this.didPlay = true

            if (this.didPlay) {
              if (this.$refs.videoPlayer.paused) {
                this.playing = true
                this.$refs.videoPlayer.play()
              } else {
                this.playing = false
                this.$refs.videoPlayer.pause()
              }
            }
          },
          incrementPlayCount (track) {
            let headers = {}
            if (this.currentUser) {
              headers = {'x-zumo-auth': this.currentUser.token}
            }
            if (track.type === 'beat') {
              let id = track.beatId || track.options[0]._id
              axios({
                method: 'POST',
                headers: headers,
                url: '/beats/plays',
                data: {beatId: id}
              }).then((response) => {
              }).catch((error) => {
                console.log(error);
              });
            } else {
              axios({
                method: 'POST',
                headers: headers,
                url: '/rapincreaseplays?deviceType=Web',
                data: {
                  rapid: track.id || track._id,
                  arrayIndex: this.songIndex,
                  playIndex: this.playIndex
                }
              }).then(res => {
                if (res.data.success) {
                  // do nothing
                }
              }).catch(e => {
                console.log(e)
              })
              // do this here so we don't double count.

            }
            this.playCounted = true
          },
          logEvent (event, data) {
            if (process.browser) {
              if (this.currentUser) {
                let id = new amplitude.Identify()
                  .set('username', this.currentUser.username)
                  .set('user_id', this.currentUser._id)
                  .set('email', this.currentUser.email)
                amplitude.getInstance().identify(id)
              }
              let ampl = amplitude.getInstance()
              ampl.init('e93869e9ffb55d729fa1eddcd851786f')
              ampl.logEvent(`${event}`, data)
            }
          }
        },
        filters: {
          bigNumber (number) {
            return filters.bigNumber(number)
          },
          formatTitle (title) {
            return filters.formatTitle(title)
          }
        }
      }
</script>
<style lang="stylus" scoped>
  .share-detail-container {
    width: 100%;
    min-height: 100vh
    color: white
    overflow: hidden
    .video-container {
      height calc(70vh - 60px)
      overflow hidden
      width: 100%;
      background: #333;
      position: relative;
      background-size: cover !important;
      border-radius 0px 0px 22px 22px
      cursor: pointer;
      &.active {
        height calc(82vh - 60px)
      }
    }
    .h-97 {
      height 97%
    }
    .share-video-player {
      position absolute
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      min-width 100%
      object-fit cover
    }
    .video-play-button {
      left 45%
      top 50%
    }
    .video-overlay {
      width 100%
      position absolute
      bottom 0
    }
    .beat-small-img {
      border 1px solid white
      &.spin {
        -webkit-animation-name: spin;
        -webkit-animation-duration: 8000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 8000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 8000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;

        animation-name: spin;
        animation-duration: 8000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      @-ms-keyframes spin {
          from { -ms-transform: rotate(0deg); }
          to { -ms-transform: rotate(360deg); }
      }
      @-moz-keyframes spin {
          from { -moz-transform: rotate(0deg); }
          to { -moz-transform: rotate(360deg); }
      }
      @-webkit-keyframes spin {
          from { -webkit-transform: rotate(0deg); }
          to { -webkit-transform: rotate(360deg); }
      }
      @keyframes spin {
          from {
              transform:rotate(0deg);
          }
          to {
              transform:rotate(360deg);
          }
      }
    }
    .beat-artwork {
      width 100%
      padding-top: 100%
      background: #333
      border-radius: 12px;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
      cursor: pointer;
    }
    .play-icon{
      transition: 0.1s opacity;
      opacity: .6;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
    .verified-check {
      position absolute
      bottom 4px
      height 15px
      left 35px
    }
    .follow-link {
      color #8c8046
      font-size 12px
      font-weight 600
    }
    .play-button {
        opacity: 1;
        z-index: 10;
        transition: 0.1s opacity;
        cursor: pointer;
    }
    .rap-title {
      font-size = 24px
      line-height = 1.4
      lines-to-show = 1
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: font-size*line-height*lines-to-show
      margin: 0 auto;
      font-size: font-size;
      line-height: line-height;
      -webkit-line-clamp: lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 900
    }
    .artist-name {
      color: #8c8046;
      font-size: 22px;
      font-weight: 400;
    }
    .button-primary {
      width: 300px;
      height: 8vh;
      max-height: 65px;
      border-radius: 95px;
      background: linear-gradient(rgb(6, 179, 240), rgb(1, 118, 255))
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      font-weight: 900;
      font-size: 20px;
      color white !important
      outline:none;
      border:none;
      cursor: pointer;
    }
    .button-primary:focus{
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    .button-primary:active {
      color: white
      border: none !important;
      bckground: linear-gradient(rgb(6, 179, 240), rgb(1, 118, 255))
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }
    .button-primary:hover {
      color: rgb(0,0,0)
      border-radius: 95px;
      background-color: #8c8046;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      outline:none;
      border:none;
    }
    .cta-button-container {
      position absolute
      bottom 17%
      left 0
      right 0
      margin-left auto
      margin-right auto
    }
    .section-header {
      font-size: 14px;
      color: gray;
      letter-spacing: 3px;
    }
    .rap-index {
      color: #93a8b3;
    }
    .rap-artwork {
      height: 40px;
      width: 40px;
      background: #333;
      border-radius: 12px;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .beat-overlay-img{
      height:50%;
      width: 50%;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: absolute;
      background-size: cover !important;
      z-index: 100;
      right: -15px;
      bottom: -15px;
      color: white;
      font-weight: 900;
      &:hover {
        cursor: pointer;
      }
    }
    .share-body {
      flex 0 1 auto
    }
    .artist-header {
      max-height 70px
      flex 0 0 auto
    }
    .rap-artist{
      font-size: 12px;
      opacity: .6;
    }
    .beat-detail {
      height calc(80vh - 65px)
    }
    .download-header{
      font-size: 22px;
      font-weight: 900;
    }
    .download-copy {
      font-size: 18px;
      font-weight: 300;
    }
    .artist-avi {
      height: 45px;
      width: 45px;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .options-icon {
      color: #93a8b3;
    }
    .icon-sm {
       margin-bottom: 8px;
       bottom: 0px;
       height: 16px;
       svg, img, {
         stroke-width: 20px;
       }
     }
     .beat-meta {
       margin-top: 1vh
     }
     .icon-lg {
       height: 60px;
     }
     .like-container {
       width 12vh
     }
     .rap-like-button {
       width 100%
       padding-top 100%
       border-radius 100%
       background rgb(45,45,45)
     }
     .flame-img {
       position absolute
       img {
         width 10.5vh
         transform translateY(-50%)
         left 0
         right 0
       }
     }
     .likes-count {
      font-size 22px
     }
    .device-screenshot {
      position: relative;
      top: 0;
      left: 0;
      width: 80%;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(0,0,0,0.43881302521008403) 90%);
    }
    .tag-list{
      font-size: 12px;
      color:  #93a8b3;
    }
    .tag-link {
      color:  #93a8b3;
      underline: none !important;
      text-decoration: none !important;
      &:active {
        color: #93a8b3;
        underline: none !important;
      }
    }
    .placeholder-avi {
      height: 40px;
      width: 40px;
      background: #333;
      border-radius: 100%;
      border: 2px solid #222;
      position: relative;
      background-size: cover !important;
    }
    .blur-overlay {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: rgba(0,0,0,.3)
    }
    .sound-wave {
      width: 150%;
      height: 50px;
      opacity .25
      position absolute
      top 10%
    }
    .seeker {
      .seek-bar {
          flex: 2
          height: 2px;
          cursor: pointer !important;
          -webkit-appearance: none;
          background: #fff;
          width: 100%;
          border: 0px solid #fff
          &:focus{
            outline: none;
          }
      }

      .seek-bar::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 10px;
          height: 10px;
          border-radius: 50%
          background: white
          cursor: pointer;
          &:focus{
            outline: none;
          }
      }
      .seek-bar::-ms-track {
        height .1px;
        background transparent
        border-color transparent
        color transparent
      }
    }
    .slide-up-enter-active {
      animation: slideUp .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      /* animation-delay: 2.5s */
      /* transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
    }
    .cta-modal {
      background-color: #333
    }
    @keyframes slideUp {
      0% {
        opacity: 0
        transform: translateY(20%) scaleX(.4)
      }
      50% {
        transform: translateY(0%) scaleX(.4)
        opacity: 1
      }
      100% {
        color: white
        transform: scaleX(1)
      }
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  }
    .mobile-player{
        .player {
            position: static;
            z-index: 0 !important;
        }
        .item-name {
            font-size: 16px;
        }
        .beats-view {
            .item-name {
                width: 85%;
                float: left;
            }
            img {
                float: right;
            }
        }
        .user-name {
            font-size: 13px !important;
        }
        /* The Modal (background) */
        .modal {
            display: block; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 75px;
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(16, 16, 16, 0.8); /* Black w/ opacity */

            /* Modal Content */
            .modal-content {
                width: 65%;
                margin: auto;
                background-color: transparent
                .modal-buttons {
                    position: relative
                    .close {
                        position: absolute;
                        top: -10px;
                        right: -20px;
                    }
                    .close:hover, .close:focus {
                        cursor: pointer;
                    }
                }
                .primary-button, a {
                    margin: 0 auto;
                    font-size: 15px !important;
                }
                .secondary-button, a {
                    margin: 0 auto;
                    font-size: 15px !important;
                }
            }
        }
        .image{
            width: 115px;
            height: 115px;
            border-radius: 4px;
            position: relative;
            background-size: cover !important;
            .play-button {
                opacity: 1;
                background: hsla(0,0%,55%,.3);
                height: 69px;
                width: 69px;
                border-radius: 50%;
                border: 3px solid #fff;
                -webkit-transition: opacity .1s;
                transition: opacity .1s;
                svg {
                   width: 28px;
                   height: 28px;
                }
            }
        }
    }
    /* popover transition animation */
    .fade-enter-active, .fade-leave-active {
      transition: opacity .7s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }

    .popover-body {
      position:fixed
      width: 250px;
      height: 310px;
      border-radius: 5px;
      background-color: #161616;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      .popover-button {
        bottom: 10px;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .popover-title{
      font-weight: bold;
    }
    .popover-header-img-container{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .popover-header-img{
      width: 50px;
      margin-left: auto;
      margin-right: auto;
      display:block;
    }
    .popover-close {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .popover-close:hover, .popover-close:focus {
        cursor: pointer;
    }
    .small-spinner {
      position absolute
      left 45%
      top 50%
      font-size: 10px;
      text-indent: -9999em;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ffffff;
      background: -moz-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
      background: -webkit-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
      background: -o-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
      background: -ms-linear-gradient(left, #ffffff 10%, rgba(26,25,25, 0) 42%);
      background: linear-gradient(to right, #ffffff 10%, rgba(26,25,25, 0) 42%);
      /* position: relative; */
      display: inline-block;
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
    .small-spinner:before {
      width: 50%;
      height: 50%;
      background: rgba(0,0,0,0);
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    .small-spinner:after {
      background: #8c8046;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    @-webkit-keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

</style>
